node-red-configs/flows_YOGA-510-RICO.json
[{"id":"76c001c4.620fa","type":"tab","label":"Agrarian Home-Tab","disabled":false,"info":""},{"id":"55049053.8c13","type":"tab","label":"Agrarian Home-Tab Exetension ","disabled":false,"info":""},{"id":"aed920f9.7df21","type":"tab","label":"User profile - Tab","disabled":false,"info":""},{"id":"f83f4bcb.c73878","type":"tab","label":"Options-Tab ","disabled":false,"info":""},{"id":"708a55b6.cddeac","type":"tab","label":"About - Tab","disabled":false,"info":""},{"id":"cedc12f9.07809","type":"tab","label":"DB Tab","disabled":false,"info":""},{"id":"9e65a286.7712b","type":"tab","label":"Login / Register  tab","disabled":false,"info":""},{"id":"ae45472f.d03358","type":"tab","label":"Test of Components","disabled":false,"info":""},{"id":"84c94a5c.626dd8","type":"tab","label":"API-Endpoint","disabled":false,"info":""},{"id":"a3cee45d.ae7d98","type":"subflow","name":"btn_styling_subflow","info":"","category":"","in":[{"x":51,"y":94,"wires":[{"id":"cabd6ffd.a295a"}]}],"out":[{"x":847,"y":76,"wires":[{"id":"ceb1e80.1f0ad18","port":0}]},{"x":1049,"y":145,"wires":[{"id":"b673a82f.0f55d8","port":0}]},{"x":731,"y":192,"wires":[{"id":"720eeb0e.da2b44","port":0}]}],"env":[],"inputLabels":["payload_spliter_input"],"outputLabels":["navigation_Json_Obj_output","reset_change_output","styling_Json_Obj_output"]},{"id":"5a55bdac.21b9d4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Agrarian Dashboard","hideToolbar":"true","allowSwipe":"false","lockMenu":"false","allowTempTheme":"none","dateFormat":"DD/MM/YYYY","sizes":{"sx":40,"sy":53,"gx":4,"gy":3,"cx":5,"cy":5,"px":2,"py":3}}},{"id":"fca38c60.27e9","type":"ui_group","z":"","name":"Sensor Strip II","tab":"","order":3,"disp":true,"width":"6","collapse":true},{"id":"caa1e5e2.a664f8","type":"ui_group","z":"","name":"Sensor Strip II","tab":"","order":3,"disp":true,"width":"6","collapse":true},{"id":"cf985d77.656ae","type":"mqtt-broker","z":"","name":"raspi-tush-broker","broker":"proxy13.remot3.it","port":"37560","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"1","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"37d60c00.9e56f4","type":"ui_group","z":"","name":"Sensor Strip II","tab":"","order":5,"disp":true,"width":"6","collapse":true},{"id":"c534947b.304918","type":"ui_group","z":"","name":"Sensor Strip I","tab":"","order":4,"disp":true,"width":"6","collapse":true},{"id":"5931ad58.4d6574","type":"ui_group","z":"","name":"Sensor Device Location","tab":"","order":2,"disp":true,"width":"15","collapse":false},{"id":"440839b0.d694d8","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"70e502dc.484c5c","type":"ui_group","z":"","name":"Slider","tab":"","order":8,"disp":true,"width":"6","collapse":false},{"id":"a4a45720.ee47e8","type":"ui_group","z":"","name":"Farm Insights Outcome","tab":"","order":7,"disp":true,"width":"6","collapse":false},{"id":"4489e722.4d27b8","type":"ui_group","z":"","name":"Logo","tab":"","order":1,"disp":false,"width":"33","collapse":false},{"id":"303a93a0.fe6cac","type":"ui_group","z":"","name":"Horizontal Spacer","tab":"","order":6,"disp":false,"width":"46","collapse":false},{"id":"1c9062d1.29c79d","type":"ui_group","z":"","name":"Veritcal spacer","tab":"","order":3,"disp":false,"width":"1","collapse":false},{"id":"6005c56.4f7683c","type":"ui_group","z":"","name":"Dashboard Settings","tab":"","order":1,"disp":true,"width":"40","collapse":true},{"id":"11469c18.9c1914","type":"ui_group","z":"","name":"Dashboard UserProfile","tab":"","order":1,"disp":false,"width":"40","collapse":false},{"id":"cb7375b8.a00938","type":"ui_group","z":"","name":"Dashboard  Help","tab":"","order":1,"disp":false,"width":"40","collapse":false},{"id":"3c35cb72.448204","type":"mqtt-broker","z":"","name":"raspi-tush-broker","broker":"proxy21.rt3.io","port":"39918","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"1","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6d641bf4.8e4f54","type":"ui_group","z":"","name":"Sensor Strip II","tab":"","order":4,"disp":true,"width":"8","collapse":false},{"id":"e4fbb56b.6f9ef8","type":"ui_group","z":"","name":"Sensor Strip I","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"56e793bf.9a0c0c","type":"ui_group","z":"","name":"Sensor Device Location","tab":"","order":2,"disp":true,"width":"15","collapse":false},{"id":"efa04abb.88ca98","type":"ui_group","z":"","name":"Slider","tab":"","order":8,"disp":true,"width":"6","collapse":false},{"id":"3a8ea708.57b688","type":"ui_group","z":"","name":"Farm Insights Outcome","tab":"","order":7,"disp":true,"width":"7","collapse":false},{"id":"61250d68.b5ef84","type":"ui_group","z":"","name":"Logo","tab":"","order":1,"disp":false,"width":"40","collapse":false},{"id":"42c550ac.049b1","type":"ui_group","z":"","name":"Dashboard Settings","tab":"","order":1,"disp":false,"width":"40","collapse":false},{"id":"e641ffa5.a864","type":"ui_group","z":"","name":"Dashboard UserProfile","tab":"","order":1,"disp":false,"width":"40","collapse":false},{"id":"d8e0fcf8.ef221","type":"ui_group","z":"","name":"Dashboard  Help","tab":"","order":1,"disp":false,"width":"40","collapse":false},{"id":"d74d9fd4.01ba3","type":"ui_group","z":"","name":"Sensor Chart Data","tab":"","order":9,"disp":true,"width":"20","collapse":false},{"id":"181aa6cb.20a749","type":"twilio-api","z":"","name":"Twilio-Soil Notification","sid":"ACce5d1cd62ad9fc81fdb728cbd45d8491","from":"12013081390"},{"id":"5f8bcad7.335394","type":"ui_group","z":"","name":"Dahsboard Settings","tab":"","order":1,"disp":false,"width":"40","collapse":false},{"id":"3eb09c8d.d9dcd4","type":"ui_group","z":"","name":"Horizontal Spacer","tab":"","order":6,"disp":true,"width":"55","collapse":false},{"id":"2ae0acfc.8a26c4","type":"ui_spacer","name":"spacer","group":"3eb09c8d.d9dcd4","order":9,"width":"40","height":"2"},{"id":"99703715.754598","type":"ui_group","z":"","name":"Sensor Metrics","tab":"","order":5,"disp":true,"width":"8","collapse":false},{"id":"46c18d61.8e2a34","type":"ui_group","z":"","name":"Numbers","tab":"","order":1,"disp":false,"width":"5","collapse":false},{"id":"1ace4c26.8f76e4","type":"ui_group","z":"","name":"Chart","tab":"","order":2,"disp":false,"width":"18","collapse":false},{"id":"dff7d153.2c782","type":"mqtt-broker","z":"","name":"raspi-tush-broker","broker":"proxy21.rt3.io","port":"39918","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"1","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"83648539.93ee98","type":"ui_group","z":"","name":"Sensor Strip II","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"5560f414.91bb2c","type":"ui_group","z":"","name":"Sensor Strip I","tab":"","order":4,"disp":true,"width":"10","collapse":false},{"id":"fc1cac54.35502","type":"ui_group","z":"","name":"Sensor Device Location","tab":"","order":3,"disp":true,"width":"15","collapse":false},{"id":"e9359080.aa02f","type":"ui_group","z":"","name":"Logo","tab":"","order":1,"disp":false,"width":"37","collapse":false},{"id":"7973b0d9.3b999","type":"ui_group","z":"","name":"Dashboard Settings","tab":"","order":1,"disp":false,"width":"40","collapse":false},{"id":"74f59dc9.f2f5b4","type":"ui_group","z":"","name":"Dashboard UserProfile","tab":"","order":1,"disp":false,"width":"40","collapse":false},{"id":"4ed59887.5890f8","type":"ui_group","z":"","name":"Dashboard  Help","tab":"","order":1,"disp":false,"width":"40","collapse":false},{"id":"69f53ea8.40589","type":"ui_group","z":"","name":"Sensor Metrics","tab":"","order":6,"disp":true,"width":"6","collapse":false},{"id":"acde2d18.50534","type":"twilio-api","z":"","name":"Twilio-Soil Notification","sid":"ACce5d1cd62ad9fc81fdb728cbd45d8491","from":"12013081390"},{"id":"801721dc.6ab4e","type":"mqtt-broker","z":"","name":"raspi-tush-broker","broker":"proxy21.rt3.io","port":"39918","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"1","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f7306d48.f4db8","type":"ui_group","z":"","name":"Gauges","tab":"","order":5,"disp":true,"width":"8","collapse":false},{"id":"6f1f5631.0122b8","type":"ui_group","z":"","name":"Linear Graphs","tab":"","order":4,"disp":true,"width":"12","collapse":false},{"id":"a6b4a47d.90f168","type":"ui_group","z":"","name":"Logo","tab":"","order":1,"disp":false,"width":"39","collapse":false},{"id":"f0b1dc72.43e3a","type":"ui_group","z":"","name":"Dashboard Settings","tab":"","order":1,"disp":false,"width":"40","collapse":false},{"id":"dc5fbd14.d97c8","type":"ui_group","z":"","name":"Dashboard UserProfile","tab":"","order":1,"disp":false,"width":"40","collapse":false},{"id":"c8462dc9.886fa","type":"ui_group","z":"","name":"Dashboard  Help","tab":"","order":1,"disp":false,"width":"40","collapse":false},{"id":"bb45535e.fe4e2","type":"ui_group","z":"","name":"Figures","tab":"","order":6,"disp":true,"width":"4","collapse":false},{"id":"60e63028.6a08","type":"twilio-api","z":"","name":"Twilio-Soil Notification","sid":"ACce5d1cd62ad9fc81fdb728cbd45d8491","from":"12013081390"},{"id":"c964da25.c64448","type":"ui_group","z":"","name":"Summary of Metrics","tab":"","order":7,"disp":true,"width":"27","collapse":false},{"id":"b6214b65.78f048","type":"ui_group","z":"","name":"Menu button Strip","tab":"","order":2,"disp":false,"width":"39","collapse":false},{"id":"bd1c196f.d5a558","type":"ui_group","z":"","name":"Device location","tab":"","order":3,"disp":true,"width":"15","collapse":false},{"id":"13355230.fcd5be","type":"ui_group","z":"","name":"Weather","tab":"","order":8,"disp":true,"width":"12","collapse":false},{"id":"3e3d7e37.639852","type":"mqtt-broker","z":"","name":"","broker":"35.185.57.164","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"917da786.67f6d8","type":"mqtt-broker","z":"","name":"MQTT- Server-Oracle-Cloud","broker":"34.73.121.27","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"Acknowledge connection","birthQos":"0","birthPayload":"Connected successfully","closeTopic":"Acknowledge disconnect","closeQos":"0","closePayload":"Successfully Disconnected","willTopic":"Unexpected Disconnect","willQos":"0","willPayload":"Unexpectedly closed connection"},{"id":"7180a7be.0ed268","type":"twilio-api","z":"","name":"Twilio-Soil Notification","sid":"ACce5d1cd62ad9fc81fdb728cbd45d8491","from":"12013081390"},{"id":"6d951037.09451","type":"ui_spacer","name":"spacer","group":"","order":1,"width":1,"height":1},{"id":"9f7af5eb.e2e7a8","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"7515fd10.7fad04","type":"ui_group","z":"","name":"Outside","tab":"","order":1,"disp":true,"width":"7"},{"id":"6713a11b.92a6","type":"mqtt-broker","z":"","name":"lt-mqtt-test","broker":"134.122.83.169","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d308df82.4a0c3","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"6bc8166.488efe8","type":"mqtt-broker","z":"","name":"raspi-server-broker","broker":"192.168.26.217","port":"3500","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"1","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e5fd8460.ad6328","type":"ui_tab","z":"","name":"Settings","icon":"settings","order":4,"disabled":false,"hidden":false},{"id":"a423b68f.216068","type":"ui_tab","z":"","name":"About","icon":"about","order":5,"disabled":false,"hidden":false},{"id":"10ae1ca3.cf6ef3","type":"ui_group","z":"","name":"Dashboard  About","tab":"a423b68f.216068","order":1,"disp":false,"width":"40","collapse":false},{"id":"db2824df.708138","type":"ui_group","z":"","name":"Dashboard Settings","tab":"e5fd8460.ad6328","order":1,"disp":false,"width":"40","collapse":false},{"id":"563f213c.1cba4","type":"ui_tab","z":"","name":"User profile","icon":"account_circle","order":3,"disabled":false,"hidden":false},{"id":"fc3b5794.1a3d88","type":"ui_group","z":"","name":"Dashboard UserProfile","tab":"563f213c.1cba4","order":1,"disp":false,"width":"40","collapse":false},{"id":"dbc61690.08f7a8","type":"ui_spacer","name":"spacer","group":"","order":7,"width":"39","height":1},{"id":"a0cd6d1c.bac54","type":"ui_group","z":"","name":"Location & Other Metrics","tab":"d308df82.4a0c3","order":2,"disp":false,"width":"40","collapse":false},{"id":"4a3d1af6.e61834","type":"ui_group","z":"","name":"Chart","tab":"","order":2,"disp":false,"width":"18","collapse":false},{"id":"1c86b6cd.c08119","type":"ui_group","z":"","name":"Test","tab":"","disp":true,"width":"6"},{"id":"f2ee3aec.185a28","type":"ui_group","z":"","name":"Test","tab":"","disp":true,"width":"6"},{"id":"13383266.9987fe","type":"ui_group","z":"","name":"Test","tab":"","disp":true,"width":"6"},{"id":"fd4f428c.57a02","type":"ui_group","z":"","name":"Test","tab":"","disp":true,"width":"6"},{"id":"8123e697.e8fdd8","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"d74d9035.a9041","type":"firebase config","z":"","firebaseurl":"agrarian-ec4bc","loginType":"jwt"},{"id":"5bfbb944.90d828","type":"ui_tab","z":"","name":"Sign/signup","icon":"fa-sign-in","order":1,"disabled":false,"hidden":true},{"id":"b71d1476.2beaa8","type":"ui_group","z":"","name":"Login Register","tab":"5bfbb944.90d828","order":1,"disp":false,"width":"40","collapse":false},{"id":"a8353903.cc0118","type":"MySQLdatabase","z":"9e65a286.7712b","host":"192.168.3.10","port":"3306","db":"ram_test","tz":""},{"id":"bed99607.eae6d8","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"","tz":""},{"id":"3e516cb3.7c1c34","type":"firebase config","z":"","firebaseurl":"agrarian-ec4bc","loginType":"jwt"},{"id":"a2e6c583.9fa388","type":"ui_group","z":"","name":"Menu","tab":"","disp":true,"width":"6","collapse":false},{"id":"3b21fb83.7ed574","type":"ui_group","z":"","name":"Group 2","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"8c2b082c.4cca78","type":"ui_group","z":"","name":"Group 1","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"6b15cbb8.d3b194","type":"ui_group","z":"","name":"Group 3","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"82c6082b.641928","type":"firebase config","z":"","firebaseurl":"agrarian-ec4bc","loginType":"anonymous"},{"id":"59ba609f.66765","type":"mongodb","z":"","hostname":"192.168.1.131","port":"27017","db":"Agrarian_User_Data","name":"Agrarian_User_Data"},{"id":"5409e6ff.7d5508","type":"mqtt in","z":"76c001c4.620fa","name":"esp8266/temperature","topic":"esp8266/temperature","qos":"1","datatype":"utf8","broker":"6bc8166.488efe8","x":114,"y":1601,"wires":[["29999f5f.10c72","951c0495.b3d388","686ed957.980968","4aa4ceeb.3eb87","3a48d2eb.5c75fe"]]},{"id":"2bdd2cb1.89a114","type":"mqtt in","z":"76c001c4.620fa","name":"esp8266/ldr","topic":"esp8266/ldr","qos":"1","datatype":"utf8","broker":"6bc8166.488efe8","x":108.22222900390625,"y":1356.3333740234375,"wires":[["e53b0a4a.3b0ad8","2fd87e07.4bdf52","ff904461.a19228","9efe00ac.01131","3a48d2eb.5c75fe"]]},{"id":"9042abdf.9c7a38","type":"ui_gauge","z":"76c001c4.620fa","name":"Light intensity Gauge","group":"a0cd6d1c.bac54","order":22,"width":"6","height":"4","gtype":"gage","title":"Luminosity (lumens)","label":"lumens","format":"{{value}}","min":"0","max":"25.5","colors":["#9da919","#d8e378","#fbff7a"],"seg1":"","seg2":"","x":1006.5555419921875,"y":696,"wires":[]},{"id":"620e4fb3.c11c1","type":"ui_chart","z":"76c001c4.620fa","name":"Temperature Line","group":"a0cd6d1c.bac54","order":16,"width":"12","height":"4","label":"Temperature (°C)","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"Waiting for temperature data ...","dot":true,"ymin":"15","ymax":"35","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":997.2223815917969,"y":1212.1667184829712,"wires":[[]]},{"id":"91142f50.915a1","type":"ui_chart","z":"76c001c4.620fa","name":"Humidity Line","group":"a0cd6d1c.bac54","order":13,"width":"12","height":"4","label":"Humidity (%)","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"Waiting for Humidity data ...","dot":true,"ymin":"35.7","ymax":"90","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":991.4446105957031,"y":1251.6110572814941,"wires":[[]]},{"id":"14642fbd.e1f8f","type":"mqtt in","z":"76c001c4.620fa","name":"esp8266/humidity","topic":"esp8266/humidity","qos":"1","datatype":"utf8","broker":"6bc8166.488efe8","x":98,"y":1849,"wires":[["27d8f35f.32634c","24c7d1f3.3ee5be","d4dea998.02dd48","3a48d2eb.5c75fe"]]},{"id":"9d4bf18c.eac59","type":"mqtt in","z":"76c001c4.620fa","name":"esp8266/Soil","topic":"esp8266/Soil","qos":"1","datatype":"utf8","broker":"6bc8166.488efe8","x":90,"y":870,"wires":[["a38d3d01.4fc11","5010c7e.daac838","86bfd8e.c569928","3a48d2eb.5c75fe"]]},{"id":"fbff2f5.300e2d","type":"mqtt in","z":"76c001c4.620fa","name":"esp8266/alt","topic":"esp8266/alt","qos":"1","datatype":"utf8","broker":"6bc8166.488efe8","x":79,"y":609.0000610351562,"wires":[["3258c5d0.c416aa","27fc9640.07a52a","21bf65ae.1a965a"]]},{"id":"7b69dbd3.bfb9c4","type":"ui_chart","z":"76c001c4.620fa","name":"Atmospheric Pressure Line","group":"a0cd6d1c.bac54","order":19,"width":"12","height":"4","label":"Atmospheric pressure (mmHg)","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"Waiting for Atmospehric Data ...","dot":true,"ymin":"10","ymax":"21.8","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1009.500114440918,"y":1163.3333415985107,"wires":[[]]},{"id":"5bd70a5e.a65b04","type":"ui_gauge","z":"76c001c4.620fa","name":"Altitude in meters Gauge","group":"a0cd6d1c.bac54","order":18,"width":"6","height":"4","gtype":"gage","title":"Altitude (m)","label":"meters","format":"{{value}}","min":"0","max":"6000","colors":["#95f18d","#67d680","#3cb42e"],"seg1":"1200","seg2":"1300","x":1011.6666870117188,"y":585.4443969726562,"wires":[]},{"id":"f56dbb2d.17aa18","type":"comment","z":"76c001c4.620fa","name":"Temperature Sensor","info":"","x":103,"y":1566,"wires":[]},{"id":"97c0205.724d7e","type":"comment","z":"76c001c4.620fa","name":"Humidity Sensor","info":"","x":96,"y":1813,"wires":[]},{"id":"a06360b9.44ebd","type":"comment","z":"76c001c4.620fa","name":" Light Intensity Sensor","info":"","x":133,"y":1321,"wires":[]},{"id":"63711f95.78e1f","type":"comment","z":"76c001c4.620fa","name":"Atmospheric pressure Sensor","info":"","x":135,"y":1061,"wires":[]},{"id":"27613222.d8c60e","type":"comment","z":"76c001c4.620fa","name":"Location  and Map Nodes","info":"","x":162.22222137451172,"y":20,"wires":[]},{"id":"c8d0df1.82e2d2","type":"mqtt in","z":"76c001c4.620fa","name":"esp8266/atpressure","topic":"esp8266/atpressure","qos":"1","datatype":"utf8","broker":"6bc8166.488efe8","x":109,"y":1136.0000610351562,"wires":[["baa76611.867df8","b2016811.ec6378","83d80608.08d958"]]},{"id":"55887867.be8e58","type":"ui_gauge","z":"76c001c4.620fa","name":"Soil Moisture level Gauge","group":"a0cd6d1c.bac54","order":14,"width":"6","height":"4","gtype":"donut","title":"Soil moisture level (lvl)","label":"level","format":"{{value}}","min":"11","max":"0","colors":["#88f9c0","#99e3e1","#2db4ee"],"seg1":"","seg2":"","x":1012.6666259765625,"y":648.4443969726562,"wires":[]},{"id":"8c11414.ce2d4c","type":"comment","z":"76c001c4.620fa","name":"logo and headers","info":"","x":204,"y":2710.000244140625,"wires":[]},{"id":"54e29731.2d7c38","type":"comment","z":"76c001c4.620fa","name":"Settings","info":"","x":194,"y":3085.00048828125,"wires":[]},{"id":"a808ec71.69e98","type":"ui_template","z":"76c001c4.620fa","group":"db2824df.708138","name":"Settings Header","order":1,"width":"0","height":"0","format":"\n<body>\n    <style>\n                       body{\n                           background-color:MediumSeaGreen;\n                       \n                       }\n                      .pure-menu {\n                            font-size:0.4em;\n                            font-weight: lighter;\n                            font-family:\"Andale Mono\", monospace;\n                        }\n                        .pure-menu.pure-menu-fixed {\n                            position: fixed;\n                        }\n                        .pure-menu.pure-menu-blackbg {\n                            background: #3cb371;\n                        }\n                        .pure-menu.pure-menu-blackbg .pure-menu-heading:hover {\n                            color: #efefef;\n                        }\n                        .pure-menu.pure-menu-blackbg a {\n                            color: #fff;\n                        }\n                        .pure-menu.pure-menu-blackbg a:hover {\n                            background: #666;\n                        }\n                        .pure-menu.pure-menu-blackbg .pure-menu-selected a {\n                            background: #7E45D3;\n                          \n                        }\n                        .pure-menu.pure-menu-blackbg .pure-menu-selected a:hover {\n                            color: #efefef;\n                        }\n                       h2{\n                            font-family:inherit;\n                            float: left;\n                            padding-left:1em;\n                   \n                        }\n                        \n                        //=== Pen styling, ignore\n                        body {\n                          background: #10192d;\n                          display: flex;\n                          min-height: 100vh;\n                          justify-content: center;\n                          align-content: center;\n                          align-items: center;\n                        }\n                        \n                    \n            </style>\n    \n     <nav class=\"pure-menu pure-menu-open pure-menu-horizontal\">\n          <!--\n            <a href=\"https://imgbb.com/\"><img src=\"https://i.ibb.co/vLVVynD/Agrarian-logo-horizontal.png\" alt=\"Agrarian-logo-horizontal\" border=\"0\" /></a>\n          -->\n          <a href=\"#\"><img src=\"https://i.ibb.co/QP9XwT5/Horizontal-dash-header-Logo-Old.png\" alt=\"Horizontal-dash-header-Logo-Old\" border=\"0\"></a>\n     </nav>\n     <h2>Settings</h2>\n      </body>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":207.99999237060547,"y":3129.0005111694336,"wires":[[]]},{"id":"4d494963.f94fa8","type":"comment","z":"76c001c4.620fa","name":"User Profile","info":"","x":193.99999237060547,"y":3176.0001125335693,"wires":[]},{"id":"3ed2e3b7.e7953c","type":"ui_template","z":"76c001c4.620fa","group":"fc3b5794.1a3d88","name":"User Profile Header","order":1,"width":"0","height":"0","format":"\n<body>\n    <style>\n                      \n                      .pure-menu {\n                            font-size:0.4em;\n                            font-weight: lighter;\n                            font-family:\"Andale Mono\", monospace;\n                        }\n                        .pure-menu.pure-menu-fixed {\n                            position: fixed;\n                        }\n                        .pure-menu.pure-menu-blackbg {\n                            background: #3cb371;\n                        }\n                        .pure-menu.pure-menu-blackbg .pure-menu-heading:hover {\n                            color: #efefef;\n                        }\n                        .pure-menu.pure-menu-blackbg a {\n                            color: #fff;\n                        }\n                        .pure-menu.pure-menu-blackbg a:hover {\n                            background: #666;\n                        }\n                        .pure-menu.pure-menu-blackbg .pure-menu-selected a {\n                            background: #7E45D3;\n                          \n                        }\n                        .pure-menu.pure-menu-blackbg .pure-menu-selected a:hover {\n                            color: #efefef;\n                        }\n                        \n                       h2{\n                            font-family:inherit;\n                            float: left;\n                            padding-left:1em;\n                        }\n                        \n                        //=== Pen styling, ignore\n                        body {\n                          background: #10192d;\n                          display: flex;\n                          min-height: 100vh;\n                          justify-content: center;\n                          align-content: center;\n                          align-items: center;\n                        }\n                        \n                    \n            </style>\n    \n     <nav class=\"pure-menu pure-menu-open pure-menu-horizontal\">\n          <!--\n            <a href=\"https://imgbb.com/\"><img src=\"https://i.ibb.co/vLVVynD/Agrarian-logo-horizontal.png\" alt=\"Agrarian-logo-horizontal\" border=\"0\" /></a>\n          -->\n          <a href=\"#\"><img src=\"https://i.ibb.co/QP9XwT5/Horizontal-dash-header-Logo-Old.png\" alt=\"Horizontal-dash-header-Logo-Old\" border=\"0\"></a>\n     </nav>\n     <h2>User Profile</h2>\n      </body>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":219.99999237060547,"y":3211.0001125335693,"wires":[["c88c8983.32b1c8"]]},{"id":"35d1f28d.5ef13e","type":"comment","z":"76c001c4.620fa","name":"Dashboard side Menu pages","info":"","x":249,"y":3048.00048828125,"wires":[]},{"id":"57dd52ba.64aebc","type":"comment","z":"76c001c4.620fa","name":"about","info":"","x":181.99999237060547,"y":3257.0001125335693,"wires":[]},{"id":"c2111540.78f7a8","type":"ui_template","z":"76c001c4.620fa","group":"10ae1ca3.cf6ef3","name":"about","order":1,"width":"0","height":"0","format":"\n<body>\n    <style>\n                       body{\n                           background-color:MediumSeaGreen;\n                       \n                       }\n                      .pure-menu {\n                            font-size:0.4em;\n                            font-weight: lighter;\n                            font-family:\"Andale Mono\", monospace;\n                        }\n                        .pure-menu.pure-menu-fixed {\n                            position: fixed;\n                        }\n                        .pure-menu.pure-menu-blackbg {\n                            background: #3cb371;\n                        }\n                        .pure-menu.pure-menu-blackbg .pure-menu-heading:hover {\n                            color: #efefef;\n                        }\n                        .pure-menu.pure-menu-blackbg a {\n                            color: #fff;\n                        }\n                        .pure-menu.pure-menu-blackbg a:hover {\n                            background: #666;\n                        }\n                        .pure-menu.pure-menu-blackbg .pure-menu-selected a {\n                            background: #7E45D3;\n                          \n                        }\n                        .pure-menu.pure-menu-blackbg .pure-menu-selected a:hover {\n                            color: #efefef;\n                        }\n                        h2{\n                            font-family:inherit;\n                            float: left;\n                            padding-left:1em;\n                   \n                        }\n                        \n                        //=== Pen styling, ignore\n                        body {\n                          background: #10192d;\n                          display: flex;\n                          min-height: 100vh;\n                          justify-content: center;\n                          align-content: center;\n                          align-items: center;\n                        }\n                        \n                    \n            </style>\n    \n     <nav class=\"pure-menu pure-menu-open pure-menu-horizontal\">\n            <!--\n            <a href=\"https://imgbb.com/\"><img src=\"https://i.ibb.co/vLVVynD/Agrarian-logo-horizontal.png\" alt=\"Agrarian-logo-horizontal\" border=\"0\" /></a>\n            -->\n            <a href=\"#\"><img src=\"https://i.ibb.co/QP9XwT5/Horizontal-dash-header-Logo-Old.png\" alt=\"Horizontal-dash-header-Logo-Old\" border=\"0\"></a>\n     </nav>\n     <h2>About</h2>\n      </body>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":180.99999237060547,"y":3303,"wires":[["e9b8b470.260508"]]},{"id":"82c9a62e.888c58","type":"ui_text","z":"76c001c4.620fa","group":"a0cd6d1c.bac54","order":17,"width":"7","height":"2","name":" altitude text data ","label":"Altitude","format":"{{ msg.payload }} m","layout":"row-spread","x":985.2223510742188,"y":788.6666641235352,"wires":[]},{"id":"59f84032.e7ade","type":"comment","z":"76c001c4.620fa","name":"Sensor Data dispalyed as text","info":"","x":1025.7777709960938,"y":750.8888320922852,"wires":[]},{"id":"fbd9fa78.32ec58","type":"comment","z":"76c001c4.620fa","name":"Soil Moisture Sensor","info":"","x":107,"y":835,"wires":[]},{"id":"36d5dac2.7032d6","type":"comment","z":"76c001c4.620fa","name":"Altitude Sensor","info":"","x":91,"y":569,"wires":[]},{"id":"fe0b3160.fc38a","type":"function","z":"76c001c4.620fa","name":"Message to send","func":"\nvar alertmessage = msg.payload.alertmessage;\nvar topic = msg.topic;\nvar deviceid = msg.deviceId;\nvar devicetype = msg.deviceType;\nvar sev = msg.payload.severity;\nvar type = msg.payload.type;\nvar soil = msg.payload.soil;\n\n msg.payload=\"\\r\\n Alert: Soil Status has changed\\r\\n\"+\"Device Id: SoilSensor   Located in : Dubai\\r\\n\"+\" Alert message is:\"+String(alertmessage),\n\nmsg.headers = {\n Accept: \"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":196,"y":2614.000244140625,"wires":[["c2bb020d.7762f"]]},{"id":"c2bb020d.7762f","type":"debug","z":"76c001c4.620fa","name":"Sms notification Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":493,"y":2615.0001497268677,"wires":[]},{"id":"b867e309.f7343","type":"comment","z":"76c001c4.620fa","name":"SMS service","info":"","x":175,"y":2568.000244140625,"wires":[]},{"id":"8debb1ee.e0efa","type":"comment","z":"76c001c4.620fa","name":"Sensor Data dispalyed as Gauges","info":"","x":871.5555419921875,"y":236.44439697265625,"wires":[]},{"id":"22a3680c.480b88","type":"ui_text","z":"76c001c4.620fa","group":"a0cd6d1c.bac54","order":20,"width":"7","height":"2","name":"Soil text data ","label":"Soil Moisture","format":"{{ msg.payload }} level","layout":"row-spread","x":973.6667461395264,"y":828.4444561004639,"wires":[]},{"id":"ede3dacb.8cf3d8","type":"ui_text","z":"76c001c4.620fa","group":"a0cd6d1c.bac54","order":24,"width":"7","height":"2","name":"Atmospheric Pressure text data ","label":"Barometric Pressure","format":"{{ msg.payload }} mmHg","layout":"row-spread","x":1033.6667385101318,"y":862.8888721466064,"wires":[]},{"id":"ff904461.a19228","type":"ui_text","z":"76c001c4.620fa","group":"a0cd6d1c.bac54","order":21,"width":"7","height":"2","name":"light text data ","label":"Light Intensity","format":"{{ msg.payload }} lumens","layout":"row-spread","x":975.666748046875,"y":903.9999771118164,"wires":[]},{"id":"6d458efe.feed1","type":"ui_text","z":"76c001c4.620fa","group":"a0cd6d1c.bac54","order":15,"width":"7","height":"2","name":"temp text data ","label":"Temperature","format":"{{ msg.payload }}  °C","layout":"row-spread","x":983.6667385101318,"y":942.8888721466064,"wires":[]},{"id":"75b081cf.5453c","type":"ui_text","z":"76c001c4.620fa","group":"a0cd6d1c.bac54","order":23,"width":"7","height":"2","name":"Humidty text data ","label":"Humidity","format":"{{ msg.payload }} %","layout":"row-spread","x":991.666748046875,"y":977.8888931274414,"wires":[]},{"id":"347cb93b.ef1bc6","type":"ui_chart","z":"76c001c4.620fa","name":"Sensor Summary Metrics Line Chart","group":"a0cd6d1c.bac54","order":28,"width":"13","height":"8","label":"","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"loading","dot":true,"ymin":"0","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":410.41676330566406,"y":2092.277946472168,"wires":[[]]},{"id":"825d37f3.c7efa8","type":"switch","z":"55049053.8c13","name":"Topic Router","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"esp8266/Soil","vt":"str"},{"t":"eq","v":"esp8266/temperature","vt":"str"},{"t":"eq","v":"esp8266/humidity","vt":"str"},{"t":"eq","v":"esp8266/ldr","vt":"str"},{"t":"eq","v":"esp8266/atpressure","vt":"str"},{"t":"eq","v":"esp8266/alt","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":519,"y":280,"wires":[["95a0735e.00e4e"],["17480b73.5550f5"],["2c232734.d9c268"],["ccff669c.61c058"],["99f35f81.beda5"],["4c86ae33.c8f46"]]},{"id":"2c232734.d9c268","type":"change","z":"55049053.8c13","name":"esp8266/humidity","rules":[{"t":"set","p":"topic","pt":"msg","to":"humidity","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":839,"y":240,"wires":[["548097f.7b62c68"]]},{"id":"17480b73.5550f5","type":"change","z":"55049053.8c13","name":"esp8266/temperature","rules":[{"t":"set","p":"topic","pt":"msg","to":"temperature","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":849,"y":200,"wires":[["bc55cf6b.ab36f"]]},{"id":"95a0735e.00e4e","type":"change","z":"55049053.8c13","name":"esp8266/Soil","rules":[{"t":"set","p":"topic","pt":"msg","to":"Soil","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":819,"y":160,"wires":[["cf70d5cb.260a28"]]},{"id":"ccff669c.61c058","type":"change","z":"55049053.8c13","name":"esp8266/ldr","rules":[{"t":"set","p":"topic","pt":"msg","to":"light","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":815,"y":338,"wires":[["aaa5ae27.c5c3c"]]},{"id":"99f35f81.beda5","type":"change","z":"55049053.8c13","name":"esp8266/atpressure","rules":[{"t":"set","p":"topic","pt":"msg","to":"at_pressure","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":849,"y":380,"wires":[["5103c5fe.8b672c"]]},{"id":"4c86ae33.c8f46","type":"change","z":"55049053.8c13","name":"esp8266/alt","rules":[{"t":"set","p":"topic","pt":"msg","to":"altitude","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":819,"y":420,"wires":[["f4cd681e.e22e98"]]},{"id":"668cd368.8c041c","type":"link in","z":"55049053.8c13","name":"Agrarian Home Tab ext input - Topic Router","links":["3a48d2eb.5c75fe","7c450c9.e35edf4","cac746cf.5b8d08"],"x":224,"y":280,"wires":[["825d37f3.c7efa8"]]},{"id":"cf70d5cb.260a28","type":"link out","z":"55049053.8c13","name":"topic_soil","links":["d7b67a1d.579c98"],"x":1079.0000247955322,"y":161.0000057220459,"wires":[]},{"id":"bc55cf6b.ab36f","type":"link out","z":"55049053.8c13","name":"topic_temp","links":["d7b67a1d.579c98"],"x":1084,"y":200,"wires":[]},{"id":"548097f.7b62c68","type":"link out","z":"55049053.8c13","name":"topic_humidity","links":["d7b67a1d.579c98"],"x":1084,"y":240,"wires":[]},{"id":"aaa5ae27.c5c3c","type":"link out","z":"55049053.8c13","name":"topic_ldr","links":["d7b67a1d.579c98"],"x":1082,"y":339,"wires":[]},{"id":"5103c5fe.8b672c","type":"link out","z":"55049053.8c13","name":"topic_atp","links":["d7b67a1d.579c98"],"x":1084,"y":380,"wires":[]},{"id":"f4cd681e.e22e98","type":"link out","z":"55049053.8c13","name":"topic_alt","links":["d7b67a1d.579c98"],"x":1082.7776851654053,"y":424.3333263397217,"wires":[]},{"id":"2decd711.166378","type":"link out","z":"76c001c4.620fa","name":" Summary Gauge output - Payload Humidity","links":["5599eec5.ffc29","76f28b80.b0ea64","a8aa6f3b.4f7bd"],"x":631.777889251709,"y":1913.888967514038,"wires":[]},{"id":"d7b67a1d.579c98","type":"link in","z":"76c001c4.620fa","name":"topic Reciever link","links":["5103c5fe.8b672c","548097f.7b62c68","72f8ea41.125aa4","9abea106.afbac","a1431af7.a57578","aaa5ae27.c5c3c","bc55cf6b.ab36f","cf70d5cb.260a28","d461b327.d0341","f4cd681e.e22e98"],"x":126.6667308807373,"y":2149.1109886169434,"wires":[["347cb93b.ef1bc6","60a3eef5.557a2"]]},{"id":"7af1c323.7ebd2c","type":"comment","z":"76c001c4.620fa","name":"Sensor Summary Metrics","info":"","x":206.44450759887695,"y":2052.555372238159,"wires":[]},{"id":"a7fba11b.c9bea","type":"ui_template","z":"76c001c4.620fa","group":"a0cd6d1c.bac54","name":"Sensor Device location","order":12,"width":"15","height":"12","format":"    <html>\n    <head>\n<link rel=\"stylesheet\" href=\"https://unpkg.com/leaflet@1.6.0/dist/leaflet.css\"\n  integrity=\"sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==\"\n  crossorigin=\"\"/>\n<script src=\"https://unpkg.com/leaflet@1.6.0/dist/leaflet.js\"\n  integrity=\"sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==\"\n  crossorigin=\"\"></script>\n\n    </head>\n    <body>\n    <div id=\"mapid\" style=\"height: 1000px; width: 900px;\">\n    </div>\n    \n    <script>\n       (function(scope) {\n        scope.$watch('msg', function (msg) { \n        if (msg) {\n        \n            \n            var mymap = L.map('mapid').setView([msg.loc.lat, msg.loc.lon], 13);\n            \n            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {\n                attribution: '&copy; <a href=\"https://www.openstreetmap.org/copyright\">OpenStreetMap</a> contributors'\n            }).addTo(mymap);\n            \n            var marker = L.marker([msg.loc.lat, msg.loc.lon]).addTo(mymap)\n                .bindPopup('Sensor Location')\n                .openPopup();\n            \n       \n        }\n        \n        });\n        \n     })(scope);\n  \n\n    </script>\n    \n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":709.7777709960938,"y":41.111106872558594,"wires":[[]],"icon":"node-red-contrib-maps/map.png"},{"id":"2767cfac.30437","type":"ui_template","z":"76c001c4.620fa","group":"a0cd6d1c.bac54","name":"Load CSS","order":30,"width":"0","height":"0","format":"<link rel=\"stylesheet\" href=\"/weather-icons-lite/css/weather-icons-lite.min.css\">\n<style>\n    .nr-dashboard-theme-dark ui-card-panel {\n \tbackground-color: #222;\n \toutline: 0.5px solid #cccccc;\n \t  }\n</style>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":217,"y":3463.000244140625,"wires":[[]]},{"id":"eb6b07f9.782a48","type":"function","z":"76c001c4.620fa","name":"Icon Push","func":"msg.html_temp = `\n<center>\n<div style=\"display: flex;width 100%;height: 100%;justify-content: center;align-items: center;font-size: 3em;\" title=\"Weather data @ device location As shown from the map\">\n<h1 style=\"margin-top:3em\">\n<i style=\"padding:1em\" class=\"fa-4x wi wi-owm-`+ msg.payload['icon'].icon +`\"></i>\n</h1>\n<h3>`+ msg.payload['icon'].loc +`</h3>\n</div>\n<h4 style=\"float:center\">`+ msg.payload['esp8266/temperature'] +` °C</h4>\n<p>`+ msg.payload['icon'].desc +`</p>\n\n</center>\n`;\n\n/*msg.payload = `\n<center><p>Weather On Site</p><center>\n`;*/\n\nreturn msg;","outputs":1,"noerr":0,"x":703.9444274902344,"y":3587.220573425293,"wires":[["48f5f0ea.9e327"]]},{"id":"48f5f0ea.9e327","type":"ui_text","z":"76c001c4.620fa","group":"a0cd6d1c.bac54","order":31,"width":"13","height":"8","name":"Weather Icon Update","label":"","format":"{{msg.html_temp}}","layout":"col-center","x":910.7222747802734,"y":3589.5546073913574,"wires":[]},{"id":"76f28b80.b0ea64","type":"link in","z":"55049053.8c13","name":" Summary Gauge input - Payload Humid","links":["2decd711.166378"],"x":206.3333911895752,"y":719.2222099304199,"wires":[["1f2570cb.81916f"]]},{"id":"bf3d4313.95855","type":"link out","z":"55049053.8c13","name":"payload-transmitter","links":["5a821bdb.074104"],"x":1381.7501220703125,"y":729.1389465332031,"wires":[]},{"id":"eb065eb.65ae0a","type":"function","z":"55049053.8c13","name":"Calc - soil %","func":"var soil_data = msg.payload; \n\nfunction getPercentage(min, max, y){\n    return Math.floor(((y - min) * 100) / (max - min));\n}\n\nmsg.payload = {\n  soil : getPercentage(0, 11, soil_data)\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":928.7223510742188,"y":598.1111145019531,"wires":[["a5c338e8.e3fbe"]]},{"id":"7f0ddf0a.28aeb","type":"function","z":"55049053.8c13","name":"Calc - temp %","func":"\nvar temp_data = msg.payload; \n\nfunction getPercentage(min, max, y){\n    return Math.floor(((y - min) * 100) / (max - min));\n}\n\nmsg.payload = {\n  temp :   getPercentage(21.3, 29.7, temp_data)\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":945.7223510742188,"y":659.4722595214844,"wires":[["a5c338e8.e3fbe"]]},{"id":"94d73050.d6e05","type":"function","z":"55049053.8c13","name":"Calc - humid %","func":"var humid_data = msg.payload; \n\nfunction getPercentage(min, max, y){\n    return Math.floor(((y - min) * 100) / (max - min));\n}\n\nmsg.payload = {\n  humid :   getPercentage(35.7, 90, humid_data)\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":948.8890228271484,"y":714.8888759613037,"wires":[["a5c338e8.e3fbe"]]},{"id":"22fffbba.2f1e24","type":"function","z":"55049053.8c13","name":"Calc - ldr %","func":"var ldr_data = msg.payload; \n\nfunction getPercentage(min, max, y){\n    return Math.floor(((y - min) * 100) / (max - min));\n}\n\nmsg.payload = {\n  lui :  getPercentage(0, 25.5, ldr_data)\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":941.2222900390625,"y":790.22216796875,"wires":[["a5c338e8.e3fbe"]]},{"id":"d22b27c5.a44308","type":"function","z":"55049053.8c13","name":"Calc - atmp %","func":"var atm_data = msg.payload; \n\nfunction getPercentage(min, max, y){\n    return Math.floor(((y - min) * 100) / (max - min));\n}\n\nmsg.payload = {\n  atmp :  getPercentage(10, 21.8, atm_data)\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":949.2222900390625,"y":865.2222290039062,"wires":[["a5c338e8.e3fbe"]]},{"id":"30c4e6ab.d295ca","type":"function","z":"55049053.8c13","name":"Calc - alt %","func":"var alt_data = msg.payload; \n\nfunction getPercentage(min, max, y){\n    return Math.floor(((y - min) * 100) / (max - min));\n}\n\nmsg.payload = {\n  alt : getPercentage(0, 6000, alt_data)\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":932.2222900390625,"y":922.888916015625,"wires":[["a5c338e8.e3fbe"]]},{"id":"78c547b4.647e68","type":"link in","z":"76c001c4.620fa","name":"temp Receiver link","links":["9196eb03.019468"],"x":162.11111450195312,"y":3507.22216796875,"wires":[["d6f20359.abeed"]]},{"id":"3ab76c14.23a114","type":"comment","z":"76c001c4.620fa","name":"Weather","info":"","x":208,"y":3422,"wires":[]},{"id":"9196eb03.019468","type":"link out","z":"76c001c4.620fa","name":"temp-weather-data","links":["78c547b4.647e68"],"x":584.388916015625,"y":1627.333251953125,"wires":[]},{"id":"8ad52360.78fe8","type":"function","z":"55049053.8c13","name":"Soil data filter","func":"msg.payload = (msg.topic == \"esp8266/Soil\" ? msg.payload : 0);\nreturn msg;","outputs":1,"noerr":0,"x":470.6111755371094,"y":593.5555419921875,"wires":[["7358a2d4.f239bc"]]},{"id":"7358a2d4.f239bc","type":"switch","z":"55049053.8c13","name":"soil - switch","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":707.6112289428711,"y":599.1111221313477,"wires":[["eb065eb.65ae0a","87018e6c.98163"]]},{"id":"3dba0c43.f2ef74","type":"function","z":"55049053.8c13","name":"Temp data filter","func":"msg.payload = (msg.topic == \"esp8266/temperature\" ? msg.payload : 0);\nreturn msg;\n","outputs":1,"noerr":0,"x":466.2223205566406,"y":659,"wires":[["8750898e.83fc38"]]},{"id":"8750898e.83fc38","type":"switch","z":"55049053.8c13","name":"temp - switch","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":711.3333969116211,"y":660.1111240386963,"wires":[["7f0ddf0a.28aeb","87018e6c.98163"]]},{"id":"1f2570cb.81916f","type":"function","z":"55049053.8c13","name":"Humid data filter","func":"msg.payload = (msg.topic == \"esp8266/humidity\" ? msg.payload : 0);\n\nreturn msg;","outputs":1,"noerr":0,"x":462.66676330566406,"y":717.1110367774963,"wires":[["a2379d93.e4e8"]]},{"id":"a2379d93.e4e8","type":"switch","z":"55049053.8c13","name":"humid - switch","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":712.3333740234375,"y":716.4444580078125,"wires":[["94d73050.d6e05","87018e6c.98163"]]},{"id":"d9c27819.5962a8","type":"function","z":"55049053.8c13","name":"Light data filter","func":"msg.payload = (msg.topic == \"esp8266/ldr\" ? msg.payload : 0);\n\nreturn msg;","outputs":1,"noerr":0,"x":465.1112060546875,"y":785.888916015625,"wires":[["b522b4c0.6950a8"]]},{"id":"b522b4c0.6950a8","type":"switch","z":"55049053.8c13","name":"light - switch","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":717.7222900390625,"y":789.97216796875,"wires":[["22fffbba.2f1e24","87018e6c.98163"]]},{"id":"e49cbe87.80d1","type":"function","z":"55049053.8c13","name":"atpressure data filter","func":"msg.payload = (msg.topic == \"esp8266/atpressure\" ? msg.payload : 0);\nreturn msg;","outputs":1,"noerr":0,"x":481.2222900390625,"y":866.6666259765625,"wires":[["348f61e4.45a04e"]]},{"id":"348f61e4.45a04e","type":"switch","z":"55049053.8c13","name":"atmp - switch","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":717.0001220703125,"y":865.1112060546875,"wires":[["d22b27c5.a44308","87018e6c.98163"]]},{"id":"8dc73e3a.ad23c","type":"function","z":"55049053.8c13","name":"Altitude data filter","func":"msg.payload = (msg.topic == \"esp8266/alt\" ? msg.payload : 0);\nreturn msg;","outputs":1,"noerr":0,"x":481.666748046875,"y":923.7777709960938,"wires":[["68909a37.77a4e4"]]},{"id":"68909a37.77a4e4","type":"switch","z":"55049053.8c13","name":"alt - switch","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":716.666748046875,"y":926.6666259765625,"wires":[["30c4e6ab.d295ca","87018e6c.98163"]]},{"id":"2f2fbfcc.384a6","type":"comment","z":"76c001c4.620fa","name":"Notification System","info":"","x":218.4444580078125,"y":3687.4443359375,"wires":[]},{"id":"6617a36d.cbd81c","type":"ui_toast","z":"76c001c4.620fa","position":"top right","displayTime":"6","highlight":"red","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Alert Notifications","x":736.5556030273438,"y":3742.111083984375,"wires":[]},{"id":"52462dd6.d493a4","type":"function","z":"76c001c4.620fa","name":"Sensor Metrics threshold checker","func":"switch(msg.topic){\n    case \"esp8266/Soil\":\n        if(msg.payload < 8){\n        msg.payload = \"Soil Moisture is below optimal\";\n        }\n    break;\n    \n    case \"esp8266/atpressure\":\n        if ( msg.payload > 3 ){\n        msg.payload = \"Atmospheric pressure is below optimal\";\n        }\n    break;\n    \n     case \"esp8266/ldr\": \n         if ( msg.payload >= 7 ){\n       msg.payload = \"Light Intensity exceeded the optimal limit\";\n         }\n    break;\n    \n    case \"esp8266/temperature\":\n       if ( msg.payload >= 40 ){\n        msg.payload = \"Temperatures exceeds the recommended value\";\n        }\n    break;\n    \n     case \"esp8266/humidity\":\n          if ( msg.payload >= 75 ){\n        msg.payload = \"Humidity is below optimal\";\n           }\n    break;\n    \n    default:\n      return;\n    \n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":393.99981689453125,"y":3740.77734375,"wires":[[]]},{"id":"5599eec5.ffc29","type":"link in","z":"76c001c4.620fa","name":"Input to Sensor Metrics threshhold","links":["2decd711.166378","c2ac012f.91663","ae8c17c8.cea2a8","5b1e3129.c6653","60ecb650.a8a1f8","2af8133e.21d85c","788a1a82.931164","ceca9733.2a3b08"],"x":145.33334350585938,"y":3737.888916015625,"wires":[["52462dd6.d493a4"]]},{"id":"86654e6f.6a1d8","type":"ui_template","z":"76c001c4.620fa","group":"a0cd6d1c.bac54","name":"Sensor summary Data Donut Gauge","order":29,"width":"14","height":"8","format":"\n <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css\">\n <script src=\"https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js\"></script>\n <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js\"></script>\n <script src=\"https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js\"></script>\n <style>\n \n    #chart-area{\n    margin-top:3.5em;\n    }\n    \n </style>\n\n<div id=\"chart-area\" title=\"Sensor percentages based on the Threshhold\"></div>\n\n<script>\n\n(function(scope) {\n var timer = setInterval(function() { //check that the Morris libs are loaded, if not wait\n if (!window.Morris) return;\n clearInterval(timer);\n \n var myData;\n \n var myDonut = Morris.Donut({\n element: 'chart-area',\n data: [\n {label: \"Temperature %\", value: 0 },\n {label: \"Humidity %\", value: 0 },\n {label: \"Atm pressure %\", value: 0 },\n {label: \"Luminosity %\", value: 0 },\n {label: \"Soil Moisture %\", value: 0 },\n {label: \"Altitude %\", value: 0 }\n ]\n });\n \n scope.$watch('msg', function (msg) { //watch for an incoming NR msg\n if (msg) {\n \n myData = msg;\n \n //debug \n console.log (myData);\n \n myDonut.setData([\n {label: \"Temperature %\", value: myData.payload.temp },\n {label: \"Humidity %\", value: myData.payload.humid },\n {label: \"Atm pressure %\", value: myData.payload.atmp },\n {label: \"Luminosity %\", value: myData.payload.lui },\n {label: \"Soil Moist.. %\", value: myData.payload.soil },\n {label: \"Altitude %\", value: myData.payload.alt }\n])\n };\n }); //close out the watch \n }, 100); // close out the setInterval \n})(scope);\n\n\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":395.4444580078125,"y":2267.166561126709,"wires":[[]],"icon":"font-awesome/fa-pie-chart"},{"id":"29823464.8645bc","type":"debug","z":"76c001c4.620fa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":337.9444808959961,"y":2224.4166221618652,"wires":[]},{"id":"5a821bdb.074104","type":"link in","z":"76c001c4.620fa","name":"payload Receiver link","links":["bf3d4313.95855"],"x":120.88888931274414,"y":2193.33318901062,"wires":[["29823464.8645bc","86654e6f.6a1d8"]]},{"id":"c88c8983.32b1c8","type":"link out","z":"76c001c4.620fa","name":"Agrarian Home User Profile output link","links":["a21f90bc.3bed5"],"x":435.5555419921875,"y":3213.22216796875,"wires":[]},{"id":"e9b8b470.260508","type":"link out","z":"76c001c4.620fa","name":"Agrarian Home Help output link","links":["fe0ae557.d92658"],"x":304.3333206176758,"y":3303,"wires":[]},{"id":"11da9bc8.fad0a4","type":"comment","z":"76c001c4.620fa","name":"Sensor Data dispalyed as Line Graphs","info":"","x":1025.555679321289,"y":1026.6110076904297,"wires":[]},{"id":"c94f2d86.423b7","type":"comment","z":"76c001c4.620fa","name":"Mqtt Simulator sensor data Source link","info":"","x":245.11111450195312,"y":2010.111083984375,"wires":[]},{"id":"1364c4.481c0b3d","type":"comment","z":"55049053.8c13","name":"Topic Routing for Summary Line Graph","info":"","x":705,"y":87.77777777777777,"wires":[]},{"id":"6bbf4fd.b3fa7b","type":"comment","z":"55049053.8c13","name":"Payload Routing for Summary (%) Donut Graph","info":"","x":726.77783203125,"y":532.8888549804688,"wires":[]},{"id":"35a416b8.807a4a","type":"json","z":"76c001c4.620fa","name":"json to jsObject","property":"payload","action":"obj","pretty":false,"x":656.7222290039062,"y":326.0000305175781,"wires":[["5fab6ab2.fc0864","dbd46189.2d5e","a38f5f90.7ea6e"]]},{"id":"506aafb2.38109","type":"http request","z":"76c001c4.620fa","name":"Open Weather Map IP Request","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":381.94447326660156,"y":326.77777671813965,"wires":[["35a416b8.807a4a"]]},{"id":"2c8ad539.5bb96a","type":"function","z":"76c001c4.620fa","name":"loaction query","func":"msg.url = \"http://api.openweathermap.org/data/2.5/weather?lat=\" + parseFloat(msg.loc.lat) + \"&lon=\" + parseFloat(msg.loc.lon) + \"&APPID=fd7aadde4652a91a190ed2267fb6e162\"; \nreturn msg;","outputs":1,"noerr":0,"x":330.72222900390625,"y":242.111083984375,"wires":[["cf272842.bd9288","a3d1c3ae.c21bc","506aafb2.38109"]]},{"id":"cf272842.bd9288","type":"debug","z":"76c001c4.620fa","name":"location debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":933.4444580078125,"y":172.77777099609375,"wires":[]},{"id":"5fab6ab2.fc0864","type":"function","z":"76c001c4.620fa","name":"Extract weather Data","func":"var data = msg.payload.weather[0];\nmsg.payload = {\n    \n    desc : data.description,\n    icon : data.icon,\n    weather : data.main,\n    id : data.id,\n    loc : msg.payload.name\n}\nmsg.topic = 'icon';\nreturn msg;","outputs":1,"noerr":0,"x":900.9444580078125,"y":278.77777099609375,"wires":[["fd16ce88.cfce1","aa42d9f8.714b38"]]},{"id":"aa42d9f8.714b38","type":"debug","z":"76c001c4.620fa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1137.888916015625,"y":219.44442749023438,"wires":[]},{"id":"fd16ce88.cfce1","type":"link out","z":"76c001c4.620fa","name":"wethear output link","links":["ac3ab0d.6b34a5","3483711d.6dd05e"],"x":1148.388916015625,"y":272.5555419921875,"wires":[]},{"id":"3483711d.6dd05e","type":"link in","z":"76c001c4.620fa","name":"input weather selector","links":["fd16ce88.cfce1"],"x":159.50000762939453,"y":3586,"wires":[["d6f20359.abeed"]]},{"id":"d6f20359.abeed","type":"join","z":"76c001c4.620fa","name":"payload aggregator","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":490.1111373901367,"y":3586.6667737960815,"wires":[["eb6b07f9.782a48"]]},{"id":"a21f90bc.3bed5","type":"link in","z":"aed920f9.7df21","name":"User Profile Tab input link","links":["c88c8983.32b1c8"],"x":251.4444580078125,"y":144.66665649414062,"wires":[[]]},{"id":"fe0ae557.d92658","type":"link in","z":"708a55b6.cddeac","name":"Help Tab Input link","links":["e9b8b470.260508"],"x":528.5554809570312,"y":145.77777099609375,"wires":[[]]},{"id":"ca7bdc4f.55c06","type":"comment","z":"708a55b6.cddeac","name":"about Tab Input link","info":"","x":590.111083984375,"y":94.33334350585938,"wires":[]},{"id":"a44eba89.421c58","type":"comment","z":"aed920f9.7df21","name":"User profile - Tab","info":"","x":304,"y":99.55557250976562,"wires":[]},{"id":"5ca3f18c.144bf","type":"comment","z":"f83f4bcb.c73878","name":"Settings Tab ","info":"","x":551.7777709960938,"y":107.77777099609375,"wires":[]},{"id":"5a0f0630.f49068","type":"ui_template","z":"76c001c4.620fa","group":"a0cd6d1c.bac54","name":"Summary Line Chart header","order":25,"width":"13","height":"1","format":"<center><p style=\"padding:0.5em\"><b>Sensor Data Metrics</b></p></center>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":223.5,"y":2398.0001220703125,"wires":[[]]},{"id":"2706536d.bafe9c","type":"ui_template","z":"f83f4bcb.c73878","group":"db2824df.708138","name":"Side Menu","order":9,"width":"40","height":"25","format":"\n<head>\n    \n     <!-- Bootstrap core CSS -->\n    <link href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\" rel=\"stylesheet\">\n    <style> \n    \n        .nav-pills-custom .nav-link {\n            color: #aaa;\n            background: #fff;\n            position: relative;\n        }\n        \n       \n        .nav-pills-custom .nav-link.active {\n            color: #29a329;\n            background: #fff;\n        }\n      \n        \n        /* Add indicator arrow for the active tab */\n        @media (min-width: 926px) {\n            .nav-pills-custom .nav-link::before {\n                content: '';\n                display: block;\n                border-top: 8px solid transparent;\n                border-left: 10px solid #fff;\n                border-bottom: 8px solid transparent;\n                position: absolute;\n                top: 50%;\n                right: -10px;\n                transform: translateY(-50%);\n                opacity: 0;\n            }\n        }\n        \n        .nav-pills-custom .nav-link.active::before {\n            opacity: 1;\n        }\n        \n        section{\n        margin-bottom:1em;\n        }\n    </style>\n\n   \n \n</head>\n\n<body>\n    <section>\n    <br>\n    <br>\n        <div class=\"row\" style=\"padding-left:2em\">\n            <div class=\"col-md-3\">\n                \n                <!-- Tabs nav -->\n                <div class=\"nav flex-column nav-pills nav-pills-custom\" id=\"v-pills-tab\" role=\"tablist\" aria-orientation=\"vertical\">\n                    <a class=\"nav-link mb-3 p-3 shadow active\" id=\"v-pills-home-tab\" data-toggle=\"pill\" href=\"#v-pills-home\" role=\"tab\" aria-controls=\"v-pills-home\" aria-selected=\"true\">\n                        <i class=\"fa fa-line-chart mr-2\"></i>\n                        <span class=\"font-weight-bold small text-uppercase\">Dashboard</span></a>\n\n                    <a class=\"nav-link mb-3 p-3 shadow\" id=\"v-pills-profile-tab\" data-toggle=\"pill\" href=\"#v-pills-profile\" role=\"tab\" aria-controls=\"v-pills-profile\" aria-selected=\"false\">\n                        <i class=\"fa fa-user-circle-o mr-2\"></i>\n                        <span class=\"font-weight-bold small text-uppercase\">Account Settings</span></a>\n\n                    <a class=\"nav-link mb-3 p-3 shadow\" id=\"v-pills-messages-tab\" data-toggle=\"pill\" href=\"#v-pills-messages\" role=\"tab\" aria-controls=\"v-pills-messages\" aria-selected=\"false\">\n                        <i class=\"fa fa-bell-o mr-2\"></i>\n                        <span class=\"font-weight-bold small text-uppercase\">Notifications</span></a>\n\n                    <a class=\"nav-link mb-3 p-3 shadow\" id=\"v-pills-settings-tab\" data-toggle=\"pill\" href=\"#v-pills-settings\" role=\"tab\" aria-controls=\"v-pills-settings\" aria-selected=\"false\">\n                        <i class=\"fa fa-check mr-2\"></i>\n                        <span class=\"font-weight-bold small text-uppercase\">Status</span></a>\n                    </div>\n            </div>\n\n\n            <div class=\"col-md-8\">\n                <!-- Tabs content -->\n                <div class=\"tab-content\" id=\"v-pills-tabContent\">\n                    <div class=\"tab-pane fade shadow rounded bg-white show active p-5\" id=\"v-pills-home\" role=\"tabpanel\" aria-labelledby=\"v-pills-home-tab\">\n                        <h4 class=\"mb-4\">Preferences</h4>\n                        <!-- settings-container -->\n                       \n                              \n                                <div class=\"row\">\n                                    <div class=\"col\" id=\"col-11\">Widgets<br><br>You can change the properties of any of the widgets below\n                                         <div class=\"input-group mb-3\" style=\"padding-top:0.9em\" id=\"input-group-11\">\n                                          <div class=\"input-group-prepend\">\n                                            <label class=\"input-group-text success\" for=\"inputGroupSelect01\">Select Widget</label>\n                                          </div>\n                                        \n                                          <select class=\"custom-select\" id=\"inputGroupSelect01\">\n                                            <option selected>Select Widget ...</option>\n                                          \n                                            <option value=\"1\">Sensor Summary Data</option>\n                                            <option value=\"2\">Sensor Summary Percentages</option>\n                                            <option value=\"3\">Sensor Device location Map</option>\n                                            <option value=\"4\">Gauges</option>\n                                            <option value=\"5\">Figures</option>\n                                            <option value=\"6\">Line Graphs</option>\n                                            \n                                          </select>\n                                        </div>\n                                    </div>\n                                    <!--<div class=\"col\" id=\"col-12\"></div>-->\n                                    <div class=\"w-100\" style=\"padding:0.2em\"></div>\n                                    <div class=\"col\" id=\"col-21\"></div>\n                                    <!--<div class=\"col\" id=\"col-22\"></div>-->\n                                   \n                                 </div>\n                    </div>\n                    \n                    <div class=\"tab-pane fade shadow rounded bg-white p-5\" id=\"v-pills-profile\" role=\"tabpanel\" aria-labelledby=\"v-pills-profile-tab\">\n                        <h4 class=\"mb-4\">Account settings</h4>\n                        <div class=\"row\">\n                            <div class=\"col\" id=\"col-11-acnt\">Authentication<br><br>Select any of the desired sign in methods</div>\n                            <div class=\"w-100\" style=\"padding:0.2em\"></div>\n                            <div class=\"col\" id=\"col-21-acnt\">Account Details</div>\n                           \n                       </div>\n                    </div>\n                    \n                    <div class=\"tab-pane fade shadow rounded bg-white p-5\" id=\"v-pills-messages\" role=\"tabpanel\" aria-labelledby=\"v-pills-messages-tab\">\n                        <h4 class=\"mb-4\">Notification Settings</h4>\n                            <p>The details asked below will be used to set up notification parameters</p>\n                            <br>\n                            <div class=\"row\">\n                                    <div class=\"col\" id=\"col-11-not\" class=\"input-group-text\">\n                                        <span>\n                                            <p>phone Number: </p>\n                                            <input type=\"text\" class=\"form-control\" id=\"phone-num\" placeholder=\"(+245) 733 834 832\">\n                                        </span>\n                                        <br>\n                                        <span>\n                                            <p>USSD pin: </p>\n                                            <input type=\"password\" id=\"ussd-pin\" class=\"form-control\">\n                                        </span>\n                                    </div>\n                                \n                                    <div class=\"col\"  id=\"col-12-not\" class =\"input-group-text\"></div>\n                             </div> \n                             <br>\n                             <div class=\"row\">\n                                <div class=\"col\" id=\"col-11-not\"><button id=\"save-btn-not\" class=\"btn btn-success\">save</button></div>\n                             </div>\n                    </div>\n                    \n                    <div class=\"tab-pane fade shadow rounded bg-white p-5\" id=\"v-pills-settings\" role=\"tabpanel\" aria-labelledby=\"v-pills-settings-tab\">\n                        <h4 class=\"mb-4\">Status settings</h4>\n                        <div class=\"row\">\n                            <div class=\"col\" id=\"col-11\">Sensor Device State: <div id=\"col-sensor-status\" style=\"color:green\">\n                        <strong>Online</strong>\n                        \n                    </div>\n                </div>\n                    </div>\n                     <br>\n                     <div class=\"row\">\n                                <div class=\"col\" id=\"col-11-not\"><button id=\"save-btn-status\" class=\"btn btn-success\">save</button></div>\n                     </div>\n                </div>\n            </div>\n        </div>\n    </div>\n</section>\n\n<!-- Bootstrap core JavaScript -->\n<script src=\"vendor/jquery/jquery.min.js\"></script>\n<script src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js\"></script>\n<script src=\"https://code.jquery.com/jquery-1.12.4.min.js\"></script>\n<script src=\"vendor/bootstrap/js/bootstrap.bundle.min.js\"></script>\n<script>\n    (function(scope){\n    \n        // Constants\n        var isTogglePointerSet = false;\n        var isMapDisabled = false;\n        \n        // Methods\n        var getSelectedOption = function (elem){\n          return  $(elem).find(\":selected\")[0].innerHTML; \n        }\n        \n        var getListOption = function(elem){\n            return $(elem).prop(\"value\");\n        }\n        \n        // End of Methods\n        \n        //==================== Dashboard Settings =================//\n         $('#inputGroupSelect01').change(function (e){\n             e.preventDefault();\n             switch(getSelectedOption(\"#inputGroupSelect01\")){\n                case \"Sensor Summary Data\":\n                      $('#col-21').empty();\n                      $('#col-21').text(\"Settings\");\n                      $('#col-21').append(`\n                      <!-- Sensor Summary Chart Settings -->\n                       <!-- Type of Chart -->\n                \n                       <div class=\"input-group mb-3\" style=\"padding-top:0.9em\" id=\"input-group-a\">\n                          <div class=\"input-group-prepend\">\n                            <label class=\"input-group-text success\" for=\"inputGroupSelect-a\">Sensor Summary Metrics</label>\n                         </div>\n                        \n                          <select class=\"custom-select\" id=\"inputGroupSelect-a\">\n                            <option selected>Select Chart ...</option>\n                          \n                            <option value=\"1\">line</option>\n                            <option value=\"2\">horizontal bar</option>\n                            <option value=\"3\">bar</option>\n                            <option value=\"4\">polar-area</option>\n                            <option value=\"5\">pie</option>\n                            <option value=\"6\">radar</option>\n                            \n                          </select>\n                    \n                        </div>\n                        <br>\n                        <button class=\"btn btn-success\" id=\"save-btn\">Save</button>\n                    `);\n                    break;\n                case \"Sensor Summary Percentages\":\n                      $('#col-21').empty();\n                      $('#col-21').text(\"Settings\");\n                      $('#col-21').append(`\n                       <strong><p>Sensor Summary Percenatages</p></strong>\n                       <br>\n                       <button class=\"btn btn-success\" id=\"save-btn\">Save</button>\n                     \n                    `);\n                    break;\n                case \"Gauges\":\n                      $('#col-21').empty();\n                      $('#col-21').text(\"Settings\");\n                      $('#col-21').append(`\n                       <!-- Individual gauges / Select Gauge -->\n                       <div class=\"input-group mb-3\" style=\"padding-top:0.9em\" id=\"input-group-b\">\n                          <div class=\"input-group-prepend\">\n                            <label class=\"input-group-text success\" for=\"inputGroupSelect-b\">Select Gauge</label>\n                         </div>\n                        \n                          <select class=\"custom-select\" id=\"inputGroupSelect-b\">\n                            <option selected>Select Guage ...</option>\n                          \n                            <option value=\"1\">Soil Moisture Gauge</option>\n                            <option value=\"2\">Altitude Gauge</option>\n                            <option value=\"3\">Luminosity Gauge</option>\n                            \n                          </select>\n                        </div>\n                            <div class=\"row mb-2\" style=\"padding-top:0.9em\">\n                                 <div class=\"col\" id=\"col-11\">\n                                        \n                                        <input type=\"number\" min=\"0\" max=\"10\" id=\"num-dial\" class=\"success\"/>\n                                        <label for=\"num-dial\"> Width Scale</label>\n                                  </div>\n                                  <div class=\"col\" id=\"col-12\">\n                                         <div class=\"custom-control custom-switch custom-switch-success\">\n                                              <input type=\"checkbox\" class=\"custom-control-input\" id=\"switch-toggle\">\n                                              <label class=\"custom-control-label\" for=\"switch-toggle\">Toggle Pointer</label>\n                                        </div>\n                                  </div>\n                                  <div class=\"col\" id=\"col-13\">\n                                \n                                       <div class=\"input-group mb-3\" id=\"input-group-c\">\n                                              <div class=\"input-group-prepend\">\n                                                <label class=\"input-group-text success\" for=\"inputGroupSelect-c\">Gauge Type</label>\n                                              </div>\n                                                \n                                              <select class=\"custom-select\" id=\"inputGroupSelect-c\">\n                                                <option selected>Select Gauge Type ...</option>\n                                              \n                                                <option value=\"1\">gage</option>\n                                                <option value=\"2\">donut</option>\n                                                <option value=\"3\">compass</option>\n                                                <option value=\"4\">wave</option>\n                                              </select>\n                                        </div>\n                                    </div> \n                            </div>\n                            <div class=\"row mb-2\" style=\"padding-top:0.9em\">\n                                 <div class=\"col\" id=\"col-21\">\n                                \n                                       <div class=\"input-group mb-3\" id=\"input-group-d\">\n                                              <div class=\"input-group-prepend\">\n                                                <label class=\"input-group-text success\" for=\"inputGroupSelect-d\">Color</label>\n                                              </div>\n                                                \n                                              <select class=\"custom-select\" id=\"inputGroupSelect-d\">\n                                                <option selected>Select GaugeColor ...</option>\n                                              \n                                                <option value=\"1\">red</option>\n                                                <option value=\"2\">green</option>\n                                                <option value=\"3\">blue</option>\n                                                <option value=\"4\">orange</option>\n                                              </select>\n                                        </div>\n                                        \n                                    </div>\n                                    <div class=\"col\" id=\"col-22\">\n                                        <div id=\"demo\"></div>\n                                    </div>\n                                    \n                        \n                            </div>\n                            <br>\n                                    <button class=\"btn btn-success\" id=\"save-btn\">Save</button>\n                        \n                    `);\n                    break;\n                case \"Figures\":\n                      $('#col-21').empty();\n                      $('#col-21').text(\"Settings\");\n                      $('#col-21').append(`\n                       <strong><p>Figures</p></strong>\n                       <br>\n                       <button class=\"btn btn-success\" id=\"save-btn\">Save</button>\n                    `);\n                    break;\n                case \"Line Graphs\":\n                      $('#col-21').empty();\n                      $('#col-21').text(\"Settings\");\n                      $('#col-21').append(`\n                       <strong><p>Line</p></strong>\n                       <br>\n                       <button class=\"btn btn-success\" id=\"save-btn\">Save</button>\n                    `);\n                    break;\n                case \"Sensor Device location Map\":\n                      $('#col-21').empty();\n                      $('#col-21').text(\"Settings\");\n                      $('#col-21').append(`\n                         <strong><p>Device location on Map</p></strong>\n                         <div class=\"custom-control custom-switch custom-switch-success\">\n                              <input type=\"checkbox\" class=\"custom-control-input\" id=\"switch-map\">\n                              <label class=\"custom-control-label\" for=\"switch-map\">Disable</label>\n                        </div>\n                         <br>\n                         <button class=\"btn btn-success\" id=\"save-btn\">Save</button>\n                         \n                    `);\n                    break;\n                default:\n                      $('#col-21').empty();\n                      $('#col-21').text(\"Settings\");\n                      $('#col-21').append(`\n                       <div class=\"custom-control custom-switch success\" style=\"padding-top:0.9em\">\n                          <input type=\"checkbox\" class=\"custom-control-input\" id=\"customSwitch\">\n                          <label class=\"custom-control-label\" for=\"customSwitch\" id=\"checkbox-label\">Disable Widget</label>\n                        </div>\n                        <br>\n                       <button class=\"btn btn-success\" id=\"save-btn\">Save</button>\n                    `);\n             }\n             \n             \n            // Check toggle pointer switch\n             $(\"#switch-toggle\").change(function(e){\n                e.preventDefault();\n                isTogglePointerSet = this.checked;\n            });\n           \n           // Check Disable Map switch\n           $(\"#switch-map\").change(function(e){\n               e.preventDefault();\n               isMapDisabled = this.checked;\n           });\n           \n             // onClick save-btn\n              $(\"#save-btn\").click(function(e) {\n                    e.preventDefault();\n          \n                     alert(\"Changes have been saved successfully\");\n                     \n                      \n                     // horizontal bar handler\n                     if($(\"#inputGroupSelect-a\").length == 1){\n                     var ui_look_a = getSelectedOption(\"#inputGroupSelect-a\");\n                   \n                     if(ui_look_a == \"horizontal bar\"){\n                        ui_look_a = \"horizontalBar\";\n                     }else if(ui_look_a == \"Select Chart ...\"){\n                         //default setting\n                         ui_look_a = \"line\";\n                     }\n                     \n                     scope.send({ui_control:{look:ui_look_a, legend:false, interpolate:\"linear\"}});\n                    }\n            \n              \n              if($(\"#inputGroupSelect-b\").length == 1){\n                  var ui_look_b = getSelectedOption(\"#inputGroupSelect-b\");\n                 \n                   switch(ui_look_b){\n                      \n                    case \"Soil Moisture Gauge\":\n                  \n                             var selectedOpts = {gtype:null, color:null};\n                             var ui_look_c = ($(\"#inputGroupSelect-c\").length == 1 ? getSelectedOption(\"#inputGroupSelect-c\") : null);\n                             var ui_look_d = ($(\"#inputGroupSelect-d\").length == 1 ? getSelectedOption(\"#inputGroupSelect-d\") : null);\n                             \n                            scope.send({ui_control:{gtype:ui_look_c, togglePointerState:isTogglePointerSet, colors:[ui_look_d,\"#00ff00\", \"#01DF74\"], label:ui_look_b}});\n                            \n                            break;\n                            \n                      case \"Altitude Gauge\":\n                            \n                            var selectedOpts = {gtype:null, color:null};\n                             var ui_look_c = ($(\"#inputGroupSelect-c\").length == 1 ? getSelectedOption(\"#inputGroupSelect-c\") : null);\n                             var ui_look_d = ($(\"#inputGroupSelect-d\").length == 1 ? getSelectedOption(\"#inputGroupSelect-d\") : null);\n                            scope.send({ui_control:{gtype:ui_look_c, togglePointerState:isTogglePointerSet, colors:[ui_look_d,\"#00ff00\", \"#01DF74\"], label:ui_look_b}});\n                         \n                             break;\n                          \n                      case \"Luminosity Gauge\":\n                      \n                            var selectedOpts = {gtype:null, color:null};\n                            var ui_look_c = ($(\"#inputGroupSelect-c\").length == 1 ? getSelectedOption(\"#inputGroupSelect-c\") : null);\n                            var ui_look_d = ($(\"#inputGroupSelect-d\").length == 1 ? getSelectedOption(\"#inputGroupSelect-d\") : null);\n                             \n                            scope.send({ui_control:{gtype:ui_look_c, togglePointerState:isTogglePointerSet, colors:[ui_look_d,\"#00ff00\", \"#01DF74\"], label:ui_look_b}});\n                            \n                            break;\n                          \n                         \n                        default:\n                        scope.send({ui_control:{gtype:\"donut\", togglePointerState:isTogglePointerSet, colors:[\"blue\",\"#00ff00\", \"#01DF74\"]}});\n                        \n                      \n                    } //end of if {exp:Soil Moisture gauge}\n             } //end of if {exp:#inputSelectGroup-b}\n             \n             if($(\"#switch-map\").length == 1){\n                 scope.send({ui_control:{disableMap:isMapDisabled}});\n             }\n             \n        }); // end of #saves.click\n       \n         \n    }); // End of dashboard settings\n    \n    \n    \n    //====================Account Settings ===============================//\n    \n    $(\"#col-11-acnt\").append(`\n              <div class=\"input-group mb-3\" style=\"padding-top:0.9em\" id=\"input-group-11\">\n                 <div class=\"input-group-prepend\">\n                    <label class=\"input-group-text success\" for=\"inputGroup-auth\">Sign in method</label>\n                 </div>\n                \n                  <select class=\"custom-select\" id=\"inputGroup-auth\">\n                    <option selected>default signin</option>\n                  \n                    <option value=\"1\">Public key authentication</option>\n                    <option value=\"2\">Secret tokens</option>\n                    <option value=\"3\">Email authentication</option>\n                    <option value=\"4\">Google authentication</option>\n                    <option value=\"5\">Facebook authentication</option>\n                    \n                    \n                 </select>\n            </div>\n              `);\n              \n              $(\"#col-21-acnt\").append(`\n                <link href=\"http://www.jqueryscript.net/css/jquerysctipttop.css\" rel=\"stylesheet\" type=\"text/css\">\n                <div id=\"container\" style=\"padding-top:0.9em\">\n                  <table id=\"info-tab\" class=\"table table-bordered\">\n                    <thead>\n                      <tr>\n                        <th>Firstname</th>\n                        <th>Lastname</th>\n                        <th>Email</th>\n                      </tr>\n                    </thead>\n                    <tbody>\n                      <tr>\n                        <td>John</td>\n                        <td>Doe</td>\n                        <td>john@example.com</td>\n                      </tr>\n                    </tbody>\n                  </table>\n                  </div>\n                  <br>\n                  <button class=\"btn btn-success\" id=\"save-btn-acnt\">Save</button>\n                 \n              `);\n              \n            \n             \n             // onClick save-btn-not\n            $(\"#save-btn-not\").click(function(e){\n                 e.preventDefault();\n                 scope.send({ui_control:{phoneNumber:$(\"#phone-num\").prop(\"value\"), ussdCode:$(\"#ussd-pin\").prop(\"value\")}});\n                 alert(\"Changes saved successfully\");\n             });\n             \n             \n             //onClick save-btn-status\n             $(\"#save-btn-status\").click(function(e){\n                 e.preventDefault();\n                 alert(\"Changes in status saved successfully\");\n             });\n             \n              // onClick save-btn-acnt\n             $(\"#save-btn-acnt\").click(function(e){\n                 e.preventDefault();\n                 $(\"#inputGroup-auth\").change(function(e){\n                     e.preventDefault();\n                     \n                     switch(getSelectedOption(\"#inputGroup-auth\")){\n                         \n                         case \"Public key authentication\":\n                             scope.send({ui_control:{signInMethod:\"Public key authentication\"}});\n                             break;\n                         case \"Secret tokens\":\n                             scope.send({ui_control:{signInMethod:\"Secret tokens\"}});\n                             break;\n                         case \"Email authentication\":\n                             scope.send({ui_control:{signInMethod:\"Email authentication\"}});\n                            break;\n                         case \"Google authentication\":\n                            scope.send({ui_control:{signInMethod:\"Google authentication\"}});\n                             break;\n                         case \"Facebook authentication\":\n                             scope.send({ui_control:{signInMethod:\"Facebook authentication\"}});\n                             break;\n                         default:\n                            scope.send({ui_control:{signInMethod:\"default signin\"}});\n                            \n                     }\n                     \n                 });\n                 \n                 alert(\"Changes saved successfully\");\n             });\n    })(scope)\n</script>\n\n</body>\n</html>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":106.02349853515625,"y":394.0391540527344,"wires":[["6cc15ac3.fdb9c4","21fd3e1c.9d20d2"]]},{"id":"3dc4b360.bc88dc","type":"link in","z":"76c001c4.620fa","name":"In alt gauge setting","links":["a1431af7.a57578","aeea58de.682798","7c450c9.e35edf4"],"x":1267.5,"y":540.9999771118164,"wires":[["5bd70a5e.a65b04"]]},{"id":"aeea58de.682798","type":"link out","z":"f83f4bcb.c73878","name":"out alt gauge setting","links":["3dc4b360.bc88dc","e386a026.ef405","24c3563c.50d08a","845d1940.d3db88","3fe7a500.25b33c","1291427d.5261de"],"x":521.5,"y":162,"wires":[]},{"id":"5b468769.13dd58","type":"ui_template","z":"aed920f9.7df21","group":"fc3b5794.1a3d88","name":"User profile info","order":7,"width":"40","height":"26","format":"<head>\n    \n     <!-- Bootstrap core CSS -->\n    <link href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\" rel=\"stylesheet\">\n    <style> \n\n        body{\n            min-height:100vh;\n        }\n        \n        .userprofile_holder{\n            float:center;\n            margin-left:1em;\n        }\n        \n        .nav-pills-custom .nav-link {\n            color: #aaa;\n            background: #fff;\n            position: relative;\n        }\n        \n       \n        .nav-pills-custom .nav-link.active {\n            color: #29a329;\n            background: #fff;\n        }\n        \n        \n        /* Add indicator arrow for the active tab */\n        @media (min-width: 992px) {\n            .nav-pills-custom .nav-link::before {\n                content: '';\n                display: block;\n                border-top: 8px solid transparent;\n                border-left: 10px solid #fff;\n                border-bottom: 8px solid transparent;\n                position: absolute;\n                top: 50%;\n                right: -10px;\n                transform: translateY(-50%);\n                opacity: 0;\n            }\n        }\n        \n        .nav-pills-custom .nav-link.active::before {\n            opacity: 1;\n        }\n        \n        /*  user profile */\n        .user-profile{\n            margin-top:20px\n        }\n        \n        \n        .profile-userpic img {\n            float: none;\n            margin: 0 auto;\n            width: 140px;\n            height: 140px;\n            -webkit-border-radius: 50%!important;\n            -moz-border-radius: 50%!important;\n            border-radius: 50%!important\n        }\n        \n        .profile-usertitle {\n            text-align: center;\n            margin-top: 20px\n        }\n        \n        .profile-usertitle-name {\n            color: #5a7391;\n            font-size: 20px;\n            font-weight: 600;\n            margin-bottom: 7px\n        }\n    \n        .profile-usertitle-job {\n            text-transform: uppercase;\n            color: #5b9bd1;\n            font-size: 13px;\n            font-weight: 800;\n            margin-bottom: 7px\n        }\n        /* End of user profile */\n          \n    </style>\n   \n \n</head>\n\n<body>\n<section class=\"userprofile_holder\">\n    <br>\n            <div class=\"col-md-8\">\n                <!-- Tabs content -->\n                <div class=\"tab-content\" id=\"v-pills-tabContent\">\n                    <div class=\"tab-pane fade shadow rounded bg-white show active p-5\" id=\"v-pills-home\" role=\"tabpanel\" aria-labelledby=\"v-pills-home-tab\">\n                        <h4 class=\"mb-4\">Personal information</h4>\n                        <!-- Start of personal information-->\n                             <section class=\"user-profile\">\n                                        <link href=\"https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css\" rel=\"stylesheet\">\n\n  <div class=\"col\">\n    <div class=\"row\">\n      <div class=\"col mb-3\">\n        <div class=\"card\">\n          <div class=\"card-body\">\n            <div class=\"e-profile\">\n              <div class=\"row\">\n                <div class=\"col-12 col-sm-auto mb-3\">\n                  <div class=\"mx-auto\" style=\"width: 140px;\">\n                    \n                    <div class=\"profile-userpic\">\n        \t\t        <img src=\"https://bootdey.com/img/Content/avatar/avatar6.png\" class=\"img-responsive\" alt=\"\"> \n        \t        </div> \n                  </div>\n                </div>\n                <div class=\"col d-flex flex-column flex-sm-row justify-content-between mb-3\">\n                  <div class=\"text-center text-sm-left mb-2 mb-sm-0\">\n                    <h4 class=\"pt-sm-2 pb-1 mb-0 text-nowrap\" id=\"user-placeholder\"></h4>\n                    <p class=\"mb-0\" id=\"username-placeholder\"></p>\n                    <div class=\"text-muted\" id=\"email-placeholder\"><small></small></div>\n                    <div class=\"mt-2\">\n                      <button class=\"btn btn-success\" type=\"button\">\n                        <i class=\"fa fa-fw fa-camera\"></i>\n                        <span>Change Photo</span>\n                      </button>\n                    </div>\n                  </div>\n                  <div class=\"text-center text-sm-right\">\n                    <span class=\"badge badge-secondary\">administrator</span>\n                    <div class=\"text-muted\"><small>Joined 09 Dec 2017</small></div>\n                  </div>\n                </div>\n              </div>\n              <ul class=\"nav nav-tabs\">\n                <li class=\"nav-item\"><a href=\"\" class=\"active nav-link\">Settings</a></li>\n              </ul>\n              <div class=\"tab-content pt-3\">\n                <div class=\"tab-pane active\">\n                  <form class=\"form\" novalidate=\"\">\n                    <div class=\"row\">\n                      <div class=\"col\">\n                        <div class=\"row\">\n                          <div class=\"col\">\n                            <div class=\"form-group\">\n                              <label>Full Name</label>\n                              <input class=\"form-control\" type=\"text\" name=\"name\" placeholder=\"guest full name\" value=\"\">\n                            </div>\n                          </div>\n                          <div class=\"col\">\n                            <div class=\"form-group\">\n                              <label>Username</label>\n                              <input class=\"form-control\" type=\"text\" name=\"username\" placeholder=\"guest\" value=\"\">\n                            </div>\n                          </div>\n                        </div>\n                        <div class=\"row\">\n                          <div class=\"col\">\n                            <div class=\"form-group\">\n                              <label>Email</label>\n                              <input class=\"form-control\" type=\"text\" name=\"user-mail\" placeholder=\"geust@example.com\">\n                            </div>\n                          </div>\n                        </div>\n                        <div class=\"row\">\n                          <div class=\"col mb-3\">\n                            <div class=\"form-group\">\n                              <label>About</label>\n                              <textarea class=\"form-control\" rows=\"5\" id=\"bio-placeholder\" placeholder=\"Guest Bio\"></textarea>\n                            </div>\n                          </div>\n                        </div>\n                      </div>\n                    </div>\n                    <div class=\"row\">\n                      <div class=\"col-12 col-sm-6 mb-3\">\n                        <div class=\"mb-2\"><b>Change Password</b></div>\n                        <div class=\"row\">\n                          <div class=\"col\">\n                            <div class=\"form-group\">\n                              <label>Current Password</label>\n                              <input class=\"form-control\" name=\"current-passwd\" type=\"password\" placeholder=\"••••••\">\n                            </div>\n                          </div>\n                        </div>\n                        <div class=\"row\">\n                          <div class=\"col\">\n                            <div class=\"form-group\">\n                              <label>New Password</label>\n                              <input class=\"form-control\" name=\"new-passwd\" type=\"password\" placeholder=\"••••••\">\n                            </div>\n                          </div>\n                        </div>\n                        <div class=\"row\">\n                          <div class=\"col\">\n                            <div class=\"form-group\">\n                              <label>Confirm <span class=\"d-none d-xl-inline\">Password</span></label>\n                              <input class=\"form-control\" name=\"confirm-passwd\" type=\"password\" placeholder=\"••••••\"></div>\n                              <p style=\"color:red\" id=\"match-warning\"></p>\n                          </div>\n                        </div>\n                      </div>\n                      <div class=\"col-12 col-sm-5 offset-sm-1 mb-3\">\n                        <div class=\"mb-2\"><b>Keeping in Touch</b></div>\n                        <div class=\"row\">\n                          <div class=\"col\">\n                            <label>Email Notifications</label>\n                            <div class=\"custom-controls-stacked px-2\">\n                              <div class=\"custom-control custom-checkbox\">\n                                <input type=\"checkbox\" class=\"custom-control-input\" id=\"notifications-blog\" checked=\"false\">\n                                <label class=\"custom-control-label\" for=\"notifications-blog\">Blog posts</label>\n                              </div>\n                              <div class=\"custom-control custom-checkbox\">\n                                <input type=\"checkbox\" class=\"custom-control-input\" id=\"notifications-news\" checked=\"false\">\n                                <label class=\"custom-control-label\" for=\"notifications-news\">Newsletter</label>\n                              </div>\n                              <div class=\"custom-control custom-checkbox\">\n                                <input type=\"checkbox\" class=\"custom-control-input\" id=\"notifications-offers\" checked=\"false\">\n                                <label class=\"custom-control-label\" for=\"notifications-offers\">Personal Offers</label>\n                              </div>\n                            </div>\n                          </div>\n                        </div>\n                      </div>\n                    </div>\n                    <div class=\"row\">\n                      <div class=\"col d-flex justify-content-end\">\n                        <button class=\"btn btn-success\" id=\"save-btn\" type=\"submit\">Save Changes</button>\n                      </div>\n                    </div>\n                  </form>\n\n                </div>\n              </div>\n            </div>\n          </div>\n        </div>\n      </div>\n\n      <div class=\"col-12 col-md-3 mb-3\">\n        <div class=\"card mb-3\">\n          <div class=\"card-body\">\n            <div class=\"px-xl-3\">\n              <button class=\"btn btn-block btn-secondary\">\n                <span>Discard Changes</span>\n              </button>\n            </div>\n          </div>\n        </div>\n        <div class=\"card\">\n          <div class=\"card-body\">\n            <h6 class=\"card-title font-weight-bold\">Support</h6>\n            <p class=\"card-text\">Get fast, free help from our friendly assistants.</p>\n            <button type=\"button\" class=\"btn btn-success\">Contact Us</button>\n          </div>\n        </div>\n      </div>\n    </div>\n\n  </div>\n                             </section>\n         \n                        <!-- End of personal information -->\n                    </div>\n                    \n                    <div class=\"tab-pane fade shadow rounded bg-white p-5\" id=\"v-pills-profile\" role=\"tabpanel\" aria-labelledby=\"v-pills-profile-tab\">\n                        <h4 class=\"mb-4\">Bookings</h4>\n                        <p class=\"font-italic text-muted mb-2\">Lorem </p>\n                    </div>\n                    \n                    <div class=\"tab-pane fade shadow rounded bg-white p-5\" id=\"v-pills-messages\" role=\"tabpanel\" aria-labelledby=\"v-pills-messages-tab\">\n                        <h4 class=\"mb-4\">Reviews</h4>\n                        <p class=\"font-italic text-muted mb-2\">Lorem ipsum </p>\n                    </div>\n                    \n                    <div class=\"tab-pane fade shadow rounded bg-white p-5\" id=\"v-pills-settings\" role=\"tabpanel\" aria-labelledby=\"v-pills-settings-tab\">\n                        <h4 class=\"mb-4\">Confirm booking</h4>\n                        <p class=\"font-italic text-muted mb-2\">Lorem ipsum dolor sit amet, </p>\n                    </div>\n                </div>\n            </div>\n        \n</section>\n\n<script>\n    (function(scope){\n        \n       var getLoggedInUser = function(){\n           scope.$watch('msg', function(msg){\n                  return msg.payload.user;\n           });\n       }\n       \n       /*var populateFields = function(msg){\n        \n       }*/\n       \n       //On load function fetch user\n       \n       $(document).ready(function(){\n           \n             $('#user-placeholder').text(getLoggedInUser() || \"Guest\");\n             $('#username-placeholder').text(\"@guest\"); \n             $('#email-placeholder').text(\"guest@email.com\");\n             \n            });\n           \n       //Watch Username changes\n       \n        scope.$watch('msg', function(msg){\n              if (msg) {\n                    // Populate place holders\n                    \n                   $('#user-placeholder').text(msg.payload.user);\n                   $('#username-placeholder').text(msg.payload.username);\n                   $('#email-placeholder').text(msg.payload.useremail);\n                   $('#bio-placeholder').text(msg.payload.userbio);\n                   \n                   // Popuplate inputs\n                   \n                    $('input[name=\"name\"]').attr('placeholder', msg.payload.user);\n                    $('input[name=\"username\"]').attr('placeholder', msg.payload.username);\n                    $('input[name=\"user-mail\"]').attr('placeholder', msg.payload.useremail);\n                    $('#bio-placeholder').attr('placeholder', msg.payload.userbio); \n    \n              }\n              \n             \n           });\n           \n           $('input[name=\"confirm-passwd\"]').keypress(function(){\n               var confirmPass = $('input[name=\"confirm-passwd\"]').val();\n               var newPass = $('input[name=\"new-passwd\"]').val();\n               \n               if (confirmPass === newPass){\n                    $('#match-warning').text(\"\");\n               }\n               else\n               {\n                   $('#match-warning').text(\"passwords don't match !!\");\n               }\n               \n           });\n               \n           \n   \n    //OnClicking the Save changes button send data payload\n            $('#save-btn').click(function(){\n                   \n                   //Sending input\n                    scope.send({payload:{user:$('input[name=\"name\"]').val()}});\n                    \n                   //Sending username \n                    scope.send({payload:{username:$('input[name=\"username\"]').val()}});\n                    \n                    //Sending email input\n                    scope.send({payload:{useremail:$('input[name=\"user-mail\"]').val()}});\n                    \n                    //Sending bio\n                    scope.send({payload:{userbio:$(\"#bio-placeholder\").val()}});\n                    \n                    //Confirm that new passwd && confirm passwd are same and send to config store\n                    var newPass = $('input[name=\"new-passwd\"]').val();\n                    var confirmPass = $('input[name=\"confirm-passwd\"]').val();\n                    \n                    var encNewPasswd = CryptoJS.enc.Base64.parse(newPass).toString();\n                    \n                    console.log(encNewPasswd);\n                    /*\n                    var currentHashedPasswd = CryptoJS.AES.encrypt($('input[name=\"current-passwd\"]').val(), $('input[name=\"current-passwd\"]').val()).toString();\n                    var newHashedPasswd = CryptoJS.AES.encrypt(newPass, encNewPasswd).toString();\n                    // var confirmHashedPasswd = CryptoJS.AES.encrypt($('input[name=\"confirm-passwd\"]').val(), $('input[name=\"confirm-passwd\"]').val()).toString();\n        \n                    \n                    var arePasswdsSame = (newPass === confirmPass ? true : false);\n                   \n                    if (arePasswdsSame){\n                        scope.send({payload:{currentpasswd:currentHashedPasswd, newpasswd:newHashedPasswd}});\n                    }\n                    else\n                    {   \n                      \n                        scope.send({payload:{currentpasswd:'N/A', newpasswd:'N/A'}});\n                    }\n                    */\n                    alert(\"changes saved successfully\");\n                    \n                \n            });\n       \n    })(scope);\n</script>\n<script src=\"https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js\"></script>\n</body>\n","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":258.0001220703125,"y":304.33343505859375,"wires":[["a2d3f146.f5444"]]},{"id":"509a0f20.68ae8","type":"ui_template","z":"76c001c4.620fa","group":"a0cd6d1c.bac54","name":"location header","order":8,"width":"15","height":"1","format":"\n<center><p style=\"padding:0.5em\"><b>Sensor location</b></p></center>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":211,"y":2851.0393867492676,"wires":[[]]},{"id":"1bdfad22.3b21a3","type":"ui_template","z":"76c001c4.620fa","group":"a0cd6d1c.bac54","name":"Linear graphs header","order":9,"width":"12","height":"1","format":"\n<center><p style=\"padding:0.5em\"><b>Linear graphs</b></p></center>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":233.0234375,"y":2893.0391426086426,"wires":[[]]},{"id":"b47830ae.86356","type":"ui_template","z":"76c001c4.620fa","group":"a0cd6d1c.bac54","name":"Gauges header","order":10,"width":"6","height":"1","format":"\n<center><p style=\"padding:0.5em\"><b>Gauges</b></p></center>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":212.0234375,"y":2932.0391426086426,"wires":[[]]},{"id":"83880704.c09748","type":"ui_template","z":"76c001c4.620fa","group":"a0cd6d1c.bac54","name":"Text data header","order":11,"width":"7","height":"1","format":"\n<center><p style=\"padding:0.5em\"><b>Metrics</b></p></center>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":223.02344512939453,"y":2972.0393867492676,"wires":[[]]},{"id":"b02f01af.8cb92","type":"mqtt in","z":"76c001c4.620fa","name":"","topic":"esp8266/loc_lat","qos":"0","datatype":"auto","broker":"cf985d77.656ae","x":101.2734375,"y":122.21875762939453,"wires":[["5b1eec61.3eea74"]]},{"id":"7decad17.848bb4","type":"mqtt in","z":"76c001c4.620fa","name":"","topic":"esp8266/loc_lng","qos":"0","datatype":"auto","broker":"6bc8166.488efe8","x":102.02345275878906,"y":184.5390625,"wires":[["5b1eec61.3eea74"]]},{"id":"5b1eec61.3eea74","type":"join","z":"76c001c4.620fa","name":"location data aggregator","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":361.2890625,"y":126.2109375,"wires":[["691c6489.76c47c"]]},{"id":"691c6489.76c47c","type":"function","z":"76c001c4.620fa","name":"Location Cordinates","func":"\nmsg.loc = {\n    lat: parseFloat(msg.payload[\"esp8266/loc_lat\"]),// -1.45, \n    lon: parseFloat(msg.payload[\"esp8266/loc_lng\"]),// 36.97\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":349.2890930175781,"y":181.6484375,"wires":[["a7fba11b.c9bea","2c8ad539.5bb96a","a91eb184.512e4"]]},{"id":"bd6794cc.c58138","type":"function","z":"76c001c4.620fa","name":"Africa's talking API","func":"const options = {\n    apiKey: 'YOUR_API_KEY',         // use your sandbox app API key for development in the test environment\n    username: 'YOUR_USERNAME',      // use 'sandbox' for development in the test environment\n};\nconst AfricasTalking = require('africastalking')(options);\n\n// Initialize a service e.g. SMS\nsms = africastalking.SMS\n\n// Use the service\nconst options_send = {\n    to: ['+254707649392', '+254733504348'],\n    message: \"Agrarian notfication Text message test\"\n}\n\n// Send message and capture the response or error\nsms.send(options_send)\n    .then( response => {\n        // console.log(response);\n        msg.payload = response;\n    })\n    .catch( error => {\n        //console.log(error);\n        msg.payload = error;\n    });","outputs":1,"noerr":0,"x":793.5,"y":2622,"wires":[[]]},{"id":"24da0c3c.f609d4","type":"link out","z":"f83f4bcb.c73878","name":"out link side menu - Summary Sensor Data Gauge","links":[],"x":730.5,"y":339,"wires":[]},{"id":"6cc15ac3.fdb9c4","type":"switch","z":"f83f4bcb.c73878","name":"settings router","property":"enabled","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":287.16668701171875,"y":335.8333330154419,"wires":[["a4040aac.f67d48","24da0c3c.f609d4"]]},{"id":"72f8ea41.125aa4","type":"link out","z":"f83f4bcb.c73878","name":"out link side menu - Summary Sensor Metrics Chart","links":["d7b67a1d.579c98"],"x":1047,"y":549,"wires":[]},{"id":"a4040aac.f67d48","type":"debug","z":"f83f4bcb.c73878","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"enabled","targetType":"msg","x":643,"y":228,"wires":[]},{"id":"8914548a.d0da38","type":"debug","z":"f83f4bcb.c73878","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"ui_control","targetType":"msg","x":613,"y":572,"wires":[]},{"id":"21fd3e1c.9d20d2","type":"switch","z":"f83f4bcb.c73878","name":"settings router","property":"ui_control","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":306,"y":464,"wires":[["8914548a.d0da38","10e52610.52556a"]]},{"id":"f4d7f320.96965","type":"link in","z":"76c001c4.620fa","name":"loction Map input link - settings","links":[],"x":1000.5,"y":123,"wires":[["a7fba11b.c9bea"]]},{"id":"dda3cc30.88ddc","type":"link in","z":"cedc12f9.07809","name":"input_sensor_metrics_firebase_db_link","links":[],"x":59.8570442199707,"y":203.95236206054688,"wires":[["6c3efce1.f4dfe4"]]},{"id":"6c3efce1.f4dfe4","type":"switch","z":"cedc12f9.07809","name":"payload router","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"esp8266/temperature","vt":"str"},{"t":"eq","v":"esp8266/humidity","vt":"str"},{"t":"eq","v":"esp8266/Soil","vt":"str"},{"t":"eq","v":"esp8266/atpressure","vt":"str"},{"t":"eq","v":"esp8266/alt","vt":"str"},{"t":"eq","v":"esp8266/ldr","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":219.74996948242188,"y":202.11904907226562,"wires":[["b24604ca.757188"],["b24604ca.757188"],["b24604ca.757188"],["b24604ca.757188"],["b24604ca.757188"],["b24604ca.757188"]]},{"id":"b24604ca.757188","type":"join","z":"cedc12f9.07809","name":"payload aggregator","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":499.9403762817383,"y":206.07143592834473,"wires":[["93e29164.de6ac"]]},{"id":"93e29164.de6ac","type":"function","z":"cedc12f9.07809","name":"process payload","func":"var r_payload = msg.payload;\nmsg.payload = {};\nfor (var key in r_payload) if(key.includes(\"esp8266/\")) msg.payload[key.replace(\"esp8266/\", \"\")] = r_payload[key];\nreturn msg;","outputs":1,"noerr":0,"x":732.3749389648438,"y":203.63768005371094,"wires":[[]]},{"id":"cbc46b84.bc45e8","type":"http in","z":"aed920f9.7df21","name":"change password endpoint","url":"/password","method":"post","upload":false,"swaggerDoc":"","x":274.28125,"y":488.140625,"wires":[["fcab1ff2.f782c","957b8e2f.26138"]]},{"id":"fcab1ff2.f782c","type":"function","z":"aed920f9.7df21","name":"check confirmation of password","func":"(msg.payload.user_password_new_1 != msg.payload.user_password_new_2 ? alert (\"passwords do not match\") : alert (\"password changed successfully\"));\nreturn msg;","outputs":1,"noerr":0,"x":637.2891845703125,"y":423.3984680175781,"wires":[[]]},{"id":"957b8e2f.26138","type":"debug","z":"aed920f9.7df21","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":613.28125,"y":490.3672180175781,"wires":[]},{"id":"e386a026.ef405","type":"link in","z":"76c001c4.620fa","name":"In soil gauge setting","links":["aeea58de.682798","d461b327.d0341"],"x":1265,"y":595.9999771118164,"wires":[["55887867.be8e58"]]},{"id":"24c3563c.50d08a","type":"link in","z":"76c001c4.620fa","name":"In light gauge setting","links":["9abea106.afbac","aeea58de.682798"],"x":1261,"y":646.9999771118164,"wires":[["9042abdf.9c7a38"]]},{"id":"a1431af7.a57578","type":"link out","z":"f83f4bcb.c73878","name":"out-alt gauge","links":["3dc4b360.bc88dc","d7b67a1d.579c98","845d1940.d3db88","3fe7a500.25b33c","1291427d.5261de"],"x":1047,"y":495,"wires":[]},{"id":"9abea106.afbac","type":"link out","z":"f83f4bcb.c73878","name":"out-lumin gauge","links":["24c3563c.50d08a","d7b67a1d.579c98"],"x":1039,"y":452,"wires":[]},{"id":"d461b327.d0341","type":"link out","z":"f83f4bcb.c73878","name":"out-soil gauge","links":["d7b67a1d.579c98","e386a026.ef405"],"x":1038,"y":406,"wires":[]},{"id":"10e52610.52556a","type":"switch","z":"f83f4bcb.c73878","name":"Gauge Setting Router","property":"ui_control.label","propertyType":"msg","rules":[{"t":"eq","v":"Soil Moisture Gauge","vt":"str"},{"t":"eq","v":"Luminosity Gauge","vt":"str"},{"t":"eq","v":"Altitude Gauge","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":594.5000305175781,"y":470,"wires":[["79c05fb5.2a3d5"],["4d3b19cd.e3c648"],["29f62d85.9909e2"],["dd83b18.1352e5"]]},{"id":"79c05fb5.2a3d5","type":"change","z":"f83f4bcb.c73878","name":"extract label ","rules":[{"t":"delete","p":"ui_control.label","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":909.5,"y":406,"wires":[["d461b327.d0341"]]},{"id":"4d3b19cd.e3c648","type":"change","z":"f83f4bcb.c73878","name":"extract label ","rules":[{"t":"delete","p":"ui_control.label","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":912,"y":453,"wires":[["9abea106.afbac"]]},{"id":"29f62d85.9909e2","type":"change","z":"f83f4bcb.c73878","name":"extract label ","rules":[{"t":"delete","p":"ui_control.label","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":913,"y":500,"wires":[["a1431af7.a57578"]]},{"id":"dd83b18.1352e5","type":"change","z":"f83f4bcb.c73878","name":"extract label ","rules":[{"t":"delete","p":"ui_control.label","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":911,"y":548,"wires":[["72f8ea41.125aa4"]]},{"id":"f8e0b0d2.7e5ff","type":"ui_template","z":"9e65a286.7712b","group":"b71d1476.2beaa8","name":"welcome header","order":1,"width":"40","height":"3","format":"  <head>\n        <!-- in index.html, in place of normalize -->\n        <link rel=\"stylesheet\" href=\"http://yui.yahooapis.com/pure/0.1.0/pure-min.css\">\n        <link rel=\"stylesheet\" href=\"http://weloveiconfonts.com/api/?family=fontawesome\">\n        <link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/icon?family=Material+Icons\">\n        <link href=\"//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css\" rel=\"stylesheet\" id=\"bootstrap-css\">\n        <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n  </head>\n<body>\n    <style>\n                       body{\n                           background-color:MediumSeaGreen;\n                       \n                       }\n                      .pure-menu {\n                            font-size:0.4em;\n                            font-weight: lighter;\n                            font-family:\"Andale Mono\", monospace;\n                        }\n                        .pure-menu.pure-menu-fixed {\n                            position: fixed;\n                        }\n                        .pure-menu.pure-menu-blackbg {\n                            background: #3cb371;\n                        }\n                        .pure-menu.pure-menu-blackbg .pure-menu-heading:hover {\n                            color: #efefef;\n                        }\n                        .pure-menu.pure-menu-blackbg a {\n                            color: #fff;\n                        }\n                        .pure-menu.pure-menu-blackbg a:hover {\n                            background: #666;\n                        }\n                        .pure-menu.pure-menu-blackbg .pure-menu-selected a {\n                            background: #7E45D3;\n                          \n                        }\n                        .pure-menu.pure-menu-blackbg .pure-menu-selected a:hover {\n                            color: #efefef;\n                        }\n                        h2{\n                            /*font-family:\"Andale Mono\", monospace;*/\n                            float: left;\n                            padding-left:1em;\n                        }\n                  \n                        \n                        //=== Pen styling, ignore\n                        body {\n                          background: #10192d;\n                          display: flex;\n                          min-height: 100vh;\n                          justify-content: center;\n                          align-content: center;\n                          align-items: center;\n                        }\n                        \n                    \n            </style>\n    \n     <nav class=\"pure-menu pure-menu-open pure-menu-horizontal\">\n            <!--\n            <a href=\"#\"><img src=\"https://i.ibb.co/vLVVynD/Agrarian-logo-horizontal.png\" alt=\"Agrarian-logo-horizontal\" border=\"0\" /></a>\n            -->\n            <a href=\"#\"><img src=\"https://i.ibb.co/2S7zdDX/Agrarian-Logo-h-2.png\" alt=\"Agrarian-Logo-h-2\" border=\"0\"></a>\n     </nav>\n  \n     </body>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":193.5,"y":188,"wires":[[]]},{"id":"66392a2c.255e04","type":"ui_template","z":"76c001c4.620fa","group":"a0cd6d1c.bac54","name":"Logo Menu Strip","order":1,"width":"0","height":"0","format":"  <head>\n        <!-- in index.html, in place of normalize \n        <link rel=\"stylesheet\" href=\"http://yui.yahooapis.com/pure/0.1.0/pure-min.css\">\n        <link rel=\"stylesheet\" href=\"http://weloveiconfonts.com/api/?family=fontawesome\">\n        <link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/icon?family=Material+Icons\">\n        <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css\">\n        <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n        -->\n        <!-- Bootstrap core CSS  -->\n        <link href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\" rel=\"stylesheet\">\n    </head>\n<body>\n    \n    <style>\n                       body{\n                           background-color:MediumSeaGreen;\n                       \n                       }\n                      .pure-menu {\n                            font-size:0.9em;\n                            font-weight: lighter;\n                            font-family:\"Andale Mono\", monospace;\n                        }\n                        .pure-menu.pure-menu-fixed {\n                            position: fixed;\n                        }\n                        .pure-menu.pure-menu-blackbg {\n                            background: #3cb371;\n                        }\n                        .pure-menu.pure-menu-blackbg .pure-menu-heading:hover {\n                            color: #efefef;\n                        }\n                        .pure-menu.pure-menu-blackbg a {\n                            color: #fff;\n                        }\n                        .pure-menu.pure-menu-blackbg a:hover {\n                            background: #666;\n                        }\n                        .pure-menu.pure-menu-blackbg .pure-menu-selected a {\n                            background: #7E45D3;\n                          \n                        }\n                        .pure-menu.pure-menu-blackbg .pure-menu-selected a:hover {\n                            color: #efefef;\n                        }\n                        h2{\n                            font-family:inherit;\n                            padding-left:1em;\n                            float: left;\n                   \n                        }\n                        #bell-notification{\n                             float: left;\n                            padding-right: 4em;\n                        }\n                        }\n                        #user-welcome{\n                            float: left;\n                            padding-right: 5em;\n                        }\n                      \n                        ul{\n                          float: right;\n                        }\n                    \n                        \n                      \n                        //=== Pen styling, ignore\n                        body {\n                          background: #10192d;\n                          display: flex;\n                          min-height: 100vh;\n                          justify-content: center;\n                          align-content: center;\n                          align-items: center;\n                        }\n                        \n                        .btn {\n                          display: inline-block;\n                          text-decoration: none;\n                          border-radius: 10px;\n                          //font-family: \"calibri\", Garamond, 'Comic Sans MS';\n                          padding: 1em;\n                        }\n                        a{\n                         float:left;\n                        }\n                        #header-items a {\n                            display: inline;\n                        }\n                        #header-items p {\n                            display: inline;\n                            padding-right:1em;\n                        }\n            </style>\n    \n     <nav class=\"pure-menu pure-menu-open pure-menu-horizontal\">\n            <!--\n            <a href=\"https://localhost/1880/ui\"><img src=\"https://i.ibb.co/vLVVynD/Agrarian-logo-horizontal.png\" alt=\"Agrarian-logo-horizontal\" border=\"0\" /></a>\n            -->\n            <a href=\"#\"><img src=\"https://i.ibb.co/QP9XwT5/Horizontal-dash-header-Logo-Old.png\" alt=\"Horizontal-dash-header-Logo-Old\" border=\"0\"></a>\n          \n            <ul style=\"padding:0.5em\" id=\"header-items\">\n            \n            <!--\n            <li class=\"pure-menu-selected\"><a class=\"btn btn-bubble fa fa-cog\" href=\"http://132.145.148.126:1880/ui/#!/2\"><b>  Settings</b></a></li>\n            <li class=\"pure-menu-selected\"><a class=\"btn btn-bubble fa fa-table\" href=\"#\"><b>  Table</b></a></li>\n            <li class=\"pure-menu-selected\"><a class=\"btn btn-bubble fa fa-refresh\" href=\"#\"><b>  Refresh</b></a></li> \n            -->\n            <a><i id=\"bell-notification\" class=\"fa fa-bell\"></i></a>\n            <p>Sensor Status: </p><p id=\"sensor_status\" style=\"color:green\"><strong>{{msg.payload || \"offline\"}}</strong></p>\n        \n            \n            <!--<p id=\"user-welcome\"> welcome {{msg.payload.user}} </p>-->\n            <!-- other items ... -->\n            </ul>\n    </nav>\n    \n     <h2>Dashboard</h2>\n     <script>\n         $(\"#sensor_status\").change(function(){\n             if(this.prop(\"value\") == \"Offline\"){ \n                 this.style(\"color\", \"red\"); \n             }\n             else\n             { \n                 this.style(\"color\", \"green\");\n             }\n         });\n     </script>\n      </body>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":209,"y":2814.0000104904175,"wires":[[]]},{"id":"d8824bc5.702378","type":"ui_template","z":"9e65a286.7712b","group":"b71d1476.2beaa8","name":"login/register tile","order":2,"width":"40","height":"25","format":"<head>\n   <meta name=\"google-signin-client_id\" content=\"833411832049-dkes473op5dqhh41leb8h515rh651frh.apps.googleusercontent.com.apps.googleusercontent.com\">\n  <link href=\"//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css\" rel=\"stylesheet\" id=\"bootstrap-css\">\n  <link href=\"https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css\" rel=\"stylesheet\" integrity=\"sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN\" crossorigin=\"anonymous\">\n  <script src=\"//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js\"></script>\n  <script src=\"//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js\"></script>\n \n   <style>\n         body{\n  width: 100%;\n  height: auto;\n  background: -webkit-linear-gradient(0deg, #FFFFFF 0%, #FFFFFF 100%);\n  font-family: \"Robato\",sans-serif;\n  font-size: 17px;\n}\n\n#logreg-forms{\n    width:412px;\n    margin:10vh auto;\n    background-color:#FFFFFF;\n    box-shadow: 0 7px 7px #FFFFFF, 0 12px 40px #FFFFFF;\n    border-radius:0.7em;\n    transition: all 0.3s cubic-bezier(.25,.8,.25,1);\n}\n\n#logreg-forms form {\n    width: 100%;\n    max-width: 410px;\n    padding: 15px;\n    margin: auto;\n}\n#logreg-forms .form-control {\n    position: relative;\n    box-sizing: border-box;\n    height: auto;\n    padding: 10px;\n    font-size: 16px;\n}\n#logreg-forms .form-control:focus { z-index: 2; }\n#logreg-forms .form-signin input[type=\"email\"] {\n    margin-bottom: -1px;\n    border-bottom-right-radius: 0;\n    border-bottom-left-radius: 0;\n}\n#logreg-forms .form-signin input[type=\"password\"] {\n    border-top-left-radius: 0;\n    border-top-right-radius: 0;\n}\n\n#logreg-forms .social-login{\n    width:390px;\n    margin:0 auto;\n    margin-bottom: 14px;\n}\n#logreg-forms .social-btn{\n    font-weight: 100;\n    color:white;\n    width:190px;\n    font-size: 0.9rem;\n}\n\n#logreg-forms a{\n    display: block;\n    padding-top:10px;\n    color:#fff;\n}\n\n#logreg-form .lines{\n    width:200px;\n    border:1px solid red;\n}\n\n\n#logreg-forms button[type=\"submit\"]{ margin-top:10px; }\n\n#logreg-forms .facebook-btn{  background-color:#3C589C; }\n\n#logreg-forms .google-btn{ background-color: #DF4B3B; }\n\n#logreg-forms .form-reset, #logreg-forms .form-signup{ display: none; }\n\n#logreg-forms .form-signup .social-btn{ width:210px; }\n\n#logreg-forms .form-signup input { margin-bottom: 2px;}\n\n#forgot-pswd {color:#04B431}\n\n\n.form-signup .social-login{\n    width:210px !important;\n    margin: 0 auto;\n}\n\n.submit{\n  background: -webkit-linear-gradient(0deg, #9AFE2E 0%, #04B404 100%);\n  border-radius: 25px;\n  color: #fff;\n}\n\n/* Mobile */\n\n@media screen and (max-width:500px){\n    #logreg-forms{\n        width:300px;\n        \n    }\n\n    #logreg-forms  .social-login{\n        width:200px;\n        margin:0 auto;\n        margin-bottom: 10px;\n    }\n    #logreg-forms  .social-btn{\n        font-size: 1.3rem;\n        font-weight: 100;\n        color:white;\n        width:200px;\n        height: 56px;\n\n    }\n    #logreg-forms .social-btn:nth-child(1){\n        margin-bottom: 5px;\n    }\n    #logreg-forms .social-btn span{\n        display: none;\n    }\n    #logreg-forms  .facebook-btn:after{\n        content:'Facebook';\n    }\n\n    #logreg-forms  .google-btn:after{\n        content:'Google+';\n    }\n\n}\n     </style>\n\n</head>\n<body>\n<div id=\"logreg-forms\">\n    \n        <!--  \n        This Logo is in login section\n        <center>\n            <a href=\"#\"><img src=\"https://i.ibb.co/yWBysg5/Agrarian-Logo-v-2.png\" alt=\"Agrarian-Logo-v-2\" border=\"0\"></a>\n        </center>\n        -->\n        <center>\n            <img src=\"https://i.ibb.co/yBWqJpM/Agrarian-h-new-logo.png\" alt=\"Agrarian-h-new-logo\" border=\"0\">\n        </center>\n        \n        <form class=\"form-signin\">\n            <!--<h1 class=\"h3 mb-3 font-weight-normal\" style=\"text-align: center\"> Sign in</h1>-->\n            <div class=\"social-login\">\n                <button class=\"btn facebook-btn social-btn\" id=\"facebook-signin\" type=\"button\"><span><i class=\"fa fa-facebook-f\"></i> Sign in with Facebook</span> </button>\n                <button class=\"btn google-btn social-btn\" id=\"google-signin\" type=\"button\"><span><i class=\"fa fa-google-g\"></i> Sign in with Google+</span> </button>\n            </div>\n            <p style=\"text-align:center\"> OR  </p>\n            <div class=\"input-group\">\n              <input type=\"email\" id=\"inputEmail\" class=\"form-control\" placeholder=\"Email address\" required=\"\" autofocus=\"\">\n            </div>\n\n            <div class=\"input-group\">\n              <input type=\"password\" id=\"inputPassword\" class=\"form-control\" placeholder=\"Password\" required=\"\">\n            </div>\n\n            <div class=\"input-group\">\n              <button class=\"btn btn-md btn-rounded btn-block form-control submit\" type=\"submit\" id=\"signin-btn\"><i class=\"fa fa-sign-in-alt\"></i> Sign in</button>\n            </div>\n\n            <a href=\"#\" id=\"forgot_pswd\" style=\"color:#04B45F\">Forgot password?</a>\n            <hr>\n            <!-- <p>Don't have an account!</p>  -->\n            <button class=\"btn btn-success btn-block\" type=\"button\" id=\"btn-signup\"><i class=\"fa fa-user-plus\"></i> Sign up New Account</button>\n            </form>\n\n            <form action=\"#\" class=\"form-reset\">\n                <input type=\"email\" id=\"resetEmail\" class=\"form-control\" placeholder=\"Email address\" required=\"\" autofocus=\"\">\n                <button class=\"btn btn-success btn-block\" id=\"passwd-reset\" type=\"submit\">Reset Password</button>\n                <a href=\"#\" id=\"cancel_reset\" style=\"color:green\"><i class=\"fa fa-angle-left\"></i> Back</a>\n            </form>\n\n            <form action=\"#\" class=\"form-signup\">\n                <div class=\"social-login\">\n                    <button class=\"btn facebook-btn social-btn\" id=\"facebook-signup\" type=\"button\"><span><i class=\"fa fa-facebook-f\"></i> Sign up with Facebook</span> </button>\n                  </div>\n                  <div class=\"social-login\">\n                    <button class=\"btn google-btn social-btn\" id=\"google-signup\" type=\"button\"><span><i class=\"fa fa-google-plus-g\"></i> Sign up with Google+</span> </button>\n                </div>\n\n                <p style=\"text-align:center\">OR</p>\n\n                <input type=\"text\" id=\"user-name\" class=\"form-control\" placeholder=\"Full name\" required=\"\" autofocus=\"\">\n                <input type=\"email\" id=\"user-email\" class=\"form-control\" placeholder=\"Email address\" required autofocus=\"\">\n                <input type=\"password\" id=\"user-pass\" class=\"form-control\" placeholder=\"Password\" required autofocus=\"\">\n                <input type=\"password\" id=\"user-repeatpass\" class=\"form-control\" placeholder=\"Confirm Password\" required autofocus=\"\">\n\n<div class=\"input-group\">\n  <button class=\"btn btn-md btn-block submit\" id=\"sign-up-btn\" type=\"submit\"><i class=\"fa fa-user-plus\"></i> Sign Up</button>\n</div>\n\n                <a href=\"#\" id=\"cancel_signup\" style=\"color:green\"><i class=\"fa fa-angle-left\"></i> Back</a>\n            </form>\n            <br>\n\n    </div>\n    <script src=\"https://apis.google.com/js/platform.js\" async defer></script>\n    <script>\n        (function(scope){\n \n                function toggleResetPswd(e){\n                    e.preventDefault();\n                    $('#logreg-forms .form-signin').toggle() // display:block or none\n                    $('#logreg-forms .form-reset').toggle() // display:block or none\n                }\n                \n                function toggleSignUp(e){\n                    e.preventDefault();\n                    $('#logreg-forms .form-signin').toggle(); // display:block or none\n                    $('#logreg-forms .form-signup').toggle(); // display:block or none\n                }\n                \n                function onGoogleSignin(){\n                    var profile = googleUser.getBasicProfile();\n                    scope.send({payload:{id:profile.getId(), name:profile.getName(), image_url:profile.getImageUrl(), email:getEmail()}});\n                }\n                \n         \n                $(()=>{\n                        // Login Register Form\n                        $('#logreg-forms #forgot_pswd').click(toggleResetPswd);\n                        $('#logreg-forms #cancel_reset').click(toggleResetPswd);\n                        $('#logreg-forms #btn-signup').click(toggleSignUp);\n                        $('#logreg-forms #cancel_signup').click(toggleSignUp);\n                        $('#logreg-forms #google-signin').click(onGoogleSignin);\n                        \n                        $('#logreg-forms #signin-btn').click(() => {\n                            \n                            scope.$watch('msg', function(msg){\n                                if(msg){\n                                if(msg.auth == \"success\"){ \n                                    scope.send({payload:\"\"}); \n                                }\n                                else \n                                {\n                                       $('#forgot_pswd').text(\"Username or Password incorrect !\");\n                                       $('#forgot_pswd').css(\"color\", \"red\");\n                                   \n                                }\n                                }\n                            });\n                            \n                            scope.send({payload:{signinMail:$('#inputEmail').val(), signinPass:$('#inputPassword').val()}});\n                                      \n                            });\n                       \n                        $('#logreg-forms #passwd-reset').click(() => {\n                            var resetMail = $('#resetEmail').val();\n                            scope.send({payload:{reset_passwd:resetMail}});\n                            alert('A new password has been sent to '+resetMail);\n                        });   \n                        \n                        $('#logreg-forms #sign-up-btn').click(() => {\n                            \n                            var usr_name = $('#user-name').val();\n                            var usr_email = $('#user-email').val();\n                            var usr_pass = $('#user-pass').val(); \n                            var usr_repeat_pass = $('#user-repeat-pass').val();\n                            \n                            \n                        });\n                                \n                    \n                });\n            \n     })(scope);    \n    </script>\n     \n</body>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":201.5,"y":263,"wires":[["e2106f34.55ae2","804eb03.34b0e5"]]},{"id":"b61b895c.748c78","type":"e-mail","z":"9e65a286.7712b","server":"localhost","port":"25","secure":false,"tls":false,"name":"","dname":"Send Email to recipient","x":910.5,"y":549,"wires":[]},{"id":"e2106f34.55ae2","type":"switch","z":"9e65a286.7712b","name":"Reset Email Router","property":"payload.reset_passwd","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":473.5,"y":397,"wires":[["b82baac0.cdadd8"]]},{"id":"b82baac0.cdadd8","type":"function","z":"9e65a286.7712b","name":"prepare email message","func":"\nfunction makeid(length) {\n   var result           = '';\n   var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';\n   var charactersLength = characters.length;\n   for ( var i = 0; i < length; i++ ) {\n      result += characters.charAt(Math.floor(Math.random() * charactersLength));\n   }\n   return result;\n}\n\nvar e_footer = `\nAgrarian\ncustomer care | Agrarian ltd | support\nphone:  0707649392\nmobile:  +254 070 764 9392\nsite:  agrarian.ac.ke\nemail:  info@agrarian.ac.ke\nskype:  @agrarian\naddress:  Daystar Athi River\n`;\n\nmsg.to = msg.payload.reset_passwd;\nmsg.from = \"info@agrarian.ac.ke\";\nmsg.topic = \"PASSWORD RESET\"\nmsg.payload = \"Your New Password will be \" + makeid(8) + \". Please remember to change to a password of your liking. \\n\\nRegards\\n\\n\" + e_footer; \n\nreturn msg;","outputs":1,"noerr":0,"x":540.5,"y":548,"wires":[["b61b895c.748c78","585321fa.99c94"]]},{"id":"804eb03.34b0e5","type":"switch","z":"9e65a286.7712b","name":"login Email Router","property":"payload.signinMail","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":472,"y":315,"wires":[["2ab9161a.4175ca","dec03708.5d4ff8","143eef6b.1cd5c1"]]},{"id":"585321fa.99c94","type":"debug","z":"9e65a286.7712b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":886.5,"y":407,"wires":[]},{"id":"8588163e.85d678","type":"ui_template","z":"708a55b6.cddeac","group":"10ae1ca3.cf6ef3","name":"texting scope - template","order":6,"width":"0","height":"0","format":"<!DOCTYPE html>\n<html>\n<head>\n\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n  <meta name=\"description\" content=\"\">\n  <meta name=\"author\" content=\"\">\n\n  <title>Settings</title>\n\n  <!-- Bootstrap core CSS -->\n  <link href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\" rel=\"stylesheet\">\n  \n  \n  <!-- Custom styles for this template -->\n  <style>\n    /*!\n     * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)\n     * Copyright 2013-2019 Start Bootstrap\n     * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)\n     */\n    body {\n      overflow-x: hidden;\n    }\n    \n    #sidebar-wrapper {\n      min-height: 100vh;\n      margin-left: -15rem;\n      -webkit-transition: margin .25s ease-out;\n      -moz-transition: margin .25s ease-out;\n      -o-transition: margin .25s ease-out;\n      transition: margin .25s ease-out;\n    }\n    \n    #sidebar-wrapper .sidebar-heading {\n      padding: 0.875rem 1.25rem;\n      font-size: 1.2rem;\n    }\n    \n    #sidebar-wrapper .list-group {\n      width: 15rem;\n    }\n    \n    #page-content-wrapper {\n      min-width: 100vw;\n    }\n    \n    #wrapper.toggled #sidebar-wrapper {\n      margin-left: 0;\n    }\n    \n    @media (min-width: 768px) {\n      #sidebar-wrapper {\n        margin-left: 0;\n      }\n    \n      #page-content-wrapper {\n        min-width: 0;\n        width: 100%;\n      }\n    \n      #wrapper.toggled #sidebar-wrapper {\n        margin-left: -15rem;\n      }\n    }\n  </style>\n</head>\n\n<body>\n\n      <div class=\"container-fluid\" id=\"container\">\n        <h4 class=\"mt-4\" id=\"menu-header\">The technology</h4>\n        <!-- settings-container -->\n        <div id=\"settings-content\">\n        <p>Uses MQTT protocol for machine  to machine connection and wifi for connectivity. The device employs several sensors </p>\n        <p>Dial *483*2513# to interact with the Agrarian recommendation service</p>\n        </div>  \n        <br>\n        <h4 class=\"mt-4\" id=\"menu-header\">The team</h4>\n        <!-- settings-container -->\n        <div id=\"settings-content\">\n        <p>Developed by techcloud team.</p>\n        </div>  \n        <br>\n        <h4 class=\"mt-4\" id=\"menu-header\">Contact us</h4>\n        <!-- settings-container -->\n        <div id=\"settings-content\">\n        <p>Tel +254 707 649 392</p>\n        <p>Mail eromtush@gmail.com</p>\n        </div>  \n     \n    </div>\n\n\n  <!-- Bootstrap core JavaScript -->\n  <script src=\"vendor/jquery/jquery.min.js\"></script>\n  <script src=\"vendor/bootstrap/js/bootstrap.bundle.min.js\"></script>\n\n  <!-- Menu Toggle Script -->\n  <script>\n  (function (scope){\n     \n       \n    })(scope);\n  </script>\n  <script src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js\"></script>\n  <script src=\"https://code.jquery.com/jquery-1.12.4.min.js\"></script>\n  <script src=\"http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n  <script src=\"freshslider.1.0.js\"></script>\n  <script src=\"https://pastebin.com/embed_js/UHd5mrX7\"></script>\n </body>\n\n</html>\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":491,"y":925,"wires":[[]]},{"id":"18792564.1b286b","type":"comment","z":"708a55b6.cddeac","name":"horizontal Menu","info":"","x":536.5,"y":222,"wires":[]},{"id":"dbe1ac33.a014f","type":"ui_button","z":"76c001c4.620fa","name":"Dashboard","group":"a0cd6d1c.bac54","order":2,"width":"4","height":"1","passthru":false,"label":"Dashboard","tooltip":"","color":"","bgcolor":"{{ msg.payload.bgcolor }}","icon":"dashboard","payload":"{\"tab\":\"Dashboard\"};{\"bgcolor\":\"\"}","payloadType":"str","topic":"","x":271,"y":3907,"wires":[["bcce433c.74edc"]]},{"id":"f13c6a33.0c87d8","type":"ui_button","z":"76c001c4.620fa","name":"User Profile","group":"a0cd6d1c.bac54","order":3,"width":"4","height":"1","passthru":false,"label":"User Profile","tooltip":"","color":"","bgcolor":"{{ msg.payload.bgcolor }}","icon":"account_circle","payload":"{\"tab\":\"2\"};{\"bgcolor\":\"\"}","payloadType":"str","topic":"","x":287.5,"y":4000,"wires":[["b69eac7a.c6f36"]]},{"id":"fd4d93af.23346","type":"ui_button","z":"76c001c4.620fa","name":"Settings","group":"a0cd6d1c.bac54","order":4,"width":"4","height":"1","passthru":false,"label":"Options","tooltip":"Allows you to set preferences such as themes...","color":"","bgcolor":"{{ msg.payload.bgcolor }}","icon":"settings","payload":"{\"tab\":\"Settings\"};{\"bgcolor\":\"\"}","payloadType":"str","topic":"","x":264.5,"y":4109,"wires":[["1a94c4a7.f20f0b"]]},{"id":"db5b49ae.7a1118","type":"ui_button","z":"76c001c4.620fa","name":"About","group":"a0cd6d1c.bac54","order":5,"width":"4","height":"1","passthru":false,"label":"About","tooltip":"","color":"","bgcolor":"{{ msg.payload.bgcolor }}","icon":"about","payload":"{\"tab\":\"About\"};{\"bgcolor\":\"\"}","payloadType":"str","topic":"","x":275.5,"y":4253,"wires":[["3a155c1d.e2f374"]]},{"id":"de7619f0.e32b78","type":"ui_button","z":"76c001c4.620fa","name":"Logout","group":"a0cd6d1c.bac54","order":6,"width":"4","height":"1","passthru":false,"label":"logout","tooltip":"","color":"","bgcolor":"{{ msg.payload.bgcolor }}","icon":"fa-sign-out","payload":"{\"tab\":\"Sign/signup\"};{\"bgcolor\":\"\"}","payloadType":"str","topic":"","x":254.5,"y":4390,"wires":[["b168793b.1c19c8"]]},{"id":"6de688d2.29cdc8","type":"ui_ui_control","z":"76c001c4.620fa","name":"","x":993,"y":4135,"wires":[[]]},{"id":"7fcd6f99.3b816","type":"comment","z":"76c001c4.620fa","name":"horizontal Menu","info":"","x":208.5,"y":3854,"wires":[]},{"id":"7325a1fb.c0569","type":"comment","z":"f83f4bcb.c73878","name":"horizontal Menu","info":"","x":215.5,"y":696,"wires":[]},{"id":"5a7626ba.eb6d78","type":"comment","z":"aed920f9.7df21","name":"horizontal Menu","info":"","x":270.5,"y":589,"wires":[]},{"id":"b73c4d17.8ea75","type":"ui_text","z":"76c001c4.620fa","group":"a0cd6d1c.bac54","order":7,"width":"20","height":"1","name":"horizontal menu spacer","label":"{{msg.greetings}}","format":"{{msg.payload}}","layout":"row-left","x":565.5,"y":4511,"wires":[]},{"id":"2ab9161a.4175ca","type":"function","z":"9e65a286.7712b","name":"Authentication","func":"if(msg.payload.signinMail == \"admin@jkwe.com\" && msg.payload.signinPass == \"microTUSH77\" ){\n    msg.payload = {\"tab\":\"Dashboard\"};\n    msg.auth = \"success\";\n}\nelse\n{   \n    msg.payload = {\"tab\":\"0\"};\n    msg.auth = \"faliure\";\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":716,"y":314,"wires":[["773cf8aa.70ea28","d8824bc5.702378"]]},{"id":"773cf8aa.70ea28","type":"ui_ui_control","z":"9e65a286.7712b","name":"","x":975,"y":313,"wires":[[]]},{"id":"33e7e8dd.7a8308","type":"link in","z":"76c001c4.620fa","name":"in_horizontal_space_usrname","links":["dec03708.5d4ff8","143eef6b.1cd5c1"],"x":129.5,"y":4509.000022888184,"wires":[["54ed09e.d5352f8"]]},{"id":"dec03708.5d4ff8","type":"link out","z":"9e65a286.7712b","name":"out_horizontal_space_usrname","links":["33e7e8dd.7a8308"],"x":665.5,"y":248,"wires":[]},{"id":"54ed09e.d5352f8","type":"function","z":"76c001c4.620fa","name":"extract username","func":"msg.payload = `\n<div>\n    <p style=\"color:green; padding-left=\"0.1em;\">\n` + (typeof msg.payload.signinMail == 'string' ? msg.payload.signinMail.split('@')[0] : \"Unknown_User\") + `\n    </p>\n</div>\n`;\n\nmsg.greetings = `\n<strong>Welcome</strong>\n`;\n\nreturn msg;","outputs":1,"noerr":0,"x":295.5,"y":4511,"wires":[["b73c4d17.8ea75"]]},{"id":"ed4a1802.537028","type":"catch","z":"cedc12f9.07809","name":"firestore  catch errors","scope":[],"uncaught":false,"x":987.0000076293945,"y":287.00000190734863,"wires":[[]]},{"id":"d2356481.fe9678","type":"debug","z":"cedc12f9.07809","name":"update_user_credit","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1000.0000305175781,"y":399,"wires":[]},{"id":"d17c1179.8b53a","type":"mongodb out","z":"cedc12f9.07809","mongodb":"59ba609f.66765","name":"update_user_creds","collection":"user_creds","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1017.5000305175781,"y":453.0001220703125,"wires":[]},{"id":"e5480a56.7cfe98","type":"link in","z":"cedc12f9.07809","name":"input_user_data_mongodb_link","links":["143eef6b.1cd5c1"],"x":679.0000305175781,"y":412,"wires":[["d17c1179.8b53a","d2356481.fe9678"]]},{"id":"143eef6b.1cd5c1","type":"link out","z":"9e65a286.7712b","name":"out_user_data_db_link","links":["33e7e8dd.7a8308","e5480a56.7cfe98","a8aa6f3b.4f7bd"],"x":665,"y":194,"wires":[]},{"id":"43ecdb02.565de4","type":"catch","z":"cedc12f9.07809","name":"Catch Update User Cred errors","scope":["95c399f8.c7da88","d17c1179.8b53a"],"uncaught":false,"x":1050.5000305175781,"y":611.9999694824219,"wires":[[]]},{"id":"95c399f8.c7da88","type":"mongodb in","z":"cedc12f9.07809","mongodb":"59ba609f.66765","name":"Check Values","collection":"user_info","operation":"find","x":976.2893371582031,"y":1074.6329956054688,"wires":[["c3f24f1a.2fa67"]]},{"id":"c3f24f1a.2fa67","type":"debug","z":"cedc12f9.07809","name":"check_values","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1223.2736740112305,"y":1019.3672370910645,"wires":[]},{"id":"91c93ea1.10b49","type":"inject","z":"cedc12f9.07809","name":"","topic":"","payload":"{\"signinMail\" : \"admin@jkwe.com\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":767.2893371582031,"y":1037.4611206054688,"wires":[["95c399f8.c7da88"]]},{"id":"db853038.40097","type":"link out","z":"76c001c4.620fa","name":"UserProf_btn_out_dash","links":["21b90497.3c741c","31c0229.77b2bde","c5900c2c.4c4d6","c94e0c60.8db92","f98527b4.1e8bb8"],"x":749.5,"y":4001,"wires":[]},{"id":"f98527b4.1e8bb8","type":"link in","z":"76c001c4.620fa","name":"dash_btn_in","links":["db853038.40097","5cb94737.ee65a8","20f2dd6.f743822","6a3c4703.00dd18","d31ff75c.215a88"],"x":135.5,"y":3908,"wires":[["dbe1ac33.a014f"]]},{"id":"6bee1524.dfd78c","type":"link in","z":"76c001c4.620fa","name":"UserProf_btn_in","links":["d1cd3562.3d5768","5cb94737.ee65a8","20f2dd6.f743822","6a3c4703.00dd18"],"x":137,"y":4004,"wires":[["f13c6a33.0c87d8"]]},{"id":"31c0229.77b2bde","type":"link in","z":"76c001c4.620fa","name":"Settings_btn_in","links":["db853038.40097","d1cd3562.3d5768","20f2dd6.f743822","6a3c4703.00dd18","d31ff75c.215a88"],"x":131,"y":4108,"wires":[["fd4d93af.23346"]]},{"id":"21b90497.3c741c","type":"link in","z":"76c001c4.620fa","name":"About_btn_in","links":["db853038.40097","d1cd3562.3d5768","5cb94737.ee65a8","6a3c4703.00dd18","d31ff75c.215a88"],"x":132,"y":4257,"wires":[["db5b49ae.7a1118"]]},{"id":"c94e0c60.8db92","type":"link in","z":"76c001c4.620fa","name":"logout_btn_in","links":["db853038.40097","d1cd3562.3d5768","5cb94737.ee65a8","20f2dd6.f743822","d31ff75c.215a88"],"x":128,"y":4390,"wires":[["de7619f0.e32b78"]]},{"id":"d1cd3562.3d5768","type":"link out","z":"76c001c4.620fa","name":"dashboard_btn_out_dash","links":["21b90497.3c741c","31c0229.77b2bde","6bee1524.dfd78c","c94e0c60.8db92"],"x":747,"y":3920,"wires":[]},{"id":"5cb94737.ee65a8","type":"link out","z":"76c001c4.620fa","name":"setting_btn_out_dash","links":["21b90497.3c741c","6bee1524.dfd78c","92c2646a.774bf8","c94e0c60.8db92","f98527b4.1e8bb8"],"x":750.5,"y":4116,"wires":[]},{"id":"20f2dd6.f743822","type":"link out","z":"76c001c4.620fa","name":"about_btn_out_dash","links":["31c0229.77b2bde","6bee1524.dfd78c","bfc560a0.4a195","c94e0c60.8db92","f98527b4.1e8bb8"],"x":758.5,"y":4242,"wires":[]},{"id":"6a3c4703.00dd18","type":"link out","z":"76c001c4.620fa","name":"logout_btn_out_dash","links":["21b90497.3c741c","31c0229.77b2bde","6bee1524.dfd78c","f98527b4.1e8bb8"],"x":749.5,"y":4351,"wires":[]},{"id":"cabd6ffd.a295a","type":"split","z":"a3cee45d.ae7d98","name":"payload spliter","splt":";","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"payload","x":200,"y":92,"wires":[["f9c392f8.c9bc7"]]},{"id":"f9c392f8.c9bc7","type":"switch","z":"a3cee45d.ae7d98","name":"msg_btn_router","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"tab","vt":"str"},{"t":"cont","v":"bgcolor","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":414,"y":91,"wires":[["ceb1e80.1f0ad18"],["720eeb0e.da2b44"]]},{"id":"ceb1e80.1f0ad18","type":"json","z":"a3cee45d.ae7d98","name":"Navigation","property":"payload","action":"obj","pretty":true,"x":624,"y":81,"wires":[[]]},{"id":"720eeb0e.da2b44","type":"json","z":"a3cee45d.ae7d98","name":"Styling","property":"payload","action":"obj","pretty":true,"x":581,"y":154,"wires":[["b673a82f.0f55d8"]]},{"id":"b673a82f.0f55d8","type":"change","z":"a3cee45d.ae7d98","name":"reset button styling","rules":[{"t":"set","p":"payload.bgcolor","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":879.5,"y":153,"wires":[[]]},{"id":"bcce433c.74edc","type":"subflow:a3cee45d.ae7d98","z":"76c001c4.620fa","name":"","env":[],"x":512.5,"y":3910.5,"wires":[["6de688d2.29cdc8"],["d1cd3562.3d5768"],["dbe1ac33.a014f"]]},{"id":"b69eac7a.c6f36","type":"subflow:a3cee45d.ae7d98","z":"76c001c4.620fa","name":"","env":[],"x":523,"y":3998,"wires":[["6de688d2.29cdc8"],["db853038.40097"],["f13c6a33.0c87d8"]]},{"id":"1a94c4a7.f20f0b","type":"subflow:a3cee45d.ae7d98","z":"76c001c4.620fa","name":"","env":[],"x":525,"y":4106,"wires":[["6de688d2.29cdc8"],["5cb94737.ee65a8"],["fd4d93af.23346"]]},{"id":"3a155c1d.e2f374","type":"subflow:a3cee45d.ae7d98","z":"76c001c4.620fa","name":"","env":[],"x":520,"y":4236,"wires":[["6de688d2.29cdc8"],["20f2dd6.f743822"],["db5b49ae.7a1118"]]},{"id":"b168793b.1c19c8","type":"subflow:a3cee45d.ae7d98","z":"76c001c4.620fa","name":"","env":[],"x":511,"y":4354,"wires":[["6de688d2.29cdc8"],["6a3c4703.00dd18"],["de7619f0.e32b78"]]},{"id":"851bd7cc.ad54a8","type":"ui_button","z":"f83f4bcb.c73878","name":"Dashboard","group":"db2824df.708138","order":2,"width":"4","height":"1","passthru":false,"label":"Dashboard","tooltip":"","color":"","bgcolor":"{{ msg.payload.bgcolor }}","icon":"dashboard","payload":"{\"tab\":\"Dashboard\"};{\"bgcolor\":\"\"}","payloadType":"str","topic":"","x":259,"y":775,"wires":[["b76fc078.ffa09"]]},{"id":"b9f8c4a8.893c38","type":"ui_button","z":"f83f4bcb.c73878","name":"User Profile","group":"db2824df.708138","order":3,"width":"4","height":"1","passthru":false,"label":"User Profile","tooltip":"","color":"","bgcolor":"{{ msg.payload.bgcolor }}","icon":"account_circle","payload":"{\"tab\":\"2\"};{\"bgcolor\":\"\"}","payloadType":"str","topic":"","x":272.5,"y":869,"wires":[["c59f5128.ead33"]]},{"id":"fb70f98f.2c7868","type":"ui_button","z":"f83f4bcb.c73878","name":"Settings","group":"db2824df.708138","order":4,"width":"4","height":"1","passthru":false,"label":"Options","tooltip":"","color":"","bgcolor":"{{ msg.payload.bgcolor }}","icon":"settings","payload":"{\"tab\":\"Settings\"};{\"bgcolor\":\"\"}","payloadType":"str","topic":"","x":252.5,"y":977,"wires":[["fc22751d.a99788"]]},{"id":"5920fa37.f8abd4","type":"ui_button","z":"f83f4bcb.c73878","name":"About","group":"db2824df.708138","order":5,"width":"4","height":"1","passthru":false,"label":"About","tooltip":"","color":"","bgcolor":"{{ msg.payload.bgcolor }}","icon":"about","payload":"{\"tab\":\"About\"};{\"bgcolor\":\"\"}","payloadType":"str","topic":"","x":248.5,"y":1109,"wires":[["b2ee6716.f3d118"]]},{"id":"efe17e9b.7276b","type":"ui_button","z":"f83f4bcb.c73878","name":"Logout","group":"db2824df.708138","order":6,"width":"4","height":"1","passthru":false,"label":"logout","tooltip":"","color":"","bgcolor":"{{ msg.payload.bgcolor }}","icon":"fa-sign-out","payload":"{\"tab\":\"Sign/signup\"};{\"bgcolor\":\"\"}","payloadType":"str","topic":"","x":242.5,"y":1258,"wires":[["c86bab0d.86d0e8"]]},{"id":"7baac79b.5a8608","type":"ui_ui_control","z":"f83f4bcb.c73878","name":"","x":1152,"y":1080,"wires":[[]]},{"id":"1c1e1111.8fa63f","type":"link out","z":"f83f4bcb.c73878","name":"UserProf_btn_out_set","links":["92c2646a.774bf8","be941a4.228d8e8","cd58eaa9.19aef8","ef7b4311.85405"],"x":729.5000419616699,"y":866.0000457763672,"wires":[]},{"id":"ef7b4311.85405","type":"link in","z":"f83f4bcb.c73878","name":"dash_btn_in","links":["1c1e1111.8fa63f","e6a6da68.8a3198","6d9c8d2a.8aa064","e6a880db.3e7bb","d31ff75c.215a88"],"x":118.5,"y":776.0000438690186,"wires":[["851bd7cc.ad54a8"]]},{"id":"48bc73be.29cb5c","type":"link in","z":"f83f4bcb.c73878","name":"UserProf_btn_in","links":["1fc635b3.d0356a","e6a6da68.8a3198","6d9c8d2a.8aa064","e6a880db.3e7bb"],"x":127.00000047683716,"y":870.0001287460327,"wires":[["b9f8c4a8.893c38"]]},{"id":"92c2646a.774bf8","type":"link in","z":"f83f4bcb.c73878","name":"Settings_btn_in","links":["1c1e1111.8fa63f","1fc635b3.d0356a","6d9c8d2a.8aa064","e6a880db.3e7bb","d31ff75c.215a88","5cb94737.ee65a8"],"x":127.00000047683716,"y":977.0002126693726,"wires":[["fb70f98f.2c7868"]]},{"id":"be941a4.228d8e8","type":"link in","z":"f83f4bcb.c73878","name":"About_btn_in","links":["1c1e1111.8fa63f","1fc635b3.d0356a","e6a6da68.8a3198","e6a880db.3e7bb","d31ff75c.215a88"],"x":100,"y":1163,"wires":[["5920fa37.f8abd4"]]},{"id":"cd58eaa9.19aef8","type":"link in","z":"f83f4bcb.c73878","name":"logout_btn_in","links":["1c1e1111.8fa63f","1fc635b3.d0356a","e6a6da68.8a3198","6d9c8d2a.8aa064","d31ff75c.215a88"],"x":114,"y":1277,"wires":[["efe17e9b.7276b"]]},{"id":"1fc635b3.d0356a","type":"link out","z":"f83f4bcb.c73878","name":"dashboard_btn_out_set","links":["48bc73be.29cb5c","92c2646a.774bf8","be941a4.228d8e8","cd58eaa9.19aef8"],"x":728.0000419616699,"y":776.0000429153442,"wires":[]},{"id":"e6a6da68.8a3198","type":"link out","z":"f83f4bcb.c73878","name":"setting_btn_out_set","links":["48bc73be.29cb5c","be941a4.228d8e8","cd58eaa9.19aef8","ef7b4311.85405"],"x":740.5000419616699,"y":977.0000495910645,"wires":[]},{"id":"6d9c8d2a.8aa064","type":"link out","z":"f83f4bcb.c73878","name":"about_btn_out_set","links":["48bc73be.29cb5c","92c2646a.774bf8","cd58eaa9.19aef8","ef7b4311.85405"],"x":746.5,"y":1110,"wires":[]},{"id":"e6a880db.3e7bb","type":"link out","z":"f83f4bcb.c73878","name":"logout_btn_out_set","links":["48bc73be.29cb5c","92c2646a.774bf8","be941a4.228d8e8","ef7b4311.85405"],"x":747.5,"y":1234,"wires":[]},{"id":"b76fc078.ffa09","type":"subflow:a3cee45d.ae7d98","z":"f83f4bcb.c73878","name":"","env":[],"x":500.5,"y":772.5000419616699,"wires":[["7baac79b.5a8608"],["1fc635b3.d0356a"],["851bd7cc.ad54a8"]]},{"id":"c59f5128.ead33","type":"subflow:a3cee45d.ae7d98","z":"f83f4bcb.c73878","name":"","env":[],"x":511,"y":866,"wires":[["7baac79b.5a8608"],["1c1e1111.8fa63f"],["b9f8c4a8.893c38"]]},{"id":"fc22751d.a99788","type":"subflow:a3cee45d.ae7d98","z":"f83f4bcb.c73878","name":"","env":[],"x":512.0000038146973,"y":977.0000495910645,"wires":[["7baac79b.5a8608"],["e6a6da68.8a3198"],["fb70f98f.2c7868"]]},{"id":"b2ee6716.f3d118","type":"subflow:a3cee45d.ae7d98","z":"f83f4bcb.c73878","name":"","env":[],"x":491,"y":1104,"wires":[["7baac79b.5a8608"],["6d9c8d2a.8aa064"],["5920fa37.f8abd4"]]},{"id":"c86bab0d.86d0e8","type":"subflow:a3cee45d.ae7d98","z":"f83f4bcb.c73878","name":"","env":[],"x":495,"y":1233,"wires":[["7baac79b.5a8608"],["e6a880db.3e7bb"],["efe17e9b.7276b"]]},{"id":"2d74a777.6111c8","type":"ui_button","z":"aed920f9.7df21","name":"Dashboard","group":"fc3b5794.1a3d88","order":2,"width":"4","height":"1","passthru":false,"label":"Dashboard","tooltip":"","color":"","bgcolor":"{{ msg.payload.bgcolor }}","icon":"dashboard","payload":"{\"tab\":\"Dashboard\"};{\"bgcolor\":\"\"}","payloadType":"str","topic":"","x":318,"y":690,"wires":[["d124c75d.252d48"]]},{"id":"511e53ce.13d19c","type":"ui_button","z":"aed920f9.7df21","name":"User Profile","group":"fc3b5794.1a3d88","order":3,"width":"4","height":"1","passthru":false,"label":"User Profile","tooltip":"","color":"","bgcolor":"{{ msg.payload.bgcolor }}","icon":"account_circle","payload":"{\"tab\":\"2\"};{\"bgcolor\":\"\"}","payloadType":"str","topic":"","x":318.5,"y":780,"wires":[["c826f44a.715008"]]},{"id":"35e29293.dacd7e","type":"ui_button","z":"aed920f9.7df21","name":"Settings","group":"fc3b5794.1a3d88","order":4,"width":"4","height":"1","passthru":false,"label":"Options","tooltip":"","color":"","bgcolor":"{{ msg.payload.bgcolor }}","icon":"settings","payload":"{\"tab\":\"Settings\"};{\"bgcolor\":\"\"}","payloadType":"str","topic":"","x":292.5,"y":889,"wires":[["70d79ad4.3a7344"]]},{"id":"8dfb05d2.81f2e8","type":"ui_button","z":"aed920f9.7df21","name":"About","group":"fc3b5794.1a3d88","order":5,"width":"4","height":"1","passthru":false,"label":"About","tooltip":"","color":"","bgcolor":"{{ msg.payload.bgcolor }}","icon":"about","payload":"{\"tab\":\"About\"};{\"bgcolor\":\"\"}","payloadType":"str","topic":"","x":310.5,"y":1040,"wires":[["b623e01d.ef81e"]]},{"id":"f9af1e83.73fcb","type":"ui_button","z":"aed920f9.7df21","name":"Logout","group":"fc3b5794.1a3d88","order":6,"width":"4","height":"1","passthru":false,"label":"logout","tooltip":"","color":"","bgcolor":"{{ msg.payload.bgcolor }}","icon":"fa-sign-out","payload":"{\"tab\":\"Sign/signup\"};{\"bgcolor\":\"\"}","payloadType":"str","topic":"","x":306.5,"y":1169,"wires":[["f1c4f46e.7016e8"]]},{"id":"1483b0c2.9a9f4f","type":"ui_ui_control","z":"aed920f9.7df21","name":"","x":989,"y":953,"wires":[[]]},{"id":"8c9f5ec3.da6cc","type":"link out","z":"aed920f9.7df21","name":"UserProf_btn_out_UserProf","links":["5f07d58e.d7e76c","a282459f.8c8898","a885fa64.7c5778","d0b0edb5.9dfdd"],"x":776.5,"y":784,"wires":[]},{"id":"5f07d58e.d7e76c","type":"link in","z":"aed920f9.7df21","name":"dash_btn_in","links":["8c9f5ec3.da6cc","6115b8ed.c26dc8","43412fcb.7d755","3c1efe3d.58d142","d31ff75c.215a88"],"x":151.5,"y":732,"wires":[["2d74a777.6111c8"]]},{"id":"c5900c2c.4c4d6","type":"link in","z":"aed920f9.7df21","name":"UserProf_btn_in","links":["c7349f6a.44e83","6115b8ed.c26dc8","43412fcb.7d755","3c1efe3d.58d142","db853038.40097"],"x":147,"y":829,"wires":[["511e53ce.13d19c"]]},{"id":"a885fa64.7c5778","type":"link in","z":"aed920f9.7df21","name":"Settings_btn_in","links":["8c9f5ec3.da6cc","c7349f6a.44e83","43412fcb.7d755","3c1efe3d.58d142","d31ff75c.215a88"],"x":146,"y":917,"wires":[["35e29293.dacd7e"]]},{"id":"a282459f.8c8898","type":"link in","z":"aed920f9.7df21","name":"About_btn_in","links":["8c9f5ec3.da6cc","c7349f6a.44e83","6115b8ed.c26dc8","3c1efe3d.58d142","d31ff75c.215a88"],"x":143,"y":1077,"wires":[["8dfb05d2.81f2e8"]]},{"id":"d0b0edb5.9dfdd","type":"link in","z":"aed920f9.7df21","name":"logout_btn_in","links":["8c9f5ec3.da6cc","c7349f6a.44e83","6115b8ed.c26dc8","43412fcb.7d755","d31ff75c.215a88"],"x":147,"y":1184,"wires":[["f9af1e83.73fcb"]]},{"id":"c7349f6a.44e83","type":"link out","z":"aed920f9.7df21","name":"dashboard_btn_out_UserProf","links":["a282459f.8c8898","a885fa64.7c5778","c5900c2c.4c4d6","d0b0edb5.9dfdd"],"x":767.0000057220459,"y":692.0000047683716,"wires":[]},{"id":"6115b8ed.c26dc8","type":"link out","z":"aed920f9.7df21","name":"setting_btn_out_UserProf","links":["5f07d58e.d7e76c","a282459f.8c8898","c5900c2c.4c4d6","d0b0edb5.9dfdd"],"x":778.5,"y":893,"wires":[]},{"id":"43412fcb.7d755","type":"link out","z":"aed920f9.7df21","name":"about_btn_out_UserProf","links":["5f07d58e.d7e76c","a885fa64.7c5778","c5900c2c.4c4d6","d0b0edb5.9dfdd"],"x":786.5,"y":1022,"wires":[]},{"id":"3c1efe3d.58d142","type":"link out","z":"aed920f9.7df21","name":"logout_btn_out_UserProf","links":["5f07d58e.d7e76c","a282459f.8c8898","a885fa64.7c5778","c5900c2c.4c4d6"],"x":788.5,"y":1150,"wires":[]},{"id":"d124c75d.252d48","type":"subflow:a3cee45d.ae7d98","z":"aed920f9.7df21","name":"","env":[],"x":540.5,"y":690.5,"wires":[["1483b0c2.9a9f4f"],["c7349f6a.44e83"],["2d74a777.6111c8"]]},{"id":"c826f44a.715008","type":"subflow:a3cee45d.ae7d98","z":"aed920f9.7df21","name":"","env":[],"x":551,"y":778,"wires":[["1483b0c2.9a9f4f"],["8c9f5ec3.da6cc"],["511e53ce.13d19c"]]},{"id":"70d79ad4.3a7344","type":"subflow:a3cee45d.ae7d98","z":"aed920f9.7df21","name":"","env":[],"x":545,"y":884,"wires":[["1483b0c2.9a9f4f"],["6115b8ed.c26dc8"],["35e29293.dacd7e"]]},{"id":"b623e01d.ef81e","type":"subflow:a3cee45d.ae7d98","z":"aed920f9.7df21","name":"","env":[],"x":535,"y":1023,"wires":[["1483b0c2.9a9f4f"],["43412fcb.7d755"],["8dfb05d2.81f2e8"]]},{"id":"f1c4f46e.7016e8","type":"subflow:a3cee45d.ae7d98","z":"aed920f9.7df21","name":"","env":[],"x":538,"y":1161,"wires":[["1483b0c2.9a9f4f"],["3c1efe3d.58d142"],["f9af1e83.73fcb"]]},{"id":"16c94e43.11a302","type":"ui_button","z":"708a55b6.cddeac","name":"Dashboard","group":"10ae1ca3.cf6ef3","order":2,"width":"4","height":"1","passthru":false,"label":"Dashboard","tooltip":"","color":"","bgcolor":"{{ msg.payload.bgcolor }}","icon":"dashboard","payload":"{\"tab\":\"Dashboard\"};{\"bgcolor\":\"\"}","payloadType":"str","topic":"","x":557,"y":303,"wires":[["10cb8e83.400eb1"]]},{"id":"1f8f1a69.553ff6","type":"ui_button","z":"708a55b6.cddeac","name":"User Profile","group":"10ae1ca3.cf6ef3","order":3,"width":"4","height":"1","passthru":false,"label":"User Profile","tooltip":"","color":"","bgcolor":"{{ msg.payload.bgcolor }}","icon":"account_circle","payload":"{\"tab\":\"2\"};{\"bgcolor\":\"\"}","payloadType":"str","topic":"","x":573.5,"y":396,"wires":[["dcccff36.4ffac"]]},{"id":"e93c41c1.0ae65","type":"ui_button","z":"708a55b6.cddeac","name":"Settings","group":"10ae1ca3.cf6ef3","order":4,"width":"4","height":"1","passthru":false,"label":"Options","tooltip":"","color":"","bgcolor":"{{ msg.payload.bgcolor }}","icon":"settings","payload":"{\"tab\":\"Settings\"};{\"bgcolor\":\"\"}","payloadType":"str","topic":"","x":550.5,"y":505,"wires":[["8711a696.a65078"]]},{"id":"86be2ce0.935a2","type":"ui_button","z":"708a55b6.cddeac","name":"About","group":"10ae1ca3.cf6ef3","order":5,"width":"4","height":"1","passthru":false,"label":"About","tooltip":"","color":"","bgcolor":"{{ msg.payload.bgcolor }}","icon":"about","payload":"{\"tab\":\"About\"};{\"bgcolor\":\"\"}","payloadType":"str","topic":"","x":546.5,"y":637,"wires":[["90bc0997.323fe8"]]},{"id":"7ebcf222.fe94cc","type":"ui_button","z":"708a55b6.cddeac","name":"Logout","group":"10ae1ca3.cf6ef3","order":6,"width":"4","height":"1","passthru":false,"label":"logout","tooltip":"","color":"","bgcolor":"{{ msg.payload.bgcolor }}","icon":"fa-sign-out","payload":"{\"tab\":\"Sign/signup\"};{\"bgcolor\":\"\"}","payloadType":"str","topic":"","x":540.5,"y":786,"wires":[["c23ed5ab.64a3d8"]]},{"id":"43e0af78.803aa","type":"ui_ui_control","z":"708a55b6.cddeac","name":"","x":1450,"y":608,"wires":[[]]},{"id":"f7248994.fa7068","type":"link out","z":"708a55b6.cddeac","name":"UserProf_btn_out_abt","links":["1d2456b.2aa15a9","bfc560a0.4a195","e78595dc.3fed68","f0f27f51.7459c"],"x":1033.5,"y":388,"wires":[]},{"id":"1d2456b.2aa15a9","type":"link in","z":"708a55b6.cddeac","name":"dash_btn_in","links":["f7248994.fa7068","8e540516.e1d368","6f2fafb.6a5fb5","571131c0.1802d","d31ff75c.215a88"],"x":399.5,"y":345,"wires":[["16c94e43.11a302"]]},{"id":"8446dfe.5d7082","type":"link in","z":"708a55b6.cddeac","name":"UserProf_btn_in","links":["f59e6b75.5d07d8","8e540516.e1d368","6f2fafb.6a5fb5","571131c0.1802d"],"x":405,"y":429,"wires":[["1f8f1a69.553ff6"]]},{"id":"e78595dc.3fed68","type":"link in","z":"708a55b6.cddeac","name":"Settings_btn_in","links":["f7248994.fa7068","f59e6b75.5d07d8","6f2fafb.6a5fb5","571131c0.1802d","d31ff75c.215a88"],"x":408,"y":574,"wires":[["e93c41c1.0ae65"]]},{"id":"bfc560a0.4a195","type":"link in","z":"708a55b6.cddeac","name":"About_btn_in","links":["f7248994.fa7068","f59e6b75.5d07d8","8e540516.e1d368","571131c0.1802d","d31ff75c.215a88","20f2dd6.f743822"],"x":398,"y":691,"wires":[["86be2ce0.935a2"]]},{"id":"f0f27f51.7459c","type":"link in","z":"708a55b6.cddeac","name":"logout_btn_in","links":["f7248994.fa7068","f59e6b75.5d07d8","8e540516.e1d368","6f2fafb.6a5fb5","d31ff75c.215a88"],"x":412,"y":805,"wires":[["7ebcf222.fe94cc"]]},{"id":"f59e6b75.5d07d8","type":"link out","z":"708a55b6.cddeac","name":"dashboard_btn_out_abt","links":["8446dfe.5d7082","bfc560a0.4a195","e78595dc.3fed68","f0f27f51.7459c"],"x":1033,"y":316,"wires":[]},{"id":"8e540516.e1d368","type":"link out","z":"708a55b6.cddeac","name":"setting_btn_out_abt","links":["1d2456b.2aa15a9","8446dfe.5d7082","bfc560a0.4a195","f0f27f51.7459c"],"x":1033.5,"y":512,"wires":[]},{"id":"6f2fafb.6a5fb5","type":"link out","z":"708a55b6.cddeac","name":"about_btn_out_abt","links":["1d2456b.2aa15a9","8446dfe.5d7082","e78595dc.3fed68","f0f27f51.7459c"],"x":1044.5,"y":638,"wires":[]},{"id":"571131c0.1802d","type":"link out","z":"708a55b6.cddeac","name":"logout_btn_out_abt","links":["1d2456b.2aa15a9","8446dfe.5d7082","bfc560a0.4a195","e78595dc.3fed68"],"x":1043.5,"y":777,"wires":[]},{"id":"10cb8e83.400eb1","type":"subflow:a3cee45d.ae7d98","z":"708a55b6.cddeac","name":"","env":[],"x":798.5,"y":306.5,"wires":[["43e0af78.803aa"],["f59e6b75.5d07d8"],["16c94e43.11a302"]]},{"id":"dcccff36.4ffac","type":"subflow:a3cee45d.ae7d98","z":"708a55b6.cddeac","name":"","env":[],"x":809,"y":394,"wires":[["43e0af78.803aa"],["f7248994.fa7068"],["1f8f1a69.553ff6"]]},{"id":"8711a696.a65078","type":"subflow:a3cee45d.ae7d98","z":"708a55b6.cddeac","name":"","env":[],"x":796,"y":502,"wires":[["43e0af78.803aa"],["8e540516.e1d368"],["e93c41c1.0ae65"]]},{"id":"90bc0997.323fe8","type":"subflow:a3cee45d.ae7d98","z":"708a55b6.cddeac","name":"","env":[],"x":789,"y":632,"wires":[["43e0af78.803aa"],["6f2fafb.6a5fb5"],["86be2ce0.935a2"]]},{"id":"c23ed5ab.64a3d8","type":"subflow:a3cee45d.ae7d98","z":"708a55b6.cddeac","name":"","env":[],"x":796,"y":777,"wires":[["43e0af78.803aa"],["571131c0.1802d"],["7ebcf222.fe94cc"]]},{"id":"cc9d8f2d.3ce16","type":"ui_colour_picker","z":"f83f4bcb.c73878","name":"","label":"color picker","group":"db2824df.708138","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":true,"showHue":true,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":8,"width":"20","height":"1","passthru":true,"topic":"","x":530,"y":694.0000610351562,"wires":[[]]},{"id":"dbd46189.2d5e","type":"debug","z":"76c001c4.620fa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":942.28125,"y":322.765625,"wires":[]},{"id":"8176911d.7a3fc","type":"debug","z":"55049053.8c13","name":"Confirm percentiles","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1472.0235137939453,"y":844.0393171310425,"wires":[]},{"id":"d4dea998.02dd48","type":"function","z":"76c001c4.620fa","name":"Convert payload to Float","func":"msg.payload = parseFloat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":462.28123474121094,"y":1912.8126220703125,"wires":[["2decd711.166378"]]},{"id":"b290dfd5.e6c6f","type":"link in","z":"55049053.8c13","name":" Summary Gauge input - Payload Soil","links":["60ecb650.a8a1f8"],"x":202.02343940734863,"y":591.0391502380371,"wires":[["8ad52360.78fe8"]]},{"id":"48640ccd.8c9644","type":"link in","z":"55049053.8c13","name":" Summary Gauge input - Payload temp","links":["c2ac012f.91663"],"x":203.02343940734863,"y":653.0390737056732,"wires":[["3dba0c43.f2ef74"]]},{"id":"5558b4fd.eb5cbc","type":"link in","z":"55049053.8c13","name":" Summary Gauge input - Payload Light","links":["ae8c17c8.cea2a8"],"x":204.0234375,"y":785.0390625,"wires":[["d9c27819.5962a8","fe956f79.8d037"]]},{"id":"c2ac012f.91663","type":"link out","z":"76c001c4.620fa","name":" Summary Gauge output - Payload Temp","links":["48640ccd.8c9644","5599eec5.ffc29","a8aa6f3b.4f7bd"],"x":665.0000057220459,"y":1690.0391836166382,"wires":[]},{"id":"ae8c17c8.cea2a8","type":"link out","z":"76c001c4.620fa","name":" Summary Gauge output - Payload ldr","links":["5558b4fd.eb5cbc","5599eec5.ffc29","a8aa6f3b.4f7bd"],"x":572.0234375,"y":1403.0390625,"wires":[]},{"id":"60ecb650.a8a1f8","type":"link out","z":"76c001c4.620fa","name":" Summary Gauge output - Payload Soil","links":["5599eec5.ffc29","a8aa6f3b.4f7bd","b290dfd5.e6c6f"],"x":608.0234375,"y":888.0390625,"wires":[]},{"id":"4aa4ceeb.3eb87","type":"function","z":"76c001c4.620fa","name":"Convert payload to Float","func":"msg.payload = parseFloat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":422,"y":1692.0390739440918,"wires":[["c2ac012f.91663"]]},{"id":"9efe00ac.01131","type":"function","z":"76c001c4.620fa","name":"Convert payload to Float","func":"msg.payload = parseFloat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":411.0234375,"y":1403.0390625,"wires":[["ae8c17c8.cea2a8"]]},{"id":"86bfd8e.c569928","type":"function","z":"76c001c4.620fa","name":"Convert payload to Float","func":"msg.payload = parseFloat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":431.0234375,"y":888.0390625,"wires":[["60ecb650.a8a1f8"]]},{"id":"a38f5f90.7ea6e","type":"link out","z":"76c001c4.620fa","name":"Neo 6M GPS Output","links":["7ea94313.1ca0cc"],"x":814.5,"y":346,"wires":[]},{"id":"7ea94313.1ca0cc","type":"link in","z":"55049053.8c13","name":"Neo 6M GPS Input","links":["a38f5f90.7ea6e"],"x":178.5,"y":1176,"wires":[["1b693dae.722482","5ff409de.408048"]]},{"id":"1b693dae.722482","type":"switch","z":"55049053.8c13","name":"Sea level alt - switch","property":"payload.main.sea_level","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":359.5,"y":1142,"wires":[["98fbf229.2bb08"]]},{"id":"5ff409de.408048","type":"switch","z":"55049053.8c13","name":"atm pressure -switch","property":"payload.main.pressure","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":359,"y":1223,"wires":[["8a7d32b4.2b3d2"]]},{"id":"845d1940.d3db88","type":"link in","z":"76c001c4.620fa","name":"In at pressure text","links":["a1431af7.a57578","aeea58de.682798","cac746cf.5b8d08"],"x":1343.3333263397217,"y":941.1666584014893,"wires":[["94fdfd1.bb0ee"]]},{"id":"3fe7a500.25b33c","type":"link in","z":"76c001c4.620fa","name":"In at pressure line","links":["a1431af7.a57578","aeea58de.682798","cac746cf.5b8d08"],"x":1326.5001640319824,"y":1086.166669845581,"wires":[["f68ffb7a.7bb558"]]},{"id":"1291427d.5261de","type":"link in","z":"76c001c4.620fa","name":"In alt text","links":["a1431af7.a57578","aeea58de.682798","7c450c9.e35edf4"],"x":1266,"y":786,"wires":[["82c9a62e.888c58"]]},{"id":"7c450c9.e35edf4","type":"link out","z":"55049053.8c13","name":"sea_level alt Out - switch","links":["1291427d.5261de","3dc4b360.bc88dc","668cd368.8c041c"],"x":1051.5,"y":1142,"wires":[]},{"id":"cac746cf.5b8d08","type":"link out","z":"55049053.8c13","name":"at_pressure alt Out - switch","links":["3fe7a500.25b33c","668cd368.8c041c","845d1940.d3db88","a8aa6f3b.4f7bd"],"x":1050,"y":1220,"wires":[]},{"id":"b7d47a74.b329e8","type":"function","z":"55049053.8c13","name":"Add topic alt","func":"msg.payload = parseFloat((msg.payload / 100));\nmsg.topic = \"esp8266/alt\";\nreturn msg;","outputs":1,"noerr":0,"x":838.5,"y":1141,"wires":[["7c450c9.e35edf4","8dc73e3a.ad23c"]]},{"id":"cceccd56.0a18c","type":"function","z":"55049053.8c13","name":"Add topic atpressure","func":"msg.payload = parseFloat((msg.payload / 100));\nmsg.topic = \"esp8266/atpressure\";\nreturn msg;","outputs":1,"noerr":0,"x":871,"y":1222,"wires":[["cac746cf.5b8d08","e49cbe87.80d1"]]},{"id":"fe956f79.8d037","type":"debug","z":"55049053.8c13","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":798.5,"y":1005,"wires":[]},{"id":"98fbf229.2bb08","type":"change","z":"55049053.8c13","name":"extract payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.sea_level","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":599.5,"y":1143,"wires":[["b7d47a74.b329e8"]]},{"id":"8a7d32b4.2b3d2","type":"change","z":"55049053.8c13","name":"extract payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":602,"y":1223,"wires":[["cceccd56.0a18c"]]},{"id":"3a48d2eb.5c75fe","type":"link out","z":"76c001c4.620fa","name":"output topic router","links":["668cd368.8c041c"],"x":1050.5,"y":477,"wires":[]},{"id":"4e283dfa.773c44","type":"mqtt in","z":"76c001c4.620fa","name":"esp8266/status","topic":"esp8266/status","qos":"2","datatype":"auto","broker":"6bc8166.488efe8","x":203.5,"y":2755,"wires":[["66392a2c.255e04"]]},{"id":"3258c5d0.c416aa","type":"rbe","z":"76c001c4.620fa","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":300.00000381469727,"y":548.0000305175781,"wires":[["5bd70a5e.a65b04"]]},{"id":"27fc9640.07a52a","type":"rbe","z":"76c001c4.620fa","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":307,"y":596.0000610351562,"wires":[["82c9a62e.888c58"]]},{"id":"8f1acb67.82cf08","type":"rbe","z":"76c001c4.620fa","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":901,"y":407,"wires":[["3a48d2eb.5c75fe"]]},{"id":"b1d0150b.1c34c8","type":"rbe","z":"76c001c4.620fa","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":903.0000076293945,"y":445.00001335144043,"wires":[["3a48d2eb.5c75fe"]]},{"id":"c13f01bc.b52bf","type":"rbe","z":"76c001c4.620fa","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":898.0000076293945,"y":528.9999828338623,"wires":[["3a48d2eb.5c75fe"]]},{"id":"8ac50e.61e9eaf","type":"rbe","z":"76c001c4.620fa","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":905.0000076293945,"y":485.00001335144043,"wires":[["3a48d2eb.5c75fe"]]},{"id":"a38d3d01.4fc11","type":"rbe","z":"76c001c4.620fa","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":380,"y":783,"wires":[["55887867.be8e58"]]},{"id":"baa76611.867df8","type":"rbe","z":"76c001c4.620fa","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":332,"y":1026,"wires":[["ede3dacb.8cf3d8"]]},{"id":"e53b0a4a.3b0ad8","type":"rbe","z":"76c001c4.620fa","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":351,"y":1304,"wires":[["9042abdf.9c7a38"]]},{"id":"2fd87e07.4bdf52","type":"rbe","z":"76c001c4.620fa","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":349,"y":1358,"wires":[["ff904461.a19228"]]},{"id":"5010c7e.daac838","type":"rbe","z":"76c001c4.620fa","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":376,"y":831,"wires":[["22a3680c.480b88"]]},{"id":"b2016811.ec6378","type":"rbe","z":"76c001c4.620fa","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":372.00000381469727,"y":1073.0000429153442,"wires":[["7b69dbd3.bfb9c4"]]},{"id":"686ed957.980968","type":"rbe","z":"76c001c4.620fa","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":360.00000381469727,"y":1603.0000114440918,"wires":[["9196eb03.019468","3f5f2919.28f716"]]},{"id":"29999f5f.10c72","type":"rbe","z":"76c001c4.620fa","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":363.00000190734863,"y":1637.0000114440918,"wires":[["620e4fb3.c11c1"]]},{"id":"951c0495.b3d388","type":"rbe","z":"76c001c4.620fa","name":"","func":"rbe","gap":"","start":"","inout":"in","property":"payload","x":359,"y":1545,"wires":[["6d458efe.feed1"]]},{"id":"27d8f35f.32634c","type":"rbe","z":"76c001c4.620fa","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":400,"y":1859,"wires":[["91142f50.915a1"]]},{"id":"24c7d1f3.3ee5be","type":"rbe","z":"76c001c4.620fa","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":402,"y":1805,"wires":[["75b081cf.5453c"]]},{"id":"fc4db22.a77bd5","type":"mongodb out","z":"cedc12f9.07809","mongodb":"59ba609f.66765","name":"save_sensor_data","collection":"sensor_data","payonly":true,"upsert":true,"multi":true,"operation":"insert","x":1094.999984741211,"y":666.0000200271606,"wires":[]},{"id":"a8aa6f3b.4f7bd","type":"link in","z":"cedc12f9.07809","name":"input_sensor_data_mongodb_link","links":["143eef6b.1cd5c1","2decd711.166378","60ecb650.a8a1f8","788a1a82.931164","ae8c17c8.cea2a8","c2ac012f.91663","ceca9733.2a3b08","cac746cf.5b8d08"],"x":389.00000286102295,"y":772.0000257492065,"wires":[["c03b7abf.c6e388"]]},{"id":"bd2a1669.8168f8","type":"catch","z":"cedc12f9.07809","name":"Catch save sensor_data errors","scope":["95c399f8.c7da88","fc4db22.a77bd5"],"uncaught":false,"x":628,"y":931,"wires":[[]]},{"id":"97c0a932.b92cf8","type":"debug","z":"cedc12f9.07809","name":"input_sensor_data_db_link","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1122.0000915527344,"y":833,"wires":[]},{"id":"788a1a82.931164","type":"link out","z":"76c001c4.620fa","name":" Summary Gauge output - Payload atpressure","links":["37ba674.4f31c18","5599eec5.ffc29","a8aa6f3b.4f7bd"],"x":576.9999942779541,"y":1138.0000734329224,"wires":[]},{"id":"83d80608.08d958","type":"function","z":"76c001c4.620fa","name":"Convert payload to Float","func":"msg.payload = parseFloat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":388.99999618530273,"y":1136.0000133514404,"wires":[["788a1a82.931164"]]},{"id":"ceca9733.2a3b08","type":"link out","z":"76c001c4.620fa","name":" Summary Gauge output - Payload alt","links":["5599eec5.ffc29","a8aa6f3b.4f7bd","c5cf18e0.a0d6c"],"x":528,"y":644.0000610351562,"wires":[]},{"id":"21bf65ae.1a965a","type":"function","z":"76c001c4.620fa","name":"Convert payload to Float","func":"msg.payload = parseFloat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":352,"y":641.0000610351562,"wires":[["ceca9733.2a3b08"]]},{"id":"a3d1c3ae.c21bc","type":"rbe","z":"76c001c4.620fa","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":611.6666259765625,"y":267.66668701171875,"wires":[["506aafb2.38109","b06dafe3.62dd2"]]},{"id":"b06dafe3.62dd2","type":"debug","z":"76c001c4.620fa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":672.3333129882812,"y":371.6666564941406,"wires":[]},{"id":"87018e6c.98163","type":"debug","z":"55049053.8c13","name":"Confirm payloads","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":953.1666870117188,"y":513,"wires":[]},{"id":"a91eb184.512e4","type":"debug","z":"76c001c4.620fa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"loc","targetType":"msg","x":660.833251953125,"y":128.33331298828125,"wires":[]},{"id":"60419285.a52afc","type":"ui_template","z":"76c001c4.620fa","group":"a0cd6d1c.bac54","name":"Summary Gauge Chart header","order":26,"width":"14","height":"1","format":"<center><p style=\"padding:0.5em\"><b>Sensor Data Percentiles</b></p></center>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":237,"y":2450,"wires":[[]]},{"id":"3f5d03d.7bee0fc","type":"ui_template","z":"76c001c4.620fa","group":"a0cd6d1c.bac54","name":"Weather on Site header","order":27,"width":"13","height":"1","format":"<center><p style=\"padding:0.5em\"><b>Weather On Site</b></p></center>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":219,"y":2502,"wires":[[]]},{"id":"91ae2f52.17bc3","type":"comment","z":"76c001c4.620fa","name":"Line and Gauges Headers","info":"","x":217,"y":2350,"wires":[]},{"id":"ad4bb124.ba3bd8","type":"comment","z":"76c001c4.620fa","name":"Display Logged in User","info":"","x":220.5,"y":4467,"wires":[]},{"id":"d00a25e4.588098","type":"inject","z":"ae45472f.d03358","name":"coordinates injector debug","topic":"","payload":"{\"loc\":{\"lon\":\"36.97\", \"lat\":\"-1.46\"}}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":188.5,"y":136.5,"wires":[["af44d92f.08d5d8"]]},{"id":"af44d92f.08d5d8","type":"json","z":"ae45472f.d03358","name":"json debug","property":"payload","action":"obj","pretty":true,"x":217,"y":178.5,"wires":[["ebc191d5.e3aba8"]]},{"id":"ebc191d5.e3aba8","type":"function","z":"ae45472f.d03358","name":"convert debug","func":"msg.loc = {\n    lat:parseFloat(msg.payload.loc.lat),\n    lon:parseFloat(msg.payload.loc.lon)\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":215,"y":229,"wires":[["ee2e6813.e40ab"]]},{"id":"547bfdef.56fd44","type":"comment","z":"ae45472f.d03358","name":"Test for map","info":"","x":188,"y":88.5,"wires":[]},{"id":"ee2e6813.e40ab","type":"link out","z":"ae45472f.d03358","name":"map test output","links":["80fe8edd.bb1038"],"x":483.5,"y":227,"wires":[]},{"id":"80fe8edd.bb1038","type":"link in","z":"76c001c4.620fa","name":"map test input","links":["ee2e6813.e40ab"],"x":316.5,"y":38.5,"wires":[["a7fba11b.c9bea","2c8ad539.5bb96a"]]},{"id":"7f7dfe12.1829e","type":"comment","z":"ae45472f.d03358","name":"Fake data Injector","info":"","x":153.5,"y":449.5,"wires":[]},{"id":"befdf2c6.b66d7","type":"inject","z":"ae45472f.d03358","name":"Inject fake Data","topic":"","payload":"{\"alt\":{\"topic\":\"esp8266/alt\",\"payload\":\"0.0\"},\"soil\":{\"topic\":\"esp8266/Soil\",\"payload\":\"0.0\"},\"atpressure\":{\"topic\":\"esp8266/atpressure\",\"payload\":\"0.0\"},\"ldr\":{\"topic\":\"esp8266/ldr\",\"payload\":\"0.0\"},\"temp\":{\"topic\":\"esp8266/temperature\",\"payload\":\"0.0\"},\"humidity\":{\"topic\":\"esp8266/humidity\",\"payload\":\"0.0\"}}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":171.5,"y":501.5,"wires":[["8b644743.ff1de8"]]},{"id":"b7f41e48.5405b","type":"function","z":"ae45472f.d03358","name":"infill data","func":"function randomNumber(min, max) {  \n    return (Math.random() * (max - min) + min).toFixed(2); \n}  \n\nmsg.payload = {\n    alt : {topic:msg.payload.alt.topic, payload:randomNumber(0, 8.5)},\n    soil : {topic:msg.payload.soil.topic, payload:randomNumber(0, 11)},\n    atp : {topic:msg.payload.atpressure.topic, payload:randomNumber(10, 21.8)},\n    ldr : {topic:msg.payload.ldr.topic, payload:randomNumber(0, 25.5)},\n    temp : {topic:msg.payload.temp.topic, payload:randomNumber(21.3, 29.7)},\n    humd : {topic:msg.payload.humidity.topic, payload:randomNumber(35.7, 60.7)}\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":146.5,"y":631.5,"wires":[["a099f7ea.2b284"]]},{"id":"8b644743.ff1de8","type":"json","z":"ae45472f.d03358","name":"json2jsobject","property":"payload","action":"obj","pretty":false,"x":173.5,"y":571.5,"wires":[["b7f41e48.5405b"]]},{"id":"a099f7ea.2b284","type":"split","z":"ae45472f.d03358","name":"Split infill data","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":164.5,"y":691,"wires":[["ffacdac1.7a30f8"]]},{"id":"77c2c649.626728","type":"switch","z":"ae45472f.d03358","name":"route infill data","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"esp8266/alt","vt":"str"},{"t":"eq","v":"esp8266/Soil","vt":"str"},{"t":"eq","v":"esp8266/atpressure","vt":"str"},{"t":"eq","v":"esp8266/ldr","vt":"str"},{"t":"eq","v":"esp8266/temperature","vt":"str"},{"t":"eq","v":"esp8266/humidity","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":591.5,"y":652.5,"wires":[["20575f.5b97c8a2"],["2a42d76b.7bb6c"],["5b3843af.df4a94"],["67740cce.326574"],["e6aaf1b2.5637f"],["142a1162.80b297"]]},{"id":"20575f.5b97c8a2","type":"link out","z":"ae45472f.d03358","name":"test alt - output link","links":["4dfcef88.015e08"],"x":806.5,"y":548,"wires":[]},{"id":"2a42d76b.7bb6c","type":"link out","z":"ae45472f.d03358","name":"test soil - output link","links":["ee657fcc.d6d34"],"x":805.5,"y":595.5,"wires":[]},{"id":"5b3843af.df4a94","type":"link out","z":"ae45472f.d03358","name":"test atp - output link","links":["f689e4e7.31df88"],"x":806.5,"y":650.5,"wires":[]},{"id":"e6aaf1b2.5637f","type":"link out","z":"ae45472f.d03358","name":"test temp - output link","links":["5509eb1a.6032fc"],"x":815.5,"y":748.5,"wires":[]},{"id":"142a1162.80b297","type":"link out","z":"ae45472f.d03358","name":"test humd - output link","links":["3199982d.ecb9e8"],"x":814.5,"y":808.5,"wires":[]},{"id":"8d47eed4.7c252","type":"comment","z":"76c001c4.620fa","name":"Altitude test node","info":"","x":87.5,"y":491,"wires":[]},{"id":"28781311.649754","type":"comment","z":"76c001c4.620fa","name":"Soil test node","info":"","x":89.5,"y":762,"wires":[]},{"id":"76d8f5bc.0d21ac","type":"comment","z":"76c001c4.620fa","name":"Atpressure test node","info":"","x":115,"y":998.5,"wires":[]},{"id":"a8212845.42fe08","type":"comment","z":"76c001c4.620fa","name":"Ldr test node","info":"","x":104.5,"y":1252.5,"wires":[]},{"id":"6fc1a1c3.f94fa","type":"comment","z":"76c001c4.620fa","name":"Temp test node","info":"","x":93,"y":1499.5,"wires":[]},{"id":"a805a910.5e77e8","type":"comment","z":"76c001c4.620fa","name":"Humidity test node","info":"","x":105,"y":1748.5,"wires":[]},{"id":"3199982d.ecb9e8","type":"link in","z":"76c001c4.620fa","name":"test humd  - input link","links":["142a1162.80b297"],"x":67.5,"y":1780.5,"wires":[["24c7d1f3.3ee5be","27d8f35f.32634c","d4dea998.02dd48"]]},{"id":"5509eb1a.6032fc","type":"link in","z":"76c001c4.620fa","name":"test temp  - input link","links":["e6aaf1b2.5637f"],"x":78.5,"y":1533.5,"wires":[["951c0495.b3d388","29999f5f.10c72","686ed957.980968","4aa4ceeb.3eb87","c13f01bc.b52bf"]]},{"id":"463a08e.8170f78","type":"link in","z":"76c001c4.620fa","name":"test ldr  - input link","links":["67740cce.326574"],"x":99.5,"y":1290,"wires":[["e53b0a4a.3b0ad8","2fd87e07.4bdf52","9efe00ac.01131","8ac50e.61e9eaf"]]},{"id":"f689e4e7.31df88","type":"link in","z":"76c001c4.620fa","name":"test atp  - input link","links":["5b3843af.df4a94"],"x":90.5,"y":1031,"wires":[["baa76611.867df8","b2016811.ec6378","83d80608.08d958"]]},{"id":"ee657fcc.d6d34","type":"link in","z":"76c001c4.620fa","name":"test soil  - input link","links":["2a42d76b.7bb6c"],"x":68.5,"y":802,"wires":[["a38d3d01.4fc11","5010c7e.daac838","86bfd8e.c569928","b1d0150b.1c34c8"]]},{"id":"4dfcef88.015e08","type":"link in","z":"76c001c4.620fa","name":"test alt - input link","links":["20575f.5b97c8a2"],"x":83.5,"y":531.5,"wires":[["3258c5d0.c416aa","27fc9640.07a52a","21bf65ae.1a965a","8f1acb67.82cf08"]]},{"id":"3f5f2919.28f716","type":"debug","z":"76c001c4.620fa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":545.5,"y":1582,"wires":[]},{"id":"ffacdac1.7a30f8","type":"function","z":"ae45472f.d03358","name":" payload adapter","func":"msg = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":403.5,"y":656.5,"wires":[["77c2c649.626728"]]},{"id":"67740cce.326574","type":"link out","z":"ae45472f.d03358","name":"test ldr - output link","links":["463a08e.8170f78"],"x":809.5,"y":702.5,"wires":[]},{"id":"c5cf18e0.a0d6c","type":"link in","z":"55049053.8c13","name":" Summary Gauge input - Payload altitude","links":["ceca9733.2a3b08"],"x":201.5,"y":922,"wires":[["8dc73e3a.ad23c"]]},{"id":"37ba674.4f31c18","type":"link in","z":"55049053.8c13","name":" Summary Gauge input - Payload atmp","links":["788a1a82.931164"],"x":203.5,"y":861,"wires":[["e49cbe87.80d1"]]},{"id":"42077f2.5208e8","type":"debug","z":"55049053.8c13","name":"Confirm Aggregated message","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1511.5,"y":624,"wires":[]},{"id":"a5c338e8.e3fbe","type":"join","z":"55049053.8c13","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1213.5,"y":697.5,"wires":[["bf3d4313.95855"]]},{"id":"fbb81534.fa64f","type":"ui_template","z":"aed920f9.7df21","group":"fc3b5794.1a3d88","name":"Stats display","order":7,"width":"20","height":"1","format":"<div ng-bind-html=\"msg.payload\">stats</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":317.5,"y":1268.5,"wires":[[]]},{"id":"a0ab3cee.ae804","type":"ui_template","z":"708a55b6.cddeac","group":"10ae1ca3.cf6ef3","name":"Stats display","order":7,"width":"20","height":"1","format":"<div ng-bind-html=\"msg.payload\">stats</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":460.5,"y":1017,"wires":[[]]},{"id":"8763b280.fbe6a","type":"link in","z":"aed920f9.7df21","name":"userprofile-in","links":["e02a9ed2.0d0df","b53a4fbf.7d5ff8"],"x":91,"y":304.8000183105469,"wires":[["5b468769.13dd58"]]},{"id":"291e43f4.46b53c","type":"comment","z":"ae45472f.d03358","name":"Userprofile components","info":"","x":165.13333129882812,"y":881.3333129882812,"wires":[]},{"id":"b086ca45.a8fef","type":"inject","z":"ae45472f.d03358","name":"inject username","topic":"","payload":"{\"user_data\":{\"user\":\"john smith\",\"username\":\"@smith77\",\"useremail\":\"john.smith@hotmail.com\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":158,"y":953.5999755859375,"wires":[["dd80615e.7bb198"]]},{"id":"dd80615e.7bb198","type":"json","z":"ae45472f.d03358","name":"json2object-userprofile","property":"payload","action":"obj","pretty":false,"x":224,"y":1054.86669921875,"wires":[["e3ca3e23.df3e8"]]},{"id":"e02a9ed2.0d0df","type":"link out","z":"ae45472f.d03358","name":"userprofile-out","links":["8763b280.fbe6a"],"x":609,"y":995.7999877929688,"wires":[]},{"id":"e3ca3e23.df3e8","type":"function","z":"ae45472f.d03358","name":" payload adapter","func":"msg.payload = msg.payload.user_data\nreturn msg;","outputs":1,"noerr":0,"x":473.13330078125,"y":1051.3998413085938,"wires":[["e02a9ed2.0d0df"]]},{"id":"1c015750.af1bd1","type":"file in","z":"cedc12f9.07809","name":"Read User Config Store","filename":"C:\\\\Users\\\\ERIC\\\\Documents\\\\Agrarian_Config_Store\\\\Agrarian _User_Config.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":153.5,"y":836.5,"wires":[["dc52089d.de5cb8"]]},{"id":"40364100.b21d08","type":"file","z":"cedc12f9.07809","name":"Write User Config Store","filename":"C:\\\\Users\\\\ERIC\\\\Documents\\\\Agrarian_Config_Store\\\\Agrarian _User_Config.txt","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":427.5,"y":488.833251953125,"wires":[[]]},{"id":"bfa7426b.51ff38","type":"link in","z":"cedc12f9.07809","name":"UserProfile-write_config","links":["22639be9.5d5d6c"],"x":20,"y":586.5,"wires":[["8ab78ef6.6c07a"]]},{"id":"b53a4fbf.7d5ff8","type":"link out","z":"cedc12f9.07809","name":"UserProfile-read_config","links":["8763b280.fbe6a"],"x":213.5,"y":1059,"wires":[]},{"id":"18e594d6.6eff5b","type":"comment","z":"cedc12f9.07809","name":"Read/Write User Config Store","info":"","x":182.5,"y":455.5,"wires":[]},{"id":"22639be9.5d5d6c","type":"link out","z":"aed920f9.7df21","name":"userprofile-out","links":["bfa7426b.51ff38"],"x":580.5,"y":335,"wires":[]},{"id":"a2d3f146.f5444","type":"join","z":"aed920f9.7df21","name":"combine config info","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"payload","joiner":";\\n","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":515.5000152587891,"y":268.16664123535156,"wires":[["22639be9.5d5d6c","53de17bf.e7e558"]]},{"id":"53de17bf.e7e558","type":"debug","z":"aed920f9.7df21","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":768.8333129882812,"y":206.83334350585938,"wires":[]},{"id":"e36789a6.c060d8","type":"debug","z":"cedc12f9.07809","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":279.5,"y":981.6666259765625,"wires":[]},{"id":"dc52089d.de5cb8","type":"yaml","z":"cedc12f9.07809","property":"payload","name":"convert config from yaml to object","x":166,"y":924,"wires":[["e36789a6.c060d8","b53a4fbf.7d5ff8"]]},{"id":"a034de22.fd37c8","type":"yaml","z":"cedc12f9.07809","property":"payload","name":"covert to yaml","x":413,"y":538,"wires":[["40364100.b21d08"]]},{"id":"a8dde961.ba0b98","type":"comment","z":"cedc12f9.07809","name":"Write user config","info":"","x":139,"y":501,"wires":[]},{"id":"efd7d673.e3c5f8","type":"comment","z":"cedc12f9.07809","name":"Read user config","info":"","x":109,"y":794,"wires":[]},{"id":"6687c3c5.370304","type":"delay","z":"cedc12f9.07809","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":244,"y":709,"wires":[["1c015750.af1bd1"]]},{"id":"5ae0c078.5166b","type":"debug","z":"cedc12f9.07809","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":351,"y":621,"wires":[]},{"id":"8ab78ef6.6c07a","type":"rbe","z":"cedc12f9.07809","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":98,"y":650,"wires":[["6687c3c5.370304","a034de22.fd37c8","5ae0c078.5166b"]]},{"id":"60a3eef5.557a2","type":"debug","z":"76c001c4.620fa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":477.5078125,"y":2178.0234375,"wires":[]},{"id":"3914b195.fe62ce","type":"rbe","z":"cedc12f9.07809","name":"Filter Duplicate Payloads","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":859.9999847412109,"y":771.0000734329224,"wires":[["97c0a932.b92cf8","fc4db22.a77bd5","452676d9.09e278"]]},{"id":"2b07e7ca.e07648","type":"join","z":"cedc12f9.07809","name":"merge payload","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":680.5000076293945,"y":701.0000257492065,"wires":[["3914b195.fe62ce"]]},{"id":"c03b7abf.c6e388","type":"function","z":"cedc12f9.07809","name":"transform topic","func":"\nmsg.topic = msg.topic.replace('esp8266/', '');\n\nreturn msg;","outputs":1,"noerr":0,"x":529.8888931274414,"y":774.0000267028809,"wires":[["2b07e7ca.e07648"]]},{"id":"f68ffb7a.7bb558","type":"rbe","z":"76c001c4.620fa","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1057.2225646972656,"y":1059.444751739502,"wires":[["7b69dbd3.bfb9c4"]]},{"id":"94fdfd1.bb0ee","type":"rbe","z":"76c001c4.620fa","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1250.555576324463,"y":903.611120223999,"wires":[["ede3dacb.8cf3d8"]]},{"id":"52a865e4.f6d95c","type":"link in","z":"cedc12f9.07809","name":"API_input","links":["452676d9.09e278"],"x":1020.3665771484375,"y":928.9998168945312,"wires":[[]]},{"id":"452676d9.09e278","type":"link out","z":"cedc12f9.07809","name":"API_output","links":["52a865e4.f6d95c"],"x":751.36669921875,"y":862.5333251953125,"wires":[]},{"id":"96c90f1a.809ca","type":"trigger","z":"ae45472f.d03358","op1":"{\"alt\":{\"topic\":\"esp8266/alt\",\"payload\":\"0.0\"},\"soil\":{\"topic\":\"esp8266/Soil\",\"payload\":\"0.0\"},\"atpressure\":{\"topic\":\"esp8266/atpressure\",\"payload\":\"0.0\"},\"ldr\":{\"topic\":\"esp8266/ldr\",\"payload\":\"0.0\"},\"temp\":{\"topic\":\"esp8266/temperature\",\"payload\":\"0.0\"},\"humidity\":{\"topic\":\"esp8266/humidity\",\"payload\":\"0.0\"}}","op2":"0","op1type":"json","op2type":"json","duration":"0","extend":false,"units":"s","reset":"1","bytopic":"all","name":"Inject fake Data by trigger","x":187.5,"y":397,"wires":[["8b644743.ff1de8"]]},{"id":"bc289a9f.b2fc2","type":"link in","z":"ae45472f.d03358","name":"fake data trigger input","links":["54918107.c472e"],"x":59.5,"y":352,"wires":[["96c90f1a.809ca"]]},{"id":"b292ccd8.5d05f","type":"link in","z":"ae45472f.d03358","name":"reset trigger in","links":["1b53ddff.043a4a"],"x":84.5,"y":257,"wires":[["73ae9684.1cf668"]]},{"id":"73ae9684.1cf668","type":"delay","z":"ae45472f.d03358","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":117.5,"y":307,"wires":[["96c90f1a.809ca"]]},{"id":"9dad938b.cbe648","type":"http in","z":"84c94a5c.626dd8","name":"REST API Endpoint","url":"/query","method":"get","upload":false,"swaggerDoc":"","x":158.3500213623047,"y":219.9000244140625,"wires":[["c6350728.704b3"]]},{"id":"96c2e4bc.2ebcf","type":"http response","z":"84c94a5c.626dd8","name":"REST API Response","statusCode":"","headers":{"content-type":"application/json","location":"Agrrarian-Server"},"x":742.3500366210938,"y":258.5999755859375,"wires":[]},{"id":"c6350728.704b3","type":"function","z":"84c94a5c.626dd8","name":"Fetch Parameters","func":"var isFindEmpty = (msg.payload.find ? true : false);\n\nif (isFindEmpty){\n    msg.payload = JSON.parse(msg.payload.find);\n}\nelse {\n    msg.payload = msg.payload\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":180.35003662109375,"y":309.29998779296875,"wires":[["72ff3346.4c89dc"]]},{"id":"72ff3346.4c89dc","type":"mongodb in","z":"84c94a5c.626dd8","mongodb":"59ba609f.66765","name":"Query DB","collection":"sensor_data","operation":"find","x":432.35003662109375,"y":367.60003662109375,"wires":[["96c2e4bc.2ebcf"]]},{"id":"b86c3af7.713908","type":"comment","z":"84c94a5c.626dd8","name":"Agrarina Data API","info":"","x":273.70001220703125,"y":177.6999969482422,"wires":[]}]