Agrarian_Node_Red_Flow.json
[{"id":"76c001c4.620fa","type":"tab","label":"Agrarian Home-Tab","disabled":false,"info":""},{"id":"55049053.8c13","type":"tab","label":"Agrarian Home-Tab Exetension ","disabled":false,"info":""},{"id":"f83f4bcb.c73878","type":"tab","label":"Settings -Tab ","disabled":false,"info":""},{"id":"aed920f9.7df21","type":"tab","label":"User profile - Tab","disabled":false,"info":""},{"id":"708a55b6.cddeac","type":"tab","label":"About - Tab","disabled":false,"info":""},{"id":"cedc12f9.07809","type":"tab","label":"DB Tab","disabled":false,"info":""},{"id":"9e65a286.7712b","type":"tab","label":"Login / Register  tab","disabled":false,"info":""},{"id":"a3cee45d.ae7d98","type":"subflow","name":"btn_styling_subflow","info":"","category":"","in":[{"x":51,"y":94,"wires":[{"id":"cabd6ffd.a295a"}]}],"out":[{"x":847,"y":76,"wires":[{"id":"ceb1e80.1f0ad18","port":0}]},{"x":1049,"y":145,"wires":[{"id":"b673a82f.0f55d8","port":0}]},{"x":731,"y":192,"wires":[{"id":"720eeb0e.da2b44","port":0}]}],"env":[],"inputLabels":["payload_spliter_input"],"outputLabels":["navigation_Json_Obj_output","reset_change_output","styling_Json_Obj_output"]},{"id":"5a55bdac.21b9d4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Agrarian Dashboard","hideToolbar":"true","allowSwipe":"false","lockMenu":"false","allowTempTheme":"none","dateFormat":"DD/MM/YYYY","sizes":{"sx":40,"sy":53,"gx":4,"gy":3,"cx":5,"cy":5,"px":2,"py":3}}},{"id":"fca38c60.27e9","type":"ui_group","z":"","name":"Sensor Strip II","tab":"","order":3,"disp":true,"width":"6","collapse":true},{"id":"caa1e5e2.a664f8","type":"ui_group","z":"","name":"Sensor Strip II","tab":"","order":3,"disp":true,"width":"6","collapse":true},{"id":"cf985d77.656ae","type":"mqtt-broker","z":"","name":"raspi-tush-broker","broker":"proxy13.remot3.it","port":"37560","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"1","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"37d60c00.9e56f4","type":"ui_group","z":"","name":"Sensor Strip II","tab":"","order":5,"disp":true,"width":"6","collapse":true},{"id":"c534947b.304918","type":"ui_group","z":"","name":"Sensor Strip I","tab":"","order":4,"disp":true,"width":"6","collapse":true},{"id":"5931ad58.4d6574","type":"ui_group","z":"","name":"Sensor Device Location","tab":"","order":2,"disp":true,"width":"15","collapse":false},{"id":"440839b0.d694d8","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"70e502dc.484c5c","type":"ui_group","z":"","name":"Slider","tab":"","order":8,"disp":true,"width":"6","collapse":false},{"id":"a4a45720.ee47e8","type":"ui_group","z":"","name":"Farm Insights Outcome","tab":"","order":7,"disp":true,"width":"6","collapse":false},{"id":"4489e722.4d27b8","type":"ui_group","z":"","name":"Logo","tab":"","order":1,"disp":false,"width":"33","collapse":false},{"id":"303a93a0.fe6cac","type":"ui_group","z":"","name":"Horizontal Spacer","tab":"","order":6,"disp":false,"width":"46","collapse":false},{"id":"1c9062d1.29c79d","type":"ui_group","z":"","name":"Veritcal spacer","tab":"","order":3,"disp":false,"width":"1","collapse":false},{"id":"6005c56.4f7683c","type":"ui_group","z":"","name":"Dashboard Settings","tab":"","order":1,"disp":true,"width":"40","collapse":true},{"id":"11469c18.9c1914","type":"ui_group","z":"","name":"Dashboard UserProfile","tab":"","order":1,"disp":false,"width":"40","collapse":false},{"id":"cb7375b8.a00938","type":"ui_group","z":"","name":"Dashboard  Help","tab":"","order":1,"disp":false,"width":"40","collapse":false},{"id":"3c35cb72.448204","type":"mqtt-broker","z":"","name":"raspi-tush-broker","broker":"proxy21.rt3.io","port":"39918","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"1","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6d641bf4.8e4f54","type":"ui_group","z":"","name":"Sensor Strip II","tab":"","order":4,"disp":true,"width":"8","collapse":false},{"id":"e4fbb56b.6f9ef8","type":"ui_group","z":"","name":"Sensor Strip I","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"56e793bf.9a0c0c","type":"ui_group","z":"","name":"Sensor Device Location","tab":"","order":2,"disp":true,"width":"15","collapse":false},{"id":"efa04abb.88ca98","type":"ui_group","z":"","name":"Slider","tab":"","order":8,"disp":true,"width":"6","collapse":false},{"id":"3a8ea708.57b688","type":"ui_group","z":"","name":"Farm Insights Outcome","tab":"","order":7,"disp":true,"width":"7","collapse":false},{"id":"61250d68.b5ef84","type":"ui_group","z":"","name":"Logo","tab":"","order":1,"disp":false,"width":"40","collapse":false},{"id":"42c550ac.049b1","type":"ui_group","z":"","name":"Dashboard Settings","tab":"","order":1,"disp":false,"width":"40","collapse":false},{"id":"e641ffa5.a864","type":"ui_group","z":"","name":"Dashboard UserProfile","tab":"","order":1,"disp":false,"width":"40","collapse":false},{"id":"d8e0fcf8.ef221","type":"ui_group","z":"","name":"Dashboard  Help","tab":"","order":1,"disp":false,"width":"40","collapse":false},{"id":"d74d9fd4.01ba3","type":"ui_group","z":"","name":"Sensor Chart Data","tab":"","order":9,"disp":true,"width":"20","collapse":false},{"id":"181aa6cb.20a749","type":"twilio-api","z":"","name":"Twilio-Soil Notification","sid":"ACce5d1cd62ad9fc81fdb728cbd45d8491","from":"12013081390"},{"id":"5f8bcad7.335394","type":"ui_group","z":"","name":"Dahsboard Settings","tab":"","order":1,"disp":false,"width":"40","collapse":false},{"id":"3eb09c8d.d9dcd4","type":"ui_group","z":"","name":"Horizontal Spacer","tab":"","order":6,"disp":true,"width":"55","collapse":false},{"id":"2ae0acfc.8a26c4","type":"ui_spacer","name":"spacer","group":"3eb09c8d.d9dcd4","order":9,"width":"40","height":"2"},{"id":"99703715.754598","type":"ui_group","z":"","name":"Sensor Metrics","tab":"","order":5,"disp":true,"width":"8","collapse":false},{"id":"46c18d61.8e2a34","type":"ui_group","z":"","name":"Numbers","tab":"","order":1,"disp":false,"width":"5","collapse":false},{"id":"1ace4c26.8f76e4","type":"ui_group","z":"","name":"Chart","tab":"","order":2,"disp":false,"width":"18","collapse":false},{"id":"dff7d153.2c782","type":"mqtt-broker","z":"","name":"raspi-tush-broker","broker":"proxy21.rt3.io","port":"39918","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"1","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"83648539.93ee98","type":"ui_group","z":"","name":"Sensor Strip II","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"5560f414.91bb2c","type":"ui_group","z":"","name":"Sensor Strip I","tab":"","order":4,"disp":true,"width":"10","collapse":false},{"id":"fc1cac54.35502","type":"ui_group","z":"","name":"Sensor Device Location","tab":"","order":3,"disp":true,"width":"15","collapse":false},{"id":"e9359080.aa02f","type":"ui_group","z":"","name":"Logo","tab":"","order":1,"disp":false,"width":"37","collapse":false},{"id":"7973b0d9.3b999","type":"ui_group","z":"","name":"Dashboard Settings","tab":"","order":1,"disp":false,"width":"40","collapse":false},{"id":"74f59dc9.f2f5b4","type":"ui_group","z":"","name":"Dashboard UserProfile","tab":"","order":1,"disp":false,"width":"40","collapse":false},{"id":"4ed59887.5890f8","type":"ui_group","z":"","name":"Dashboard  Help","tab":"","order":1,"disp":false,"width":"40","collapse":false},{"id":"69f53ea8.40589","type":"ui_group","z":"","name":"Sensor Metrics","tab":"","order":6,"disp":true,"width":"6","collapse":false},{"id":"acde2d18.50534","type":"twilio-api","z":"","name":"Twilio-Soil Notification","sid":"ACce5d1cd62ad9fc81fdb728cbd45d8491","from":"12013081390"},{"id":"801721dc.6ab4e","type":"mqtt-broker","z":"","name":"raspi-tush-broker","broker":"proxy21.rt3.io","port":"39918","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"1","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f7306d48.f4db8","type":"ui_group","z":"","name":"Gauges","tab":"","order":5,"disp":true,"width":"8","collapse":false},{"id":"6f1f5631.0122b8","type":"ui_group","z":"","name":"Linear Graphs","tab":"","order":4,"disp":true,"width":"12","collapse":false},{"id":"a6b4a47d.90f168","type":"ui_group","z":"","name":"Logo","tab":"","order":1,"disp":false,"width":"39","collapse":false},{"id":"f0b1dc72.43e3a","type":"ui_group","z":"","name":"Dashboard Settings","tab":"","order":1,"disp":false,"width":"40","collapse":false},{"id":"dc5fbd14.d97c8","type":"ui_group","z":"","name":"Dashboard UserProfile","tab":"","order":1,"disp":false,"width":"40","collapse":false},{"id":"c8462dc9.886fa","type":"ui_group","z":"","name":"Dashboard  Help","tab":"","order":1,"disp":false,"width":"40","collapse":false},{"id":"bb45535e.fe4e2","type":"ui_group","z":"","name":"Figures","tab":"","order":6,"disp":true,"width":"4","collapse":false},{"id":"60e63028.6a08","type":"twilio-api","z":"","name":"Twilio-Soil Notification","sid":"ACce5d1cd62ad9fc81fdb728cbd45d8491","from":"12013081390"},{"id":"c964da25.c64448","type":"ui_group","z":"","name":"Summary of Metrics","tab":"","order":7,"disp":true,"width":"27","collapse":false},{"id":"b6214b65.78f048","type":"ui_group","z":"","name":"Menu button Strip","tab":"","order":2,"disp":false,"width":"39","collapse":false},{"id":"bd1c196f.d5a558","type":"ui_group","z":"","name":"Device location","tab":"","order":3,"disp":true,"width":"15","collapse":false},{"id":"13355230.fcd5be","type":"ui_group","z":"","name":"Weather","tab":"","order":8,"disp":true,"width":"12","collapse":false},{"id":"3e3d7e37.639852","type":"mqtt-broker","z":"","name":"","broker":"35.185.57.164","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"917da786.67f6d8","type":"mqtt-broker","z":"","name":"MQTT- Server-Oracle-Cloud","broker":"34.73.121.27","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"Acknowledge connection","birthQos":"0","birthPayload":"Connected successfully","closeTopic":"Acknowledge disconnect","closeQos":"0","closePayload":"Successfully Disconnected","willTopic":"Unexpected Disconnect","willQos":"0","willPayload":"Unexpectedly closed connection"},{"id":"7180a7be.0ed268","type":"twilio-api","z":"","name":"Twilio-Soil Notification","sid":"ACce5d1cd62ad9fc81fdb728cbd45d8491","from":"12013081390"},{"id":"6d951037.09451","type":"ui_spacer","name":"spacer","group":"","order":1,"width":1,"height":1},{"id":"9f7af5eb.e2e7a8","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"7515fd10.7fad04","type":"ui_group","z":"","name":"Outside","tab":"","order":1,"disp":true,"width":"7"},{"id":"6713a11b.92a6","type":"mqtt-broker","z":null,"name":"lt-mqtt-test","broker":"192.168.137.7","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d308df82.4a0c3","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"6bc8166.488efe8","type":"mqtt-broker","z":"","name":"raspi-server-broker","broker":"192.168.26.217","port":"3500","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"1","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e5fd8460.ad6328","type":"ui_tab","z":"","name":"Settings","icon":"settings","order":4,"disabled":false,"hidden":false},{"id":"a423b68f.216068","type":"ui_tab","z":"","name":"About","icon":"about","order":5,"disabled":false,"hidden":false},{"id":"10ae1ca3.cf6ef3","type":"ui_group","z":"","name":"Dashboard  About","tab":"a423b68f.216068","order":1,"disp":false,"width":"40","collapse":false},{"id":"db2824df.708138","type":"ui_group","z":"","name":"Dashboard Settings","tab":"e5fd8460.ad6328","order":1,"disp":false,"width":"40","collapse":false},{"id":"563f213c.1cba4","type":"ui_tab","z":"","name":"User profile","icon":"account_circle","order":3,"disabled":false,"hidden":false},{"id":"fc3b5794.1a3d88","type":"ui_group","z":"","name":"Dashboard UserProfile","tab":"563f213c.1cba4","order":1,"disp":false,"width":"40","collapse":false},{"id":"dbc61690.08f7a8","type":"ui_spacer","name":"spacer","group":"","order":7,"width":"39","height":1},{"id":"a0cd6d1c.bac54","type":"ui_group","z":"","name":"Location & Other Metrics","tab":"d308df82.4a0c3","order":2,"disp":false,"width":"37","collapse":false},{"id":"4a3d1af6.e61834","type":"ui_group","z":"","name":"Chart","tab":"","order":2,"disp":false,"width":"18","collapse":false},{"id":"1c86b6cd.c08119","type":"ui_group","z":"","name":"Test","tab":"","disp":true,"width":"6"},{"id":"f2ee3aec.185a28","type":"ui_group","z":"","name":"Test","tab":"","disp":true,"width":"6"},{"id":"13383266.9987fe","type":"ui_group","z":"","name":"Test","tab":"","disp":true,"width":"6"},{"id":"fd4f428c.57a02","type":"ui_group","z":"","name":"Test","tab":"","disp":true,"width":"6"},{"id":"8123e697.e8fdd8","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"f07a5311.de1c9","type":"firebase admin","z":"","name":"agrarian-ec4bc-firebase-adminsdk-1f8on-a13a00aeb7"},{"id":"d74d9035.a9041","type":"firebase config","z":"","firebaseurl":"agrarian-ec4bc","loginType":"jwt"},{"id":"5bfbb944.90d828","type":"ui_tab","z":"","name":"Sign/signup","icon":"fa-sign-in","order":1,"disabled":false,"hidden":true},{"id":"b71d1476.2beaa8","type":"ui_group","z":"","name":"Login Register","tab":"5bfbb944.90d828","order":1,"disp":false,"width":"40","collapse":false},{"id":"a8353903.cc0118","type":"MySQLdatabase","z":"9e65a286.7712b","host":"192.168.3.10","port":"3306","db":"ram_test","tz":""},{"id":"bed99607.eae6d8","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"","tz":""},{"id":"3e516cb3.7c1c34","type":"firebase config","z":"","firebaseurl":"agrarian-ec4bc","loginType":"jwt"},{"id":"a2e6c583.9fa388","type":"ui_group","z":"","name":"Menu","tab":"","disp":true,"width":"6","collapse":false},{"id":"3b21fb83.7ed574","type":"ui_group","z":"","name":"Group 2","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"8c2b082c.4cca78","type":"ui_group","z":"","name":"Group 1","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"6b15cbb8.d3b194","type":"ui_group","z":"","name":"Group 3","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"82c6082b.641928","type":"firebase config","z":"","firebaseurl":"agrarian-ec4bc","loginType":"anonymous"},{"id":"59ba609f.66765","type":"mongodb","z":"","hostname":"192.168.137.117","port":"27017","db":"Agrarian_User_Data","name":"Agrarian_User_Data"},{"id":"5409e6ff.7d5508","type":"mqtt in","z":"76c001c4.620fa","name":"esp8266/temperature","topic":"esp8266/temperature","qos":"1","datatype":"utf8","broker":"6713a11b.92a6","x":111.9765625,"y":1292,"wires":[["c13f01bc.b52bf","c2ffbb42.bc52d8","29999f5f.10c72","951c0495.b3d388","686ed957.980968","4aa4ceeb.3eb87"]]},{"id":"2bdd2cb1.89a114","type":"mqtt in","z":"76c001c4.620fa","name":"esp8266/ldr","topic":"esp8266/ldr","qos":"1","datatype":"utf8","broker":"6713a11b.92a6","x":93.22222900390625,"y":1111.3333740234375,"wires":[["e8ebde9e.ee656","b1d0150b.1c34c8","e53b0a4a.3b0ad8","2fd87e07.4bdf52","ff904461.a19228","9efe00ac.01131"]]},{"id":"9042abdf.9c7a38","type":"ui_gauge","z":"76c001c4.620fa","name":"Light intensity Gauge","group":"a0cd6d1c.bac54","order":18,"width":"6","height":"4","gtype":"gage","title":"Luminosity (lumens)","label":"lumens","format":"{{value}}","min":"1","max":"10","colors":["#9da919","#d8e378","#fbff7a"],"seg1":"","seg2":"","x":1012.5555419921875,"y":696,"wires":[]},{"id":"620e4fb3.c11c1","type":"ui_chart","z":"76c001c4.620fa","name":"Temperature Line","group":"a0cd6d1c.bac54","order":14,"width":"12","height":"4","label":"Temperature (°C)","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"Waiting for temperature data ...","dot":true,"ymin":"15","ymax":"36","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":988.8890380859375,"y":1144.6666641235352,"wires":[[]]},{"id":"5b0b4b53.34a0b4","type":"debug","z":"76c001c4.620fa","name":"temp debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":819.111083984375,"y":1389.111083984375,"wires":[]},{"id":"91142f50.915a1","type":"ui_chart","z":"76c001c4.620fa","name":"Humidity Line","group":"a0cd6d1c.bac54","order":13,"width":"12","height":"4","label":"Humidity (%)","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"Waiting for Humidity data ...","dot":true,"ymin":"30","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":979.7779159545898,"y":1189.1111268997192,"wires":[[]]},{"id":"14642fbd.e1f8f","type":"mqtt in","z":"76c001c4.620fa","name":"esp8266/humidity","topic":"esp8266/humidity","qos":"1","datatype":"utf8","broker":"6713a11b.92a6","x":85,"y":1509,"wires":[["b3e40a6d.74ac68","27d8f35f.32634c","24c7d1f3.3ee5be","8ac50e.61e9eaf","d4dea998.02dd48"]]},{"id":"b3e40a6d.74ac68","type":"debug","z":"76c001c4.620fa","name":"humidity debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":740.888916015625,"y":1520,"wires":[]},{"id":"e8ebde9e.ee656","type":"debug","z":"76c001c4.620fa","name":"ldr debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":554.7777709960938,"y":1160.77783203125,"wires":[]},{"id":"9d4bf18c.eac59","type":"mqtt in","z":"76c001c4.620fa","name":"esp8266/Soil","topic":"esp8266/Soil","qos":"1","datatype":"utf8","broker":"6713a11b.92a6","x":106,"y":778,"wires":[["3c56591f.6af186","8f1acb67.82cf08","a38d3d01.4fc11","5010c7e.daac838","86bfd8e.c569928"]]},{"id":"fbff2f5.300e2d","type":"mqtt in","z":"76c001c4.620fa","name":"esp8266/alt","topic":"esp8266/alt","qos":"1","datatype":"utf8","broker":"6713a11b.92a6","x":109,"y":623,"wires":[["b6a14153.7f7d3","3258c5d0.c416aa","27fc9640.07a52a","21bf65ae.1a965a"]]},{"id":"7b69dbd3.bfb9c4","type":"ui_chart","z":"76c001c4.620fa","name":"Atmospheric Pressure Line","group":"a0cd6d1c.bac54","order":15,"width":"12","height":"4","label":"Atmospheric pressure (mmHg)","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"Waiting for Atmospehric Data ...","dot":true,"ymin":"0","ymax":"20","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1008.666748046875,"y":1103.3333740234375,"wires":[[]]},{"id":"5bd70a5e.a65b04","type":"ui_gauge","z":"76c001c4.620fa","name":"Altitude in meters Gauge","group":"a0cd6d1c.bac54","order":17,"width":"6","height":"4","gtype":"gage","title":"Altitude (m)","label":"meters","format":"{{value}}","min":"0","max":"20","colors":["#95f18d","#67d680","#3cb42e"],"seg1":"1200","seg2":"1300","x":1011.6666870117188,"y":585.4443969726562,"wires":[]},{"id":"f56dbb2d.17aa18","type":"comment","z":"76c001c4.620fa","name":" monitoring temperature change","info":"","x":497,"y":1213.9999771118164,"wires":[]},{"id":"97c0205.724d7e","type":"comment","z":"76c001c4.620fa","name":"monitoring humidity change","info":"","x":480,"y":1433,"wires":[]},{"id":"a06360b9.44ebd","type":"comment","z":"76c001c4.620fa","name":" monitoring Light Intensity","info":"","x":479,"y":1046,"wires":[]},{"id":"63711f95.78e1f","type":"comment","z":"76c001c4.620fa","name":"Atmospheric pressure Sensor","info":"","x":147,"y":896,"wires":[]},{"id":"27613222.d8c60e","type":"comment","z":"76c001c4.620fa","name":"Location  and Map Nodes","info":"","x":162.22222137451172,"y":20,"wires":[]},{"id":"c8d0df1.82e2d2","type":"mqtt in","z":"76c001c4.620fa","name":"esp8266/atpressure","topic":"esp8266/atpressure","qos":"1","datatype":"utf8","broker":"6713a11b.92a6","x":112,"y":948,"wires":[["a9f03a2a.2949e8","baa76611.867df8","b2016811.ec6378","83d80608.08d958"]]},{"id":"55887867.be8e58","type":"ui_gauge","z":"76c001c4.620fa","name":"Soil Moisture level Gauge","group":"a0cd6d1c.bac54","order":16,"width":"6","height":"4","gtype":"donut","title":"Soil moisture level (lvl)","label":"level","format":"{{value}}","min":"15","max":"1","colors":["#88f9c0","#99e3e1","#2db4ee"],"seg1":"","seg2":"","x":1012.6666259765625,"y":648.4443969726562,"wires":[]},{"id":"8c11414.ce2d4c","type":"comment","z":"76c001c4.620fa","name":"logo and headers","info":"","x":200,"y":2169.000141143799,"wires":[]},{"id":"54e29731.2d7c38","type":"comment","z":"76c001c4.620fa","name":"Settings","info":"","x":178,"y":2487.00048828125,"wires":[]},{"id":"a808ec71.69e98","type":"ui_template","z":"76c001c4.620fa","group":"db2824df.708138","name":"Settings Header","order":1,"width":"0","height":"0","format":"  <head>\n        <!-- in index.html, in place of normalize -->\n        <link rel=\"stylesheet\" href=\"http://yui.yahooapis.com/pure/0.1.0/pure-min.css\">\n        <link rel=\"stylesheet\" href=\"http://weloveiconfonts.com/api/?family=fontawesome\">\n        <link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/icon?family=Material+Icons\">\n        <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n\n    </head>\n<body>\n    <style>         body{\n                           background-color:MediumSeaGreen;\n                       \n                       }\n                      .pure-menu {\n                            font-size:0.4em;\n                            font-weight: lighter;\n                            font-family:\"Andale Mono\", monospace;\n                        }\n                        .pure-menu.pure-menu-fixed {\n                            position: fixed;\n                        }\n                        .pure-menu.pure-menu-blackbg {\n                            background: #3cb371;\n                        }\n                        .pure-menu.pure-menu-blackbg .pure-menu-heading:hover {\n                            color: #efefef;\n                        }\n                        .pure-menu.pure-menu-blackbg a {\n                            color: #fff;\n                        }\n                        .pure-menu.pure-menu-blackbg a:hover {\n                            background: #666;\n                        }\n                        .pure-menu.pure-menu-blackbg .pure-menu-selected a {\n                            background: #7E45D3;\n                          \n                        }\n                        .pure-menu.pure-menu-blackbg .pure-menu-selected a:hover {\n                            color: #efefef;\n                        }\n                        h2{\n                            /*font-family:\"Andale Mono\", monospace;*/\n                            float: left;\n                            padding-left:1em;\n                        }\n                  \n                        \n                        //=== Pen styling, ignore\n                        body {\n                          background: #10192d;\n                          display: flex;\n                          min-height: 100vh;\n                          justify-content: center;\n                          align-content: center;\n                          align-items: center;\n                        }\n                        \n                    \n            </style>\n    \n     <nav class=\"pure-menu pure-menu-open pure-menu-horizontal\">\n          <a href=\"#\"><img src=\"https://i.ibb.co/vLVVynD/Agrarian-logo-horizontal.png\" alt=\"Agrarian-logo-horizontal\" border=\"0\" /></a>\n     </nav>\n     <h2>Settings</h2>\n      </body>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":191.99999237060547,"y":2533.0005111694336,"wires":[[]]},{"id":"4d494963.f94fa8","type":"comment","z":"76c001c4.620fa","name":"User Profile","info":"","x":177.99999237060547,"y":2580.0001125335693,"wires":[]},{"id":"3ed2e3b7.e7953c","type":"ui_template","z":"76c001c4.620fa","group":"fc3b5794.1a3d88","name":"User Profile Header","order":1,"width":"0","height":"0","format":"  <head>\n        <!-- in index.html, in place of normalize -->\n        <link rel=\"stylesheet\" href=\"http://yui.yahooapis.com/pure/0.1.0/pure-min.css\">\n        <link rel=\"stylesheet\" href=\"http://weloveiconfonts.com/api/?family=fontawesome\">\n        <link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/icon?family=Material+Icons\">\n        <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n\n    </head>\n<body>\n    <style>\n                       body{\n                           background-color:MediumSeaGreen;\n                       \n                       }\n                      .pure-menu {\n                            font-size:0.4em;\n                            font-weight: lighter;\n                            font-family:\"Andale Mono\", monospace;\n                        }\n                        .pure-menu.pure-menu-fixed {\n                            position: fixed;\n                        }\n                        .pure-menu.pure-menu-blackbg {\n                            background: #3cb371;\n                        }\n                        .pure-menu.pure-menu-blackbg .pure-menu-heading:hover {\n                            color: #efefef;\n                        }\n                        .pure-menu.pure-menu-blackbg a {\n                            color: #fff;\n                        }\n                        .pure-menu.pure-menu-blackbg a:hover {\n                            background: #666;\n                        }\n                        .pure-menu.pure-menu-blackbg .pure-menu-selected a {\n                            background: #7E45D3;\n                          \n                        }\n                        .pure-menu.pure-menu-blackbg .pure-menu-selected a:hover {\n                            color: #efefef;\n                        }\n                        h2{\n                            /*font-family:\"Andale Mono\", monospace;*/\n                            float: left;\n                            padding-left:1em;\n                        }\n                  \n                        \n                        //=== Pen styling, ignore\n                        body {\n                          background: #10192d;\n                          display: flex;\n                          min-height: 100vh;\n                          justify-content: center;\n                          align-content: center;\n                          align-items: center;\n                        }\n                        \n                    \n            </style>\n    \n     <nav class=\"pure-menu pure-menu-open pure-menu-horizontal\">\n            <a href=\"https://imgbb.com/\"><img src=\"https://i.ibb.co/vLVVynD/Agrarian-logo-horizontal.png\" alt=\"Agrarian-logo-horizontal\" border=\"0\" /></a>\n     </nav>\n     <h2>User Profile</h2>\n      </body>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":203.99999237060547,"y":2615.0001125335693,"wires":[["c88c8983.32b1c8"]]},{"id":"35d1f28d.5ef13e","type":"comment","z":"76c001c4.620fa","name":"Dashboard side Menu pages","info":"","x":238,"y":2452.00048828125,"wires":[]},{"id":"57dd52ba.64aebc","type":"comment","z":"76c001c4.620fa","name":"about","info":"","x":165.99999237060547,"y":2661.0001125335693,"wires":[]},{"id":"c2111540.78f7a8","type":"ui_template","z":"76c001c4.620fa","group":"10ae1ca3.cf6ef3","name":"about","order":1,"width":"0","height":"0","format":"  <head>\n        <!-- in index.html, in place of normalize -->\n        <link rel=\"stylesheet\" href=\"http://yui.yahooapis.com/pure/0.1.0/pure-min.css\">\n        <link rel=\"stylesheet\" href=\"http://weloveiconfonts.com/api/?family=fontawesome\">\n        <link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/icon?family=Material+Icons\">\n        <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n\n    </head>\n<body>\n    <style>\n                       body{\n                           background-color:MediumSeaGreen;\n                       \n                       }\n                      .pure-menu {\n                            font-size:0.4em;\n                            font-weight: lighter;\n                            font-family:\"Andale Mono\", monospace;\n                        }\n                        .pure-menu.pure-menu-fixed {\n                            position: fixed;\n                        }\n                        .pure-menu.pure-menu-blackbg {\n                            background: #3cb371;\n                        }\n                        .pure-menu.pure-menu-blackbg .pure-menu-heading:hover {\n                            color: #efefef;\n                        }\n                        .pure-menu.pure-menu-blackbg a {\n                            color: #fff;\n                        }\n                        .pure-menu.pure-menu-blackbg a:hover {\n                            background: #666;\n                        }\n                        .pure-menu.pure-menu-blackbg .pure-menu-selected a {\n                            background: #7E45D3;\n                          \n                        }\n                        .pure-menu.pure-menu-blackbg .pure-menu-selected a:hover {\n                            color: #efefef;\n                        }\n                        h2{\n                            /*font-family:\"Andale Mono\", monospace;*/\n                            float: left;\n                            padding-left:1em;\n                        }\n                  \n                        \n                        //=== Pen styling, ignore\n                        body {\n                          background: #10192d;\n                          display: flex;\n                          min-height: 100vh;\n                          justify-content: center;\n                          align-content: center;\n                          align-items: center;\n                        }\n                        \n                    \n            </style>\n    \n     <nav class=\"pure-menu pure-menu-open pure-menu-horizontal\">\n            <a href=\"https://imgbb.com/\"><img src=\"https://i.ibb.co/vLVVynD/Agrarian-logo-horizontal.png\" alt=\"Agrarian-logo-horizontal\" border=\"0\" /></a>\n     </nav>\n     <h2>About</h2>\n      </body>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":164.99999237060547,"y":2707,"wires":[["e9b8b470.260508"]]},{"id":"82c9a62e.888c58","type":"ui_text","z":"76c001c4.620fa","group":"a0cd6d1c.bac54","order":19,"width":"4","height":"2","name":" altitude text data ","label":"Altitude","format":"{{ msg.payload }} m","layout":"row-spread","x":985.2223510742188,"y":788.6666641235352,"wires":[]},{"id":"59f84032.e7ade","type":"comment","z":"76c001c4.620fa","name":"Sensor Data dispalyed as text","info":"","x":1025.7777709960938,"y":750.8888320922852,"wires":[]},{"id":"fbd9fa78.32ec58","type":"comment","z":"76c001c4.620fa","name":"Soil Moisture Sensor","info":"","x":112,"y":724,"wires":[]},{"id":"36d5dac2.7032d6","type":"comment","z":"76c001c4.620fa","name":"Altitude Sensor","info":"","x":131,"y":556,"wires":[]},{"id":"3a2d5fbf.82bdb","type":"twilio out","z":"76c001c4.620fa","twilio":"7180a7be.0ed268","twilioType":"sms","url":"","number":"254707649392","name":"Twilio-Api","x":525.1111450195312,"y":2070.4445571899414,"wires":[]},{"id":"fe0b3160.fc38a","type":"function","z":"76c001c4.620fa","name":"Message to send","func":"\nvar alertmessage = msg.payload.alertmessage;\nvar topic = msg.topic;\nvar deviceid = msg.deviceId;\nvar devicetype = msg.deviceType;\nvar sev = msg.payload.severity;\nvar type = msg.payload.type;\nvar soil = msg.payload.soil;\n\n msg.payload=\"\\r\\n Alert: Soil Status has changed\\r\\n\"+\"Device Id: SoilSensor   Located in : Dubai\\r\\n\"+\" Alert message is:\"+String(alertmessage),\n\nmsg.headers = {\n Accept: \"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":212,"y":2099.000099182129,"wires":[["3a2d5fbf.82bdb","c2bb020d.7762f"]]},{"id":"c2bb020d.7762f","type":"debug","z":"76c001c4.620fa","name":"Sms notification Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":569,"y":2110.000099182129,"wires":[]},{"id":"b867e309.f7343","type":"comment","z":"76c001c4.620fa","name":"SMS service","info":"","x":189,"y":2058.000099182129,"wires":[]},{"id":"8debb1ee.e0efa","type":"comment","z":"76c001c4.620fa","name":"Sensor Data dispalyed as Gauges","info":"","x":1149.5555419921875,"y":270.44439697265625,"wires":[]},{"id":"22a3680c.480b88","type":"ui_text","z":"76c001c4.620fa","group":"a0cd6d1c.bac54","order":21,"width":"4","height":"2","name":"Soil text data ","label":"Soil Moisture","format":"{{ msg.payload }} level","layout":"row-spread","x":973.6667461395264,"y":828.4444561004639,"wires":[]},{"id":"ede3dacb.8cf3d8","type":"ui_text","z":"76c001c4.620fa","group":"a0cd6d1c.bac54","order":24,"width":"4","height":"2","name":"Atmospheric Pressure text data ","label":"Barometric Pressure","format":"{{ msg.payload }} mmHg","layout":"row-spread","x":1033.6667385101318,"y":862.8888721466064,"wires":[]},{"id":"ff904461.a19228","type":"ui_text","z":"76c001c4.620fa","group":"a0cd6d1c.bac54","order":22,"width":"4","height":"2","name":"light text data ","label":"Light Intensity","format":"{{ msg.payload }} lumens","layout":"row-spread","x":975.666748046875,"y":903.9999771118164,"wires":[]},{"id":"6d458efe.feed1","type":"ui_text","z":"76c001c4.620fa","group":"a0cd6d1c.bac54","order":20,"width":"4","height":"2","name":"temp text data ","label":"Temperature","format":"{{ msg.payload }}  °C","layout":"row-spread","x":983.6667385101318,"y":942.8888721466064,"wires":[]},{"id":"75b081cf.5453c","type":"ui_text","z":"76c001c4.620fa","group":"a0cd6d1c.bac54","order":23,"width":"4","height":"2","name":"Humidty text data ","label":"Humidity","format":"{{ msg.payload }} %","layout":"row-spread","x":991.666748046875,"y":977.8888931274414,"wires":[]},{"id":"347cb93b.ef1bc6","type":"ui_chart","z":"76c001c4.620fa","name":"Sensor Summary Metrics Line Chart","group":"a0cd6d1c.bac54","order":26,"width":"15","height":"8","label":"Sensor Summary Metrics","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"loading","dot":true,"ymin":"0","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":443.66672134399414,"y":1706.7777338027954,"wires":[[]]},{"id":"825d37f3.c7efa8","type":"switch","z":"55049053.8c13","name":"Topic Router","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"esp8266/Soil","vt":"str"},{"t":"eq","v":"esp8266/temperature","vt":"str"},{"t":"eq","v":"esp8266/humidity","vt":"str"},{"t":"eq","v":"esp8266/ldr","vt":"str"},{"t":"eq","v":"esp8266/atpressure","vt":"str"},{"t":"eq","v":"esp8266/alt","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":519,"y":280,"wires":[["95a0735e.00e4e"],["17480b73.5550f5"],["2c232734.d9c268"],["ccff669c.61c058"],["99f35f81.beda5"],["4c86ae33.c8f46"]]},{"id":"2c232734.d9c268","type":"change","z":"55049053.8c13","name":"esp8266/humidity","rules":[{"t":"set","p":"topic","pt":"msg","to":"humidity","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":839,"y":240,"wires":[["548097f.7b62c68"]]},{"id":"17480b73.5550f5","type":"change","z":"55049053.8c13","name":"esp8266/temperature","rules":[{"t":"set","p":"topic","pt":"msg","to":"temperature","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":849,"y":200,"wires":[["bc55cf6b.ab36f"]]},{"id":"95a0735e.00e4e","type":"change","z":"55049053.8c13","name":"esp8266/Soil","rules":[{"t":"set","p":"topic","pt":"msg","to":"Soil","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":819,"y":160,"wires":[["cf70d5cb.260a28"]]},{"id":"ccff669c.61c058","type":"change","z":"55049053.8c13","name":"esp8266/ldr","rules":[{"t":"set","p":"topic","pt":"msg","to":"light","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":815,"y":338,"wires":[["aaa5ae27.c5c3c"]]},{"id":"99f35f81.beda5","type":"change","z":"55049053.8c13","name":"esp8266/atpressure","rules":[{"t":"set","p":"topic","pt":"msg","to":"at_pressure","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":849,"y":380,"wires":[["5103c5fe.8b672c"]]},{"id":"4c86ae33.c8f46","type":"change","z":"55049053.8c13","name":"esp8266/alt","rules":[{"t":"set","p":"topic","pt":"msg","to":"altitude","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":819,"y":420,"wires":[["f4cd681e.e22e98"]]},{"id":"668cd368.8c041c","type":"link in","z":"55049053.8c13","name":"Agrarian Home Tab ext input - Topic Router","links":["3a48d2eb.5c75fe","7c450c9.e35edf4","cac746cf.5b8d08"],"x":224,"y":280,"wires":[["825d37f3.c7efa8"]]},{"id":"cf70d5cb.260a28","type":"link out","z":"55049053.8c13","name":"topic_soil","links":["d7b67a1d.579c98"],"x":1084,"y":160,"wires":[]},{"id":"bc55cf6b.ab36f","type":"link out","z":"55049053.8c13","name":"topic_temp","links":["d7b67a1d.579c98"],"x":1084,"y":200,"wires":[]},{"id":"548097f.7b62c68","type":"link out","z":"55049053.8c13","name":"topic_humidity","links":["d7b67a1d.579c98"],"x":1084,"y":240,"wires":[]},{"id":"aaa5ae27.c5c3c","type":"link out","z":"55049053.8c13","name":"topic_ldr","links":["d7b67a1d.579c98"],"x":1082,"y":339,"wires":[]},{"id":"5103c5fe.8b672c","type":"link out","z":"55049053.8c13","name":"topic_atp","links":["d7b67a1d.579c98"],"x":1084,"y":380,"wires":[]},{"id":"f4cd681e.e22e98","type":"link out","z":"55049053.8c13","name":"topic_alt","links":["d7b67a1d.579c98"],"x":1082.7776851654053,"y":424.3333263397217,"wires":[]},{"id":"2decd711.166378","type":"link out","z":"76c001c4.620fa","name":" Summary Gauge output - Payload Humidity","links":["5599eec5.ffc29","76f28b80.b0ea64","a8aa6f3b.4f7bd","dda3cc30.88ddc"],"x":522.7778625488281,"y":1539.8890380859375,"wires":[]},{"id":"d7b67a1d.579c98","type":"link in","z":"76c001c4.620fa","name":"topic Reciever link","links":["5103c5fe.8b672c","548097f.7b62c68","72f8ea41.125aa4","9abea106.afbac","a1431af7.a57578","aaa5ae27.c5c3c","bc55cf6b.ab36f","cf70d5cb.260a28","d461b327.d0341","f4cd681e.e22e98"],"x":152.66672134399414,"y":1773.777687072754,"wires":[["347cb93b.ef1bc6","3c3b1b8d.875c14"]]},{"id":"3c3b1b8d.875c14","type":"debug","z":"76c001c4.620fa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":392.2222900390625,"y":1766.333251953125,"wires":[]},{"id":"7af1c323.7ebd2c","type":"comment","z":"76c001c4.620fa","name":"Sensor Summary Metrics","info":"","x":237.4445037841797,"y":1670.5554122924805,"wires":[]},{"id":"a7fba11b.c9bea","type":"ui_template","z":"76c001c4.620fa","group":"a0cd6d1c.bac54","name":"Sensor Device location","order":12,"width":"15","height":"12","format":"\n    <link rel=\"stylesheet\" href=\"https://unpkg.com/leaflet@1.5.1/dist/leaflet.css\"\n    integrity=\"sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==\"\n    crossorigin=\"\"/>\n    \n    <script src=\"https://unpkg.com/leaflet@1.5.1/dist/leaflet.js\"\n    integrity=\"sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==\"\n    crossorigin=\"\"></script>\n    \n    <div id=\"mapid\" style=\"height: 1000px; width: 900px;\">\n        \n    </div>\n    \n    <script>\n       (function(scope) {\n \n        scope.$watch('msg', function (msg) { \n          \n        if (msg) {\n\n        var mymap = L.map('mapid').setView([msg.loc.lat, msg.loc.lon], 13);\n       \n        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {\n        attribution: 'Map data &copy; <a href=\"https://www.openstreetmap.org/\">OpenStreetMap</a> contributors, <a href=\"https://creativecommons.org/licenses/by-sa/2.0/\">CC-BY-SA</a>, Imagery © <a href=\"https://www.mapbox.com/\">Mapbox</a>',\n        maxZoom: 18,\n        id: 'mapbox.streets',\n        accessToken: 'pk.eyJ1Ijoicmljby03NyIsImEiOiJjanlpZWVibHQwOG1jM25vNzJxMXE5cjQ2In0.N6pz7vG1dAcw2E5eUMkSbw'\n        }).addTo(mymap);\n        \n       \n        // var circle = L.circle(msg.payload.loc, {\n        // color: 'red',\n        // fillColor: '#f03',\n        // fillOpacity: 0.5, \n        // radius: 500\n        // }).addTo(mymap);\n        \n        \n        var marker = L.marker([msg.loc.lat, msg.loc.lon]).addTo(mymap); //[51.5, -0.09]\n        \n        marker.bindPopup(\"Sensor location\");\n        marker.openPopup();\n        \n        // circle.bindPopup(\"Sensor Device footprint\");\n           };\n         });\n     \n     })(scope);\n  \n    </script>\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1047.4444427490234,"y":66.77777671813965,"wires":[[]],"icon":"node-red-contrib-maps/map.png"},{"id":"2767cfac.30437","type":"ui_template","z":"76c001c4.620fa","group":"a0cd6d1c.bac54","name":"Load CSS","order":28,"width":"0","height":"0","format":"<link rel=\"stylesheet\" href=\"/weather-icons-lite/css/weather-icons-lite.min.css\">\n<style>\n    .nr-dashboard-theme-dark ui-card-panel {\n \tbackground-color: #222;\n \toutline: 0.5px solid #cccccc;\n \t  }\n</style>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":182,"y":2811.000244140625,"wires":[[]]},{"id":"eb6b07f9.782a48","type":"function","z":"76c001c4.620fa","name":"Icon Push","func":"msg.html_temp = `\n<center>\n<div style=\"display: flex;width 100%;height: 100%;justify-content: center;align-items: center;font-size: 3em;\" title=\"Weather data @ device location As shown from the map\">\n<br>\n<br>\n<br>\n<br>\n<br>\n<br>\n<h1>\n<i style=\"padding:1em\" class=\"fa-4x wi wi-owm-`+ msg.payload['icon'].icon +`\"></i>\n</h1>\n<h2>`+ msg.payload['icon'].loc +`</h2>\n</div>\n<h3 style=\"float:center\">`+ msg.payload['esp8266/temperature'] +` °C</h3>\n<p>`+ msg.payload['icon'].desc +`</p>\n\n</center>\n`;\n\nmsg.payload = `\n<center><p>Weather On Site</p><center>\n<br>\n`;\n\nreturn msg;","outputs":1,"noerr":0,"x":716.9444198608398,"y":2951.2205505371094,"wires":[["48f5f0ea.9e327"]]},{"id":"48f5f0ea.9e327","type":"ui_text","z":"76c001c4.620fa","group":"a0cd6d1c.bac54","order":29,"width":"10","height":"8","name":"Weather Icon Update","label":"{{msg.payload}}","format":"{{msg.html_temp}}","layout":"col-center","x":923.7222671508789,"y":2953.554584503174,"wires":[]},{"id":"76f28b80.b0ea64","type":"link in","z":"55049053.8c13","name":" Summary Gauge input - Payload Humid","links":["2decd711.166378"],"x":206.3333911895752,"y":719.2222099304199,"wires":[["1f2570cb.81916f"]]},{"id":"bf3d4313.95855","type":"link out","z":"55049053.8c13","name":"payload-transmitter","links":["5a821bdb.074104"],"x":1418.000090122223,"y":732.8889031410217,"wires":[]},{"id":"eb065eb.65ae0a","type":"function","z":"55049053.8c13","name":"Calc - soil %","func":"var soil_data = msg.payload; \nmsg.payload = {\n  soil : Math.floor((soil_data * 100) / 15)   \n};\n\nreturn msg;","outputs":1,"noerr":0,"x":940.3890914916992,"y":601.4444799423218,"wires":[["fd7c1bb5.929578","8176911d.7a3fc"]]},{"id":"7f0ddf0a.28aeb","type":"function","z":"55049053.8c13","name":"Calc - temp %","func":"var temp_data = msg.payload; \nmsg.payload = {\n  temp :   Math.floor((temp_data * 100) / 50 ) \n};\n\nreturn msg;","outputs":1,"noerr":0,"x":947.2223129272461,"y":650.2222099304199,"wires":[["fd7c1bb5.929578","8176911d.7a3fc"]]},{"id":"94d73050.d6e05","type":"function","z":"55049053.8c13","name":"Calc - humid %","func":"var humid_data = msg.payload; \nmsg.payload = {\n  humid :   Math.floor((humid_data * 100) / 90)\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":953.888973236084,"y":701.8888416290283,"wires":[["fd7c1bb5.929578","8176911d.7a3fc"]]},{"id":"22fffbba.2f1e24","type":"function","z":"55049053.8c13","name":"Calc - ldr %","func":"var ldr_data = msg.payload; \nmsg.payload = {\n  lui :  Math.floor( (ldr_data * 100) / 10 )\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":937.2223052978516,"y":797.2221970558167,"wires":[["8176911d.7a3fc"]]},{"id":"d22b27c5.a44308","type":"function","z":"55049053.8c13","name":"Calc - atmp %","func":"var atm_data = msg.payload; \nmsg.payload = {\n  atmp :   Math.floor((atm_data * 100) / 25) \n};\n\nreturn msg;","outputs":1,"noerr":0,"x":949.2222900390625,"y":865.2222290039062,"wires":[["fd7c1bb5.929578","8176911d.7a3fc"]]},{"id":"30c4e6ab.d295ca","type":"function","z":"55049053.8c13","name":"Calc - alt %","func":"var alt_data = msg.payload; \nmsg.payload = {\n  alt :  Math.floor((alt_data * 100) / 25) \n};\n\nreturn msg;","outputs":1,"noerr":0,"x":932.2222900390625,"y":924.5555419921875,"wires":[["8176911d.7a3fc"]]},{"id":"fd7c1bb5.929578","type":"join","z":"55049053.8c13","name":"msg aggregator","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1270.2779159545898,"y":734.6666340827942,"wires":[["bf3d4313.95855"]]},{"id":"78c547b4.647e68","type":"link in","z":"76c001c4.620fa","name":"temp Receiver link","links":["9196eb03.019468"],"x":175.1111068725586,"y":2871.2221450805664,"wires":[["d6f20359.abeed"]]},{"id":"3ab76c14.23a114","type":"comment","z":"76c001c4.620fa","name":"Weather","info":"","x":173,"y":2770,"wires":[]},{"id":"9196eb03.019468","type":"link out","z":"76c001c4.620fa","name":"temp-weather-data","links":["78c547b4.647e68"],"x":984.388916015625,"y":1282.3332290649414,"wires":[]},{"id":"8ad52360.78fe8","type":"function","z":"55049053.8c13","name":"Soil data filter","func":"msg.payload = (msg.topic == \"esp8266/Soil\" ? msg.payload : 0);\nreturn msg;","outputs":1,"noerr":0,"x":471.6111755371094,"y":599.5555384159088,"wires":[["7358a2d4.f239bc"]]},{"id":"7358a2d4.f239bc","type":"switch","z":"55049053.8c13","name":"soil - switch","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":723.611213684082,"y":600.1110939979553,"wires":[["eb065eb.65ae0a"]]},{"id":"3dba0c43.f2ef74","type":"function","z":"55049053.8c13","name":"Temp data filter","func":"msg.payload = (msg.topic == \"esp8266/temperature\" ? msg.payload : 0);\nreturn msg;\n","outputs":1,"noerr":0,"x":469.22231674194336,"y":659.9999775886536,"wires":[["8750898e.83fc38"]]},{"id":"8750898e.83fc38","type":"switch","z":"55049053.8c13","name":"temp - switch","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":715.333366394043,"y":650.1111106872559,"wires":[["7f0ddf0a.28aeb"]]},{"id":"1f2570cb.81916f","type":"function","z":"55049053.8c13","name":"Humid data filter","func":"msg.payload = (msg.topic == \"esp8266/humidity\" ? msg.payload : 0);\n\nreturn msg;","outputs":1,"noerr":0,"x":462.66676330566406,"y":717.1110367774963,"wires":[["a2379d93.e4e8"]]},{"id":"a2379d93.e4e8","type":"switch","z":"55049053.8c13","name":"humid - switch","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":723.6667556762695,"y":705.1110954284668,"wires":[["94d73050.d6e05"]]},{"id":"d9c27819.5962a8","type":"function","z":"55049053.8c13","name":"Light data filter","func":"msg.payload = (msg.topic == \"esp8266/ldr\" ? msg.payload : 0);\n\nreturn msg;","outputs":1,"noerr":0,"x":468.11122131347656,"y":791.8889060020447,"wires":[["b522b4c0.6950a8"]]},{"id":"b522b4c0.6950a8","type":"switch","z":"55049053.8c13","name":"light - switch","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":741.2222900390625,"y":797.2222290039062,"wires":[["22fffbba.2f1e24"]]},{"id":"e49cbe87.80d1","type":"function","z":"55049053.8c13","name":"atpressure data filter","func":"msg.payload = (msg.topic == \"esp8266/atpressure\" ? msg.payload : 0);\nreturn msg;","outputs":1,"noerr":0,"x":481.2222900390625,"y":866.6666259765625,"wires":[["348f61e4.45a04e"]]},{"id":"348f61e4.45a04e","type":"switch","z":"55049053.8c13","name":"atmp - switch","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":717.0001220703125,"y":865.1112060546875,"wires":[["d22b27c5.a44308"]]},{"id":"8dc73e3a.ad23c","type":"function","z":"55049053.8c13","name":"Altitude data filter","func":"msg.payload = (msg.topic == \"esp8266/alt\" ? msg.payload : 0);\nreturn msg;","outputs":1,"noerr":0,"x":481.666748046875,"y":923.7777709960938,"wires":[["68909a37.77a4e4","fe956f79.8d037"]]},{"id":"68909a37.77a4e4","type":"switch","z":"55049053.8c13","name":"alt - switch","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":716.666748046875,"y":926.6666259765625,"wires":[["30c4e6ab.d295ca"]]},{"id":"2f2fbfcc.384a6","type":"comment","z":"76c001c4.620fa","name":"Notification System","info":"","x":246.44444274902344,"y":3080.4443130493164,"wires":[]},{"id":"6617a36d.cbd81c","type":"ui_toast","z":"76c001c4.620fa","position":"top right","displayTime":"6","highlight":"red","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Alert Notifications","x":769.2222900390625,"y":3121.4443359375,"wires":[]},{"id":"52462dd6.d493a4","type":"function","z":"76c001c4.620fa","name":"Sensor Metrics threshold checker","func":"switch(msg.topic){\n    case \"esp8266/Soil\":\n        if(msg.payload < 8){\n        msg.payload = \"Soil Moisture is below optimal\";\n        }\n    break;\n    \n    case \"esp8266/atpressure\":\n        if ( msg.payload > 3 ){\n        msg.payload = \"Atmospheric pressure is below optimal\";\n        }\n    break;\n    \n     case \"esp8266/ldr\": \n         if ( msg.payload >= 7 ){\n       msg.payload = \"Light Intensity exceeded the optimal limit\";\n         }\n    break;\n    \n    case \"esp8266/temperature\":\n       if ( msg.payload >= 40 ){\n        msg.payload = \"Temperatures exceeds the recommended value\";\n        }\n    break;\n    \n     case \"esp8266/humidity\":\n          if ( msg.payload >= 75 ){\n        msg.payload = \"Humidity is below optimal\";\n           }\n    break;\n    \n    default:\n      msg.payload = \"Unregistered Sensor\"\n    \n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":394.99981689453125,"y":3151.77734375,"wires":[["c53eebe3.19bfd8","6617a36d.cbd81c"]]},{"id":"c53eebe3.19bfd8","type":"debug","z":"76c001c4.620fa","name":"Sensor metrics debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":781.888916015625,"y":3177.77783203125,"wires":[]},{"id":"5599eec5.ffc29","type":"link in","z":"76c001c4.620fa","name":"Input to Sensor Metrics threshhold","links":["2decd711.166378","c2ac012f.91663","ae8c17c8.cea2a8","5b1e3129.c6653","60ecb650.a8a1f8","2af8133e.21d85c","788a1a82.931164","ceca9733.2a3b08"],"x":146.33334350585938,"y":3148.888916015625,"wires":[["52462dd6.d493a4"]]},{"id":"86654e6f.6a1d8","type":"ui_template","z":"76c001c4.620fa","group":"a0cd6d1c.bac54","name":"Sensor summary Data Donut Gauge","order":27,"width":"12","height":"8","format":"\n <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css\">\n <script src=\"https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js\"></script>\n <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js\"></script>\n <script src=\"https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js\"></script>\n\n<br>\n<center>\n<p>Sensor Data percentiles</p>\n</center>\n<br>\n<br>\n<br>\n<div id=\"chart-area\" style=\"height: 250px;\" title=\"Sensor percentages based on the Threshhold\"></div>\n<br>\n<br>\n<script>\n\n(function(scope) {\n var timer = setInterval(function() { //check that the Morris libs are loaded, if not wait\n if (!window.Morris) return;\n clearInterval(timer);\n \n var myData;\n \n var myDonut = Morris.Donut({\n element: 'chart-area',\n data: [\n {label: \"Temperature %\", value: 0 },\n {label: \"Humidity %\", value: 0 },\n {label: \"Atm pressure %\", value: 0 },\n {label: \"Luminosity %\", value: 0 },\n {label: \"Soil Moisture %\", value: 0 },\n {label: \"Altitude %\", value: 0 }\n ]\n });\n \n scope.$watch('msg', function (msg) { //watch for an incoming NR msg\n if (msg) {\n \n myData = msg;\n myDonut.setData([\n {label: \"Temperature %\", value: myData.payload.temp },\n {label: \"Humidity %\", value: myData.payload.humid },\n {label: \"Atm pressure %\", value: myData.payload.atmp },\n {label: \"Luminosity %\", value: myData.payload.lui },\n {label: \"Soil Moist.. %\", value: myData.payload.soil },\n {label: \"Altitude %\", value: myData.payload.alt }\n])\n };\n }); //close out the watch \n }, 100); // close out the setInterval \n})(scope);\n\n\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":430.4444351196289,"y":1877.166482925415,"wires":[[]],"icon":"font-awesome/fa-pie-chart"},{"id":"29823464.8645bc","type":"debug","z":"76c001c4.620fa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":383.4444274902344,"y":1812.6666259765625,"wires":[]},{"id":"5a821bdb.074104","type":"link in","z":"76c001c4.620fa","name":"payload Receiver link","links":["bf3d4313.95855"],"x":151.88888549804688,"y":1811.3332290649414,"wires":[["29823464.8645bc","86654e6f.6a1d8"]]},{"id":"c88c8983.32b1c8","type":"link out","z":"76c001c4.620fa","name":"Agrarian Home User Profile output link","links":["a21f90bc.3bed5"],"x":414.5555419921875,"y":2621.22216796875,"wires":[]},{"id":"e9b8b470.260508","type":"link out","z":"76c001c4.620fa","name":"Agrarian Home Help output link","links":["fe0ae557.d92658"],"x":288.3333206176758,"y":2707,"wires":[]},{"id":"11da9bc8.fad0a4","type":"comment","z":"76c001c4.620fa","name":"Sensor Data dispalyed as Line Graphs","info":"","x":1047.222312927246,"y":1062.4443283081055,"wires":[]},{"id":"c94f2d86.423b7","type":"comment","z":"76c001c4.620fa","name":"Mqtt Simulator sensor data Source link","info":"","x":384.1111145019531,"y":1633.111083984375,"wires":[]},{"id":"a9f03a2a.2949e8","type":"debug","z":"76c001c4.620fa","name":"at pressure debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":614.3333129882812,"y":948.111083984375,"wires":[]},{"id":"3c56591f.6af186","type":"debug","z":"76c001c4.620fa","name":"Soil debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":645.8888854980469,"y":767.3333053588867,"wires":[]},{"id":"b6a14153.7f7d3","type":"debug","z":"76c001c4.620fa","name":"alt debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690.7777709960938,"y":612.4443969726562,"wires":[]},{"id":"1364c4.481c0b3d","type":"comment","z":"55049053.8c13","name":"Topic Routing for Summary Line Graph","info":"","x":705,"y":87.77777777777777,"wires":[]},{"id":"6bbf4fd.b3fa7b","type":"comment","z":"55049053.8c13","name":"Payload Routing for Summary (%) Donut Graph","info":"","x":726.77783203125,"y":532.8888549804688,"wires":[]},{"id":"35a416b8.807a4a","type":"json","z":"76c001c4.620fa","name":"json to jsObject","property":"payload","action":"obj","pretty":false,"x":841.72216796875,"y":211.3333740234375,"wires":[["5fab6ab2.fc0864","dbd46189.2d5e","a38f5f90.7ea6e"]]},{"id":"506aafb2.38109","type":"http request","z":"76c001c4.620fa","name":"Open Weather Map IP Request","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":642.9444580078125,"y":300.77777099609375,"wires":[["35a416b8.807a4a"]]},{"id":"2c8ad539.5bb96a","type":"function","z":"76c001c4.620fa","name":"loaction query","func":"msg.url = \"http://api.openweathermap.org/data/2.5/weather?lat=\" + parseFloat(msg.loc.lat) + \"&lon=\" + parseFloat(msg.loc.lon) + \"&APPID=fd7aadde4652a91a190ed2267fb6e162\"; \nreturn msg;","outputs":1,"noerr":0,"x":600.7222518920898,"y":140.1111011505127,"wires":[["cf272842.bd9288","a3d1c3ae.c21bc"]]},{"id":"cf272842.bd9288","type":"debug","z":"76c001c4.620fa","name":"location debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":953.444450378418,"y":138.77776908874512,"wires":[]},{"id":"5fab6ab2.fc0864","type":"function","z":"76c001c4.620fa","name":"Extract weather Data","func":"var data = msg.payload.weather[0];\nmsg.payload = {\n    \n    desc : data.description,\n    icon : data.icon,\n    weather : data.main,\n    id : data.id,\n    loc : msg.payload.name\n}\nmsg.topic = 'icon';\nreturn msg;","outputs":1,"noerr":0,"x":1074.9444580078125,"y":214.77777099609375,"wires":[["fd16ce88.cfce1","aa42d9f8.714b38"]]},{"id":"aa42d9f8.714b38","type":"debug","z":"76c001c4.620fa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1275.8889541625977,"y":161.4444351196289,"wires":[]},{"id":"fd16ce88.cfce1","type":"link out","z":"76c001c4.620fa","name":"wethear output link","links":["ac3ab0d.6b34a5","3483711d.6dd05e"],"x":1274.388855934143,"y":214.55554962158203,"wires":[]},{"id":"3483711d.6dd05e","type":"link in","z":"76c001c4.620fa","name":"input weather selector","links":["fd16ce88.cfce1"],"x":172.5,"y":2949.9999771118164,"wires":[["d6f20359.abeed"]]},{"id":"d6f20359.abeed","type":"join","z":"76c001c4.620fa","name":"payload aggregator","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":503.1111297607422,"y":2950.666750907898,"wires":[["eb6b07f9.782a48"]]},{"id":"a21f90bc.3bed5","type":"link in","z":"aed920f9.7df21","name":"User Profile Tab input link","links":["c88c8983.32b1c8"],"x":359.4444274902344,"y":183.66665649414062,"wires":[[]]},{"id":"fe0ae557.d92658","type":"link in","z":"708a55b6.cddeac","name":"Help Tab Input link","links":["e9b8b470.260508"],"x":528.5554809570312,"y":145.77777099609375,"wires":[[]]},{"id":"ca7bdc4f.55c06","type":"comment","z":"708a55b6.cddeac","name":"about Tab Input link","info":"","x":590.111083984375,"y":94.33334350585938,"wires":[]},{"id":"a44eba89.421c58","type":"comment","z":"aed920f9.7df21","name":"User profile - Tab","info":"","x":422.00000381469727,"y":103.5555648803711,"wires":[]},{"id":"5ca3f18c.144bf","type":"comment","z":"f83f4bcb.c73878","name":"Settings Tab ","info":"","x":551.7777709960938,"y":107.77777099609375,"wires":[]},{"id":"5a0f0630.f49068","type":"ui_template","z":"76c001c4.620fa","group":"a0cd6d1c.bac54","name":"Summary weather & other metrics header","order":25,"width":"0","height":"0","format":"\n<p style=\"padding:0.5em\">Summary & Other Metrics</p>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":275.5,"y":2001.000099182129,"wires":[[]]},{"id":"2706536d.bafe9c","type":"ui_template","z":"f83f4bcb.c73878","group":"db2824df.708138","name":"Side Menu","order":8,"width":"0","height":"0","format":"<!DOCTYPE html>\n<html>\n<head>\n\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n  <meta name=\"description\" content=\"\">\n  <meta name=\"author\" content=\"\">\n\n  <title>Settings</title>\n\n  <!-- Bootstrap core CSS -->\n  <link href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\" rel=\"stylesheet\">\n  \n  <!-- Custom styles for this template -->\n  <style>\n    /*!\n     * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)\n     * Copyright 2013-2019 Start Bootstrap\n     * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)\n     */\n    body {\n      overflow-x: hidden;\n    }\n    \n    #sidebar-wrapper {\n      min-height: 100vh;\n      margin-left: -15rem;\n      -webkit-transition: margin .25s ease-out;\n      -moz-transition: margin .25s ease-out;\n      -o-transition: margin .25s ease-out;\n      transition: margin .25s ease-out;\n    }\n    \n    #sidebar-wrapper .sidebar-heading {\n      padding: 0.875rem 1.25rem;\n      font-size: 1.2rem;\n    }\n    \n    #sidebar-wrapper .list-group {\n      width: 15rem;\n    }\n    \n    #page-content-wrapper {\n      min-width: 100vw;\n    }\n    \n    #wrapper.toggled #sidebar-wrapper {\n      margin-left: 0;\n    }\n    \n    @media (min-width: 768px) {\n      #sidebar-wrapper {\n        margin-left: 0;\n      }\n    \n      #page-content-wrapper {\n        min-width: 0;\n        width: 100%;\n      }\n    \n      #wrapper.toggled #sidebar-wrapper {\n        margin-left: -15rem;\n      }\n    }\n  </style>\n</head>\n\n<body>\n\n  <div class=\"d-flex\" id=\"wrapper\">\n\n    <!-- Sidebar -->\n    <div class=\"bg-light border-right\" id=\"sidebar-wrapper\">\n      <div class=\"sidebar-heading\">Menu </div>\n      <div class=\"list-group list-group-flush\">\n        <a id=\"dash-settings\" href=\"#\" class=\"list-group-item list-group-item-action bg-light\">Dashboard</a>\n        <a id=\"acnt-settings\" href=\"#\" class=\"list-group-item list-group-item-action bg-light\">Account Settings</a>\n        <a id=\"not-settings\" href=\"#\" class=\"list-group-item list-group-item-action bg-light\">Notifications</a>\n        <a id=\"status-settings\" href=\"#\" class=\"list-group-item list-group-item-action bg-light\">Status</a>\n      </div>\n    </div>\n    <!-- /#sidebar-wrapper -->\n\n    <!-- Page Content -->\n    <div id=\"page-content-wrapper\">\n\n      <nav class=\"navbar navbar-expand-lg navbar-light bg-light border-bottom\">\n         <div style=\"padding:0.9em\">\n        <button class=\"btn btn-success\" id=\"menu-toggle\">Toggle Menu</button>\n        <button class=\"btn btn-success\" id=\"save-btn\">Save</button>\n        <button class=\"navbar-toggler\" type=\"button\" data-toggle=\"collapse\" data-target=\"#navbarSupportedContent\" aria-controls=\"navbarSupportedContent\" aria-expanded=\"false\" aria-label=\"Toggle navigation\">\n          <span class=\"navbar-toggler-icon\"></span>\n        </button>\n        </div>\n\n        <div class=\"collapse navbar-collapse\" id=\"navbarSupportedContent\">\n          <ul class=\"navbar-nav ml-auto mt-2 mt-lg-0\">\n            <li class=\"nav-item active\">\n              <a class=\"nav-link\" href=\"#\">Home <span class=\"sr-only\">(current)</span></a>\n            </li>\n            <li class=\"nav-item\">\n              <a class=\"nav-link\" href=\"#\">Link</a>\n            </li>\n            <li class=\"nav-item dropdown\">\n              <a class=\"nav-link dropdown-toggle\" href=\"#\" id=\"navbarDropdown\" role=\"button\" data-toggle=\"dropdown\" aria-haspopup=\"true\" aria-expanded=\"false\">\n                Dropdown\n              </a>\n              <div class=\"dropdown-menu dropdown-menu-right\" aria-labelledby=\"navbarDropdown\">\n                <a class=\"dropdown-item\" href=\"#\">Action</a>\n                <a class=\"dropdown-item\" href=\"#\">Another action</a>\n                <div class=\"dropdown-divider\"></div>\n                <a class=\"dropdown-item\" href=\"#\">Something else here</a>\n              </div>\n            </li>\n          </ul>\n        </div>\n      </nav>\n\n      <div class=\"container-fluid\" id=\"container\">\n        <h1 class=\"mt-4\" id=\"menu-header\">Personalised settings</h1>\n        <!-- settings-container -->\n        <div id=\"settings-content\">\n        <p>Use the side menu to set any desired settings of your liking.</p>\n        <p>Make sure to save changes by clicking on the save button.</p>\n        </div>  \n      </div>\n      \n      \n    </div>\n    <!-- /End of #page-content-wrapper -->\n\n  </div>\n  <!-- /#wrapper -->\n\n  <!-- Bootstrap core JavaScript -->\n  <script src=\"vendor/jquery/jquery.min.js\"></script>\n  <script src=\"vendor/bootstrap/js/bootstrap.bundle.min.js\"></script>\n\n  <!-- Menu Toggle Script -->\n  <script>\n  (function (scope){\n        var getSelectedOption = function (elem){\n          return  $(elem).find(\":selected\")[0].innerHTML; \n        }\n        \n        var getCheckBoxContext = function(elem){\n            return $(elem).change(function(e){\n                return this.checked;\n            });\n        }\n      \n       \n        $(\"#menu-toggle\").click(function(e) {\n          e.preventDefault();\n          $(\"#wrapper\").toggleClass(\"toggled\");\n        });\n        \n        //Previous Save button on click event handler\n    \n        //Dashboard tab\n          $(\"#dash-settings\").click(function(e) {\n            e.preventDefault();\n\n            var divStruc = `\n             <div class=\"row\">\n                <div class=\"col\" id=\"col-11\">Widgets<br><br>You can change the properties of any of the widgets below</div>\n                <div class=\"col\" id=\"col-12\"></div>\n                <div class=\"w-100\" style=\"padding:0.2em\"></div>\n                <div class=\"col\" id=\"col-21\">Settings</div>\n                \n                <div class=\"col\" id=\"col-22\"></div>\n                <!--\n                 <div class=\"w-100\" style=\"padding:0.2em\"></div>\n                 <div class=\"col\" id=\"col-31\">Dashboard theme</div>\n                 <div class=\"col\" id=\"col-32\">Column</div>\n                 -->\n              </div>\n            `;\n            \n         $(\"#menu-header\").text(\"Dashboard settings\");\n         $(\"#settings-content\").empty();\n         $(\"#settings-content\").append(divStruc);\n         \n         \n          $('#col-11').append(`\n          <div class=\"input-group mb-3\" style=\"padding-top:0.9em\" id=\"input-group-11\">\n          <div class=\"input-group-prepend\">\n            <label class=\"input-group-text success\" for=\"inputGroupSelect01\">Select Widget</label>\n         </div>\n        \n          <select class=\"custom-select\" id=\"inputGroupSelect01\">\n            <option selected>Select Widget ...</option>\n          \n            <option value=\"1\">Sensor Summary Data</option>\n            <option value=\"2\">Sensor Summary Percentages</option>\n            <option value=\"3\">Sensor Device location Map</option>\n            <option value=\"4\">Gauges</option>\n            <option value=\"5\">Figures</option>\n            <option value=\"6\">Line Graphs</option>\n            \n            \n          </select>\n        </div>\n         `);\n         \n         $('#inputGroupSelect01').change(function (e){\n             e.preventDefault();\n             switch(getSelectedOption(\"#inputGroupSelect01\")){\n                case \"Sensor Summary Data\":\n                      $('#col-21').empty();\n                      $('#col-21').text(\"Settings\");\n                      $('#col-21').append(`\n                      <!-- Sensor Summary Chart Settings -->\n                       <!-- Type of Chart -->\n                \n                       <div class=\"input-group mb-3\" style=\"padding-top:0.9em\" id=\"input-group-a\">\n                          <div class=\"input-group-prepend\">\n                            <label class=\"input-group-text success\" for=\"inputGroupSelect-a\">Sensor Summary Metrics</label>\n                         </div>\n                        \n                          <select class=\"custom-select\" id=\"inputGroupSelect-a\">\n                            <option selected>Select Chart ...</option>\n                          \n                            <option value=\"1\">line</option>\n                            <option value=\"2\">horizontal bar</option>\n                            <option value=\"3\">bar</option>\n                            <option value=\"4\">polar-area</option>\n                            <option value=\"5\">pie</option>\n                            <option value=\"6\">radar</option>\n                            \n                          </select>\n                        </div>\n                    `);\n                    break;\n                case \"Sensor Summary Percentages\":\n                      $('#col-21').empty();\n                      $('#col-21').text(\"Settings\");\n                      $('#col-21').append(`\n                       <strong><p>Sensor Summary Percenatages</p></strong>\n                    `);\n                    break;\n                case \"Gauges\":\n                      $('#col-21').empty();\n                      $('#col-21').text(\"Settings\");\n                      $('#col-21').append(`\n                       <!-- Individual gauges / Select Gauge -->\n                       <div class=\"input-group mb-3\" style=\"padding-top:0.9em\" id=\"input-group-b\">\n                          <div class=\"input-group-prepend\">\n                            <label class=\"input-group-text success\" for=\"inputGroupSelect-b\">Select Gauge</label>\n                         </div>\n                        \n                          <select class=\"custom-select\" id=\"inputGroupSelect-b\">\n                            <option selected>Select Guage ...</option>\n                          \n                            <option value=\"1\">Soil Moisture Gauge</option>\n                            <option value=\"2\">Altitude Gauge</option>\n                            <option value=\"3\">Luminosity Gauge</option>\n                            \n                          </select>\n                        </div>\n                            <div class=\"row mb-2\" style=\"padding-top:0.9em\">\n                                 <div class=\"col\" id=\"col-11\">\n                                        \n                                        <input type=\"number\" min=\"0\" max=\"10\" id=\"num-dial\" class=\"success\"/>\n                                        <label for=\"num-dial\"> Width Scale</label>\n                                  </div>\n                                  <div class=\"col\" id=\"col-12\">\n                                        <div class=\"custom-control custom-switch success\">\n                                          <label class=\"custom-control-label\" for=\"togglePointer-switch\" id=\"checkbox-label\">Toggle pointer</label>\n                                          <input type=\"checkbox\" class=\"custom-control-input\" id=\"togglePointer-switch\">\n    \n                                        </div>\n                                  </div>\n                                  <div class=\"col\" id=\"col-13\">\n                                \n                                       <div class=\"input-group mb-3\" id=\"input-group-c\">\n                                              <div class=\"input-group-prepend\">\n                                                <label class=\"input-group-text success\" for=\"inputGroupSelect-c\">Gauge Type</label>\n                                              </div>\n                                                \n                                              <select class=\"custom-select\" id=\"inputGroupSelect-c\">\n                                                <option selected>Select Gauge Type ...</option>\n                                              \n                                                <option value=\"1\">gage</option>\n                                                <option value=\"2\">donut</option>\n                                                <option value=\"3\">compass</option>\n                                                <option value=\"4\">wave</option>\n                                              </select>\n                                        </div>\n                                    </div> \n                            </div>\n                            <div class=\"row mb-2\" style=\"padding-top:0.9em\">\n                                 <div class=\"col\" id=\"col-21\">\n                                \n                                       <div class=\"input-group mb-3\" id=\"input-group-d\">\n                                              <div class=\"input-group-prepend\">\n                                                <label class=\"input-group-text success\" for=\"inputGroupSelect-d\">Color</label>\n                                              </div>\n                                                \n                                              <select class=\"custom-select\" id=\"inputGroupSelect-d\">\n                                                <option selected>Select GaugeColor ...</option>\n                                              \n                                                <option value=\"1\">red</option>\n                                                <option value=\"2\">green</option>\n                                                <option value=\"3\">blue</option>\n                                                <option value=\"4\">orange</option>\n                                              </select>\n                                        </div>\n                                        \n                                    </div>\n                                    <div class=\"col\" id=\"col-22\">\n                                        <div id=\"demo\"></div>\n                                    </div>\n                            \n                                \n                            </div>\n                            \n                        \n                    `);\n                    break;\n                case \"Figures\":\n                      $('#col-21').empty();\n                      $('#col-21').text(\"Settings\");\n                      $('#col-21').append(`\n                       <strong><p>Figures</p></strong>\n                    `);\n                    break;\n                case \"Line Graphs\":\n                      $('#col-21').empty();\n                      $('#col-21').text(\"Settings\");\n                      $('#col-21').append(`\n                       <strong><p>Line</p></strong>\n                    `);\n                    break;\n                case \"Sensor Device location Map\":\n                      $('#col-21').empty();\n                      $('#col-21').text(\"Settings\");\n                      $('#col-21').append(`\n                         <strong><p>Device location on Map</p></strong>\n                         <div class=\"custom-control custom-switch success\" style=\"padding-top:0.9em\">\n                          <input type=\"checkbox\" class=\"custom-control-input\" id=\"customSwitches\">\n                          <label class=\"custom-control-label\" for=\"customSwitches\" id=\"checkbox-label\">Disable Map</label>\n                         </div>\n                         \n                    `);\n                    break;\n                default:\n                      $('#col-21').empty();\n                      $('#col-21').text(\"Settings\");\n                      $('#col-21').append(`\n                       <div class=\"custom-control custom-switch success\" style=\"padding-top:0.9em\">\n                          <input type=\"checkbox\" class=\"custom-control-input\" id=\"customSwitche\">\n                          <label class=\"custom-control-label\" for=\"customSwitch\" id=\"checkbox-label\">Disable Widget</label>\n                        </div>\n                    `);\n             }\n         });\n         \n         \n      \n          $(\"#save-btn\").click(function(e) {\n          e.preventDefault();\n          \n                     alert(\"Changes have been saved successfully\");\n                     \n                      \n                     // horizontal bar handler\n                     if($(\"#inputGroupSelect-a\").length == 1){\n                     var ui_look_a = getSelectedOption(\"#inputGroupSelect-a\");\n                   \n                     if(ui_look_a == \"horizontal bar\"){\n                        ui_look_a = \"horizontalBar\";\n                     }else if(ui_look_a == \"Select Chart ...\"){\n                         //default setting\n                         ui_look_a = \"line\";\n                     }\n                     \n                     scope.send({ui_control:{look:ui_look_a, legend:false, interpolate:\"linear\"}});\n                     }\n            \n            //Disable widget handler\n           if($(\"#togglePointer-switch\").length == 1){\n             if(getCheckBoxContext(\"#togglePointer-switch\")){\n                  scope.send({enabled:true});\n                  $(\"#togglePointer-switch\").text(\"Disabled\");\n                  //this.toggle(this.checked);\n              }\n              else\n              {  \n                 scope.send({enabled:true});\n                  $(\"#togglePointer-switch\").text(\"Enabled\");\n                   //this.toggle(!this.checked);\n                  \n              }\n           }\n              \n              \n              if($(\"#inputGroupSelect-b\").length == 1){\n                  var ui_look_b = getSelectedOption(\"#inputGroupSelect-b\");\n                 \n                   switch(ui_look_b){\n                      \n                    case \"Soil Moisture Gauge\":\n                  \n                             var selectedOpts = {gtype:null, color:null};\n                             var ui_look_c = ($(\"#inputGroupSelect-c\").length == 1 ? getSelectedOption(\"#inputGroupSelect-c\") : null);\n                             var ui_look_d = ($(\"#inputGroupSelect-d\").length == 1 ? getSelectedOption(\"#inputGroupSelect-d\") : null);\n                             \n                            scope.send({ui_control:{gtype:ui_look_c, colors:[ui_look_d,\"#00ff00\", \"#01DF74\"], label:ui_look_b}});\n                            \n                            break;\n                            \n                      case \"Altitude Gauge\":\n                            \n                            var selectedOpts = {gtype:null, color:null};\n                             var ui_look_c = ($(\"#inputGroupSelect-c\").length == 1 ? getSelectedOption(\"#inputGroupSelect-c\") : null);\n                             var ui_look_d = ($(\"#inputGroupSelect-d\").length == 1 ? getSelectedOption(\"#inputGroupSelect-d\") : null);\n                            scope.send({ui_control:{gtype:ui_look_c, colors:[ui_look_d,\"#00ff00\", \"#01DF74\"], label:ui_look_b}});\n                         \n                             break;\n                          \n                      case \"Luminosity Gauge\":\n                      \n                            var selectedOpts = {gtype:null, color:null};\n                            var ui_look_c = ($(\"#inputGroupSelect-c\").length == 1 ? getSelectedOption(\"#inputGroupSelect-c\") : null);\n                            var ui_look_d = ($(\"#inputGroupSelect-d\").length == 1 ? getSelectedOption(\"#inputGroupSelect-d\") : null);\n                             \n                            scope.send({ui_control:{gtype:ui_look_c, colors:[ui_look_d,\"#00ff00\", \"#01DF74\"], label:ui_look_b}});\n                            \n                            break;\n                          \n                         \n                        default:\n                        scope.send({ui_control:{gtype:\"donut\", colors:[\"blue\",\"#00ff00\", \"#01DF74\"]}});\n                        \n                      \n                    } //end of if {exp:Soil Moisture gauge}\n             } //end of if {exp:#inputSelectGroup-b}\n        }); // end of #saves.click\n         \n     }); // end of #dashboard-settings.append\n    \n        //Account Settings\n         $(\"#acnt-settings\").click(function(e) {\n           e.preventDefault();\n             var divStruc = `\n                 <div class=\"row\">\n                    <div class=\"col\" id=\"col-11\">Authentication<br><br>Select any of the desired sign in methods</div>\n                    <div class=\"col\" id=\"col-12\"></div>\n                    <div class=\"w-100\" style=\"padding:0.2em\"></div>\n                    <div class=\"col\" id=\"col-21\">Account Details</div>\n                    \n                    <div class=\"col\" id=\"col-22\"></div>\n                    <!--\n                     <div class=\"w-100\" style=\"padding:0.2em\"></div>\n                     <div class=\"col\" id=\"col-31\"></div>\n                     <div class=\"col\" id=\"col-32\"></div>\n                     -->\n              </div>\n               `;\n    \n             $(\"#menu-header\").text(\"Account settings\");\n             $(\"#settings-content\").empty();\n             $(\"#settings-content\").append(divStruc);\n             \n              $(\"#col-11\").append(`\n              <div class=\"input-group mb-3\" style=\"padding-top:0.9em\" id=\"input-group-11\">\n                 <div class=\"input-group-prepend\">\n                    <label class=\"input-group-text success\" for=\"inputGroupSelect01\">Sign in method</label>\n                 </div>\n                \n                  <select class=\"custom-select\" id=\"inputGroupSelect01\">\n                    <option selected>default signin</option>\n                  \n                    <option value=\"1\">Public key authentication</option>\n                    <option value=\"2\">Secret tokens</option>\n                    <option value=\"3\">Email authentication</option>\n                    <option value=\"4\">Google authentication</option>\n                    <option value=\"5\">Facebook authentication</option>\n                    \n                    \n                 </select>\n            </div>\n              `);\n              \n              $(\"#col-21\").append(`\n                <link href=\"http://www.jqueryscript.net/css/jquerysctipttop.css\" rel=\"stylesheet\" type=\"text/css\">\n                <div id=\"container\" style=\"padding-top:0.9em\">\n                  <table id=\"info-tab\" class=\"table table-bordered\">\n                    <thead>\n                      <tr>\n                        <th>Firstname</th>\n                        <th>Lastname</th>\n                        <th>Email</th>\n                      </tr>\n                    </thead>\n                    <tbody>\n                      <tr>\n                        <td>John</td>\n                        <td>Doe</td>\n                        <td>john@example.com</td>\n                      </tr>\n                    </tbody>\n                  </table>\n                  </div>\n                 \n                 \n              `);\n          $(\"#info-tab\").SetEditable();\n         });\n        \n        // Notifications tab\n         $(\"#not-settings\").click(function(e) {\n            e.preventDefault();\n            var divStruc = `\n            <p>The details asked below will be used to set up notification parameters</p>\n            <br>\n            <div class=\"row\">\n                    <div class=\"col\" id=\"col-11\" class=\"input-group-text\">\n                        <span>\n                            <p>phone Number: </p>\n                            <input type=\"text\" class=\"form-control\" placeholder=\"(+245) 733 834 832\">\n                        </span>\n                        <br>\n                        <span>\n                            <p>USSD pin: </p>\n                            <input type=\"password\" class=\"form-control\">\n                        <span>\n                    </div>\n        \n                    <div class=\"col\" id=\"col-12\" class =\"input-group-text\">\n                  \n                    </div>\n             </div> \n             <br>\n             <div class=\"row\">\n            \n                <div class=\"col\" id=\"col-11\"><button class=\"btn btn-success\">save</button></div>\n             </div>\n           `;\n            \n             $(\"#menu-header\").text(\"Notifications settings\");\n             $(\"#settings-content\").empty();\n             $(\"#settings-content\").append(divStruc);\n         });\n         \n         //Status settings\n         $(\"#status-settings\").click(function(e) {\n            e.preventDefault();\n             var divStruc = `\n                <div class=\"row\">\n                    <div class=\"col\" id=\"col-11\">Sensor Device State: <div id=\"col-sensor-status\" style=\"color:green\">\n                    <strong>Online<Strong>\n                    </div>\n                </div>`;\n                \n                \n                   \n            \n            \n             $(\"#menu-header\").text(\"Status settings\");\n             $(\"#settings-content\").empty();\n             $(\"#settings-content\").append(divStruc);\n             \n         });\n    })(scope);\n  </script>\n  <script src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js\"></script>\n  <script src=\"https://code.jquery.com/jquery-1.12.4.min.js\"></script>\n  <script src=\"http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n  <script src=\"freshslider.1.0.js\"></script>\n  <script src=\"https://pastebin.com/embed_js/UHd5mrX7\"></script>\n </body>\n\n</html>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":145.02349853515625,"y":388.0391540527344,"wires":[["6cc15ac3.fdb9c4","21fd3e1c.9d20d2"]]},{"id":"3dc4b360.bc88dc","type":"link in","z":"76c001c4.620fa","name":"In alt gauge setting","links":["a1431af7.a57578","aeea58de.682798","7c450c9.e35edf4"],"x":1267.5,"y":540.9999771118164,"wires":[["5bd70a5e.a65b04"]]},{"id":"aeea58de.682798","type":"link out","z":"f83f4bcb.c73878","name":"out alt gauge setting","links":["3dc4b360.bc88dc","e386a026.ef405","24c3563c.50d08a","845d1940.d3db88","3fe7a500.25b33c","1291427d.5261de"],"x":521.5,"y":162,"wires":[]},{"id":"5b468769.13dd58","type":"ui_template","z":"aed920f9.7df21","group":"fc3b5794.1a3d88","name":"User profile info","order":7,"width":"40","height":"35","format":"\n<head>\n\n<link href=\"//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css\" rel=\"stylesheet\" id=\"bootstrap-css\">\n<!--<link href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\" rel=\"stylesheet\">-->\n<script src=\"//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js\"></script>\n<script src=\"//code.jquery.com/jquery-1.11.1.min.js\"></script>\n  \n<style>\n\n\nbody {background: #F1F3FA;}\n.settings_form{display:block;float:center};\n.form_frame_left{float:left;min-width:558px;max-width:558px;margin:10px 10px 10px 0}\n.form_frame{font-size:1em}\n.form_left{float:left;line-height:35px;width:150px;margin:0 0 10px}\n.form_right{float:left;line-height:35px;min-width:300px;text-align:left;margin:0 0 10px}\n.social_link{width:20px;height:20px;border-radius:3px;vertical-align:top;margin:4px 3px 0 0;line-height:20px}\ninput.post_input{background-color:#fff;border:1px solid #ddd;border-radius:3px;box-shadow:inset 0 1px 1px rgba(0,0,0,.075);color:#181818;font-family:\"segoe ui\",\"trebuchet MS\",\"Lucida Sans Unicode\",\"Lucida Sans\",Sans-Serif;font-size:1em;width:272px;padding:8px}\ninput.width_390{min-width:200px;width:390px}\ninput.button1{background-color:#ddd;border-bottom:2px solid #ccc;border-left:0;border-radius:3px;border-right:0;border-top:0;color:#000;cursor:pointer;display:inline-block;font-family:\"segoe ui\",\"trebuchet MS\",\"Lucida Sans Unicode\",\"Lucida Sans\",Sans-Serif;font-size:13px;font-weight:400;height:27px;line-height:27px;min-width:54px;text-align:center;text-decoration:none;-moz-appearance:none;-webkit-appearance:none;padding:0 10px}\ninput.btnbig{font-weight:600;height:35px;line-height:35px;padding:0 25px}\n.content_title{border-bottom:2px solid #ddd;color:#333;font-size:1em;font-weight:600;padding:0 0 5px}\n.content_text{font-size:.8em;line-height:22px;padding:10px 0}\n.custom-file-input{display:inline-block;position:relative}\n.custom-file-input input{visibility:hidden;width:100px}\n.custom-file-input:before{background-color:#ddd;border-bottom:2px solid #ccc;border-left:0;border-radius:3px;border-right:0;border-top:0;color:#000;content:'Choose File';cursor:pointer;display:block;font-family:\"segoe ui\",\"trebuchet MS\",\"Lucida Sans Unicode\",\"Lucida Sans\",Sans-Serif;font-size:13px;font-weight:600;height:25px;left:0;line-height:25px;min-width:54px;outline:none;position:absolute;right:0;text-align:center;text-decoration:none;white-space:nowrap;margin:0 3px;padding:0 10px}\ninput.file_output{background:#fff;border:0;color:#181818;font-family:\"segoe ui\",\"trebuchet MS\",\"Lucida Sans Unicode\",\"Lucida Sans\",Sans-Serif;height:25px;line-height:25px;-moz-appearance:none;-webkit-appearance:none;width:300px;overflow:hidden}\n/*#noitce{background:url(https://pastebin.com/i/info.png) no-repeat 12px 12px;border:1px solid #ddd;border-radius:3px;display:block;line-height:20px;min-height:20px;margin:6px 0;padding:10px 10px 10px 38px}*/\n/*#notice{background:#fff url(https://pastebin.com/i/info.png) no-repeat 10px 10px;background-size:20px 20px;border-left-width:8px;border-radius:3px}*/\n\n</style>\n</head>\n\n \n        <div class=\"row\">\n                \n                <div class=\"col\" id=\"col-11\" style=\"float:left;padding:1.5em\">\n                    <form class=\"settings_form\" id=\"myform\" >\n                \t    <input name=\"submit_hidden\" value=\"submit_hidden\" type=\"hidden\">\n                       \t<input type=\"hidden\" name=\"csrf_token\" value=\"MTU2ODM2MjA4N3Btd3U4WnJVamNqYnE0Q1J0OE5ocU9ERXdOSFJyQUVx\">\n                    \t<div class=\"form_frame_left\">\n                    \t\t<div class=\"form_frame\">\n                    \t\t\t<div class=\"form_left\">\n                    \t\t\t\tUsername:\n                    \t\t\t</div>\n                    \t\t\t<div class=\"form_right\">\n                    \t\t\t\t<!--ricoTush [ <a href=\"/change_username\">change</a> ]-->\n                    \t\t\t\tuser\n                    \t\t\t    <button class=\"btn btn-success\" id=\"save-btn\">change</button>\n                    \t\t\t</div>\n                    \t\t</div>\n                    \t\t<div class=\"form_frame\">\n                    \t\t\t<div class=\"form_left\">\n                    \t\t\t\tEmail Address:\n                    \t\t\t</div>\n                    \t\t\t<div class=\"form_right\">\n                    \t\t\t\t<input type=\"text\" name=\"user_email\" size=\"20\" placeholder=\"Your email address\" value=\"eromtush@gmail.com\" class=\"post_input width_390\">\n                    \t\t\t</div>\n                    \t\t</div>\n                    \t\t<div class=\"form_frame\">\n                    \t\t\t<div class=\"form_left\">\n                    \t\t\t\tEmail Status:\n                    \t\t\t</div>\n                    \t\t\t<div class=\"form_right\">\n                    \t\t\t\t<font color=\"green\">Verified!</font>\n                    \t\t\t</div>\n                    \t\t</div>\n                    \t\t<div class=\"form_frame\">\n                    \t\t\t<div class=\"form_left\">\n                    \t\t\t\tPassword Status:\n                    \t\t\t</div>\n                    \t\t\t<div class=\"form_right\">\n                    \t\t\t\t<!--<font color=\"red\">Not set!</font> [ <a href=\"\" id=\"set_passwd\">set password</a> ]-->\n                    \t\t\t\t<font color=\"red\">Not set!</font> <button class=\"btn btn-success\" id=\"set_passwd\">set password</button>\n                    \t\t\t</div>\n                    \t\t</div>\n                    \t\t<div class=\"form_frame\">\n                    \t\t\t<div class=\"form_left\">\n                    \t\t\t\tWebsite URL:\n                    \t\t\t</div>\n                    \t\t\t<div class=\"form_right\">\n                    \t\t\t\t<input type=\"text\" name=\"user_website\" size=\"20\" placeholder=\"Enter a valid URL starting with http(s)://\" value=\"\" class=\"post_input width_390\">\n                    \t\t\t</div>\n                    \t\t</div>\n                    \t\t<div class=\"form_frame\">\n                    \t\t\t<div class=\"form_left\">\n                    \t\t\t\tLocation:\n                    \t\t\t</div>\n                    \t\t\t<div class=\"form_right\">\n                    \t\t\t\t<input type=\"text\" name=\"user_location\" size=\"20\" placeholder=\"Where are you from?\" value=\"\" class=\"post_input width_390\">\n                    \t\t\t</div>\n                    \t\t</div>\n                    \t\t\n                    \t\t<div class=\"form_frame\">\n                    \t\t\t<div class=\"form_left\" style=\"height:106px\">\n                    \t\t\t\tAvatar:\n                    \t\t\t</div>\n                    \t\t\t<div class=\"form_right\" style=\"height:106px\">\n                    \t\t\t\t<span style=\"float:left;\"><img src=\"https://pastebin.com/i/guest.png\" style=\"border:1px solid #ccc;padding:2px;border-radius:3px;width:100px\" alt=\"\" border=\"0\"></span>\n                    \t\t\t\t<span style=\"float:left;padding: 0 0 0 10px;text-align:left;line-height:20px;\"><button class=\"btn btn-success\" id=\"change-avatar\">change avatar</button><!--[ <a href=\"/change_avatar\">change avatar</a> ]--></span>\n                    \t\t\t</div>\n                    \t\t</div>\n                    \t\t<div class=\"form_frame\">\n                    \t\t\t<div class=\"form_left\">\n                    \t\t\tLogin Options:\n                    \t\t\t</div>\n                    \t\t\t<div class=\"form_right\" style=\"line-height:30px;\">\n                    \t\t\t\t<img src=\"/i/pastebin_svg.png\" class=\"social_link\" alt=\"\" border=\"0\"> Pastebin: <font color=\"red\">Inactive</font> - [ <a href=\"/password\">add a password</a> ]<br>\n                    \t\t\t\t<img src=\"/i/twitter_svg.png\" class=\"social_link\" alt=\"\" border=\"0\"> Twitter: <font color=\"red\">Inactive</font> - [ <a href=\"/profile_link.php?l=t\">link a Twitter account?</a> ]<br>\n                    \t\t\t\t<img src=\"/i/google_svg.png\" class=\"social_link\" alt=\"\" border=\"0\"> Google: <font color=\"green\">Active</font> - [ <a href=\"/profile_unlink.php\" onclick=\"return confirm('Are you sure?');\">unlink</a> ]<br>\n                    \t\t\t\t<img src=\"/i/facebook_svg.png\" class=\"social_link\" alt=\"\" border=\"0\"> Facebook: <font color=\"red\">Inactive</font> - [ <a href=\"/profile_link.php?l=f\">link a Facebook account? ]</a><br>\n                    \t\t\t</div>\n                    \t\t</div>\n                    \t\t<div class=\"form_frame\">\n                    \t\t\t<div class=\"form_left\">\n                    \t\t\tAccount Type:\n                    \t\t\t</div>\n                    \t\t\t<div class=\"form_right\">\n                    \t\t\t\t<b>Free</b> [ <a href=\"/pro\">upgrade to PRO</a> ]\n                    \t\t\t</div>\n                    \t\t</div>\n                    \t\t<div class=\"form_frame\">\n                    \t\t\t<div class=\"form_left\">\n                    \t\t\t\t&nbsp;\n                    \t\t\t</div>\n                    \t\t\t<div class=\"form_right\">\n                    \t\t\t\t<input name=\"submit\" type=\"submit\" value=\"Update Profile\" class=\"button1 btnbig\">\n                    \t\t\t</div>\n                    \t\t</div>\n                    \t</div>\n                    </form>\n                </div>\n                <div class=\"col\" id=\"col-12\" style=\"float:left;\">\n                    \n                </div>\n          \n        </div>\n        <script>\n            \n        \n            $(\"#set_passwd\").click(() => {\n                $(\"#col-12\").empty();\n                $(\"#col-12\").append(`\n                    <div class=\"content_title\" style=\"font-size:1.3em; padding-top:1em\">Change Your Password</div>\n        <div class=\"content_text\" style=\"padding:10px 0 0 0;\" ><div id=\"notice\" style=\"margin:0;font-size:1.2em;\">\n            If you want to use any of the external Pastebin tools you must set a password on your account!</div>\n        </div>\n                <form id=\"myform\" method=\"post\" action=\"/password\" style=\"font-size:1em\">\n        \t<input name=\"submit_hidden\" value=\"submit_hidden\" type=\"hidden\">\n        \t<div class=\"form_frame_left\">\n        \t\t<div class=\"form_frame\">\n        \t\t\t<div class=\"form_left\">\n        \t\t\t\tPassword Status:\n        \t\t\t</div>\n        \t\t\t<div class=\"form_right\">\n        \t\t\t\t<font color=\"red\">Not set!</font>\n        \t\t\t</div>\n        \t\t</div>\n        \t\t\n        \t\t<div class=\"form_frame\">\n        \t\t\t<div class=\"form_left\">\n        \t\t\t\tNew Password:\n        \t\t\t</div>\n        \t\t\t<div class=\"form_right\">\n        \t\t\t\t<input type=\"password\" autocomplete=\"off\" name=\"user_password_new_1\" size=\"20\" placeholder=\"Your new password\" value=\"\" class=\"post_input width_390\" aria-autocomplete=\"list\">\n        \t\t\t</div>\n        \t\t</div>\n        \t\t<div id=\"email_availability_result\"></div>\n        \t\t<div class=\"form_frame\">\n        \t\t\t<div class=\"form_left\">\n        \t\t\t\tNew Password Again:\n        \t\t\t</div>\n        \t\t\t<div class=\"form_right\">\n        \t\t\t\t<input type=\"password\" autocomplete=\"off\" name=\"user_password_new_2\" size=\"20\" placeholder=\"Your new password again\" value=\"\" class=\"post_input width_390\">\n        \t\t\t</div>\n        \t\t</div>\n        \t\t<div class=\"form_frame\">\n        \t\t\t<div class=\"form_left\">\n        \t\t\t\t&nbsp;\n        \t\t\t</div>\n        \t\t\t<div class=\"form_right\">\n        \t\t\t\t<input type=\"input\" name=\"captcha_solution\" size=\"20\" value=\"\" placeholder=\"Enter captcha\" class=\"post_input width_390\" style=\"width:100px;min-width:100px\"> \n        \t\t\t\t<img id=\"captcha\" src=\"https://pastebin.com/etc/captcha/random.php?p=5194\" alt=\"\" border=\"0\" style=\"vertical-align:top\">\n        \t\t\t\t<img src=\"https://pastebin.com/i/refresh.png\" alt=\"\" title=\"Load new captcha code\" border=\"0\" id=\"reload\">\n        \t\t\t</div>\n        \t\t</div>\n        \t\t<div class=\"form_frame\">\n        \t\t\t<div class=\"form_left\">\n        \t\t\t\t&nbsp;\n        \t\t\t</div>\n        \t\t\t<div class=\"form_right\">\n        \t\t\t\t<input name=\"submit\" type=\"submit\" value=\"Change Password\" class=\"button1 btnbig\">\n        \t\t\t</div>\n        \t\t</div>\n        \t</div>\n        \t</form>\n                `);\n            });\n            \n            \n             $(\"#change-avatar\").click(() => {\n                $(\"#col-12\").empty();\n                $(\"#col-12\").append(`\n                    <div class=\"content_title\" style=\"font-size:1.3em; padding-top:1em\">Change Your Avatar</div>\n                    <div class=\"content_text\" style=\"padding:10px 0 0 0\">\n                \t\t<div id=\"notice\" style=\"margin:0;font-size:1.3em;\">\n                \t\t\tTo update your avatar, select a valid JPG or PNG image. We will automatically resize the image for you.\n                \t\t</div>\n                \t</div>\n                \t<form id=\"myform\" enctype=\"multipart/form-data\" method=\"post\" action=\"/change_avatar\" onsubmit=\"document.getElementById('submit').disabled=true;document.getElementById('submit').value='Please wait...';\">\n   \t<input type=\"hidden\" name=\"csrf_token\" value=\"MTU2ODgwOTAxMEdPUVNQVzhSdDdEb285NjA3aU56eEwwT1hVYjgwWWxt\">\n\t<input name=\"submit_hidden\" value=\"submit_hidden\" type=\"hidden\">\n\t<div class=\"form_frame_left\">\n\t\t<div class=\"form_frame\">\n\t\t\t<div class=\"form_left\">\n\t\t\t\tAvatar (jpg/png/gif):\n\t\t\t</div>\n\t\t\t<div class=\"form_right\">\n\t\t\t\t<label class=\"custom-file-input\" style=\"vertical-align:top;\">\n\t\t\t\t\t<input type=\"file\" id=\"user_avatar\" name=\"user_avatar\">\n\t\t\t\t</label>\n\t\t\t\t<input id=\"file_post\" name=\"file_post\" placeholder=\"\" class=\"file_output\">\n\t\t\t\t<input type=\"hidden\" name=\"MAX_FILE_SIZE\" value=\"10485760\" class=\"button1 btnbig\">\n\t\t\t\t<div id=\"script_holder\"></div>\n\t\t\t</div>\n\t\t</div>\n\t\t<div class=\"form_frame\">\n\t\t\t<div class=\"form_left\">\n\t\t\t\t&nbsp;\n\t\t\t</div>\n\t\t\t<div class=\"form_right\">\n\t\t\t\t<input name=\"submit\" id=\"submit\" type=\"submit\" value=\"Upload Avatar\" class=\"button1 btnbig\">\n\t\t\t</div>\n\t\t</div>\n\t</div>\n\t</form>\n                `);\n            });\n     $(\"#user_avatar\").change(function() {\n         alert(\"choose button clicked\");\n        // $(\"#script_holder\").append(`\n        //   <p>script goes here</p>\n        // `);\n        // document.getElementById(\"file_post\").value = this.files[0].name;\n     });\n            \n        </script>\n\t\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":434.0001220703125,"y":330.3333740234375,"wires":[[]]},{"id":"509a0f20.68ae8","type":"ui_template","z":"76c001c4.620fa","group":"a0cd6d1c.bac54","name":"location header","order":8,"width":"15","height":"1","format":"\n<p style=\"padding:0.5em\">Sensor location</p>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":199,"y":2249.0392837524414,"wires":[[]]},{"id":"1bdfad22.3b21a3","type":"ui_template","z":"76c001c4.620fa","group":"a0cd6d1c.bac54","name":"Linear graphs header","order":9,"width":"12","height":"1","format":"\n<p style=\"padding:0.5em\">Linear graphs</p>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":221.0234375,"y":2291.0390396118164,"wires":[[]]},{"id":"b47830ae.86356","type":"ui_template","z":"76c001c4.620fa","group":"a0cd6d1c.bac54","name":"Gauges header","order":10,"width":"6","height":"1","format":"\n<p style=\"padding:0.5em\">Gauges</p>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":200.0234375,"y":2330.0390396118164,"wires":[[]]},{"id":"83880704.c09748","type":"ui_template","z":"76c001c4.620fa","group":"a0cd6d1c.bac54","name":"Text data header","order":11,"width":"4","height":"1","format":"\n<p style=\"padding:0.5em\">Figures</p>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":211.02344512939453,"y":2370.0392837524414,"wires":[[]]},{"id":"b02f01af.8cb92","type":"mqtt in","z":"76c001c4.620fa","name":"","topic":"esp8266/loc_lat","qos":"0","datatype":"auto","broker":"6713a11b.92a6","x":101.2734375,"y":122.21875762939453,"wires":[["5b1eec61.3eea74"]]},{"id":"7decad17.848bb4","type":"mqtt in","z":"76c001c4.620fa","name":"","topic":"esp8266/loc_lng","qos":"0","datatype":"auto","broker":"6713a11b.92a6","x":97.02345275878906,"y":182.03906059265137,"wires":[["5b1eec61.3eea74"]]},{"id":"5b1eec61.3eea74","type":"join","z":"76c001c4.620fa","name":"location data aggregator","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":369.28905868530273,"y":154.21093559265137,"wires":[["691c6489.76c47c"]]},{"id":"691c6489.76c47c","type":"function","z":"76c001c4.620fa","name":"Location Cordinates","func":"\nmsg.loc = {\n    lat: parseFloat(msg.payload[\"esp8266/loc_lat\"]),// -1.45, \n    lon: parseFloat(msg.payload[\"esp8266/loc_lng\"]),// 36.97\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":352.2890625,"y":246.3984375,"wires":[["a7fba11b.c9bea","2c8ad539.5bb96a"]]},{"id":"bd6794cc.c58138","type":"function","z":"76c001c4.620fa","name":"Africa's talking API","func":"const options = {\n    apiKey: 'YOUR_API_KEY',         // use your sandbox app API key for development in the test environment\n    username: 'YOUR_USERNAME',      // use 'sandbox' for development in the test environment\n};\nconst AfricasTalking = require('africastalking')(options);\n\n// Initialize a service e.g. SMS\nsms = africastalking.SMS\n\n// Use the service\nconst options_send = {\n    to: ['+254707649392', '+254733504348'],\n    message: \"Agrarian notfication Text message test\"\n}\n\n// Send message and capture the response or error\nsms.send(options_send)\n    .then( response => {\n        // console.log(response);\n        msg.payload = response;\n    })\n    .catch( error => {\n        //console.log(error);\n        msg.payload = error;\n    });","outputs":1,"noerr":0,"x":907.5,"y":2111.9999771118164,"wires":[[]]},{"id":"24da0c3c.f609d4","type":"link out","z":"f83f4bcb.c73878","name":"out link side menu - Summary Sensor Data Gauge","links":[],"x":730.5,"y":339,"wires":[]},{"id":"6cc15ac3.fdb9c4","type":"switch","z":"f83f4bcb.c73878","name":"settings router","property":"enabled","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":355.16668701171875,"y":339.8333435058594,"wires":[["a4040aac.f67d48","24da0c3c.f609d4"]]},{"id":"72f8ea41.125aa4","type":"link out","z":"f83f4bcb.c73878","name":"out link side menu - Summary Sensor Metrics Chart","links":["d7b67a1d.579c98"],"x":1047,"y":549,"wires":[]},{"id":"a4040aac.f67d48","type":"debug","z":"f83f4bcb.c73878","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"enabled","targetType":"msg","x":643,"y":228,"wires":[]},{"id":"8914548a.d0da38","type":"debug","z":"f83f4bcb.c73878","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"ui_control.label","targetType":"msg","x":660,"y":566,"wires":[]},{"id":"21fd3e1c.9d20d2","type":"switch","z":"f83f4bcb.c73878","name":"settings router","property":"ui_control","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":381,"y":469,"wires":[["8914548a.d0da38","10e52610.52556a"]]},{"id":"f4d7f320.96965","type":"link in","z":"76c001c4.620fa","name":"loction Map input link - settings","links":[],"x":1136.5,"y":123,"wires":[["a7fba11b.c9bea"]]},{"id":"dda3cc30.88ddc","type":"link in","z":"cedc12f9.07809","name":"input_sensor_metrics_firebase_db_link","links":["2decd711.166378","60ecb650.a8a1f8","ae8c17c8.cea2a8","c2ac012f.91663","788a1a82.931164","ceca9733.2a3b08"],"x":59.8570442199707,"y":203.95236206054688,"wires":[["6c3efce1.f4dfe4"]]},{"id":"6c3efce1.f4dfe4","type":"switch","z":"cedc12f9.07809","name":"payload router","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"esp8266/temperature","vt":"str"},{"t":"eq","v":"esp8266/humidity","vt":"str"},{"t":"eq","v":"esp8266/Soil","vt":"str"},{"t":"eq","v":"esp8266/atpressure","vt":"str"},{"t":"eq","v":"esp8266/alt","vt":"str"},{"t":"eq","v":"esp8266/ldr","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":219.74996948242188,"y":202.11904907226562,"wires":[["b24604ca.757188"],["b24604ca.757188"],["b24604ca.757188"],["b24604ca.757188"],["b24604ca.757188"],["b24604ca.757188"]]},{"id":"b24604ca.757188","type":"join","z":"cedc12f9.07809","name":"payload aggregator","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":499.9403762817383,"y":206.07143592834473,"wires":[["93e29164.de6ac"]]},{"id":"93e29164.de6ac","type":"function","z":"cedc12f9.07809","name":"process payload","func":"var r_payload = msg.payload;\nmsg.payload = {};\nfor (var key in r_payload) if(key.includes(\"esp8266/\")) msg.payload[key.replace(\"esp8266/\", \"\")] = r_payload[key];\nreturn msg;","outputs":1,"noerr":0,"x":737.3749465942383,"y":207.6377010345459,"wires":[["826e218c.7e807"]]},{"id":"cbc46b84.bc45e8","type":"http in","z":"aed920f9.7df21","name":"change password endpoint","url":"/password","method":"post","upload":false,"swaggerDoc":"","x":283.28125,"y":430.140625,"wires":[["fcab1ff2.f782c","957b8e2f.26138"]]},{"id":"fcab1ff2.f782c","type":"function","z":"aed920f9.7df21","name":"check confirmation of password","func":"(msg.payload.user_password_new_1 != msg.payload.user_password_new_2 ? alert (\"passwords do not match\") : alert (\"password changed successfully\"));\nreturn msg;","outputs":1,"noerr":0,"x":654.2891845703125,"y":434.3984680175781,"wires":[[]]},{"id":"957b8e2f.26138","type":"debug","z":"aed920f9.7df21","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":613.28125,"y":490.3672180175781,"wires":[]},{"id":"e386a026.ef405","type":"link in","z":"76c001c4.620fa","name":"In soil gauge setting","links":["aeea58de.682798","d461b327.d0341"],"x":1265,"y":595.9999771118164,"wires":[["55887867.be8e58"]]},{"id":"24c3563c.50d08a","type":"link in","z":"76c001c4.620fa","name":"In light gauge setting","links":["9abea106.afbac","aeea58de.682798"],"x":1261,"y":646.9999771118164,"wires":[["9042abdf.9c7a38"]]},{"id":"a1431af7.a57578","type":"link out","z":"f83f4bcb.c73878","name":"out-alt gauge","links":["3dc4b360.bc88dc","d7b67a1d.579c98","845d1940.d3db88","3fe7a500.25b33c","1291427d.5261de"],"x":1047,"y":495,"wires":[]},{"id":"9abea106.afbac","type":"link out","z":"f83f4bcb.c73878","name":"out-lumin gauge","links":["24c3563c.50d08a","d7b67a1d.579c98"],"x":1039,"y":452,"wires":[]},{"id":"d461b327.d0341","type":"link out","z":"f83f4bcb.c73878","name":"out-soil gauge","links":["d7b67a1d.579c98","e386a026.ef405"],"x":1038,"y":406,"wires":[]},{"id":"10e52610.52556a","type":"switch","z":"f83f4bcb.c73878","name":"Gauge Setting Router","property":"ui_control.label","propertyType":"msg","rules":[{"t":"eq","v":"Soil Moisture Gauge","vt":"str"},{"t":"eq","v":"Luminosity Gauge","vt":"str"},{"t":"eq","v":"Altitude Gauge","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":652.5,"y":465,"wires":[["79c05fb5.2a3d5"],["4d3b19cd.e3c648"],["29f62d85.9909e2"],["dd83b18.1352e5"]]},{"id":"79c05fb5.2a3d5","type":"change","z":"f83f4bcb.c73878","name":"extract label ","rules":[{"t":"delete","p":"ui_control.label","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":909.5,"y":406,"wires":[["d461b327.d0341"]]},{"id":"4d3b19cd.e3c648","type":"change","z":"f83f4bcb.c73878","name":"extract label ","rules":[{"t":"delete","p":"ui_control.label","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":912,"y":453,"wires":[["9abea106.afbac"]]},{"id":"29f62d85.9909e2","type":"change","z":"f83f4bcb.c73878","name":"extract label ","rules":[{"t":"delete","p":"ui_control.label","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":913,"y":500,"wires":[["a1431af7.a57578"]]},{"id":"dd83b18.1352e5","type":"change","z":"f83f4bcb.c73878","name":"extract label ","rules":[{"t":"delete","p":"ui_control.label","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":911,"y":548,"wires":[["72f8ea41.125aa4"]]},{"id":"ea339cee.b4fdb","type":"comment","z":"76c001c4.620fa","name":"title icon for dashbaord","info":"","x":249,"y":3262.9999771118164,"wires":[]},{"id":"f8e0b0d2.7e5ff","type":"ui_template","z":"9e65a286.7712b","group":"b71d1476.2beaa8","name":"welcome header","order":1,"width":"40","height":"3","format":"  <head>\n        <!-- in index.html, in place of normalize -->\n        <link rel=\"stylesheet\" href=\"http://yui.yahooapis.com/pure/0.1.0/pure-min.css\">\n        <link rel=\"stylesheet\" href=\"http://weloveiconfonts.com/api/?family=fontawesome\">\n        <link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/icon?family=Material+Icons\">\n        <link href=\"//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css\" rel=\"stylesheet\" id=\"bootstrap-css\">\n        <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n  </head>\n<body>\n    <style>\n                       body{\n                           background-color:MediumSeaGreen;\n                       \n                       }\n                      .pure-menu {\n                            font-size:0.4em;\n                            font-weight: lighter;\n                            font-family:\"Andale Mono\", monospace;\n                        }\n                        .pure-menu.pure-menu-fixed {\n                            position: fixed;\n                        }\n                        .pure-menu.pure-menu-blackbg {\n                            background: #3cb371;\n                        }\n                        .pure-menu.pure-menu-blackbg .pure-menu-heading:hover {\n                            color: #efefef;\n                        }\n                        .pure-menu.pure-menu-blackbg a {\n                            color: #fff;\n                        }\n                        .pure-menu.pure-menu-blackbg a:hover {\n                            background: #666;\n                        }\n                        .pure-menu.pure-menu-blackbg .pure-menu-selected a {\n                            background: #7E45D3;\n                          \n                        }\n                        .pure-menu.pure-menu-blackbg .pure-menu-selected a:hover {\n                            color: #efefef;\n                        }\n                        h2{\n                            /*font-family:\"Andale Mono\", monospace;*/\n                            float: left;\n                            padding-left:1em;\n                        }\n                  \n                        \n                        //=== Pen styling, ignore\n                        body {\n                          background: #10192d;\n                          display: flex;\n                          min-height: 100vh;\n                          justify-content: center;\n                          align-content: center;\n                          align-items: center;\n                        }\n                        \n                    \n            </style>\n    \n     <nav class=\"pure-menu pure-menu-open pure-menu-horizontal\">\n            <a href=\"https://imgbb.com/\"><img src=\"https://i.ibb.co/vLVVynD/Agrarian-logo-horizontal.png\" alt=\"Agrarian-logo-horizontal\" border=\"0\" /></a>\n            <!--\n            <button style=\"float:left; padding-left:0.2em;\" id=\"toggle_side_menu\" class=\"btn btn-success\">toggle side Menu</button>\n            -->\n     </nav>\n     <h2>Welcome</h2>\n  \n     </body>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":193.5,"y":188,"wires":[[]]},{"id":"66392a2c.255e04","type":"ui_template","z":"76c001c4.620fa","group":"a0cd6d1c.bac54","name":"Logo Menu Strip","order":1,"width":"0","height":"0","format":"  <head>\n        <!-- in index.html, in place of normalize -->\n        <link rel=\"stylesheet\" href=\"http://yui.yahooapis.com/pure/0.1.0/pure-min.css\">\n        <link rel=\"stylesheet\" href=\"http://weloveiconfonts.com/api/?family=fontawesome\">\n        <link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/icon?family=Material+Icons\">\n        <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css\">\n        <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n\n    </head>\n<body>\n    \n    <style>\n                       body{\n                           background-color:MediumSeaGreen;\n                       \n                       }\n                      .pure-menu {\n                            font-size:0.9em;\n                            font-weight: lighter;\n                            font-family:\"Andale Mono\", monospace;\n                        }\n                        .pure-menu.pure-menu-fixed {\n                            position: fixed;\n                        }\n                        .pure-menu.pure-menu-blackbg {\n                            background: #3cb371;\n                        }\n                        .pure-menu.pure-menu-blackbg .pure-menu-heading:hover {\n                            color: #efefef;\n                        }\n                        .pure-menu.pure-menu-blackbg a {\n                            color: #fff;\n                        }\n                        .pure-menu.pure-menu-blackbg a:hover {\n                            background: #666;\n                        }\n                        .pure-menu.pure-menu-blackbg .pure-menu-selected a {\n                            background: #7E45D3;\n                          \n                        }\n                        .pure-menu.pure-menu-blackbg .pure-menu-selected a:hover {\n                            color: #efefef;\n                        }\n                        h2{\n                            /*font-family:\"Andale Mono\", monospace;*/\n                            float: left;\n                            padding-left:1em;\n                        }\n                        #bell-notification{\n                             float: left;\n                            padding-right: 4em;\n                        }\n                        }\n                        #user-welcome{\n                            float: left;\n                            padding-right: 5em;\n                        }\n                      \n                        ul{\n                          float: right;\n                        }\n                    \n                        \n                      \n                        //=== Pen styling, ignore\n                        body {\n                          background: #10192d;\n                          display: flex;\n                          min-height: 100vh;\n                          justify-content: center;\n                          align-content: center;\n                          align-items: center;\n                        }\n                        \n                        .btn {\n                          display: inline-block;\n                          text-decoration: none;\n                          border-radius: 10px;\n                          //font-family: \"calibri\", Garamond, 'Comic Sans MS';\n                          padding: 1em;\n                        }\n                        a{\n                         float:left;\n                        }\n                        #header-items a {\n                            display: inline;\n                        }\n                        #header-items p {\n                            display: inline;\n                            padding-right:1em;\n                        }\n            </style>\n    \n     <nav class=\"pure-menu pure-menu-open pure-menu-horizontal\">\n            <a href=\"https://localhost/1880/ui\"><img src=\"https://i.ibb.co/vLVVynD/Agrarian-logo-horizontal.png\" alt=\"Agrarian-logo-horizontal\" border=\"0\" /></a>\n            <ul style=\"padding:0.5em\" id=\"header-items\">\n            \n            <!--\n            <li class=\"pure-menu-selected\"><a class=\"btn btn-bubble fa fa-cog\" href=\"http://132.145.148.126:1880/ui/#!/2\"><b>  Settings</b></a></li>\n            <li class=\"pure-menu-selected\"><a class=\"btn btn-bubble fa fa-table\" href=\"#\"><b>  Table</b></a></li>\n            <li class=\"pure-menu-selected\"><a class=\"btn btn-bubble fa fa-refresh\" href=\"#\"><b>  Refresh</b></a></li> \n            -->\n            <a><i id=\"bell-notification\" class=\"fa fa-bell\"></i></a>\n            <p>Sensor Status: </p><p id=\"sensor_status\" style=\"color:green\"><strong>{{msg.payload}}</strong></p>\n        \n            \n            <!--<p id=\"user-welcome\"> welcome {{msg.payload.user}} </p>-->\n            <!-- other items ... -->\n            </ul>\n    </nav>\n    \n     <h2>Dashboard</h2>\n     <script>\n         $(\"#sensor_status\").change(()=>{\n             (this.text() == \"Offline\" ? this.style(\"color\", \"red\") ? this.style(\"color\", \"green\") );\n         });\n     </script>\n      </body>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":200,"y":2209.9999771118164,"wires":[[]]},{"id":"d8824bc5.702378","type":"ui_template","z":"9e65a286.7712b","group":"b71d1476.2beaa8","name":"login/register tile","order":2,"width":"40","height":"15","format":"<head>\n   <meta name=\"google-signin-client_id\" content=\"833411832049-dkes473op5dqhh41leb8h515rh651frh.apps.googleusercontent.com.apps.googleusercontent.com\">\n  <link href=\"//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css\" rel=\"stylesheet\" id=\"bootstrap-css\">\n  <link href=\"https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css\" rel=\"stylesheet\" integrity=\"sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN\" crossorigin=\"anonymous\">\n  <script src=\"//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js\"></script>\n  <script src=\"//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js\"></script>\n \n   <style>\n         body{\n  width: 100%;\n  height: auto;\n  background: -webkit-linear-gradient(0deg, #FFFFFF 0%, #FFFFFF 100%);\n  font-family: \"Robato\",sans-serif;\n  font-size: 17px;\n}\n\n#logreg-forms{\n    width:412px;\n    margin:10vh auto;\n    background-color:#FFFFFF;\n    box-shadow: 0 7px 7px #FFFFFF, 0 12px 40px #FFFFFF;\n    border-radius:0.7em;\n    transition: all 0.3s cubic-bezier(.25,.8,.25,1);\n}\n\n#logreg-forms form {\n    width: 100%;\n    max-width: 410px;\n    padding: 15px;\n    margin: auto;\n}\n#logreg-forms .form-control {\n    position: relative;\n    box-sizing: border-box;\n    height: auto;\n    padding: 10px;\n    font-size: 16px;\n}\n#logreg-forms .form-control:focus { z-index: 2; }\n#logreg-forms .form-signin input[type=\"email\"] {\n    margin-bottom: -1px;\n    border-bottom-right-radius: 0;\n    border-bottom-left-radius: 0;\n}\n#logreg-forms .form-signin input[type=\"password\"] {\n    border-top-left-radius: 0;\n    border-top-right-radius: 0;\n}\n\n#logreg-forms .social-login{\n    width:390px;\n    margin:0 auto;\n    margin-bottom: 14px;\n}\n#logreg-forms .social-btn{\n    font-weight: 100;\n    color:white;\n    width:190px;\n    font-size: 0.9rem;\n}\n\n#logreg-forms a{\n    display: block;\n    padding-top:10px;\n    color:#fff;\n}\n\n#logreg-form .lines{\n    width:200px;\n    border:1px solid red;\n}\n\n\n#logreg-forms button[type=\"submit\"]{ margin-top:10px; }\n\n#logreg-forms .facebook-btn{  background-color:#3C589C; }\n\n#logreg-forms .google-btn{ background-color: #DF4B3B; }\n\n#logreg-forms .form-reset, #logreg-forms .form-signup{ display: none; }\n\n#logreg-forms .form-signup .social-btn{ width:210px; }\n\n#logreg-forms .form-signup input { margin-bottom: 2px;}\n\n#forgot-pswd {color:#04B431}\n\n\n.form-signup .social-login{\n    width:210px !important;\n    margin: 0 auto;\n}\n\n.submit{\n  background: -webkit-linear-gradient(0deg, #9AFE2E 0%, #04B404 100%);\n  border-radius: 25px;\n  color: #fff;\n}\n\n/* Mobile */\n\n@media screen and (max-width:500px){\n    #logreg-forms{\n        width:300px;\n        \n    }\n\n    #logreg-forms  .social-login{\n        width:200px;\n        margin:0 auto;\n        margin-bottom: 10px;\n    }\n    #logreg-forms  .social-btn{\n        font-size: 1.3rem;\n        font-weight: 100;\n        color:white;\n        width:200px;\n        height: 56px;\n\n    }\n    #logreg-forms .social-btn:nth-child(1){\n        margin-bottom: 5px;\n    }\n    #logreg-forms .social-btn span{\n        display: none;\n    }\n    #logreg-forms  .facebook-btn:after{\n        content:'Facebook';\n    }\n\n    #logreg-forms  .google-btn:after{\n        content:'Google+';\n    }\n\n}\n     </style>\n\n</head>\n<body>\n<div id=\"logreg-forms\">\n     \n        <center><a href=\"https://imgbb.com/\"><img src=\"https://i.ibb.co/mJ1hLWJ/Agrarian-Logo-2.png\" alt=\"Agrarian-Logo-2\" border=\"0\"></a></center>\n        <form class=\"form-signin\">\n            <!--<h1 class=\"h3 mb-3 font-weight-normal\" style=\"text-align: center\"> Sign in</h1>-->\n            <div class=\"social-login\">\n                <button class=\"btn facebook-btn social-btn\" id=\"facebook-signin\" type=\"button\"><span><i class=\"fa fa-facebook-f\"></i> Sign in with Facebook</span> </button>\n                <button class=\"btn google-btn social-btn\" id=\"google-signin\" type=\"button\"><span><i class=\"fa fa-google-g\"></i> Sign in with Google+</span> </button>\n            </div>\n            <p style=\"text-align:center\"> OR  </p>\n            <div class=\"input-group\">\n              <input type=\"email\" id=\"inputEmail\" class=\"form-control\" placeholder=\"Email address\" required=\"\" autofocus=\"\">\n            </div>\n\n            <div class=\"input-group\">\n              <input type=\"password\" id=\"inputPassword\" class=\"form-control\" placeholder=\"Password\" required=\"\">\n            </div>\n\n            <div class=\"input-group\">\n              <button class=\"btn btn-md btn-rounded btn-block form-control submit\" type=\"submit\" id=\"signin-btn\"><i class=\"fa fa-sign-in-alt\"></i> Sign in</button>\n            </div>\n\n            <a href=\"#\" id=\"forgot_pswd\" style=\"color:#04B45F\">Forgot password?</a>\n            <hr>\n            <!-- <p>Don't have an account!</p>  -->\n            <button class=\"btn btn-success btn-block\" type=\"button\" id=\"btn-signup\"><i class=\"fa fa-user-plus\"></i> Sign up New Account</button>\n            </form>\n\n            <form action=\"#\" class=\"form-reset\">\n                <input type=\"email\" id=\"resetEmail\" class=\"form-control\" placeholder=\"Email address\" required=\"\" autofocus=\"\">\n                <button class=\"btn btn-primary btn-block\" id=\"passwd-reset\" type=\"submit\">Reset Password</button>\n                <a href=\"#\" id=\"cancel_reset\" style=\"color:green\"><i class=\"fa fa-angle-left\"></i> Back</a>\n            </form>\n\n            <form action=\"#\" class=\"form-signup\">\n                <div class=\"social-login\">\n                    <button class=\"btn facebook-btn social-btn\" id=\"facebook-signup\" type=\"button\"><span><i class=\"fa fa-facebook-f\"></i> Sign up with Facebook</span> </button>\n                  </div>\n                  <div class=\"social-login\">\n                    <button class=\"btn google-btn social-btn\" id=\"google-signup\" type=\"button\"><span><i class=\"fa fa-google-plus-g\"></i> Sign up with Google+</span> </button>\n                </div>\n\n                <p style=\"text-align:center\">OR</p>\n\n                <input type=\"text\" id=\"user-name\" class=\"form-control\" placeholder=\"Full name\" required=\"\" autofocus=\"\">\n                <input type=\"email\" id=\"user-email\" class=\"form-control\" placeholder=\"Email address\" required autofocus=\"\">\n                <input type=\"password\" id=\"user-pass\" class=\"form-control\" placeholder=\"Password\" required autofocus=\"\">\n                <input type=\"password\" id=\"user-repeatpass\" class=\"form-control\" placeholder=\"Confirm Password\" required autofocus=\"\">\n\n<div class=\"input-group\">\n  <button class=\"btn btn-md btn-block submit\" id=\"sign-up-btn\" type=\"submit\"><i class=\"fa fa-user-plus\"></i> Sign Up</button>\n</div>\n\n                <a href=\"#\" id=\"cancel_signup\" style=\"color:green\"><i class=\"fa fa-angle-left\"></i> Back</a>\n            </form>\n            <br>\n\n    </div>\n    <script src=\"https://apis.google.com/js/platform.js\" async defer></script>\n    <script>\n        (function(scope){\n \n                function toggleResetPswd(e){\n                    e.preventDefault();\n                    $('#logreg-forms .form-signin').toggle() // display:block or none\n                    $('#logreg-forms .form-reset').toggle() // display:block or none\n                }\n                \n                function toggleSignUp(e){\n                    e.preventDefault();\n                    $('#logreg-forms .form-signin').toggle(); // display:block or none\n                    $('#logreg-forms .form-signup').toggle(); // display:block or none\n                }\n                \n                function onGoogleSignin(){\n                    var profile = googleUser.getBasicProfile();\n                    scope.send({payload:{id:profile.getId(), name:profile.getName(), image_url:profile.getImageUrl(), email:getEmail()}});\n                }\n                \n         \n                $(()=>{\n                        // Login Register Form\n                        $('#logreg-forms #forgot_pswd').click(toggleResetPswd);\n                        $('#logreg-forms #cancel_reset').click(toggleResetPswd);\n                        $('#logreg-forms #btn-signup').click(toggleSignUp);\n                        $('#logreg-forms #cancel_signup').click(toggleSignUp);\n                        $('#logreg-forms #google-signin').click(onGoogleSignin);\n                        \n                        $('#logreg-forms #signin-btn').click(() => {\n                            \n                            scope.$watch('msg', function(msg){\n                                if(msg){\n                                if(msg.auth == \"success\"){ \n                                    scope.send({payload:\"\"}); \n                                }\n                                else \n                                {\n                                       $('#forgot_pswd').text(\"Username or Password incorrect !\");\n                                       $('#forgot_pswd').css(\"color\", \"red\");\n                                    // $('#inputPassword').empty(); \n                                    // $('#inputEmail').empty();\n                                    // alert(\"Incorrect password or username\"); \n                                }\n                                }\n                            });\n                            \n                            scope.send({payload:{signinMail:$('#inputEmail').val(), signinPass:$('#inputPassword').val()}});\n                                      \n                            });\n                       \n                        $('#logreg-forms #passwd-reset').click(() => {\n                            var resetMail = $('#resetEmail').val();\n                            scope.send({payload:{reset_passwd:resetMail}});\n                            alert('A new password has been sent to '+resetMail);\n                        });   \n                        \n                        $('#logreg-forms #sign-up-btn').click(() => {\n                            \n                            var usr_name = $('#user-name').val();\n                            var usr_email = $('#user-email').val();\n                            var usr_pass = $('#user-pass').val(); \n                            var usr_repeat_pass = $('#user-repeat-pass').val();\n                            \n                            \n                        });\n                                \n                    \n                });\n            \n     })(scope);    \n    </script>\n     \n</body>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":201.5,"y":263,"wires":[["e2106f34.55ae2","804eb03.34b0e5"]]},{"id":"b61b895c.748c78","type":"e-mail","z":"9e65a286.7712b","server":"localhost","port":"25","secure":false,"tls":false,"name":"","dname":"Send Email to recipient","x":910.5,"y":549,"wires":[]},{"id":"e2106f34.55ae2","type":"switch","z":"9e65a286.7712b","name":"Reset Email Router","property":"payload.reset_passwd","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":473.5,"y":397,"wires":[["b82baac0.cdadd8"]]},{"id":"b82baac0.cdadd8","type":"function","z":"9e65a286.7712b","name":"prepare email message","func":"\nfunction makeid(length) {\n   var result           = '';\n   var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';\n   var charactersLength = characters.length;\n   for ( var i = 0; i < length; i++ ) {\n      result += characters.charAt(Math.floor(Math.random() * charactersLength));\n   }\n   return result;\n}\n\nvar e_footer = `\nAgrarian\ncustomer care | Agrarian ltd | support\nphone:  0707649392\nmobile:  +254 070 764 9392\nsite:  agrarian.ac.ke\nemail:  info@agrarian.ac.ke\nskype:  @agrarian\naddress:  Daystar Athi River\n`;\n\nmsg.to = msg.payload.reset_passwd;\nmsg.from = \"info@agrarian.ac.ke\";\nmsg.topic = \"PASSWORD RESET\"\nmsg.payload = \"Your New Password will be \" + makeid(8) + \". Please remember to change to a password of your liking. \\n\\nRegards\\n\\n\" + e_footer; \n\nreturn msg;","outputs":1,"noerr":0,"x":540.5,"y":548,"wires":[["b61b895c.748c78","585321fa.99c94"]]},{"id":"804eb03.34b0e5","type":"switch","z":"9e65a286.7712b","name":"login Email Router","property":"payload.signinMail","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":472,"y":315,"wires":[["2ab9161a.4175ca","dec03708.5d4ff8","143eef6b.1cd5c1"]]},{"id":"585321fa.99c94","type":"debug","z":"9e65a286.7712b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":886.5,"y":407,"wires":[]},{"id":"8588163e.85d678","type":"ui_template","z":"708a55b6.cddeac","group":"10ae1ca3.cf6ef3","name":"texting scope - template","order":6,"width":"40","height":"35","format":"<!DOCTYPE html>\n<html>\n<head>\n\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n  <meta name=\"description\" content=\"\">\n  <meta name=\"author\" content=\"\">\n\n  <title>Settings</title>\n\n  <!-- Bootstrap core CSS -->\n  <link href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\" rel=\"stylesheet\">\n  \n  <!-- Custom styles for this template -->\n  <style>\n    /*!\n     * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)\n     * Copyright 2013-2019 Start Bootstrap\n     * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)\n     */\n    body {\n      overflow-x: hidden;\n    }\n    \n    #sidebar-wrapper {\n      min-height: 100vh;\n      margin-left: -15rem;\n      -webkit-transition: margin .25s ease-out;\n      -moz-transition: margin .25s ease-out;\n      -o-transition: margin .25s ease-out;\n      transition: margin .25s ease-out;\n    }\n    \n    #sidebar-wrapper .sidebar-heading {\n      padding: 0.875rem 1.25rem;\n      font-size: 1.2rem;\n    }\n    \n    #sidebar-wrapper .list-group {\n      width: 15rem;\n    }\n    \n    #page-content-wrapper {\n      min-width: 100vw;\n    }\n    \n    #wrapper.toggled #sidebar-wrapper {\n      margin-left: 0;\n    }\n    \n    @media (min-width: 768px) {\n      #sidebar-wrapper {\n        margin-left: 0;\n      }\n    \n      #page-content-wrapper {\n        min-width: 0;\n        width: 100%;\n      }\n    \n      #wrapper.toggled #sidebar-wrapper {\n        margin-left: -15rem;\n      }\n    }\n  </style>\n</head>\n\n<body>\n\n      <div class=\"container-fluid\" id=\"container\">\n        <h1 class=\"mt-4\" id=\"menu-header\">The technology</h1>\n        <!-- settings-container -->\n        <div id=\"settings-content\">\n        <p>Uses MQTT protocol for machine  to machine connection and wifi for connectivity. The device employs several sensors </p>\n        <p>Dial *483*2513# to interact with the Agrarian recommendation service</p>\n        </div>  \n        <br>\n        <h1 class=\"mt-4\" id=\"menu-header\">The team</h1>\n        <!-- settings-container -->\n        <div id=\"settings-content\">\n        <p>Developed by techcloud team.</p>\n        </div>  \n        <br>\n        <h1 class=\"mt-4\" id=\"menu-header\">Contact us</h1>\n        <!-- settings-container -->\n        <div id=\"settings-content\">\n        <p>Tel +254 707 649 392</p>\n        <p>Mail eromtush@gmail.com</p></p>\n        </div>  \n     \n    </div>\n\n\n  <!-- Bootstrap core JavaScript -->\n  <script src=\"vendor/jquery/jquery.min.js\"></script>\n  <script src=\"vendor/bootstrap/js/bootstrap.bundle.min.js\"></script>\n\n  <!-- Menu Toggle Script -->\n  <script>\n  (function (scope){\n     \n       \n    })(scope);\n  </script>\n  <script src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js\"></script>\n  <script src=\"https://code.jquery.com/jquery-1.12.4.min.js\"></script>\n  <script src=\"http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n  <script src=\"freshslider.1.0.js\"></script>\n  <script src=\"https://pastebin.com/embed_js/UHd5mrX7\"></script>\n </body>\n\n</html>\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":741,"y":918,"wires":[[]]},{"id":"18792564.1b286b","type":"comment","z":"708a55b6.cddeac","name":"horizontal Menu","info":"","x":536.5,"y":222,"wires":[]},{"id":"dbe1ac33.a014f","type":"ui_button","z":"76c001c4.620fa","name":"Dashboard","group":"a0cd6d1c.bac54","order":2,"width":"4","height":"1","passthru":false,"label":"Dashboard","tooltip":"","color":"","bgcolor":"{{ msg.payload.bgcolor }}","icon":"dashboard","payload":"{\"tab\":\"Dashboard\"};{\"bgcolor\":\"\"}","payloadType":"str","topic":"","x":288,"y":3462.9999771118164,"wires":[["bcce433c.74edc"]]},{"id":"f13c6a33.0c87d8","type":"ui_button","z":"76c001c4.620fa","name":"User Profile","group":"a0cd6d1c.bac54","order":3,"width":"4","height":"1","passthru":false,"label":"User Profile","tooltip":"","color":"","bgcolor":"{{ msg.payload.bgcolor }}","icon":"account_circle","payload":"{\"tab\":\"2\"};{\"bgcolor\":\"\"}","payloadType":"str","topic":"","x":304.5,"y":3555.9999771118164,"wires":[["b69eac7a.c6f36"]]},{"id":"fd4d93af.23346","type":"ui_button","z":"76c001c4.620fa","name":"Settings","group":"a0cd6d1c.bac54","order":4,"width":"4","height":"1","passthru":false,"label":"Settings","tooltip":"","color":"","bgcolor":"{{ msg.payload.bgcolor }}","icon":"settings","payload":"{\"tab\":\"Settings\"};{\"bgcolor\":\"\"}","payloadType":"str","topic":"","x":281.5,"y":3664.9999771118164,"wires":[["1a94c4a7.f20f0b"]]},{"id":"db5b49ae.7a1118","type":"ui_button","z":"76c001c4.620fa","name":"About","group":"a0cd6d1c.bac54","order":5,"width":"4","height":"1","passthru":false,"label":"About","tooltip":"","color":"","bgcolor":"{{ msg.payload.bgcolor }}","icon":"about","payload":"{\"tab\":\"About\"};{\"bgcolor\":\"\"}","payloadType":"str","topic":"","x":292.5,"y":3808.9999771118164,"wires":[["3a155c1d.e2f374"]]},{"id":"de7619f0.e32b78","type":"ui_button","z":"76c001c4.620fa","name":"Logout","group":"a0cd6d1c.bac54","order":6,"width":"4","height":"1","passthru":false,"label":"logout","tooltip":"","color":"","bgcolor":"{{ msg.payload.bgcolor }}","icon":"fa-sign-out","payload":"{\"tab\":\"Sign/signup\"};{\"bgcolor\":\"\"}","payloadType":"str","topic":"","x":271.5,"y":3945.9999771118164,"wires":[["b168793b.1c19c8"]]},{"id":"6de688d2.29cdc8","type":"ui_ui_control","z":"76c001c4.620fa","name":"","x":1002,"y":3707.9999771118164,"wires":[[]]},{"id":"7fcd6f99.3b816","type":"comment","z":"76c001c4.620fa","name":"horizontal Menu","info":"","x":225.5,"y":3409.9999771118164,"wires":[]},{"id":"7325a1fb.c0569","type":"comment","z":"f83f4bcb.c73878","name":"horizontal Menu","info":"","x":215.5,"y":696,"wires":[]},{"id":"5a7626ba.eb6d78","type":"comment","z":"aed920f9.7df21","name":"horizontal Menu","info":"","x":270.5,"y":589,"wires":[]},{"id":"b73c4d17.8ea75","type":"ui_text","z":"76c001c4.620fa","group":"a0cd6d1c.bac54","order":7,"width":"17","height":"1","name":"horizontal menu spacer","label":"{{msg.greetings}}","format":"{{msg.payload}}","layout":"row-left","x":607.5,"y":4049.9999771118164,"wires":[]},{"id":"2ab9161a.4175ca","type":"function","z":"9e65a286.7712b","name":"Authentication","func":"if(msg.payload.signinMail == \"admin@jkwe.com\" && msg.payload.signinPass == \"microTUSH77\" ){\n    msg.payload = {\"tab\":\"Dashboard\"};\n    msg.auth = \"success\";\n}\nelse\n{   \n    msg.payload = {\"tab\":\"0\"};\n    msg.auth = \"faliure\";\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":716,"y":314,"wires":[["773cf8aa.70ea28","d8824bc5.702378"]]},{"id":"773cf8aa.70ea28","type":"ui_ui_control","z":"9e65a286.7712b","name":"","x":975,"y":313,"wires":[[]]},{"id":"33e7e8dd.7a8308","type":"link in","z":"76c001c4.620fa","name":"in_horizontal_space_usrname","links":["dec03708.5d4ff8","143eef6b.1cd5c1"],"x":171.5,"y":4048,"wires":[["54ed09e.d5352f8"]]},{"id":"dec03708.5d4ff8","type":"link out","z":"9e65a286.7712b","name":"out_horizontal_space_usrname","links":["33e7e8dd.7a8308"],"x":665.5,"y":248,"wires":[]},{"id":"54ed09e.d5352f8","type":"function","z":"76c001c4.620fa","name":"extract username","func":"msg.payload = `\n<div>\n    <p style=\"color:green; padding-left=\"0.1em;\">\n` + (typeof msg.payload.signinMail == 'string' ? msg.payload.signinMail.split('@')[0] : \"Unknown_User\") + `\n    </p>\n</div>\n`;\n\nmsg.greetings = `\n<strong>Welcome</strong>\n`;\n\nreturn msg;","outputs":1,"noerr":0,"x":337.5,"y":4049.9999771118164,"wires":[["b73c4d17.8ea75","6241bc96.290624"]]},{"id":"6241bc96.290624","type":"debug","z":"76c001c4.620fa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":566.5,"y":4109.999977111816,"wires":[]},{"id":"ed4a1802.537028","type":"catch","z":"cedc12f9.07809","name":"firestore  catch errors","scope":[],"uncaught":false,"x":883,"y":316,"wires":[[]]},{"id":"d2356481.fe9678","type":"debug","z":"cedc12f9.07809","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":993,"y":471,"wires":[]},{"id":"826e218c.7e807","type":"firebase out","z":"cedc12f9.07809","name":"set Sensor Metrics","ref":"/Sensor_Metrics/Sensor_Data","operation":"set","admin":"f07a5311.de1c9","x":898.5,"y":258,"wires":[[]]},{"id":"d17c1179.8b53a","type":"mongodb out","z":"cedc12f9.07809","mongodb":"59ba609f.66765","name":"update_user_creds","collection":"user_creds","payonly":true,"upsert":false,"multi":false,"operation":"store","x":857.5,"y":535.0001220703125,"wires":[]},{"id":"e5480a56.7cfe98","type":"link in","z":"cedc12f9.07809","name":"input_user_data_mongodb_link","links":["143eef6b.1cd5c1"],"x":481,"y":542,"wires":[["d17c1179.8b53a","d2356481.fe9678"]]},{"id":"143eef6b.1cd5c1","type":"link out","z":"9e65a286.7712b","name":"out_user_data_db_link","links":["33e7e8dd.7a8308","e5480a56.7cfe98","a8aa6f3b.4f7bd"],"x":665,"y":194,"wires":[]},{"id":"43ecdb02.565de4","type":"catch","z":"cedc12f9.07809","name":"Catch Update User Cred errors","scope":["95c399f8.c7da88","d17c1179.8b53a"],"uncaught":false,"x":588.5,"y":607,"wires":[["fa54ed44.25dba"]]},{"id":"fa54ed44.25dba","type":"debug","z":"cedc12f9.07809","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990.5000534057617,"y":602.0000219345093,"wires":[]},{"id":"95c399f8.c7da88","type":"mongodb in","z":"cedc12f9.07809","mongodb":"59ba609f.66765","name":"Check Values","collection":"user_info","operation":"find","x":766.2890625,"y":817.6328735351562,"wires":[["c3f24f1a.2fa67"]]},{"id":"c3f24f1a.2fa67","type":"debug","z":"cedc12f9.07809","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":994.2735595703125,"y":811.3671875,"wires":[]},{"id":"91c93ea1.10b49","type":"inject","z":"cedc12f9.07809","name":"","topic":"","payload":"{\"signinMail\" : \"admin@jkwe.com\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":558.2890625,"y":816.4609985351562,"wires":[["95c399f8.c7da88"]]},{"id":"db853038.40097","type":"link out","z":"76c001c4.620fa","name":"UserProf_btn_out_dash","links":["21b90497.3c741c","31c0229.77b2bde","c5900c2c.4c4d6","c94e0c60.8db92","f98527b4.1e8bb8"],"x":766.5,"y":3556.9999771118164,"wires":[]},{"id":"f98527b4.1e8bb8","type":"link in","z":"76c001c4.620fa","name":"dash_btn_in","links":["db853038.40097","5cb94737.ee65a8","20f2dd6.f743822","6a3c4703.00dd18","d31ff75c.215a88"],"x":152.5,"y":3463.9999771118164,"wires":[["dbe1ac33.a014f"]]},{"id":"6bee1524.dfd78c","type":"link in","z":"76c001c4.620fa","name":"UserProf_btn_in","links":["d1cd3562.3d5768","5cb94737.ee65a8","20f2dd6.f743822","6a3c4703.00dd18"],"x":154,"y":3559.9999771118164,"wires":[["f13c6a33.0c87d8"]]},{"id":"31c0229.77b2bde","type":"link in","z":"76c001c4.620fa","name":"Settings_btn_in","links":["db853038.40097","d1cd3562.3d5768","20f2dd6.f743822","6a3c4703.00dd18","d31ff75c.215a88"],"x":148,"y":3663.9999771118164,"wires":[["fd4d93af.23346"]]},{"id":"21b90497.3c741c","type":"link in","z":"76c001c4.620fa","name":"About_btn_in","links":["db853038.40097","d1cd3562.3d5768","5cb94737.ee65a8","6a3c4703.00dd18","d31ff75c.215a88"],"x":149,"y":3812.9999771118164,"wires":[["db5b49ae.7a1118"]]},{"id":"c94e0c60.8db92","type":"link in","z":"76c001c4.620fa","name":"logout_btn_in","links":["db853038.40097","d1cd3562.3d5768","5cb94737.ee65a8","20f2dd6.f743822","d31ff75c.215a88"],"x":145,"y":3945.9999771118164,"wires":[["de7619f0.e32b78"]]},{"id":"d1cd3562.3d5768","type":"link out","z":"76c001c4.620fa","name":"dashboard_btn_out_dash","links":["21b90497.3c741c","31c0229.77b2bde","6bee1524.dfd78c","c94e0c60.8db92"],"x":764,"y":3475.9999771118164,"wires":[]},{"id":"5cb94737.ee65a8","type":"link out","z":"76c001c4.620fa","name":"setting_btn_out_dash","links":["21b90497.3c741c","6bee1524.dfd78c","92c2646a.774bf8","c94e0c60.8db92","f98527b4.1e8bb8"],"x":767.5,"y":3671.9999771118164,"wires":[]},{"id":"20f2dd6.f743822","type":"link out","z":"76c001c4.620fa","name":"about_btn_out_dash","links":["31c0229.77b2bde","6bee1524.dfd78c","bfc560a0.4a195","c94e0c60.8db92","f98527b4.1e8bb8"],"x":775.5,"y":3797.9999771118164,"wires":[]},{"id":"6a3c4703.00dd18","type":"link out","z":"76c001c4.620fa","name":"logout_btn_out_dash","links":["21b90497.3c741c","31c0229.77b2bde","6bee1524.dfd78c","f98527b4.1e8bb8"],"x":766.5,"y":3906.9999771118164,"wires":[]},{"id":"cabd6ffd.a295a","type":"split","z":"a3cee45d.ae7d98","name":"payload spliter","splt":";","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"payload","x":200,"y":92,"wires":[["f9c392f8.c9bc7"]]},{"id":"f9c392f8.c9bc7","type":"switch","z":"a3cee45d.ae7d98","name":"msg_btn_router","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"tab","vt":"str"},{"t":"cont","v":"bgcolor","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":414,"y":91,"wires":[["ceb1e80.1f0ad18"],["720eeb0e.da2b44"]]},{"id":"ceb1e80.1f0ad18","type":"json","z":"a3cee45d.ae7d98","name":"Navigation","property":"payload","action":"obj","pretty":true,"x":624,"y":81,"wires":[[]]},{"id":"720eeb0e.da2b44","type":"json","z":"a3cee45d.ae7d98","name":"Styling","property":"payload","action":"obj","pretty":true,"x":581,"y":154,"wires":[["b673a82f.0f55d8"]]},{"id":"b673a82f.0f55d8","type":"change","z":"a3cee45d.ae7d98","name":"reset button styling","rules":[{"t":"set","p":"payload.bgcolor","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":879.5,"y":153,"wires":[[]]},{"id":"bcce433c.74edc","type":"subflow:a3cee45d.ae7d98","z":"76c001c4.620fa","name":"","env":[],"x":529.5,"y":3466.4999771118164,"wires":[["6de688d2.29cdc8"],["d1cd3562.3d5768"],["dbe1ac33.a014f"]]},{"id":"b69eac7a.c6f36","type":"subflow:a3cee45d.ae7d98","z":"76c001c4.620fa","name":"","env":[],"x":540,"y":3553.9999771118164,"wires":[["6de688d2.29cdc8"],["db853038.40097"],["f13c6a33.0c87d8"]]},{"id":"1a94c4a7.f20f0b","type":"subflow:a3cee45d.ae7d98","z":"76c001c4.620fa","name":"","env":[],"x":542,"y":3661.9999771118164,"wires":[["6de688d2.29cdc8"],["5cb94737.ee65a8"],["fd4d93af.23346"]]},{"id":"3a155c1d.e2f374","type":"subflow:a3cee45d.ae7d98","z":"76c001c4.620fa","name":"","env":[],"x":537,"y":3791.9999771118164,"wires":[["6de688d2.29cdc8"],["20f2dd6.f743822"],["db5b49ae.7a1118"]]},{"id":"b168793b.1c19c8","type":"subflow:a3cee45d.ae7d98","z":"76c001c4.620fa","name":"","env":[],"x":528,"y":3909.9999771118164,"wires":[["6de688d2.29cdc8"],["6a3c4703.00dd18"],["de7619f0.e32b78"]]},{"id":"851bd7cc.ad54a8","type":"ui_button","z":"f83f4bcb.c73878","name":"Dashboard","group":"db2824df.708138","order":2,"width":"4","height":"1","passthru":false,"label":"Dashboard","tooltip":"","color":"","bgcolor":"{{ msg.payload.bgcolor }}","icon":"dashboard","payload":"{\"tab\":\"Dashboard\"};{\"bgcolor\":\"\"}","payloadType":"str","topic":"","x":259,"y":775,"wires":[["b76fc078.ffa09"]]},{"id":"b9f8c4a8.893c38","type":"ui_button","z":"f83f4bcb.c73878","name":"User Profile","group":"db2824df.708138","order":3,"width":"4","height":"1","passthru":false,"label":"User Profile","tooltip":"","color":"","bgcolor":"{{ msg.payload.bgcolor }}","icon":"account_circle","payload":"{\"tab\":\"2\"};{\"bgcolor\":\"\"}","payloadType":"str","topic":"","x":272.5,"y":869,"wires":[["c59f5128.ead33"]]},{"id":"fb70f98f.2c7868","type":"ui_button","z":"f83f4bcb.c73878","name":"Settings","group":"db2824df.708138","order":4,"width":"4","height":"1","passthru":false,"label":"Settings","tooltip":"","color":"","bgcolor":"{{ msg.payload.bgcolor }}","icon":"settings","payload":"{\"tab\":\"Settings\"};{\"bgcolor\":\"\"}","payloadType":"str","topic":"","x":252.5,"y":977,"wires":[["fc22751d.a99788"]]},{"id":"5920fa37.f8abd4","type":"ui_button","z":"f83f4bcb.c73878","name":"About","group":"db2824df.708138","order":5,"width":"4","height":"1","passthru":false,"label":"About","tooltip":"","color":"","bgcolor":"{{ msg.payload.bgcolor }}","icon":"about","payload":"{\"tab\":\"About\"};{\"bgcolor\":\"\"}","payloadType":"str","topic":"","x":248.5,"y":1109,"wires":[["b2ee6716.f3d118"]]},{"id":"efe17e9b.7276b","type":"ui_button","z":"f83f4bcb.c73878","name":"Logout","group":"db2824df.708138","order":6,"width":"4","height":"1","passthru":false,"label":"logout","tooltip":"","color":"","bgcolor":"{{ msg.payload.bgcolor }}","icon":"fa-sign-out","payload":"{\"tab\":\"Sign/signup\"};{\"bgcolor\":\"\"}","payloadType":"str","topic":"","x":242.5,"y":1258,"wires":[["c86bab0d.86d0e8"]]},{"id":"7baac79b.5a8608","type":"ui_ui_control","z":"f83f4bcb.c73878","name":"","x":1152,"y":1080,"wires":[[]]},{"id":"1c1e1111.8fa63f","type":"link out","z":"f83f4bcb.c73878","name":"UserProf_btn_out_set","links":["92c2646a.774bf8","be941a4.228d8e8","cd58eaa9.19aef8","ef7b4311.85405"],"x":735.5,"y":860,"wires":[]},{"id":"ef7b4311.85405","type":"link in","z":"f83f4bcb.c73878","name":"dash_btn_in","links":["1c1e1111.8fa63f","e6a6da68.8a3198","6d9c8d2a.8aa064","e6a880db.3e7bb","d31ff75c.215a88"],"x":101.5,"y":817,"wires":[["851bd7cc.ad54a8"]]},{"id":"48bc73be.29cb5c","type":"link in","z":"f83f4bcb.c73878","name":"UserProf_btn_in","links":["1fc635b3.d0356a","e6a6da68.8a3198","6d9c8d2a.8aa064","e6a880db.3e7bb"],"x":107,"y":901,"wires":[["b9f8c4a8.893c38"]]},{"id":"92c2646a.774bf8","type":"link in","z":"f83f4bcb.c73878","name":"Settings_btn_in","links":["1c1e1111.8fa63f","1fc635b3.d0356a","6d9c8d2a.8aa064","e6a880db.3e7bb","d31ff75c.215a88","5cb94737.ee65a8"],"x":110,"y":1046,"wires":[["fb70f98f.2c7868"]]},{"id":"be941a4.228d8e8","type":"link in","z":"f83f4bcb.c73878","name":"About_btn_in","links":["1c1e1111.8fa63f","1fc635b3.d0356a","e6a6da68.8a3198","e6a880db.3e7bb","d31ff75c.215a88"],"x":100,"y":1163,"wires":[["5920fa37.f8abd4"]]},{"id":"cd58eaa9.19aef8","type":"link in","z":"f83f4bcb.c73878","name":"logout_btn_in","links":["1c1e1111.8fa63f","1fc635b3.d0356a","e6a6da68.8a3198","6d9c8d2a.8aa064","d31ff75c.215a88"],"x":114,"y":1277,"wires":[["efe17e9b.7276b"]]},{"id":"1fc635b3.d0356a","type":"link out","z":"f83f4bcb.c73878","name":"dashboard_btn_out_set","links":["48bc73be.29cb5c","92c2646a.774bf8","be941a4.228d8e8","cd58eaa9.19aef8"],"x":735,"y":788,"wires":[]},{"id":"e6a6da68.8a3198","type":"link out","z":"f83f4bcb.c73878","name":"setting_btn_out_set","links":["48bc73be.29cb5c","be941a4.228d8e8","cd58eaa9.19aef8","ef7b4311.85405"],"x":735.5,"y":984,"wires":[]},{"id":"6d9c8d2a.8aa064","type":"link out","z":"f83f4bcb.c73878","name":"about_btn_out_set","links":["48bc73be.29cb5c","92c2646a.774bf8","cd58eaa9.19aef8","ef7b4311.85405"],"x":746.5,"y":1110,"wires":[]},{"id":"e6a880db.3e7bb","type":"link out","z":"f83f4bcb.c73878","name":"logout_btn_out_set","links":["48bc73be.29cb5c","92c2646a.774bf8","be941a4.228d8e8","ef7b4311.85405"],"x":747.5,"y":1234,"wires":[]},{"id":"b76fc078.ffa09","type":"subflow:a3cee45d.ae7d98","z":"f83f4bcb.c73878","name":"","env":[],"x":500.5,"y":778.5,"wires":[["7baac79b.5a8608"],["1fc635b3.d0356a"],["851bd7cc.ad54a8"]]},{"id":"c59f5128.ead33","type":"subflow:a3cee45d.ae7d98","z":"f83f4bcb.c73878","name":"","env":[],"x":511,"y":866,"wires":[["7baac79b.5a8608"],["1c1e1111.8fa63f"],["b9f8c4a8.893c38"]]},{"id":"fc22751d.a99788","type":"subflow:a3cee45d.ae7d98","z":"f83f4bcb.c73878","name":"","env":[],"x":498,"y":974,"wires":[["7baac79b.5a8608"],["e6a6da68.8a3198"],["fb70f98f.2c7868"]]},{"id":"b2ee6716.f3d118","type":"subflow:a3cee45d.ae7d98","z":"f83f4bcb.c73878","name":"","env":[],"x":491,"y":1104,"wires":[["7baac79b.5a8608"],["6d9c8d2a.8aa064"],["5920fa37.f8abd4"]]},{"id":"c86bab0d.86d0e8","type":"subflow:a3cee45d.ae7d98","z":"f83f4bcb.c73878","name":"","env":[],"x":495,"y":1233,"wires":[["7baac79b.5a8608"],["e6a880db.3e7bb"],["efe17e9b.7276b"]]},{"id":"2d74a777.6111c8","type":"ui_button","z":"aed920f9.7df21","name":"Dashboard","group":"fc3b5794.1a3d88","order":2,"width":"4","height":"1","passthru":false,"label":"Dashboard","tooltip":"","color":"","bgcolor":"{{ msg.payload.bgcolor }}","icon":"dashboard","payload":"{\"tab\":\"Dashboard\"};{\"bgcolor\":\"\"}","payloadType":"str","topic":"","x":318,"y":690,"wires":[["d124c75d.252d48"]]},{"id":"511e53ce.13d19c","type":"ui_button","z":"aed920f9.7df21","name":"User Profile","group":"fc3b5794.1a3d88","order":3,"width":"4","height":"1","passthru":false,"label":"User Profile","tooltip":"","color":"","bgcolor":"{{ msg.payload.bgcolor }}","icon":"account_circle","payload":"{\"tab\":\"2\"};{\"bgcolor\":\"\"}","payloadType":"str","topic":"","x":318.5,"y":780,"wires":[["c826f44a.715008"]]},{"id":"35e29293.dacd7e","type":"ui_button","z":"aed920f9.7df21","name":"Settings","group":"fc3b5794.1a3d88","order":4,"width":"4","height":"1","passthru":false,"label":"Settings","tooltip":"","color":"","bgcolor":"{{ msg.payload.bgcolor }}","icon":"settings","payload":"{\"tab\":\"Settings\"};{\"bgcolor\":\"\"}","payloadType":"str","topic":"","x":292.5,"y":889,"wires":[["70d79ad4.3a7344"]]},{"id":"8dfb05d2.81f2e8","type":"ui_button","z":"aed920f9.7df21","name":"About","group":"fc3b5794.1a3d88","order":5,"width":"4","height":"1","passthru":false,"label":"About","tooltip":"","color":"","bgcolor":"{{ msg.payload.bgcolor }}","icon":"about","payload":"{\"tab\":\"About\"};{\"bgcolor\":\"\"}","payloadType":"str","topic":"","x":310.5,"y":1040,"wires":[["b623e01d.ef81e"]]},{"id":"f9af1e83.73fcb","type":"ui_button","z":"aed920f9.7df21","name":"Logout","group":"fc3b5794.1a3d88","order":6,"width":"4","height":"1","passthru":false,"label":"logout","tooltip":"","color":"","bgcolor":"{{ msg.payload.bgcolor }}","icon":"fa-sign-out","payload":"{\"tab\":\"Sign/signup\"};{\"bgcolor\":\"\"}","payloadType":"str","topic":"","x":306.5,"y":1169,"wires":[["f1c4f46e.7016e8"]]},{"id":"1483b0c2.9a9f4f","type":"ui_ui_control","z":"aed920f9.7df21","name":"","x":1057,"y":956,"wires":[[]]},{"id":"8c9f5ec3.da6cc","type":"link out","z":"aed920f9.7df21","name":"UserProf_btn_out_UserProf","links":["5f07d58e.d7e76c","a282459f.8c8898","a885fa64.7c5778","d0b0edb5.9dfdd"],"x":776.5,"y":784,"wires":[]},{"id":"5f07d58e.d7e76c","type":"link in","z":"aed920f9.7df21","name":"dash_btn_in","links":["8c9f5ec3.da6cc","6115b8ed.c26dc8","43412fcb.7d755","3c1efe3d.58d142","d31ff75c.215a88"],"x":141.5,"y":729,"wires":[["2d74a777.6111c8"]]},{"id":"c5900c2c.4c4d6","type":"link in","z":"aed920f9.7df21","name":"UserProf_btn_in","links":["c7349f6a.44e83","6115b8ed.c26dc8","43412fcb.7d755","3c1efe3d.58d142","db853038.40097"],"x":147,"y":813,"wires":[["511e53ce.13d19c"]]},{"id":"a885fa64.7c5778","type":"link in","z":"aed920f9.7df21","name":"Settings_btn_in","links":["8c9f5ec3.da6cc","c7349f6a.44e83","43412fcb.7d755","3c1efe3d.58d142","d31ff75c.215a88"],"x":149,"y":952,"wires":[["35e29293.dacd7e"]]},{"id":"a282459f.8c8898","type":"link in","z":"aed920f9.7df21","name":"About_btn_in","links":["8c9f5ec3.da6cc","c7349f6a.44e83","6115b8ed.c26dc8","3c1efe3d.58d142","d31ff75c.215a88"],"x":143,"y":1077,"wires":[["8dfb05d2.81f2e8"]]},{"id":"d0b0edb5.9dfdd","type":"link in","z":"aed920f9.7df21","name":"logout_btn_in","links":["8c9f5ec3.da6cc","c7349f6a.44e83","6115b8ed.c26dc8","43412fcb.7d755","d31ff75c.215a88"],"x":147,"y":1184,"wires":[["f9af1e83.73fcb"]]},{"id":"c7349f6a.44e83","type":"link out","z":"aed920f9.7df21","name":"dashboard_btn_out_UserProf","links":["a282459f.8c8898","a885fa64.7c5778","c5900c2c.4c4d6","d0b0edb5.9dfdd"],"x":775,"y":700,"wires":[]},{"id":"6115b8ed.c26dc8","type":"link out","z":"aed920f9.7df21","name":"setting_btn_out_UserProf","links":["5f07d58e.d7e76c","a282459f.8c8898","c5900c2c.4c4d6","d0b0edb5.9dfdd"],"x":778.5,"y":893,"wires":[]},{"id":"43412fcb.7d755","type":"link out","z":"aed920f9.7df21","name":"about_btn_out_UserProf","links":["5f07d58e.d7e76c","a885fa64.7c5778","c5900c2c.4c4d6","d0b0edb5.9dfdd"],"x":786.5,"y":1022,"wires":[]},{"id":"3c1efe3d.58d142","type":"link out","z":"aed920f9.7df21","name":"logout_btn_out_UserProf","links":["5f07d58e.d7e76c","a282459f.8c8898","a885fa64.7c5778","c5900c2c.4c4d6"],"x":788.5,"y":1150,"wires":[]},{"id":"d124c75d.252d48","type":"subflow:a3cee45d.ae7d98","z":"aed920f9.7df21","name":"","env":[],"x":540.5,"y":690.5,"wires":[["1483b0c2.9a9f4f"],["c7349f6a.44e83"],["2d74a777.6111c8"]]},{"id":"c826f44a.715008","type":"subflow:a3cee45d.ae7d98","z":"aed920f9.7df21","name":"","env":[],"x":551,"y":778,"wires":[["1483b0c2.9a9f4f"],["8c9f5ec3.da6cc"],["511e53ce.13d19c"]]},{"id":"70d79ad4.3a7344","type":"subflow:a3cee45d.ae7d98","z":"aed920f9.7df21","name":"","env":[],"x":550,"y":869,"wires":[["1483b0c2.9a9f4f"],["6115b8ed.c26dc8"],["35e29293.dacd7e"]]},{"id":"b623e01d.ef81e","type":"subflow:a3cee45d.ae7d98","z":"aed920f9.7df21","name":"","env":[],"x":535,"y":1023,"wires":[["1483b0c2.9a9f4f"],["43412fcb.7d755"],["8dfb05d2.81f2e8"]]},{"id":"f1c4f46e.7016e8","type":"subflow:a3cee45d.ae7d98","z":"aed920f9.7df21","name":"","env":[],"x":538,"y":1161,"wires":[["1483b0c2.9a9f4f"],["3c1efe3d.58d142"],["f9af1e83.73fcb"]]},{"id":"16c94e43.11a302","type":"ui_button","z":"708a55b6.cddeac","name":"Dashboard","group":"10ae1ca3.cf6ef3","order":2,"width":"4","height":"1","passthru":false,"label":"Dashboard","tooltip":"","color":"","bgcolor":"{{ msg.payload.bgcolor }}","icon":"dashboard","payload":"{\"tab\":\"Dashboard\"};{\"bgcolor\":\"\"}","payloadType":"str","topic":"","x":557,"y":303,"wires":[["10cb8e83.400eb1"]]},{"id":"1f8f1a69.553ff6","type":"ui_button","z":"708a55b6.cddeac","name":"User Profile","group":"10ae1ca3.cf6ef3","order":3,"width":"4","height":"1","passthru":false,"label":"User Profile","tooltip":"","color":"","bgcolor":"{{ msg.payload.bgcolor }}","icon":"account_circle","payload":"{\"tab\":\"2\"};{\"bgcolor\":\"\"}","payloadType":"str","topic":"","x":573.5,"y":396,"wires":[["dcccff36.4ffac"]]},{"id":"e93c41c1.0ae65","type":"ui_button","z":"708a55b6.cddeac","name":"Settings","group":"10ae1ca3.cf6ef3","order":4,"width":"4","height":"1","passthru":false,"label":"Settings","tooltip":"","color":"","bgcolor":"{{ msg.payload.bgcolor }}","icon":"settings","payload":"{\"tab\":\"Settings\"};{\"bgcolor\":\"\"}","payloadType":"str","topic":"","x":550.5,"y":505,"wires":[["8711a696.a65078"]]},{"id":"86be2ce0.935a2","type":"ui_button","z":"708a55b6.cddeac","name":"About","group":"10ae1ca3.cf6ef3","order":5,"width":"4","height":"1","passthru":false,"label":"About","tooltip":"","color":"","bgcolor":"{{ msg.payload.bgcolor }}","icon":"about","payload":"{\"tab\":\"About\"};{\"bgcolor\":\"\"}","payloadType":"str","topic":"","x":546.5,"y":637,"wires":[["90bc0997.323fe8"]]},{"id":"7ebcf222.fe94cc","type":"ui_button","z":"708a55b6.cddeac","name":"Logout","group":"10ae1ca3.cf6ef3","order":6,"width":"4","height":"1","passthru":false,"label":"logout","tooltip":"","color":"","bgcolor":"{{ msg.payload.bgcolor }}","icon":"fa-sign-out","payload":"{\"tab\":\"Sign/signup\"};{\"bgcolor\":\"\"}","payloadType":"str","topic":"","x":540.5,"y":786,"wires":[["c23ed5ab.64a3d8"]]},{"id":"43e0af78.803aa","type":"ui_ui_control","z":"708a55b6.cddeac","name":"","x":1450,"y":608,"wires":[[]]},{"id":"f7248994.fa7068","type":"link out","z":"708a55b6.cddeac","name":"UserProf_btn_out_abt","links":["1d2456b.2aa15a9","bfc560a0.4a195","e78595dc.3fed68","f0f27f51.7459c"],"x":1033.5,"y":388,"wires":[]},{"id":"1d2456b.2aa15a9","type":"link in","z":"708a55b6.cddeac","name":"dash_btn_in","links":["f7248994.fa7068","8e540516.e1d368","6f2fafb.6a5fb5","571131c0.1802d","d31ff75c.215a88"],"x":399.5,"y":345,"wires":[["16c94e43.11a302"]]},{"id":"8446dfe.5d7082","type":"link in","z":"708a55b6.cddeac","name":"UserProf_btn_in","links":["f59e6b75.5d07d8","8e540516.e1d368","6f2fafb.6a5fb5","571131c0.1802d"],"x":405,"y":429,"wires":[["1f8f1a69.553ff6"]]},{"id":"e78595dc.3fed68","type":"link in","z":"708a55b6.cddeac","name":"Settings_btn_in","links":["f7248994.fa7068","f59e6b75.5d07d8","6f2fafb.6a5fb5","571131c0.1802d","d31ff75c.215a88"],"x":408,"y":574,"wires":[["e93c41c1.0ae65"]]},{"id":"bfc560a0.4a195","type":"link in","z":"708a55b6.cddeac","name":"About_btn_in","links":["f7248994.fa7068","f59e6b75.5d07d8","8e540516.e1d368","571131c0.1802d","d31ff75c.215a88","20f2dd6.f743822"],"x":398,"y":691,"wires":[["86be2ce0.935a2"]]},{"id":"f0f27f51.7459c","type":"link in","z":"708a55b6.cddeac","name":"logout_btn_in","links":["f7248994.fa7068","f59e6b75.5d07d8","8e540516.e1d368","6f2fafb.6a5fb5","d31ff75c.215a88"],"x":412,"y":805,"wires":[["7ebcf222.fe94cc"]]},{"id":"f59e6b75.5d07d8","type":"link out","z":"708a55b6.cddeac","name":"dashboard_btn_out_abt","links":["8446dfe.5d7082","bfc560a0.4a195","e78595dc.3fed68","f0f27f51.7459c"],"x":1033,"y":316,"wires":[]},{"id":"8e540516.e1d368","type":"link out","z":"708a55b6.cddeac","name":"setting_btn_out_abt","links":["1d2456b.2aa15a9","8446dfe.5d7082","bfc560a0.4a195","f0f27f51.7459c"],"x":1033.5,"y":512,"wires":[]},{"id":"6f2fafb.6a5fb5","type":"link out","z":"708a55b6.cddeac","name":"about_btn_out_abt","links":["1d2456b.2aa15a9","8446dfe.5d7082","e78595dc.3fed68","f0f27f51.7459c"],"x":1044.5,"y":638,"wires":[]},{"id":"571131c0.1802d","type":"link out","z":"708a55b6.cddeac","name":"logout_btn_out_abt","links":["1d2456b.2aa15a9","8446dfe.5d7082","bfc560a0.4a195","e78595dc.3fed68"],"x":1043.5,"y":777,"wires":[]},{"id":"10cb8e83.400eb1","type":"subflow:a3cee45d.ae7d98","z":"708a55b6.cddeac","name":"","env":[],"x":798.5,"y":306.5,"wires":[["43e0af78.803aa"],["f59e6b75.5d07d8"],["16c94e43.11a302"]]},{"id":"dcccff36.4ffac","type":"subflow:a3cee45d.ae7d98","z":"708a55b6.cddeac","name":"","env":[],"x":809,"y":394,"wires":[["43e0af78.803aa"],["f7248994.fa7068"],["1f8f1a69.553ff6"]]},{"id":"8711a696.a65078","type":"subflow:a3cee45d.ae7d98","z":"708a55b6.cddeac","name":"","env":[],"x":796,"y":502,"wires":[["43e0af78.803aa"],["8e540516.e1d368"],["e93c41c1.0ae65"]]},{"id":"90bc0997.323fe8","type":"subflow:a3cee45d.ae7d98","z":"708a55b6.cddeac","name":"","env":[],"x":789,"y":632,"wires":[["43e0af78.803aa"],["6f2fafb.6a5fb5"],["86be2ce0.935a2"]]},{"id":"c23ed5ab.64a3d8","type":"subflow:a3cee45d.ae7d98","z":"708a55b6.cddeac","name":"","env":[],"x":796,"y":777,"wires":[["43e0af78.803aa"],["571131c0.1802d"],["7ebcf222.fe94cc"]]},{"id":"cc9d8f2d.3ce16","type":"ui_colour_picker","z":"f83f4bcb.c73878","name":"","label":"color picker","group":"db2824df.708138","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":true,"showHue":true,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":7,"width":"20","height":"1","passthru":true,"topic":"","x":671,"y":628,"wires":[[]]},{"id":"dbd46189.2d5e","type":"debug","z":"76c001c4.620fa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":888.28125,"y":340.765625,"wires":[]},{"id":"8176911d.7a3fc","type":"debug","z":"55049053.8c13","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1226.0234375,"y":925.0392456054688,"wires":[]},{"id":"d4dea998.02dd48","type":"function","z":"76c001c4.620fa","name":"Convert payload to Float","func":"msg.payload = parseFloat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":347.28123474121094,"y":1600.8126220703125,"wires":[["2decd711.166378"]]},{"id":"b290dfd5.e6c6f","type":"link in","z":"55049053.8c13","name":" Summary Gauge input - Payload Soil","links":["60ecb650.a8a1f8"],"x":202.02343940734863,"y":591.0391502380371,"wires":[["8ad52360.78fe8"]]},{"id":"48640ccd.8c9644","type":"link in","z":"55049053.8c13","name":" Summary Gauge input - Payload temp","links":["c2ac012f.91663"],"x":203.02343940734863,"y":653.0390737056732,"wires":[["3dba0c43.f2ef74"]]},{"id":"5558b4fd.eb5cbc","type":"link in","z":"55049053.8c13","name":" Summary Gauge input - Payload Light","links":["ae8c17c8.cea2a8","788a1a82.931164","ceca9733.2a3b08"],"x":207.0234375,"y":788.0390625,"wires":[["d9c27819.5962a8"]]},{"id":"c2ac012f.91663","type":"link out","z":"76c001c4.620fa","name":" Summary Gauge output - Payload Temp","links":["48640ccd.8c9644","5599eec5.ffc29","a8aa6f3b.4f7bd","dda3cc30.88ddc"],"x":486,"y":1405.0391845703125,"wires":[]},{"id":"ae8c17c8.cea2a8","type":"link out","z":"76c001c4.620fa","name":" Summary Gauge output - Payload ldr","links":["5558b4fd.eb5cbc","5599eec5.ffc29","a8aa6f3b.4f7bd","dda3cc30.88ddc"],"x":713.0234375,"y":1234.0390625,"wires":[]},{"id":"60ecb650.a8a1f8","type":"link out","z":"76c001c4.620fa","name":" Summary Gauge output - Payload Soil","links":["5599eec5.ffc29","a8aa6f3b.4f7bd","b290dfd5.e6c6f","dda3cc30.88ddc"],"x":343.0234375,"y":818.0390625,"wires":[]},{"id":"4aa4ceeb.3eb87","type":"function","z":"76c001c4.620fa","name":"Convert payload to Float","func":"msg.payload = parseFloat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":318,"y":1405.0390625,"wires":[["c2ac012f.91663"]]},{"id":"9efe00ac.01131","type":"function","z":"76c001c4.620fa","name":"Convert payload to Float","func":"msg.payload = parseFloat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":446.0234375,"y":1238.0390625,"wires":[["ae8c17c8.cea2a8"]]},{"id":"86bfd8e.c569928","type":"function","z":"76c001c4.620fa","name":"Convert payload to Float","func":"msg.payload = parseFloat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":146.0234375,"y":841.0390625,"wires":[["60ecb650.a8a1f8"]]},{"id":"a38f5f90.7ea6e","type":"link out","z":"76c001c4.620fa","name":"Neo 6M GPS Output","links":["7ea94313.1ca0cc"],"x":774.5,"y":400,"wires":[]},{"id":"7ea94313.1ca0cc","type":"link in","z":"55049053.8c13","name":"Neo 6M GPS Input","links":["a38f5f90.7ea6e"],"x":178.5,"y":1176,"wires":[["1b693dae.722482","5ff409de.408048"]]},{"id":"1b693dae.722482","type":"switch","z":"55049053.8c13","name":"Sea level alt - switch","property":"payload.main.sea_level","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":359.5,"y":1142,"wires":[["98fbf229.2bb08"]]},{"id":"5ff409de.408048","type":"switch","z":"55049053.8c13","name":"atm pressure -switch","property":"payload.main.pressure","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":359,"y":1223,"wires":[["8a7d32b4.2b3d2"]]},{"id":"845d1940.d3db88","type":"link in","z":"76c001c4.620fa","name":"In at pressure text","links":["a1431af7.a57578","aeea58de.682798","cac746cf.5b8d08"],"x":1265,"y":862,"wires":[["ede3dacb.8cf3d8"]]},{"id":"3fe7a500.25b33c","type":"link in","z":"76c001c4.620fa","name":"In at pressure line","links":["a1431af7.a57578","aeea58de.682798","cac746cf.5b8d08"],"x":1269,"y":1102,"wires":[["7b69dbd3.bfb9c4"]]},{"id":"1291427d.5261de","type":"link in","z":"76c001c4.620fa","name":"In alt text","links":["a1431af7.a57578","aeea58de.682798","7c450c9.e35edf4"],"x":1266,"y":786,"wires":[["82c9a62e.888c58"]]},{"id":"7c450c9.e35edf4","type":"link out","z":"55049053.8c13","name":"sea_level alt Out - switch","links":["1291427d.5261de","3dc4b360.bc88dc","668cd368.8c041c"],"x":1051.5,"y":1142,"wires":[]},{"id":"cac746cf.5b8d08","type":"link out","z":"55049053.8c13","name":"at_pressure alt Out - switch","links":["3fe7a500.25b33c","668cd368.8c041c","845d1940.d3db88"],"x":1050,"y":1220,"wires":[]},{"id":"b7d47a74.b329e8","type":"function","z":"55049053.8c13","name":"Add topic alt","func":"msg.payload = parseFloat((msg.payload / 100));\nmsg.topic = \"esp8266/alt\";\nreturn msg;","outputs":1,"noerr":0,"x":838.5,"y":1141,"wires":[["7c450c9.e35edf4","8dc73e3a.ad23c"]]},{"id":"cceccd56.0a18c","type":"function","z":"55049053.8c13","name":"Add topic atpressure","func":"msg.payload = parseFloat((msg.payload / 100));\nmsg.topic = \"esp8266/atpressure\";\nreturn msg;","outputs":1,"noerr":0,"x":871,"y":1222,"wires":[["cac746cf.5b8d08","e49cbe87.80d1"]]},{"id":"fe956f79.8d037","type":"debug","z":"55049053.8c13","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":798.5,"y":1005,"wires":[]},{"id":"98fbf229.2bb08","type":"change","z":"55049053.8c13","name":"extract payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.sea_level","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":599.5,"y":1143,"wires":[["b7d47a74.b329e8"]]},{"id":"8a7d32b4.2b3d2","type":"change","z":"55049053.8c13","name":"extract payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":602,"y":1223,"wires":[["cceccd56.0a18c"]]},{"id":"3a48d2eb.5c75fe","type":"link out","z":"76c001c4.620fa","name":"output topic router","links":["668cd368.8c041c"],"x":1050.5,"y":477,"wires":[]},{"id":"4e283dfa.773c44","type":"mqtt in","z":"76c001c4.620fa","name":"esp8266/status","topic":"esp8266/status","qos":"2","datatype":"auto","broker":"6713a11b.92a6","x":427.5,"y":2173,"wires":[["66392a2c.255e04"]]},{"id":"3258c5d0.c416aa","type":"rbe","z":"76c001c4.620fa","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":307,"y":581,"wires":[["5bd70a5e.a65b04"]]},{"id":"27fc9640.07a52a","type":"rbe","z":"76c001c4.620fa","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":293,"y":669,"wires":[["82c9a62e.888c58"]]},{"id":"8f1acb67.82cf08","type":"rbe","z":"76c001c4.620fa","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":901,"y":407,"wires":[["3a48d2eb.5c75fe"]]},{"id":"b1d0150b.1c34c8","type":"rbe","z":"76c001c4.620fa","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":894,"y":442,"wires":[["3a48d2eb.5c75fe"]]},{"id":"c13f01bc.b52bf","type":"rbe","z":"76c001c4.620fa","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":898,"y":508,"wires":[["3a48d2eb.5c75fe"]]},{"id":"8ac50e.61e9eaf","type":"rbe","z":"76c001c4.620fa","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":901,"y":474,"wires":[["3a48d2eb.5c75fe"]]},{"id":"a38d3d01.4fc11","type":"rbe","z":"76c001c4.620fa","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":323,"y":754,"wires":[["55887867.be8e58"]]},{"id":"baa76611.867df8","type":"rbe","z":"76c001c4.620fa","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":301,"y":923,"wires":[["ede3dacb.8cf3d8"]]},{"id":"e53b0a4a.3b0ad8","type":"rbe","z":"76c001c4.620fa","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":270,"y":1105,"wires":[["9042abdf.9c7a38"]]},{"id":"2fd87e07.4bdf52","type":"rbe","z":"76c001c4.620fa","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":274,"y":1161,"wires":[["ff904461.a19228"]]},{"id":"5010c7e.daac838","type":"rbe","z":"76c001c4.620fa","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":361,"y":867,"wires":[["22a3680c.480b88"]]},{"id":"b2016811.ec6378","type":"rbe","z":"76c001c4.620fa","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":301,"y":980,"wires":[["7b69dbd3.bfb9c4"]]},{"id":"c2ffbb42.bc52d8","type":"rbe","z":"76c001c4.620fa","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":316,"y":1353,"wires":[["5b0b4b53.34a0b4"]]},{"id":"686ed957.980968","type":"rbe","z":"76c001c4.620fa","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":318,"y":1314,"wires":[["9196eb03.019468"]]},{"id":"29999f5f.10c72","type":"rbe","z":"76c001c4.620fa","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":329,"y":1271,"wires":[["620e4fb3.c11c1"]]},{"id":"951c0495.b3d388","type":"rbe","z":"76c001c4.620fa","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":473,"y":1168,"wires":[["6d458efe.feed1"]]},{"id":"27d8f35f.32634c","type":"rbe","z":"76c001c4.620fa","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":285,"y":1547,"wires":[["91142f50.915a1"]]},{"id":"24c7d1f3.3ee5be","type":"rbe","z":"76c001c4.620fa","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":287,"y":1493,"wires":[["75b081cf.5453c"]]},{"id":"fc4db22.a77bd5","type":"mongodb out","z":"cedc12f9.07809","mongodb":"59ba609f.66765","name":"save_sensor_data","collection":"sensor_data","payonly":true,"upsert":true,"multi":true,"operation":"update","x":861,"y":659,"wires":[]},{"id":"a8aa6f3b.4f7bd","type":"link in","z":"cedc12f9.07809","name":"input_sensor_data_mongodb_link","links":["143eef6b.1cd5c1","ae8c17c8.cea2a8","60ecb650.a8a1f8","c2ac012f.91663","2decd711.166378","788a1a82.931164","ceca9733.2a3b08"],"x":507,"y":692,"wires":[["97c0a932.b92cf8"]]},{"id":"bd2a1669.8168f8","type":"catch","z":"cedc12f9.07809","name":"Catch save sensor_data errors","scope":["95c399f8.c7da88","fc4db22.a77bd5"],"uncaught":false,"x":575,"y":753,"wires":[[]]},{"id":"97c0a932.b92cf8","type":"debug","z":"cedc12f9.07809","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970.0000610351562,"y":741,"wires":[]},{"id":"788a1a82.931164","type":"link out","z":"76c001c4.620fa","name":" Summary Gauge output - Payload atpressure","links":["5558b4fd.eb5cbc","5599eec5.ffc29","a8aa6f3b.4f7bd","dda3cc30.88ddc"],"x":499,"y":1015,"wires":[]},{"id":"83d80608.08d958","type":"function","z":"76c001c4.620fa","name":"Convert payload to Float","func":"msg.payload = parseFloat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":206,"y":1031,"wires":[["788a1a82.931164"]]},{"id":"ceca9733.2a3b08","type":"link out","z":"76c001c4.620fa","name":" Summary Gauge output - Payload alt","links":["5558b4fd.eb5cbc","5599eec5.ffc29","a8aa6f3b.4f7bd","dda3cc30.88ddc"],"x":441,"y":693,"wires":[]},{"id":"21bf65ae.1a965a","type":"function","z":"76c001c4.620fa","name":"Convert payload to Float","func":"msg.payload = parseFloat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":267,"y":710,"wires":[["ceca9733.2a3b08"]]},{"id":"a3d1c3ae.c21bc","type":"rbe","z":"76c001c4.620fa","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":624,"y":237,"wires":[["506aafb2.38109","b06dafe3.62dd2"]]},{"id":"b06dafe3.62dd2","type":"debug","z":"76c001c4.620fa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":596,"y":383,"wires":[]}]