Agrarian-Node-Red-Flow.json
[{"id":"842a56ea.bfcfe8","type":"tab","label":"Agrarian","disabled":false,"info":""},{"id":"e9d1e5f8.3e30f8","type":"tab","label":"Agrarian Extension","disabled":false,"info":""},{"id":"540202a6.c61d5c","type":"mqtt-broker","z":"","name":"","broker":"35.185.57.164","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ba8637b.25d65c8","type":"mqtt-broker","z":"","name":"MQTT- Server-Oracle-Cloud","broker":"34.73.121.27","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"Acknowledge connection","birthQos":"0","birthPayload":"Connected successfully","closeTopic":"Acknowledge disconnect","closeQos":"0","closePayload":"Successfully Disconnected","willTopic":"Unexpected Disconnect","willQos":"0","willPayload":"Unexpectedly closed connection"},{"id":"beb8333a.e19b6","type":"twilio-api","z":"","name":"Twilio-Soil Notification","sid":"ACce5d1cd62ad9fc81fdb728cbd45d8491","from":"12013081390"},{"id":"6c67a3a9.73874c","type":"mui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"m-base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"m-page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"m-page-backgroundColor":{"value":"#fafafa","edited":false},"m-page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"m-group-textColor":{"value":"#1bbfff","edited":false},"m-group-borderColor":{"value":"#ffffff","edited":false},"m-group-backgroundColor":{"value":"#ffffff","edited":false},"m-widget-textColor":{"value":"#111111","edited":false},"m-widget-backgroundColor":{"value":"#0094ce","edited":false},"m-widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a3e65bc0.2144b8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#099409","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#099409","edited":true},"page-titlebar-backgroundColor":{"value":"#099409","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#0ddc0d","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#099409","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Agrarian Dashboard","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1b4e316a.7fd84f","type":"ui_spacer","name":"spacer","group":"","order":1,"width":1,"height":1},{"id":"cf9751e5.f372c","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"38385b8d.2d7864","type":"firebase config","z":"","firebaseurl":"agrarian-ec4bc","loginType":"email"},{"id":"52239eee.ce9af","type":"mui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"1d8225fb.9b399a","type":"mui_group","z":"","name":"Default","tab":"52239eee.ce9af","disp":true,"width":"6","collapse":false},{"id":"4cff0657.256a68","type":"ui_group","z":"","name":"Outside","tab":"","order":1,"disp":true,"width":"7"},{"id":"2e3ca000.d7862","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"22c95b08.4f5b64","type":"ui_tab","z":"","name":"Agrarian","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"65cf4cb2.238244","type":"ui_group","z":"","name":"Sensor Values 1","tab":"22c95b08.4f5b64","order":1,"disp":true,"width":"6","collapse":true},{"id":"d823fc5b.50bfd","type":"ui_group","z":"","name":"Sensor Values 2","tab":"22c95b08.4f5b64","order":2,"disp":true,"width":"6","collapse":false},{"id":"6b282493.7d337c","type":"mqtt in","z":"842a56ea.bfcfe8","name":"esp8266/temperature","topic":"esp8266/temperature","qos":"2","datatype":"auto","broker":"ba8637b.25d65c8","x":220,"y":860,"wires":[["f4e3bb66.208d68","e3f91d4c.486d2"]]},{"id":"f7a9619f.7d563","type":"mqtt in","z":"842a56ea.bfcfe8","name":"esp8266/ldr","topic":"esp8266/ldr","qos":"2","datatype":"auto","broker":"ba8637b.25d65c8","x":190,"y":720,"wires":[["eba965db.ad5408","977ebf79.bc42c"]]},{"id":"eba965db.ad5408","type":"ui_gauge","z":"842a56ea.bfcfe8","name":"","group":"65cf4cb2.238244","order":0,"width":"4","height":"4","gtype":"gage","title":"Luminosity","label":"Luminosity","format":"{{value}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":640,"wires":[]},{"id":"f4e3bb66.208d68","type":"ui_chart","z":"842a56ea.bfcfe8","name":"","group":"65cf4cb2.238244","order":0,"width":"6","height":"4","label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":570,"y":800,"wires":[[]]},{"id":"e3f91d4c.486d2","type":"debug","z":"842a56ea.bfcfe8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":860,"wires":[]},{"id":"3388bf6f.ba10c","type":"ui_chart","z":"842a56ea.bfcfe8","name":"Humidity ","group":"65cf4cb2.238244","order":3,"width":"4","height":"4","label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":540,"y":940,"wires":[[]]},{"id":"77a7fc4f.ef6da4","type":"mqtt in","z":"842a56ea.bfcfe8","name":"esp8266/humidity","topic":"esp8266/humidity","qos":"2","datatype":"auto","broker":"ba8637b.25d65c8","x":200,"y":1000,"wires":[["3388bf6f.ba10c","f1bb0624.a12f48"]]},{"id":"f1bb0624.a12f48","type":"debug","z":"842a56ea.bfcfe8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":1000,"wires":[]},{"id":"977ebf79.bc42c","type":"debug","z":"842a56ea.bfcfe8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":720,"wires":[]},{"id":"9b6a7d95.93395","type":"mqtt in","z":"842a56ea.bfcfe8","name":"esp8266/Soil","topic":"esp8266/Soil","qos":"2","datatype":"auto","broker":"ba8637b.25d65c8","x":110,"y":340,"wires":[["1a4ff1cd.8e963e","213be04e.ebad3"]]},{"id":"759f01fe.b90d4","type":"twilio out","z":"842a56ea.bfcfe8","twilio":"beb8333a.e19b6","twilioType":"sms","url":"","number":"254707649392","name":"Twilio-Api","x":860,"y":300,"wires":[]},{"id":"213be04e.ebad3","type":"function","z":"842a56ea.bfcfe8","name":"Soil Monitor","func":"\n\nif ( msg.payload >= 200 ){\n    msg.payload = \"Soil Moisture is below optimal\";\n\treturn msg;\n}\n\n \n\n","outputs":1,"noerr":0,"x":370,"y":420,"wires":[["d14d494d.a0acf8","aa975ab5.5c5ec8","1c7e96b9.f7e939"]]},{"id":"d14d494d.a0acf8","type":"function","z":"842a56ea.bfcfe8","name":"Message to send","func":"\nvar alertmessage = msg.payload.alertmessage;\nvar topic = msg.topic;\nvar deviceid = msg.deviceId;\nvar devicetype = msg.deviceType;\nvar sev = msg.payload.severity;\nvar type = msg.payload.type;\nvar soil = msg.payload.soil;\n\n msg.payload=\"\\r\\n Alert: Soil Status has changed\\r\\n\"+\"Device Id: SoilSensor   Located in : Dubai\\r\\n\"+\" Alert message is:\"+String(alertmessage),\n\nmsg.headers = {\n Accept: \"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":340,"wires":[["759f01fe.b90d4","aa975ab5.5c5ec8","32787718.886958"]]},{"id":"effa5436.6c5e48","type":"mqtt in","z":"842a56ea.bfcfe8","name":"esp8266/alt","topic":"esp8266/alt","qos":"2","datatype":"auto","broker":"ba8637b.25d65c8","x":110,"y":240,"wires":[["98e66240.c6a95"]]},{"id":"43857e8e.931c6","type":"ui_chart","z":"842a56ea.bfcfe8","name":"Atmospheric Pressure","group":"d823fc5b.50bfd","order":4,"width":"4","height":"4","label":"Atmospheric pressure in (Hpa)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":580,"y":580,"wires":[[]]},{"id":"98e66240.c6a95","type":"ui_gauge","z":"842a56ea.bfcfe8","name":"Altitude in meters","group":"d823fc5b.50bfd","order":5,"width":"4","height":"4","gtype":"compass","title":"Altitude (m)","label":"meters","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":370,"y":240,"wires":[]},{"id":"aa975ab5.5c5ec8","type":"ui_toast","z":"842a56ea.bfcfe8","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":780,"y":420,"wires":[]},{"id":"ba506660.bf1bf8","type":"firebase modify","z":"e9d1e5f8.3e30f8","name":"Temp datastore","firebaseconfig":"38385b8d.2d7864","childpath":"agrarian-ec4bc/DHT11/temperature","method":"set","value":"msg.payload","priority":"msg.priority","x":500,"y":140,"wires":[["c874361d.957918"]]},{"id":"32787718.886958","type":"debug","z":"842a56ea.bfcfe8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":240,"wires":[]},{"id":"25a5ed8c.dbb032","type":"comment","z":"842a56ea.bfcfe8","name":" monitoring temperature change","info":"","x":250,"y":800,"wires":[]},{"id":"db1e701a.64e87","type":"comment","z":"842a56ea.bfcfe8","name":"monitoring humidity change","info":"","x":240,"y":940,"wires":[]},{"id":"f1e1aba.651b158","type":"comment","z":"842a56ea.bfcfe8","name":" monitoring Light Intensity","info":"","x":230,"y":640,"wires":[]},{"id":"24ad0ae.d3033f6","type":"comment","z":"842a56ea.bfcfe8","name":" monitoring Atmospheric pressure","info":"","x":250,"y":520,"wires":[]},{"id":"67d5078a.801d88","type":"link out","z":"842a56ea.bfcfe8","name":"f1","links":["65fc8576.43afdc","ee67aa99.902148"],"x":35,"y":100,"wires":[]},{"id":"ee67aa99.902148","type":"link out","z":"e9d1e5f8.3e30f8","name":"f2","links":["67d5078a.801d88"],"x":355,"y":80,"wires":[]},{"id":"ba64b01c.06f5f","type":"comment","z":"842a56ea.bfcfe8","name":"log in form to link to login form","info":"","x":140,"y":60,"wires":[]},{"id":"c874361d.957918","type":"debug","z":"e9d1e5f8.3e30f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":260,"wires":[]},{"id":"21edccd9.17e044","type":"mqtt in","z":"842a56ea.bfcfe8","name":"esp8266/atpressure","topic":"esp8266/atpressure","qos":"2","datatype":"auto","broker":"ba8637b.25d65c8","x":210,"y":580,"wires":[["43857e8e.931c6"]]},{"id":"1a4ff1cd.8e963e","type":"ui_gauge","z":"842a56ea.bfcfe8","name":"Soil Moisture level","group":"d823fc5b.50bfd","order":2,"width":"4","height":"4","gtype":"donut","title":"Soil Moisture Level","label":"level","format":"{{value}}","min":"10","max":"300","colors":["#ca3838","#00ba00","#f7f700"],"seg1":"","seg2":"","x":370,"y":280,"wires":[]},{"id":"1c7e96b9.f7e939","type":"debug","z":"842a56ea.bfcfe8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":480,"wires":[]},{"id":"fe19fd1f.f6e8f","type":"inject","z":"842a56ea.bfcfe8","name":"","topic":"","payload":"","payloadType":"num","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":100,"wires":[["837fa45.8f11258"]]},{"id":"837fa45.8f11258","type":"function","z":"842a56ea.bfcfe8","name":"Random generator","func":" \n if(msg.payload > .5){\n            \n            msg.payload = Math.round(Math.random()*100);\n        } else {\n            \n            msg.payload = (Math.random()*100).toFixed(1)\n        }\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":120,"wires":[["54a40c83.1c36c4","fc4fdf8.2e7942"]]},{"id":"54a40c83.1c36c4","type":"ui_template","z":"842a56ea.bfcfe8","group":"cf9751e5.f372c","name":"custom fill gauge","order":3,"width":"4","height":"4","format":"<!DOCTYPE html>\n<html>\n<head lang=\"en\">\n    <meta charset=\"UTF-8\">\n    <title></title>\n    <script src=\"http://d3js.org/d3.v3.min.js\" language=\"JavaScript\"></script>\n    <script src=\"liquidFillGauge.js\" language=\"JavaScript\"></script>\n    <style>\n        .liquidFillGaugeText { font-family: Helvetica; font-weight: bold; }\n    </style>\n</head>\n<body>\n<svg id=\"fillgauge1\" width=\"97%\" height=\"250\" onclick=\"gauge1.update(NewValue());\"></svg>\n<script language=\"JavaScript\">\n    var gauge1 = loadLiquidFillGauge(\"fillgauge1\", msg);\n    var config1 = liquidFillGaugeDefaultSettings();\n    \n    config1.circleColor = \"#FF7777\";\n    config1.textColor = \"#FF4444\";\n    config1.waveTextColor = \"#FFAAAA\";\n    config1.waveColor = \"#FFDDDD\";\n    config1.circleThickness = 0.2;\n    config1.textVertPosition = 0.2;\n    config1.waveAnimateTime = 1000;\n    \n function NewValue(){\n        if(Math.random() > .5){\n            return Math.round(Math.random()*100);\n        } else {\n            return (Math.random()*100).toFixed(1);\n        }\n    }\n    </script>\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":850,"y":160,"wires":[[]]},{"id":"fc4fdf8.2e7942","type":"debug","z":"842a56ea.bfcfe8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":80,"wires":[]}]