flows.json
[{"id":"842a56ea.bfcfe8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6b282493.7d337c","type":"mqtt in","z":"842a56ea.bfcfe8","name":"esp8266/temperature","topic":"esp8266/temperature","qos":"2","datatype":"auto","broker":"ba8637b.25d65c8","x":140,"y":520,"wires":[["f4e3bb66.208d68","e3f91d4c.486d2"]]},{"id":"f7a9619f.7d563","type":"mqtt in","z":"842a56ea.bfcfe8","name":"esp8266/ldr","topic":"esp8266/ldr","qos":"2","datatype":"auto","broker":"ba8637b.25d65c8","x":110,"y":420,"wires":[["eba965db.ad5408","977ebf79.bc42c"]]},{"id":"eba965db.ad5408","type":"ui_gauge","z":"842a56ea.bfcfe8","name":"","group":"8fd178af.c2fd08","order":0,"width":0,"height":0,"gtype":"gage","title":"Luminosity","label":"Luminosity","format":"{{value}}","min":0,"max":"1023","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":390,"y":420,"wires":[]},{"id":"f4e3bb66.208d68","type":"ui_chart","z":"842a56ea.bfcfe8","name":"","group":"8fd178af.c2fd08","order":0,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":390,"y":520,"wires":[[]]},{"id":"e3f91d4c.486d2","type":"debug","z":"842a56ea.bfcfe8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":260,"y":620,"wires":[]},{"id":"3388bf6f.ba10c","type":"ui_chart","z":"842a56ea.bfcfe8","name":"Humidity ","group":"8fd178af.c2fd08","order":3,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":400,"y":720,"wires":[[]]},{"id":"77a7fc4f.ef6da4","type":"mqtt in","z":"842a56ea.bfcfe8","name":"esp8266/humidity","topic":"esp8266/humidity","qos":"2","datatype":"auto","broker":"ba8637b.25d65c8","x":120,"y":720,"wires":[["3388bf6f.ba10c","f1bb0624.a12f48"]]},{"id":"f1bb0624.a12f48","type":"debug","z":"842a56ea.bfcfe8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":260,"y":800,"wires":[]},{"id":"977ebf79.bc42c","type":"debug","z":"842a56ea.bfcfe8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":270,"y":460,"wires":[]},{"id":"9b6a7d95.93395","type":"mqtt in","z":"842a56ea.bfcfe8","name":"esp8266/Soil","topic":"esp8266/Soil","qos":"2","datatype":"auto","broker":"ba8637b.25d65c8","x":70,"y":260,"wires":[["4d54174a.3c1f98"]]},{"id":"759f01fe.b90d4","type":"twilio out","z":"842a56ea.bfcfe8","twilio":"beb8333a.e19b6","twilioType":"sms","url":"","number":"254707649392","name":"Twilio-Api","x":660,"y":220,"wires":[]},{"id":"213be04e.ebad3","type":"function","z":"842a56ea.bfcfe8","name":"Soil Monitor","func":"var soilStatus = msg.payload.d.soil;\n\nif ( soilStatus ){\n\tmsg.payload = {\"device\": \"SoilSensor\",\"alertmessage\":\"Soil is Highly Moist\", \"severity\":\"Fatal\",\"type\":\"Problem\",\"Soilstate\":\"moist\"};\n\tmsg.reset = {\"reset\":0};\n\treturn [msg,msg.reset];\n}\n\nelse {\n    msg.payload = {\"device\": \"SoilSensor\",\"alertmessage\":\"Soil is Dry\", \"severity\":\"moderate\",\"type\":\"info\",\"Soilstate\":\"Dry\"};\n    msg.reset = {\"reset\":0};\n\treturn [msg,msg.reset];\n    \n}\n \n\n","outputs":1,"noerr":0,"x":290,"y":220,"wires":[["d14d494d.a0acf8"]]},{"id":"d14d494d.a0acf8","type":"function","z":"842a56ea.bfcfe8","name":"Message to send","func":"\nvar alertmessage = msg.payload.alertmessage;\nvar topic = msg.topic;\nvar deviceid = msg.deviceId;\nvar devicetype = msg.deviceType;\nvar sev = msg.payload.severity;\nvar type = msg.payload.type;\nvar soil = msg.payload.soil;\n\n msg.payload=\"\\r\\n Alert: Soil Status has changed\\r\\n\"+\"Device Id: SoilSensor   Located in : Dubai\\r\\n\"+\" Alert message is:\"+String(alertmessage),\n\nmsg.headers = {\n Accept: \"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["759f01fe.b90d4"]]},{"id":"4d54174a.3c1f98","type":"rbe","z":"842a56ea.bfcfe8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload.d.soil","x":130,"y":160,"wires":[["213be04e.ebad3"]]},{"id":"f02a9ec3.7747e","type":"mqtt in","z":"842a56ea.bfcfe8","name":"esp8266/atpressure","topic":"esp8266/atpressure","qos":"2","datatype":"auto","broker":"540202a6.c61d5c","x":90,"y":340,"wires":[["43857e8e.931c6"]]},{"id":"effa5436.6c5e48","type":"mqtt in","z":"842a56ea.bfcfe8","name":"esp8266/alt","topic":"esp8266/alt","qos":"2","datatype":"auto","broker":"540202a6.c61d5c","x":90,"y":100,"wires":[["98e66240.c6a95"]]},{"id":"43857e8e.931c6","type":"ui_chart","z":"842a56ea.bfcfe8","name":"Atmospheric Pressure","group":"8fd178af.c2fd08","order":4,"width":0,"height":0,"label":"Atmospheric pressure in (Hpa)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":500,"y":340,"wires":[[]]},{"id":"98e66240.c6a95","type":"ui_gauge","z":"842a56ea.bfcfe8","name":"Altitude in meters","group":"8fd178af.c2fd08","order":5,"width":0,"height":0,"gtype":"compass","title":"Altitude (m)","label":"meters","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":100,"wires":[]},{"id":"ba8637b.25d65c8","type":"mqtt-broker","z":"","name":"MQTT- Server-Oracle-Cloud","broker":"35.185.57.164","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"Acknowledge connection","birthQos":"0","birthPayload":"Connected successfully","closeTopic":"Acknowledge disconnect","closeQos":"0","closePayload":"Successfully Disconnected","willTopic":"Unexpected Disconnect","willQos":"0","willPayload":"Unexpectedly closed connection"},{"id":"8fd178af.c2fd08","type":"ui_group","z":"","name":"Sensor Analytics","tab":"ad8d60ed.0f60f","disp":true,"width":"14","collapse":false},{"id":"beb8333a.e19b6","type":"twilio-api","z":"","name":"Twilio-Soil Notification","sid":"ACce5d1cd62ad9fc81fdb728cbd45d8491","from":"12013081390"},{"id":"540202a6.c61d5c","type":"mqtt-broker","z":"","name":"","broker":"35.185.57.164","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ad8d60ed.0f60f","type":"ui_tab","z":"","name":"Agrarian Dashboard","icon":"dashboard","disabled":false,"hidden":false}]