Agrarian_Project/Build/agrarian/build/node-red-data/node_modules/node-red-contrib-maps/example/dashboard.json
[{"id":"c88ad6da.c6e608","type":"maps","z":"4bb55162.dd8f7","name":"Temperature Map","path":"maps","maptitle":"Europe Tittle","x":370,"y":100,"wires":[["1cee07b4.5c00c8"]]},{"id":"dd8c4b0.8ae7eb8","type":"inject","z":"4bb55162.dd8f7","name":"","topic":"","payload":"[{\"channel\":\"TEMP\",\"dataset\":[{\"lon\":-3.703548,\"lat\":40.417204,\"name\":\"9fj04r\",\"description\":\"Temperature in Madrid\",\"value\":20.5,\"unit\":\"째C\",\"iconColor\":\"Blue\"},{\"lon\":-0.075906,\"lat\":51.508319,\"name\":\"04jgpe\",\"description\":\"Temperature in London\",\"value\":19,\"unit\":\"째C\",\"iconColor\":\"Yellow\"},{\"lon\":2.34294,\"lat\":48.859271,\"name\":\"lfj82k\",\"description\":\"Temperature in Paris\",\"label\":\"Alert for strong frosts\",\"value\":11.7,\"unit\":\"째C\",\"iconColor\":\"Red\"},{\"lon\":13.402786,\"lat\":52.517987,\"name\":\"0lw233\",\"description\":\"Temperature in Berlin\",\"value\":10.8,\"unit\":\"째C\",\"iconColor\":\"Red\"}]}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":100,"wires":[["c88ad6da.c6e608"]]},{"id":"1cee07b4.5c00c8","type":"debug","z":"4bb55162.dd8f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":100,"wires":[]}]