App/Build/agrarian/build/node-red-data/lib/flows/Crypto-currency flow lib.json
[{"id":"f5978920.663e68","type":"ui_text","z":"c97355ac.fe7a08","group":"46c18d61.8e2a34","order":2,"width":"0","height":"0","name":"","label":"Bid Price","format":"{{msg.payload.bidPrice}}","layout":"row-spread","x":1129,"y":210,"wires":[]},{"id":"caed1552.fad888","type":"ui_chart","z":"c97355ac.fe7a08","name":"","group":"1ace4c26.8f76e4","order":3,"width":"18","height":"10","label":"","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"Click on a crypto or provide a ticker pair","dot":true,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1234.9999732971191,"y":858.9999866485596,"wires":[[]]},{"id":"af0a2696.2fa408","type":"function","z":"c97355ac.fe7a08","name":"built chart data","func":"\nvar series = [msg.topic]\nvar data = msg.payload.map(function (d) {\n return {\n x: d[0],\n y: d[4] // close price\n }\n});\n\nmsg.payload = [{\n series: series,\n data: [data]\n}]\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1088.9999313354492,"y":723.000057220459,"wires":[["caed1552.fad888","1baa479a.60cf58"]]},{"id":"3f15d17e.f02dee","type":"function","z":"c97355ac.fe7a08","name":"set values for API","func":"if (typeof msg.payload === 'string') {\n flow.set(\"selectedTickerPair\", msg.payload);\n}\nmsg.topic = flow.get(\"selectedTickerPair\");\nreturn msg;","outputs":1,"noerr":0,"x":573.9999847412109,"y":348.00000953674316,"wires":[["8110afa8.03f51","f8139d3d.fc9ff","e9a2e54.74e8c18","2c679fa4.3955d"]]},{"id":"70d009c2.2e9c48","type":"ui_button","z":"c97355ac.fe7a08","name":"","group":"1ace4c26.8f76e4","order":2,"width":"2","height":"1","passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"refresh","payload":"selectedTickerPair","payloadType":"flow","topic":"","x":285,"y":205,"wires":[["74dda3d0.7d45ac","15c7d91a.bf27d7"]]},{"id":"b9dd79ec.772fd8","type":"ui_button","z":"c97355ac.fe7a08","name":"","group":"1ace4c26.8f76e4","order":6,"width":"2","height":"1","passthru":false,"label":"Ethereum","tooltip":"","color":"","bgcolor":"#555555","icon":"","payload":"ETHBTC","payloadType":"str","topic":"","x":285,"y":285,"wires":[["74dda3d0.7d45ac"]]},{"id":"fc976a6b.386668","type":"ui_button","z":"c97355ac.fe7a08","name":"","group":"1ace4c26.8f76e4","order":7,"width":"2","height":"1","passthru":false,"label":"Neo","tooltip":"","color":"","bgcolor":"#58be02","icon":"","payload":"NEOBTC","payloadType":"str","topic":"","x":275,"y":325,"wires":[["74dda3d0.7d45ac"]]},{"id":"ebe7235d.6e3d6","type":"ui_button","z":"c97355ac.fe7a08","name":"","group":"1ace4c26.8f76e4","order":4,"width":"2","height":"1","passthru":false,"label":"BTC","tooltip":"","color":"","bgcolor":"#ff8e13","icon":"","payload":"BTCUSDT","payloadType":"str","topic":"","x":275,"y":245,"wires":[["74dda3d0.7d45ac"]]},{"id":"b935275c.d196a8","type":"ui_button","z":"c97355ac.fe7a08","name":"","group":"1ace4c26.8f76e4","order":5,"width":"2","height":"1","passthru":false,"label":"Litecoin","tooltip":"","color":"","bgcolor":"#bebebe","icon":"","payload":"LTCBTC","payloadType":"str","topic":"","x":285,"y":365,"wires":[["74dda3d0.7d45ac"]]},{"id":"12345455.114cdc","type":"ui_text","z":"c97355ac.fe7a08","group":"46c18d61.8e2a34","order":3,"width":"0","height":"0","name":"","label":"Ask Price","format":"{{msg.payload.askPrice}}","layout":"row-spread","x":1129,"y":250,"wires":[]},{"id":"74dda3d0.7d45ac","type":"ui_text_input","z":"c97355ac.fe7a08","name":"","label":"Ticker pair","tooltip":"","group":"1ace4c26.8f76e4","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":555,"y":265,"wires":[["6c6c5550.c62fcc"]]},{"id":"5ff229a7.18afe8","type":"catch","z":"c97355ac.fe7a08","name":"","scope":null,"uncaught":false,"x":285,"y":785,"wires":[["6ea22a87.e19df4","23bae080.9e27e"]]},{"id":"72f835aa.c0ad6c","type":"ui_toast","z":"c97355ac.fe7a08","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":725,"y":785,"wires":[]},{"id":"6ea22a87.e19df4","type":"debug","z":"c97355ac.fe7a08","name":"","active":false,"console":false,"complete":"error","x":425,"y":825,"wires":[]},{"id":"23bae080.9e27e","type":"function","z":"c97355ac.fe7a08","name":"","func":"msg.topic = \"API Error\";\nif (msg.error) {\n msg.payload = msg.error.message\n} else {\n msg.payload = \"\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":415,"y":785,"wires":[["854e287b.642658"]]},{"id":"4e95fe07.cb8ef","type":"ui_text","z":"c97355ac.fe7a08","group":"46c18d61.8e2a34","order":4,"width":"0","height":"0","name":"","label":"24 hr Low","format":"{{msg.payload.lowPrice}}","layout":"row-spread","x":1129,"y":290,"wires":[]},{"id":"e1fb8b19.c74c38","type":"ui_text","z":"c97355ac.fe7a08","group":"46c18d61.8e2a34","order":5,"width":"0","height":"0","name":"","label":"24 hr high","format":"{{msg.payload.highPrice}}","layout":"row-spread","x":1129,"y":330,"wires":[]},{"id":"a2ab861b.e89d88","type":"ui_text","z":"c97355ac.fe7a08","group":"46c18d61.8e2a34","order":6,"width":"0","height":"0","name":"","label":"24 hr Price % change","format":"{{msg.payload.priceChangePercent}}%","layout":"row-spread","x":1169,"y":370,"wires":[]},{"id":"87f83b89.c835d8","type":"ui_text","z":"c97355ac.fe7a08","group":"46c18d61.8e2a34","order":7,"width":"0","height":"0","name":"","label":"24 hr volume","format":"{{msg.payload.volume}}","layout":"row-spread","x":1139,"y":410,"wires":[]},{"id":"8e2fdd57.6ab4b","type":"ui_button","z":"c97355ac.fe7a08","name":"","group":"1ace4c26.8f76e4","order":8,"width":"2","height":"1","passthru":false,"label":"Ripple","color":"","bgcolor":"#0086be","icon":"","payload":"XRPBTC","payloadType":"str","topic":"","x":275,"y":405,"wires":[["74dda3d0.7d45ac"]]},{"id":"8ef5f90e.b54038","type":"ui_slider","z":"c97355ac.fe7a08","name":"","label":"","tooltip":"","group":"46c18d61.8e2a34","order":9,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"2","max":"14","step":1,"x":275,"y":725,"wires":[["49900c6a.87e7f4"]]},{"id":"f38d77e6.bb1a68","type":"function","z":"c97355ac.fe7a08","name":"set values for api","func":"\nvar interval = \"1d\";\n\nswitch(msg.payload) {\n case 0:\n interval = \"1m\";\n break;\n case 1:\n interval = \"3m\";\n break;\n case 2:\n interval = \"5m\";\n break; \n case 3:\n interval = \"15m\";\n break;\n case 4:\n interval = \"1h\";\n break;\n case 5:\n interval = \"2h\";\n break;\n case 6:\n interval = \"4h\";\n break;\n case 7:\n interval = \"6h\";\n break;\n case 8:\n interval = \"8h\";\n break;\n case 9:\n interval = \"12h\";\n break;\n case 10:\n interval = \"1d\";\n break;\n case 11:\n interval = \"3d\";\n break;\n case 12:\n interval = \"1w\";\n break;\n case 13:\n interval = \"1M\";\n break;\n}\n\nflow.set(\"interval\", interval);\nmsg.payload = interval;\n\nreturn msg;","outputs":1,"noerr":0,"x":595,"y":725,"wires":[["e5635020.90b23","e9a2e54.74e8c18"]]},{"id":"49900c6a.87e7f4","type":"delay","z":"c97355ac.fe7a08","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"3","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":417.0000190734863,"y":727.0000057220459,"wires":[["f38d77e6.bb1a68"]]},{"id":"bcc82c0d.ed4d","type":"ui_button","z":"c97355ac.fe7a08","name":"","group":"1ace4c26.8f76e4","order":9,"width":"2","height":"1","passthru":false,"label":"Monero","tooltip":"","color":"","bgcolor":"#ff6600","icon":"","payload":"XMRBTC","payloadType":"str","topic":"","x":285,"y":445,"wires":[["74dda3d0.7d45ac"]]},{"id":"e5635020.90b23","type":"ui_text","z":"c97355ac.fe7a08","group":"46c18d61.8e2a34","order":8,"width":"0","height":"0","name":"","label":"Chart time interval","format":"{{msg.payload}}","layout":"row-spread","x":815,"y":725,"wires":[]},{"id":"32348ad8.0d7f96","type":"inject","z":"c97355ac.fe7a08","name":"initialize","topic":"10","payload":"10","payloadType":"num","repeat":"","crontab":"","once":true,"x":285,"y":685,"wires":[["8ef5f90e.b54038"]]},{"id":"b92fa4dd.36fb68","type":"ui_numeric","z":"c97355ac.fe7a08","name":"","label":"# datapoints","tooltip":"","group":"46c18d61.8e2a34","order":10,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":"1","max":"500","step":1,"x":295,"y":625,"wires":[["97b7cc22.40472"]]},{"id":"d9877aa5.5e9a98","type":"inject","z":"c97355ac.fe7a08","name":"initialize","topic":"30","payload":"30","payloadType":"num","repeat":"","crontab":"","once":true,"x":285,"y":585,"wires":[["b92fa4dd.36fb68"]]},{"id":"e9a2e54.74e8c18","type":"function","z":"c97355ac.fe7a08","name":"load chart options","func":"msg.topic = flow.get(\"selectedTickerPair\");\nmsg.payload = {};\nmsg.payload.interval = flow.get(\"interval\");\nmsg.payload.limit = flow.get(\"limit\");\n\nreturn msg;","outputs":1,"noerr":0,"x":852.0001754760742,"y":627.9999923706055,"wires":[["2f081621.b6239a"]]},{"id":"97b7cc22.40472","type":"delay","z":"c97355ac.fe7a08","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"3","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":455,"y":625,"wires":[["89c65ea4.4593"]]},{"id":"15c7d91a.bf27d7","type":"ui_toast","z":"c97355ac.fe7a08","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Refreshing chart","name":"","x":575,"y":205,"wires":[]},{"id":"e812e6d4.dd52b8","type":"ui_template","z":"c97355ac.fe7a08","group":"46c18d61.8e2a34","name":"Logo display","order":1,"width":"4","height":"3","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1032.9999809265137,"y":480.9999809265137,"wires":[[]]},{"id":"2c679fa4.3955d","type":"function","z":"c97355ac.fe7a08","name":"load logo","func":"var symbol = msg.topic.slice(0,-3);\nsymbol = symbol.toLowerCase();\n\nif (symbol === \"btcu\") { // USDT case\n symbol = \"btc\";\n}\n\nvar imgUrl = \"https://raw.githubusercontent.com/cjdowner/cryptocurrency-icons/master/128/color/\"+symbol+\".png\";\n\nmsg.payload = \"<img src='\"+imgUrl+\"'alt='Logo image not found' />\";\n\nreturn msg","outputs":1,"noerr":0,"x":845,"y":445,"wires":[["e812e6d4.dd52b8"]]},{"id":"6c6c5550.c62fcc","type":"delay","z":"c97355ac.fe7a08","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"2","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":555,"y":305,"wires":[["3f15d17e.f02dee"]]},{"id":"80970b81.b92bc8","type":"ui_button","z":"c97355ac.fe7a08","name":"","group":"1ace4c26.8f76e4","order":9,"width":"2","height":"1","passthru":false,"label":"Stellar","tooltip":"","color":"","bgcolor":"#99a2a6","icon":"","payload":"XLMBTC","payloadType":"str","topic":"","x":275,"y":485,"wires":[["74dda3d0.7d45ac"]]},{"id":"38adc5a9.752c7a","type":"ui_button","z":"c97355ac.fe7a08","name":"","group":"1ace4c26.8f76e4","order":9,"width":"2","height":"1","passthru":false,"label":"Zcash","color":"","bgcolor":"#e49b2e","icon":"","payload":"ZECBTC","payloadType":"str","topic":"","x":275,"y":525,"wires":[["74dda3d0.7d45ac"]]},{"id":"854e287b.642658","type":"delay","z":"c97355ac.fe7a08","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":555,"y":785,"wires":[["72f835aa.c0ad6c"]]},{"id":"8110afa8.03f51","type":"binance-get-book-ticker","z":"c97355ac.fe7a08","name":"","ticker":"","x":805,"y":225,"wires":[["f5978920.663e68","12345455.114cdc"]]},{"id":"f8139d3d.fc9ff","type":"binance-get-day-stats","z":"c97355ac.fe7a08","name":"","ticker":"","x":795,"y":325,"wires":[["4e95fe07.cb8ef","e1fb8b19.c74c38","a2ab861b.e89d88","87f83b89.c835d8"]]},{"id":"2f081621.b6239a","type":"binance-get-candlesticks","z":"c97355ac.fe7a08","name":"","ticker":"","interval":"1d","limit":"30","startTime":"","endTime":"","x":978.0000381469727,"y":566.000150680542,"wires":[["af0a2696.2fa408"]]},{"id":"89c65ea4.4593","type":"function","z":"c97355ac.fe7a08","name":"set values for api","func":"flow.set(\"limit\", parseInt(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":655,"y":625,"wires":[["e9a2e54.74e8c18"]]},{"id":"1baa479a.60cf58","type":"debug","z":"c97355ac.fe7a08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1028.179786682129,"y":824.010293006897,"wires":[]},{"id":"46c18d61.8e2a34","type":"ui_group","z":"","name":"Numbers","tab":"5dee0b4.9c40ff4","order":1,"disp":false,"width":"5","collapse":false},{"id":"1ace4c26.8f76e4","type":"ui_group","z":"","name":"Chart","tab":"5dee0b4.9c40ff4","order":2,"disp":false,"width":"18","collapse":false},{"id":"5dee0b4.9c40ff4","type":"ui_tab","z":"","name":"Binance Node Demo","icon":"fa-bitcoin","disabled":false,"hidden":false}]