App/Build/agrarian/build/node-red-data/lib/flows/passing payload to template node.json
[{"id":"d4896e3e.9c8c","type":"ui_template","z":"d58febd3.bdd7a8","group":"5560f414.91bb2c","name":"","order":0,"width":0,"height":0,"format":"\n\n<script>\n(function(scope) {\n  scope.$watch('msg', function(msg) {\n    if (msg) {\n    alert(typeof msg.payload.loc[0]);\n    }\n  });\n})(scope);\n</script>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":613.5989151000977,"y":142.4922046661377,"wires":[[]]},{"id":"3fab992.f27bd66","type":"inject","z":"d58febd3.bdd7a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":223.6067886352539,"y":103.97917556762695,"wires":[["472a451.0ddb7bc"]]},{"id":"472a451.0ddb7bc","type":"function","z":"d58febd3.bdd7a8","name":"","func":"msg.payload = {\n    loc:[32.35, -0.45]\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":308.59906005859375,"y":253.51825618743896,"wires":[["d4896e3e.9c8c","e63cc52e.0c8338"]]},{"id":"e63cc52e.0c8338","type":"debug","z":"d58febd3.bdd7a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":598.5988464355469,"y":244.71874141693115,"wires":[]},{"id":"5560f414.91bb2c","type":"ui_group","z":"","name":"Sensor Strip I","tab":"63b4894d.dc3bf8","order":4,"disp":true,"width":"10","collapse":false},{"id":"63b4894d.dc3bf8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]